.nat-banner-d {
  border-bottom: 1px solid #B6B7B7;
}

.nat-home--bannerDestacado {
  position: relative;
  height: 349px;
  margin-top: 50px;

}

.bannerDestacado--text {
  width: 90%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 23px 18px 50px;
  margin: 0 auto;
}

.nat-home--bannerDestacado .container {
  position: relative;
  width: 100%;
}

.nat-home--bannerDestacado .bannerDestacado--titulo {
  display: block;
  font-weight: normal;
  font-size: 36px;
  line-height: 2.5rem;
  color: #50535A;
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
}

.nat-home--bannerDestacado .bannerDestacado--image {
  display: block;
  margin-bottom: 20px;
}

.nat-home--bannerDestacado .bannerDestacado--descripcion {
  width: 100%;
  font-size: 18px;
  line-height: 1.4375em;
  font-weight: normal;
  color: #86888C;
  margin: 0;
  margin-bottom: 20px;
}

.nat-home--bannerDestacado .bannerDestacado--descripcion p {
  margin: 0;
  font-weight: 300;
}

.nat-home--bannerDestacado .bannerDestacado--button .button-link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 175px;
  height: 48px;
  background: #019DF4;
  border-radius: 100px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.nat-home--bannerDestacado .bannerDestacado--button .button-link:active,
.nat-home--bannerDestacado .bannerDestacado--button .button-link:hover {
  background: #10a9fe;
  box-shadow: 0 2px 7px 0 rgba(11, 39, 57, 0.34);
}

.nat-home--bannerDestacado .bannerDestacado--background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

.nat-home--bannerDestacado .bannerDestacado--background img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 768px) {
  .nat-home--bannerDestacado {
    position: relative;
    height: 543px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }

  .bannerDestacado--text {
    width: 50%;
    margin-top: 100px;
    padding: 50px 34px;
    margin-left: 0;
    }

  .nat-home--bannerDestacado .bannerDestacado--background img {
    object-position: center;
  }

  .nat-home--bannerDestacado .bannerDestacado--titulo {
    margin-bottom: 1.5rem;
    font-weight: normal;
    font-size: 2.25rem;
    line-height: 2.8125rem;
    text-align: left;
  }

  .nat-home--bannerDestacado .bannerDestacado--image {
    margin-bottom: 44px;
  }

  .nat-home--bannerDestacado .bannerDestacado--descripcion {
    font-size: 20px;
    line-height: 1.5625em;
  }

  .nat-home--bannerDestacado .bannerDestacado--button .button-link {
    font-size: 16px;
    max-width: 182px;
  }

  .nat-home--bannerDestacado .container {
    position: relative;
    width: 1140px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1px;
  }
}

@media (max-width: 480px) {

  .nat-home--bannerDestacado .bannerDestacado--titulo {
    margin-bottom: 1.5rem;
  }

  .nat-home--bannerDestacado .bannerDestacado--button .button-link {
    max-width: 100%;
  }
}