.nat-banner-hero {
    .swiper-slide {
        height: 530px;

        @media only screen and (min-width: 1660px) {
            height: 892px;
        }
    }

   
    .swiper-button-next, .swiper-button-prev {
        width: 25px;
        height: 25px;
        color: $white;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        @media only screen and (min-width: 768px) {
            width: 40px;
            height: 40px;
        }
        @media only screen and (min-width: 992px) {
            width: 70px;
            height: 70px;
        }
        &::after {
            font-size: 14px;
            @media only screen and (min-width: 768px) {
                font-size: 18px;
            }
            @media only screen and (min-width: 992px) {
                font-size: 24px;
            }
        }
    }
    .swiper-button-prev {
        left: 10px;
        @media only screen and (min-width: 992px) {
            left: 20px;
        }
    }
    .swiper-button-next {
        right: 10px;
        @media only screen and (min-width: 992px) {
            right: 20px;
        }
    }
    .swiper-pagination-bullet {
        width: 21px;
        height: 3px;
        border-radius: 0;
        background-color: #F4F4F3;
        opacity: .5;
        @media only screen and (min-width: 992px) {
            width: 40px;
            height: 5px;
        }
        &.swiper-pagination-bullet-active {
            background-color: #417aff;
            opacity: 1;
        }
    }
    .banner-hero__item {
        position: relative;
        .item__picture {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            .picture__media {
                img {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    object-fit: cover;
                    object-position: center;
                    z-index: -1;
                    height: 100%;
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
        .item__info {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            z-index: 2;
            .info__container {
                position: relative;
                width: 100%;
                max-width: 944px;
                margin: auto;
                padding: 0 30px;
                @media only screen and (min-width: 768px) {
                    padding: 0 20px;
                }
                &.text--align-center {
                    text-align: center;
                }
            }
            .slider__title, .slider__subtitle {
                color: $white;
            }
            .slider__title {
                font-size: 36px;
                font-weight: 300;
                line-height: 1.2;
                margin-bottom: 15px;
                @media only screen and (min-width: 768px) {
                    font-size: 48px;
                }
                strong, b {
                    font-weight: 400;
                }
                
            }
            .slider__subtitle {
                font-size: 20px;
                font-weight: 300;
                line-height: 1.3;
                margin: 0;
                @media only screen and (min-width: 768px) {
                    font-size: 24px;
                }
            }
            .slider__button {
                margin-top: 48px;
                &.button {
                    font-size: 16px;
                    padding: 10px 30px;
                    background-color: $skyblue;
                    border-radius: 25px;
                    min-width: 140px;
                    text-decoration: none;
                }
            }
        }
    }
}