.nat-faq-1 {
    padding-top: 48px;
    padding-bottom: 48px;

    .faq__title {
        font-size: 36px;
        font-weight: 400;
        line-height: 1.2;
        margin: 0;
        color: $gray-dark2;
        text-align: center;
    }

    .faq__image {
        display: block;
        margin-bottom: 20px;

        img {
            display: block;
            max-width: 100%;
            margin: auto;
        }
    }

    .faq__description {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        margin: 0;
        margin-top: 24px;
        color: $gray;
        text-align: center;

        @media (min-width: 768px) {
            font-size: 18px;
            line-height: 1.2;
        }

        a {
            color: $skyblue;
            text-decoration: none;

            &:hover,
            &:active {
                color: $skyblue2;
                text-decoration: underline;
            }

            &:focus {
                color: $skyblue2;
            }
        }

        b,
        strong {
            font-weight: 700;
        }
    }

    .faq__accordion {
        display: block;
        border: 0;
        box-shadow: none;
        margin-top: 50px;

        .faq__item {
            border-radius: 4px;
            overflow: hidden;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
            margin-bottom: 15px;

            .accordion__header {
                display: flex;
                align-items: flex-start;
                font-size: 20px;
                font-weight: 300;
                line-height: 1.3;
                color: $skyblue;
                margin: 0;
                padding: 1.25rem 2.25rem;
                background-color: $white;
                border: 0;

                .header__icon {
                    display: block;
                    width: 100%;
                    max-width: 22px;
                    margin-right: 24px;

                    >img {
                        display: block;
                        max-width: 100%;
                        margin: auto;
                    }
                }

                .header__info {
                    flex: 1;
                    display: flex;
                    justify-content: space-between;
                }
            }

            .accordion__body {
                background-color: $white;
                border: 0;
                color: $gray;
                padding-top: 1rem;
                padding-bottom: 1.75rem;
                padding-left: 5.4rem;
                padding-right: 2.25rem;

                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 1.2;
                    color: $gray-dark2;
                    margin-bottom: 10px;
                }

                p {
                    line-height: 24px;
                    font-size: 16px;
                }

                a {
                    color: $skyblue;
                    text-decoration: none;

                    &:hover,
                    &:active {
                        color: $skyblue2;
                        text-decoration: underline;
                    }

                    &:focus {
                        color: $skyblue2;
                    }
                }

                ul {
                    padding-left: 20px;
                    list-style: disc;
                    margin-bottom: 15px;

                    li {
                        list-style: inherit;
                    }
                }
            }
        }
    }
}

.nat-faq-1 .icon-chevron-down.faq-icon {
    color: #b6b7b7;
    font-weight: 400;
    font-size: 26px;
    margin-right: 0;
    display: inline;
    text-align: initial;
    width: auto;
}

.nat-faq-1 .icon-chevron-down.faq-icon:before {
    content: "\f107";
}

.nat-faq-1 .collapsible li.active i {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}