.nat-interest-2 {
    padding-top: 48px;
    padding-bottom: 48px;

    .interest__title {
        font-size: 36px;
        font-weight: 400;
        line-height: 1.2;
        margin: 0;
        color: $gray-dark2;
        text-align: center;
    }

    .interest__image {
        display: block;
        margin-bottom: 20px;

        img {
            display: block;
            max-width: 100%;
            margin: auto;
        }
    }

    .interest__description {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        margin: 0;
        margin-top: 24px;
        color: $gray;
        text-align: center;

        @media (min-width: 768px) {
            font-size: 18px;
            line-height: 1.2;
        }

        a {
            color: $skyblue;
            text-decoration: none;

            &:hover,
            &:active {
                color: $skyblue2;
                text-decoration: underline;
            }

            &:focus {
                color: $skyblue2;
            }
        }

        b,
        strong {
            font-weight: 700;
        }
    }

    .interest__bar {
        display: flex;
        align-items: flex-start;
        background-color: $skyblue;
        padding: 10px 25px;
        border-radius: 5px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
        margin-top: 40px;

        .bar__image {
            display: block;
            width: 32px;
            margin-right: 12px;

            img {
                max-width: 100%;
            }
        }

        .bar__body {
            flex: 1;

            .bar__title {
                font-size: 24px;
                font-weight: 400;
                line-height: 1.2;
                color: $white;
                margin: 0;
            }
        }
    }

    .interest__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: -15px;
        margin-left: -15px;

        .interest__col {
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;

            .cardBox {
                margin-top: 32px;
            }
        }
    }

    .interest__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-top: 30px;

        .link__button {
            &.button {
                padding: 10px 30px;
                min-width: 140px;
                border-radius: 25px;
                box-shadow: 0 2px 3px 0 rgba(11, 39, 57, 0.2);
            }
        }
    }
}

.nat-interest-2 .link__more {
    text-align: center;
    margin-top: 24px;
}

.nat-interest-2 .link__more .link {
    font-size: 16px;
    color: #019DF4;
    position: relative;
    padding-right: 30px;

}

.nat-interest-2 .link__more .link:hover {
    color: #5dc4fe;
    text-decoration: underline;
}

.nat-interest-2 .link__more .link .more-icon {
    font-size: 40px;
    position: absolute;
    top: -5px;
    right: 0px;
    line-height: 20px;
}

.nat-interest-2 .link__more .link:hover .more-icon {
    display: inline-block;
    text-decoration: none;
    color: #019DF4;
}

@media (min-width:993px) {
    .nat-interest-2 .link__more {
        text-align: right;
    }
}