.acceso-directo-pe{
	width:auto;
	max-width:1258px;
	margin:0 auto;
	.ad--content{
		padding:17px 43px 32px 43px;
		background-color:#fff;
	}
	.ad--title{
		font-weight: 300;
	    font-size: 40px;
	    color: #52555c;
	    margin-bottom: 10px;
	}
	.ad--item{
		position:relative;
		a{
			font-size:18px;
			height: 39px;
    		line-height: 39px;
    		text-align:left;
    		color: #00a9e0;
    		width: 100%;
    		padding:0;
    		&:hover{
				background:transparent;
			}
		}
	}
}
