.app-stores-pe{
    padding:25px 15px 70px 15px;
    .content_header{
        padding: 3px;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    .col_title{
        font-size: 24px;
        line-height:1.25;
        font-weight: 300;
        color:#50535a;
    }
    .col_title--mobile{
        font-size: 14px;
        line-height: 1;
        font-weight: 600;
        color: #50535a;
        text-transform: uppercase;
        text-align: left;
        margin: 0 0 10px 0;
    }
    .col_text{
        font-size: 16px;
        color:#50535a;
        text-align:left;
        margin:0;
   }
   .icono{
        padding: 0;
        width: 130px;
        height: 130px;
        margin: 20px auto 40px auto;
    }
    .icono img{
        width:100%;
        height:auto;
    }
   .app-downloads{
        max-width: 450px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        padding-top: 15px;
    }    
    .app-downloads img{
        width:80%;
        height:auto;
    }
}
.layout_full_width_blue .app-stores-pe{
    .col_title, 
    .col_title--mobile, 
    .col_text{ 
        color:#ffffff; 
    }
}

@media only screen and (min-width: 993px){
    .app-stores-pe{
        .col_title{
            font-size: 40px;
        }
        .col_text{
            text-align:center;
        }
        .app-downloads{
            padding-top:35px;
            img{
                width:100%;
            }
        }
    }
}
