.app-logos-pe{
    padding:25px 15px 70px 15px;
    .content_header{
        padding: 3px;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    .col_title{
        font-size: 24px;
        line-height:1.25;
        font-weight: 300;
        color:#50535a;
    }
    .contenedor_wrapper{
        overflow-x: auto;
        overflow-y: hidden;
    }
    .contenedor_logos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        align-items: flex-start;
        align-content: center;
        width: 980px;
        margin: 0 auto;
        .logo{
            width: 100px;
            height: 100px;
            margin: 10px;
            img{
            	max-width:100px;
            	max-height:100px;
            }
        }
    }
    .detalles{
    	width: 100%;
    	max-width:980px;
    	margin:60px auto 0 auto;
    	ul, li{
    		list-style-type: disc;
    		font-size:18px;
    		font-weight:600;
    		list-style-position:inside;
            color:#50565c;
    	}
    }
}
@media only screen and (min-width: 993px){
    .app-logos-pe{
        .contenedor_logos {
            width: 1180px;
            justify-content: center;
            .logo{
                width: 150px;
                height: 150px;
                margin: 15px;
                img{
                    max-width:150px;
                    max-height:150px;
                }
            }
        }
    }
}