.app-features-pe{
	padding:25px 15px 70px 15px;
    .col_subtitle{
        font-size: 24px;
        line-height:1.25;
        font-weight: 300;
        color:#50535a;
    }
    .slick-slide{
        .valign-wrapper{
            min-height: auto;
            padding: 0 5px;
            text-align: center;
        }
    } 
    .slick-slider{
        padding-top: 50px;
        padding-bottom: 10px;
        margin-bottom: 0;
        img{
            width: 70%;
            height: auto;
        }
    }
    .responsive{
        .slick-dots{
            li{
                width:80px;
                height: 4px;
                button{
                    width:80px;
                    height: 4px;
                    &:before{
                        width: 80px;
                        height: 4px;
                        content: "";
                        background: #00a9e0;
                    }
                }
            }
        }
        .slick-slide{
            .hoja{
                margin: 0 -25px;
                opacity: 0;
                transition: all;
            }
            &.slick-current{
                .hoja{
                    opacity: 1;
                    transition: all;
                }
            }
        }
        .col_title{
            font-size: 14px;
            line-height: 1;
            font-weight: 600;
            color: #50535a;
            text-transform: uppercase;
        }
        .col_subtitle {
            font-size: 16px;
        }
    }
}
@media only screen and (min-width: 993px){
    .app-features-pe{
        .slick-slide{
            .valign-wrapper {
                padding: 0 70px;
                text-align: left;
                min-height: 450px;
            }
        }
        .slick-slider{
            margin-bottom:30px;
            img{
                width: unset;
                height: unset;
            }
        }
        .responsive{
            .slick-list{
                padding: 0px 60px 60px 60px;
            }
            .col_title{
                font-size: 40px;
                line-height: 1.25;
                font-weight: 300;
                text-transform: none;
            }
            .col_subtitle {
                font-size: 22px;
                line-height: 1.25;
            }
            .slick-slide{
                .hoja{
                    margin: 0 0;
                    opacity: 1;
                    transition: all;
                }
            }
        }
    } 
}
