.enlace-destacado-pe{
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    max-width: 1258px;
    margin: 0 auto;
    .ed--link{
    	display: flex;
	    flex-direction: column;
	    height: 100%;
	    background: #fff;
	    padding: 30px 15px 35px 50px;
	    position: relative;
	    min-height:142px;
	    &:before{
	    	content: '';
		    width: 100%;
		    height: 8px;
		    opacity: .5;
		    position: absolute;
		    z-index: 0;
		    top: 0;
		    right: 0;
		    background: #F59C00;
	    }
    	.ed--icon{
    		display: block;
		    font-size: 30px;
		    height: 41px;
		    letter-spacing: 0;
		    margin-bottom: 0;
		    color: #5bc500;
    	}
    	.ed--link__text-container{
    		margin-top: auto;
    	}
    	.ed--link__text{
    		font-family: Telefonica;
		    font-weight: normal;
		    font-size: 17px;
		    color: #50535a;
		    letter-spacing: .03px;
		    line-height: 24px;
		    margin: 0;
    	}
    }
    .img--icon{
      width: 45px;height: 45px;
    }
    .ed--item{
    	margin-bottom:30px;
    	/*&:first-child{
    		.ed--link{
    			&:before{
	    			background:#00a9e0;
	    		}
    		}    		
    	}*/
    	&.morado{
  			.ed--link{
  				&:before{
  					background: #954B97;
  					opacity:1;
  				}
  			}
  			.ed--icon{
  				color: #954B97;
  			}
  		}
  		&.rojo{
  			.ed--link{
  				&:before{
  					background: #E9426D;
  					opacity:1;
  				}
  			}
  			.ed--icon{
  				color: #E9426D;
  			}
  		}
  		&.naranja{
  			.ed--link{
  				&:before{
  					background: #EC6839;
  					opacity:1;
  				}
  			}
  			.ed--icon{
  				color: #EC6839;
  			}
  		}
  		&.amarillo{
  			.ed--link{
  				&:before{
  					background: #F59C00;
  					opacity:1;
  				}
  			}
  			.ed--icon{
  				color: #F59C00;
  			}
  		}
    }
}