.international-calls{
	text-align: center;
   	padding: 30px 0;
   	.calling-steps {
	   	display: flex;
	   	flex-direction: column;
	   	flex-wrap: wrap;
	   	justify-content: center;
	   	align-items: center;
	   	margin: 20px;
	}
	.step {
	   	width: 110px;
	   	margin: 20px 5px;
	   	font-size: 18px;
	   	line-height: 18px;
	   	align-self: center;
	   	position: relative;
	   	color:#ffffff;
		strong{
            font-size: 20px;
        }
        p{
			margin: 15px auto;
            width:80px;
            &:before{
   				content: url(../images/peru/contenedor-gris.svg);
   				width: 113px;
   				height: 89px;
   				position: absolute;
   				top: 50%;
   				transform: translateY(-50%) translateX(-50%);
   				padding: 0;
   				margin: 0;
   				z-index: -1;
   				left: 50%;
			}
		}
		&:before{
   			content: "\e145";
    		position: absolute;
    		color: #00a9e0;
    		top: -32px;
    		font-size: 22px;
    		margin-left: -9px;
			font-family:'icomoon' !important;
		}
		&:first-child{
   			margin: 20px 15px 40px 15px;
			p{
				&:before{
	   				content: url(../images/peru/contenedor-cyan.svg);
	   				width: 136px;
	   				height: 107px;
				}
			}
            &:before{
                content:"";
            }
		}
		&:last-child{
   			margin: 40px 15px 20px 15px;
   			p{
   				&:before{
   					content: url(../images/peru/contenedor-cyan.svg);
   					width: 136px;
   					height: 107px;
   				}
   			}
   			&:before{
				top:-45px;
			}
		}
	}
	.content_header{
   		padding: 3px;
   		max-width: 600px;
   		margin: 0 auto;
   		text-align: center;
   		width: 100%;
	}
	.col_title{
   		font-size: 24px;
   		line-height:1.25;
   		font-weight: 300;
   		color:#50535a;
	}
	.col_text{
   		font-size: 16px;
   		color:#50535a;
	}
	p{
		&.monto{
       		background: #5bc500;
    		color: #fff;
    		width: 100%;
    		margin: 30px auto;
    		padding: 13px;
    		max-width: 480px;
    		border-radius: 25px;
    		font-size: 18px;
    		font-weight: 600;
		}
	}
}

@media only screen and (min-width: 993px){
	.international-calls{
		.col_title{
			font-size: 40px;
	   	}
	   	.calling-steps {
      		flex-direction: row;
      		margin: 0 -25px;
   		}
   		.step {
      		margin: 20px 15px;
      		&:before{
   				top:25px;
   				left:-17px;
   			}
   			&:first-child{
      			margin: 10px 25px;
   			}
   			&:last-child{
      			margin: 10px 25px;
   			}
   			&:last-child:before{
				top:25px;
				left:-27px;
			}
   		}
        .content_header{
            padding: 3px 3px 33px 3px;
        }
	}
}