.nat-modal {
    width: 100%;
    max-width: 850px;
    border-radius: 5px;
    max-height: 85%;
    @media (min-height: 767px){
        max-width: 1110px;
    }
    &:focus{
        outline: none;
    }
    .modal-header {
        text-align: right;
        padding: 12px 0;
        @media only screen and (min-width:992px){
            padding: 8px 0;
        }
        .modal-close{
            font-size: 28px;
            @media only screen and (min-width:992px){
                font-size: 22px;
            }
            .icon{
                line-height: 1.5
            }
            &:focus{
                outline: none;
            }
        }
    }
    .modal-content{
        padding: 0 23px 32px;
        @media only screen and (min-width:992px){
            padding: 0 15px 25px;
        }
        .responsive-video{
            width: 100%;
            display: block;
            border-radius: 5px;
        }
    }
}

.nat-modal-video{
    border-radius: 5px;
    width: 95%;
    max-width: 850px;
    max-height: 75%;
    .container {
        max-width: 100%;
        padding: 0;
    }
    .modal-header{
        text-align: right;
        padding: 10px 15px 0;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border: 0;
        .modal-close {
            padding: 0;
            font-size: 14px;
            line-height: 1;
            .icon-nat_close {
                font-size: inherit;
                color: $primary;
            }
        }
    }
    .modal-content {
        padding: 10px 15px 10px;
    }
}