.category-tabs-container {
    @media (max-width: 767px) {
        [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
            float: left;
        }
    }
    .tabs--pills {
        height: auto;
        text-align: center;
        @media only screen and (min-width: 992px) {
            height: 41px;
        }
    }
    .category-tabs.tabs {
        justify-content: flex-start;
        margin: 10px 0 10px;
        @media (min-width: 530px) {
            justify-content: center;
        }
        @media only screen and (min-width: 992px) {
            margin: 10px 0 30px;
        }
    }
    .tabs--pills .tab a {
        min-width: 160px;
    }
}
.tabs.tabs--pills {
    background: transparent;
    .tab {
        line-height: 40px;
        height: 40px;
        flex-grow: 0;
        margin-left: 12px;
        a {
            transition: all .28s ease;
            font-size: 16px;
            color: #86888C;
            font-weight: normal;
            border-radius: 40px;
            text-transform: none;
            height: 40px;
            line-height: 40px;
            position: relative;
            z-index: 2;
            min-width: 144px;
            background-color: #F5F5F5;
        }
        a:hover {
            background-color: #F5F5F5;
            color: #0299d8;
            text-decoration: none;
        }
        a:focus {
            background-color: #F5F5F5;
            color: #0299d8;
            text-decoration: none;
        }
        a.active, a.active:focus {
            color: #fff;
            background-color: transparent;
            text-decoration: none;
        }
    }
    .tab:nth-child(1) {
        margin-left: 0;
    }
    .indicator {
        height: 40px;
        line-height: 40px;
        border-radius: 40px;
        background-color: #019DF4;
        z-index: 1;
    }
}