.aui {
    .movistar--blue {
        .nat-header.nat-header--nav .navbar__menu {
            .navbar__brand {
                color: $skyblue;
            }
            .navbar__scroll { 
                @media (max-width: 991px) {
                    background-color: $skyblue;
                }
            }
        }
    }
    .movistar--green {
        .nat-header.nat-header--nav .navbar__menu {
            .navbar__brand {
                color: $green;
            }
            .navbar__scroll {
                @media (max-width: 991px) {
                    background-color: $green;
                }
            }
        }
    }
}