$processButton: 120px;
$processButtonPadding: 6px;

.recharge__title{
  font-weight: 300;
  font-size: 50px;
  color: #50535A;
  line-height: 40px;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}
.recharge__text{
    color: #50535a;
    font-family: 'Telefonica', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    margin-top: 15px;
}
.recharge-process__process {
  text-align: center;
  margin-bottom: 40px;
  
  @media #{$large-and-up}{
    display: none;
  }
  .tabs--progress{
    width: 80px;
    margin: auto;
  }
}
.recharge-process{
  background: #fff;
  @media #{$large-and-up}{
    background-image: url(../images/att-cliente-bg.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #f4f4f3;
    background-size: 200% 200%;
  }

  #recharge-quantity{
    @media #{$large-and-up}{
      display: block !important;
    }
  }
  #recharge-phone{
    @media #{$large-and-up}{
      display: block !important;
    }
  }
  #recharge-summary{
    @media #{$large-and-up}{
      display: block !important;
    }
  }
}
.recharge-process__footer {
  @media #{$large-and-up}{
    display: none;
  }
}

.recharge-process__scroll {
  // height: $processButton + (2 * $processButtonPadding);
  line-height: 28px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 10px;
  width: 100%;
  transition: left 0.3s ease;
  z-index: 998;
  -webkit-transition: left 0.3s ease, top 0.3s ease, height 0.3s ease;
  -moz-transition: left 0.3s ease, top 0.3s ease, height 0.3s ease;
  transition: left 0.3s ease, top 0.3s ease, height 0.3s ease;
}

.recharge-process__quantity {
  -webkit-user-select: none;
  display: block;
  // height: $processButton + (2 * $processButtonPadding) + 15;
  overflow-y: hidden;
  padding: 0;
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  -webkit-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

.recharge-process__list {
  display: flex;
  text-align: center;
  
  @media #{$large-and-up}{
    display: block;
    text-align: left;
  }
}

.recharge-process__item-cam {
  padding: $processButtonPadding;
  text-align: center;
  margin:auto;
  display: inline-block;
  line-height: 1;
  margin-bottom: 10px;
  @media #{$large-and-up}{
    text-align: left;
  }
}

.js-progress-back {
    width: auto;
    float: left;
    padding: 20 5px;
    cursor: pointer;
    color: #00a9e0;
    font-size: 18px;
    display: none;

    @media #{$medium-and-up}{
      padding: 40 15px;
    }
}
.js-progress-next {
    width: auto;
    float: right;
    padding: 20 5px;
    cursor: pointer;
    color: #00a9e0;
    font-size: 18px;
    @media #{$medium-and-up}{
      padding: 40 15px;
    }
}
.recaptcha__container{
  text-align: center;
  width: 100%;

}
img.google-recaptcha{
  background: #f9f9f9;
  border: 1px solid #cbcbcb;
  padding: 4px 12px;
  border-radius: 4px;
  max-width: 96%;
  margin: auto; 
}
.next-steps__container{
  @media #{$large-and-up}{
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 25px 15px 10px; 
  }
}
.recharge-process{
  .category-tabs-container{
    padding: 20px 0;

    .tabs.tabs--pills{
      overflow: visible;
      width: 96%;
      margin: 0 2%;

      .indicator{
        left: 2%;
        right: 52%;
      }
      .tab{
        width: 50%;
        float: left;

        a{
          padding: 0;
          font-size: 14px;
          width: auto;
        }
      }
    }
  }
}
.recharge-process .tab-panel{
  height: 120px;
  padding-top: 10px;

}
.mobile-data-container {
  float: left;
  border: 1px solid #888;
  border-radius: 4px;
  padding: 10px 15px 20px;
  width: 100%;
  margin-bottom: 20px;

  @media #{$large-and-up}{
    display: none;
  }
}
.mobile-data__label{
  float: left;
  color: #888;
  width: 100%;
  margin-top: 10px;
}
.data-mobile-number, .data-mobile-price, .data-mobile-email, .data-mobile-paymentmethod {
  float: left;
  width: 100%;
  min-width: 100%;
  font-size: 22px;
  color: #666;
  border: 0; 
}
.data-mobile-number-edit, .data-mobile-price-edit, .data-mobile-price-email {
  float: left;
  color: #00a9e0;
  font-size: 16px;
  padding-top: 5px;
  cursor: pointer;
}
.recharge-process {
  .button-group--pills{
    margin: 25px 0;
    overflow-x: visible;
      overflow-y: visible;

    .pill{
      max-width: 50%;
      
      a{
        font-size: 14px;
        padding: 0;
      }
    }
    .indicator{
      max-width: 50%;
    }
  }
}   

// *********************  ROUNDED STYLES  *********************

// Remove default Radio Buttons
.process-rounded[type="radio"]:not(:checked),
.process-rounded[type="radio"]:checked {
  position: absolute;
  //left: -9999px;
  opacity: 0;
}

.process-rounded[type="radio"]:not(:checked) + label,
.process-rounded[type="radio"]:checked + label {
	@include body-copy-1;
	position: relative;

	cursor: pointer;
	display: inline-block;
	width: 100%;
	transition: .28s ease;
  width: $processButton;
  height: $processButton;

  -khtml-user-select: none;
  user-select: none;

  .process-rounded__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    transition: .28s ease;
    background: transparent;
    border: 0;
    font-size: 18px;
    max-width: 85%;
    width: 100%;
    text-align: center;
    outline: 0;
  }
}

.process-rounded[type="radio"] + label:before,
.process-rounded[type="radio"] + label:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: $processButton;
  height: $processButton;
  z-index: 0;
  transition: .28s ease;
}

// Unchecked styles 
.process-rounded[type="radio"]:not(:checked) + label:before,
.process-rounded[type="radio"]:not(:checked) + label:after,
.process-rounded[type="radio"]:checked + label:before,
.process-rounded[type="radio"]:checked + label:after{
  border-radius: 50%;
}

.process-rounded[type="radio"]:not(:checked) + label:before,
.process-rounded[type="radio"]:not(:checked) + label:after {
  border: 1px solid $grey-3;
  background: #ffffff;
}

.process-rounded[type="radio"]:not(:checked) + label:after {
  transform: scale(0);
}

// Checked styles

.process-rounded[type="radio"]:checked + label:before {
  border: 2px solid $main-blue;
}

.process-rounded[type="radio"]:checked + label:after {
  border: 2px solid $main-blue;
  background-color: $main-blue;
  transform: scale(1);
}

.process-rounded[type="radio"]:checked + label {
  .process-rounded__inner {
    color: #fff;
  }
}

// Focused styles 
.process-rounded[type="radio"].tabbed:focus + label:before {
  box-shadow: 0 0 0 10px rgba(0,0,0,.1);
}

// Disabled style 
.process-rounded[type="radio"]:disabled:not(:checked) + label:before,
.process-rounded[type="radio"]:disabled:checked + label:before {
  background-color: transparent;
  border-color: $grey-3;
}

.process-rounded[type="radio"]:disabled + label {
  color: $grey-3;
}

.process-rounded[type="radio"]:disabled:not(:checked) + label:before {
  border-color: $grey-3;
}

.process-rounded[type="radio"]:disabled:checked + label:after {
  background-color: $grey-3;
  border-color: $grey-3;
}

/* 

-----------------------------------------------------------------
BORRAR ANTES DE SUBIR EL TEMA AL NUEVO PORTAL
-----------------------------------------------------------------	

*/

	.hero-color.hero-color--grey {
		@media only screen and (min-width: 993px) {
		    background-color: transparent;
		}
	}
	
	.recharge-process {
		@media only screen and (min-width: 993px) {
		    background-color: transparent;
		    background-image: none;
		}
	}	

/* 

-----------------------------------------------------------------
BORRAR ANTES DE SUBIR EL TEMA AL NUEVO PORTAL
-----------------------------------------------------------------

 */