.aui .movistar--green .nat-header.nat-header--nav .navbar__menu .navbar__brand {
    color: #68cd18;
}

@media (max-width: 991px) {
    .aui .movistar--green .nat-header.nat-header--nav .navbar__menu .navbar__scroll {
        background-color: #68cd18;
    }
}