.aui .movistar--blue .nat-header.nat-header--nav .navbar__menu .navbar__brand {
    color: #019DF4;
}

@media (max-width: 991px) {
    .aui .movistar--blue .nat-header.nat-header--nav .navbar__menu .navbar__scroll {
        background-color: #019DF4;
    }
}