.modal {
  @extend .z-depth-4;

  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;

  border-radius: 2px;
  will-change: top, opacity;

  @media #{$medium-and-down} {
   width: 80%;
  }

  h1,h2,h3,h4 {
	margin-top: 0;
  }

  .modal-header{
	padding: 19px 0 21px 16px;
	position: relative;

	&::after {
	  content: '';
	  display: table;
	  clear: both;
	}
  }

  .modal-header__title{
	font-weight: 300;
	font-size: 24px;
	margin: 0;
  }

  .modal-header__close{
	position: absolute;
	top: 14px;
	right: 0;
  }

  .modal-content {
	padding: 0px 24px;
    @media #{$medium-and-up} {
      padding:24px;
    }
  }
  .modal-close {
	cursor: pointer;
  }

  .modal-footer {
	border-radius: 0 0 2px 2px;
	background-color: #fafafa;
	padding: 4px 6px;
	height: 56px;
	width: 100%;

	.btn, .btn-flat {
	  float: right;
	  margin: 6px 0;
	}
  }
}
.modal-overlay {
  position: fixed;
  z-index: 999;
  top: -100px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #e9eae8;
  display: none;

  will-change: opacity;
}

// Modal with fixed action footer
.modal.modal-fixed-footer {
  padding: 0;
  height: 70%;

  .modal-content {
	position: absolute;
	height: calc(100% - 56px);
	max-height: 100%;
	width: 100%;
	overflow-y: auto;
  }

  .modal-footer {
	border-top: 1px solid rgba(0,0,0,.1);
	position: absolute;
	bottom: 0;
  }
}

// Modal Bottom Sheet Style
.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 65%;
  border-radius: 0;
  will-change: bottom, opacity;

  &.search-modal {
	max-height: none;
	box-shadow: none;
	 height: calc(100% - 120px);
	background-color: #fff;
	box-shadow: inset rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
  }
}

.scrolling--down {
	.modal.bottom-sheet {
	&.search-modal {
	  height: calc(100% - 72px);
	}
  }
}


.modal.modal-large {
  width: 100%;
  height: 100%;
  max-height: none;
  max-width: 1280px;
  background: #fff;
  @media #{$medium-and-up} {
	width: 90%;
	height: auto;
	max-height: 90%;
	max-width: 1280px;
  }
}
