.tabs {
  &.tabs-transparent {
    background-color: transparent;

    .tab a,
    .tab.disabled a,
    .tab.disabled a:hover {
      color: rgba(0, 152, 217, .7);
    }

    .tab a:hover,
    .tab a.active {
      color: #0299D8;;
    }

    .indicator {
      background-color: #0299D8;
    }
  }

  &.tabs-fixed-width {
    display: flex;

    .tab {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }
  }

  //Custom tabs for Canal Online theme
  
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  /*height: 48px;
  width: 100%;
  background-color: $tabs-bg-color;
  margin: 0 auto;
  white-space: nowrap;*/

  .tab {
    display: inline-block;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;

    a {
      &:hover,
      &.active {
        background-color: transparent;
        color: #0299D8;
      }

      color: rgba(2, 153, 216, 0.6);
      display: block;
      width: 100%;
      height: 100%;
      padding: 0 24px;
      font-size: 14px;
      text-overflow: ellipsis;
      overflow: hidden;
      transition: color .28s ease;
    }

    &.disabled a,
    &.disabled a:hover {
      color: rgba(2, 153, 216, 0.6);
      cursor: default;
    }
  }
  .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: rgba(2, 153, 216, .7);
    will-change: left, right;
  }
}

// Fixed sideNav hide on smaller
@media #{$medium-and-down} {
  .tabs {
    display: flex;

    .tab {
      a {
        padding: 0 12px;
      }
    }
  }
}


//Custom tabs for Canal Online theme


 .tabs {
  &.tabs--pills {
    height: 40px;
    text-align: center;

    .tab {
      line-height: 40px;
      height: 40px;
      flex-grow:0;
    }

    a {
      transition: all .28s ease;
      font-size: 18px;
      color: #86888C;
      font-weight: normal;
      border-radius: 0px;
      text-transform: none;
      height: 40px;
      line-height: 40px;
      position: relative;
      z-index: 2;
      min-width: 144px;

      &:hover {
          color: #0299D8;

          &.active {
              color: #fff;
          }
      }

      &.active {
          color: #fff;
      }
    }

    .indicator {
      height: 40px;
      line-height: 40px;
      border-radius: 40px;
      background-color: #0299D8;
      z-index: 1;
    }
  }
}


$progress: 24px;
 .tabs {
  &.tabs--progress{
    height: $progress;
    text-align: center;

    .tab {
      line-height: $progress;
      height: $progress;
      flex-grow:0;
    }

    a {
      transition: all .28s ease;
      font-size: 18px;
      color: #86888C;
      font-weight: normal;
      border-radius: 0px;
      text-transform: none;
      height: $progress;
      line-height: $progress;
      position: relative;
      z-index: 2;
      min-width: 26px;
      padding: 0 7px;
      cursor: text;

      &:hover {
          color: #0299D8;

          &.active {
              color: #fff;
          }
      }

      &.active {
          color: #fff;
      }

      &.previousActive {
          color: rgba(255, 255, 255, 0.5);
      }
    }

    .indicator {
      height: $progress;
      line-height: $progress;
      border-radius: 40px;
      background-color: #0299D8;
      z-index: 1;
      left:0!important;//fixed left side
    }
  }
}

.tab-panel {
  &.active {
    display:block;
  }

  display:none;
  position:relative;
}
