// Fonts
@mixin font-face($font-family, $font-style, $font-weight, $font1, $font-local, $font2, $font3, $font4) {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    src: url($font1);
    src: local($font-local),
        url($font2) format('truetype'),
        url($font3) format('woff'),
        url($font4) format('woff2');
}

@font-face {
    @include font-face('Telefonica', normal, 200, 'Telefonica Extra Light',
            '../fonts/telefonica/Telefonica-ExtraLight.ttf?s16i6w',
            '../fonts/telefonica/Telefonica-ExtraLight.ttf?s16i6w#iefix',
            '../fonts/telefonica/Telefonica-ExtraLight.woff?s16i6w',
            '../fonts/telefonica/Telefonica-ExtraLight.woff2?s16i6w');
}

@font-face {
    @include font-face('Telefonica', normal, 300, 'Telefonica Light',
            '../fonts/telefonica/Telefonica-Light.ttf?s16i6w',
            '../fonts/telefonica/Telefonica-Light.ttf?s16i6w#iefix',
            '../fonts/telefonica/Telefonica-Light.woff?s16i6w',
            '../fonts/telefonica/Telefonica-Light.woff2?s16i6w');
}

@font-face {
    @include font-face('Telefonica', normal, 400, 'Telefonica Regular',
            '../fonts/telefonica/Telefonica-Regular.ttf?s16i6w',
            '../fonts/telefonica/Telefonica-Regular.ttf?s16i6w#iefix',
            '../fonts/telefonica/Telefonica-Regular.woff?s16i6w',
            '../fonts/telefonica/Telefonica-Regular.woff2?s16i6w');
}

@font-face {
    @include font-face('Telefonica', italic, 400, 'Telefonica Italic',
            '../fonts/telefonica/Telefonica-RegularItalic.ttf?s16i6w',
            '../fonts/telefonica/Telefonica-RegularItalic.ttf?s16i6w#iefix',
            '../fonts/telefonica/Telefonica-RegularItalic.woff?s16i6w',
            '../fonts/telefonica/Telefonica-RegularItalic.woff2?s16i6w');
}

@font-face {
    @include font-face('Telefonica', normal, 700, 'Telefonica Bold',
            '../fonts/telefonica/Telefonica-Bold.ttf?s16i6w',
            '../fonts/telefonica/Telefonica-Bold.ttf?s16i6w#iefix',
            '../fonts/telefonica/Telefonica-Bold.woff?s16i6w',
            '../fonts/telefonica/Telefonica-Bold.woff2?s16i6w');
}

@font-face {
    @include font-face('Telefonica Hand', normal, 400, 'Telefonica Hand',
            '../fonts/telefonica/Telefonica-Hand.ttf?s16i6w',
            '../fonts/telefonica/Telefonica-Hand.ttf?s16i6w#iefix',
            '../fonts/telefonica/Telefonica-Hand.woff?s16i6w',
            '../fonts/telefonica/Telefonica-Hand.woff2?s16i6w');
}

// Font Icomoon
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/material-icons/icomoon.eot?s16i6w');
    src:  url('../fonts/material-icons/icomoon.eot?s16i6w#iefix') format('embedded-opentype'),
        url('../fonts/material-icons/icomoon.ttf?s16i6w') format('truetype'),
        url('../fonts/material-icons/icomoon.woff?s16i6w') format('woff'),
        url('../fonts/material-icons/icomoon.svg?s16i6w#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}