// Fonts
$font:                        'Telefonica';
$fontIcomoon:                 'icomoon';

// Colores
$black:                          #000000;
$white:                          #ffffff;
$blue:                           #004fff;
$blue-dark:                      #0B2739;
$skyblue:                        #019DF4;
$skyblue2:                       #10a9fe;
$skyblue3:                       #018ddb;
$gray:                           #86888C;
$gray-dark:                      #4D555F;
$gray-dark2:                     #50535A;
$gray-white:                     #F5F5F5;
$green:                          #68cd18;
$green-dark:                     #5CB615;
$green-dark2:                    #509f12;