// General
* {
    -webkit-font-smoothing: antialiased;
    /* No bold in Mac. */
    box-sizing: border-box;
    &::before, &::after{
        box-sizing: border-box;
    }
    &:focus {
        outline: 2px solid $skyblue;
    }
}
body {
    font-family: $font;
    font-size: 14px;
    line-height: 1.5;
    color: $gray;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    margin-bottom: .5rem;
}

a {
    word-wrap: break-word;
    color: $skyblue;
    -webkit-tap-highlight-color: transparent;
    &:hover, &:active {
        text-decoration: none;
    }
}

p {
    margin: 0;
    margin-bottom: 1rem;
}

ul, li {
    list-style: none;
}

img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}

button {
    font-family: $font;
}

form {
    margin: 0;
}

.icon {
    display: inline-block;
    line-height: 0.8;

    >svg {
        display: inline-block;
        font-size: inherit;
        width: 1em;
        height: 1em;
        overflow: visible;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
    }
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

legend {
    border: 0;
}

.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}
.svg--inline {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

// RESPONSIVE VIDEO
.video--fluid {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.embed--responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    &::before {
        display: block;
        content: "";
    }
    &.embed--responsive-16by9 {
        &::before {
            padding-top: 56.25%;
        }
    }
    .embed--responsive__item, iframe, embed, object, video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 5px;
    }
}