$skyblue    : #019DF2;

.aui { 
    .movistar-blue {
        .header {
            .nav-wrapper {
                .brand-logo {
                    color: $skyblue;
                }
            }
        }
    }
}