.nat-footer {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    border-top: 1px solid #B6B7B7;
    .footer__social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 20px;
        .social__item {
            margin: 4px 6px;
        }
        .social__link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            color: $white;
            background-color: $gray;
            border-radius: 50%;
            transition: all ease 400ms;
            &:hover, &:active, &:focus {
                background-color: $gray-dark;
            }
        }
    }
    .footer__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 0;
        .list__item {
            margin: 4px 0;
            border-right: 1px solid $skyblue;
            list-style:none;
            &:last-child {
                border: 0;
            }
        }
        .list__link {
            display: block;
            color: $skyblue;
            text-decoration: none;
            padding: 2px 10px;
            @media (min-width: 576px) {
                padding: 2px 25px;
            }
            &:hover, &:active {
                color: $skyblue2;
                text-decoration: underline;
            }
            &:focus {
                color: $skyblue2;
            }
        }
    }
    .footer__logo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
        .logo__telefonica {
            display: block;
            margin: auto;
            max-width: 165px;
        }
    }
}