.aui.js .controls-hidden .dockbar .nav-account-controls {
	right: -160px;
}

.aui.js .controls-hidden .dockbar .nav-add-controls>li {
	-webkit-transform: scaleY(0) scaleX(0) translateY(0px) translateX(0px);
	transform: scaleY(0) scaleX(0) translateY(0px) translateX(0px);
}

.aui.js .controls-hidden .dockbar .nav-add-controls>li:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.aui.js .controls-hidden .dockbar .nav-add-controls>li:nth-child(2) {
	-webkit-transition-delay: .15s;
	transition-delay: .15s;
}

.aui.js .controls-hidden .dockbar .nav-add-controls>li:nth-child(3) {
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
}

.aui.js .controls-hidden .dockbar .nav-add-controls>li.toggle-controls {
	-webkit-transform: scaleY(1) scaleX(1) translateY(0px) translateX(0px);
	transform: scaleY(1) scaleX(1) translateY(0px) translateX(0px);
}

.aui .lfr-has-add-content {
	padding-left: 330px;
}

.aui .lfr-has-add-content .dockbar .nav-add-controls {
	left: 330px;
}

.aui .lfr-has-device-preview {
	padding-left: 220px;
}

.aui .lfr-has-device-preview .dockbar .nav-add-controls {
	left: 220px;
}

.aui .lfr-has-edit-layout {
	padding-left: 440px;
}

.aui .lfr-has-edit-layout .dockbar .nav-add-controls {
	left: 440px;
}

.aui .lfr-admin-panel {
	background-color: #FFF;
	bottom: 0;
	left: 0;
	overflow: auto;
	padding: 10px;
	position: fixed;
	top: 0;
	z-index: 1100;
}

.aui .lfr-ddm-link-to-page-modal .lfr-ddm-breadcrumb .lfr-ddm-breadcrumb-element {
	display: inline-block;
}

.aui .lfr-ddm-link-to-page-modal .lfr-ddm-breadcrumb .lfr-ddm-breadcrumb-element-separator {
	margin-left: 10px;
	margin-right: 0;
	color: #555;
}

.aui .lfr-ddm-link-to-page-modal .lfr-ddm-pages-container.nav .lfr-ddm-page-label {
	top: 0;
}

.aui .lfr-has-device-preview {
	position: initial;
}

.aui .portlet-dockbar .portlet-borderless-container {
	min-height: 0;
}

.aui .signed-out .portlet-borderless-container .add-asset-selector {
	opacity: 0;
}

.aui .dockbar.navbar .navbar-inner {
	min-height: auto;
	padding: 0;
	background: transparent;
	border: 0;
}

.aui .dockbar.navbar .navbar-inner .btn.btn-navbar {
	display: none;
	background: #45CBF5;
}

@media (max-width: 979px) {
	.aui .dockbar.navbar .container .nav-collapse {
		display: block;
	}
}

.aui .dockbar.navbar .nav li {
	float: inherit;
}

.aui .dockbar.navbar .nav li a {
	font-size: 14px;
	text-shadow: inherit;
}

.aui .dockbar.navbar .nav li.dropdown .staging-link.dropdown-toggle {
	background-color: #4f9bd5;
	color: #fff;
}

.aui .dockbar.navbar .nav li.dropdown.live-link.open>.dropdown-toggle, .aui .dockbar.navbar .nav li.dropdown.live-link.active>.dropdown-toggle, .aui .dockbar.navbar .nav li.dropdown.live-link.open.active>.dropdown-toggle {
	background-color: white;
	color: #555;
}

.aui .dockbar.navbar .nav li .dropdown-menu::before, .aui .dockbar.navbar .nav li .dropdown-menu::after {
	content: inherit;
}

.aui .dockbar.navbar .nav>.divider-vertical {
	height: 0;
	margin: 0;
	border: 0;
}

.aui .dockbar .nav-account-controls {
	position: fixed;
	top: 50%;
	left: inherit;
	right: 0;
	-webkit-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
	z-index: 1001;
	margin: 0;
	float: inherit;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	-webkit-transition: right 0.35s cubic-bezier(0.96, 0.02, 0.59, 1);
	transition: right 0.35s cubic-bezier(0.96, 0.02, 0.59, 1);
}

.aui .dockbar .nav-account-controls .dropdown-menu {
	top: 0;
	left: auto;
	right: 100%;
	float: none;
}

.aui .dockbar .nav-account-controls .user-avatar-image {
	border-radius: 50%;
	background-color: white;
	margin-top: -3px;
	text-decoration: none;
	vertical-align: middle;
	width: 20px;
}

.aui .dockbar .nav-account-controls>li:first-child>a {
	border-top-left-radius: 4px;
}

.aui .dockbar .nav-account-controls>li:last-child>a {
	border-bottom-left-radius: 4px;
}

.aui .dockbar .nav-account-controls>li>a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #424242;
	border-bottom: 1px solid #585858;
	color: #fff;
	min-width: 135px;
	padding: 0;
	margin: 0;
	border-radius: 0;
	text-shadow: inherit;
}

.aui .dockbar .nav-account-controls>li>a:hover, .aui .dockbar .nav-account-controls>li>a:active, .aui .dockbar .nav-account-controls>li>a:focus {
	color: #fff;
	background: #5b5858;
}

.aui .dockbar .nav-account-controls>li>a .nav-item-label {
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
	padding: 7px;
}

.aui .dockbar .nav-account-controls>li>a .icon-caret-down {
	background: rgba(255, 255, 255, 0.2);
	padding: 0 6px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.aui .dockbar .nav-account-controls>li>a.user-notification-link {
	padding: 5px;
}

.aui .dockbar .nav-account-controls>li>a.user-notification-link::before {
	content: 'Notifications';
}

.aui .dockbar .nav-account-controls>li>a.user-notification-link .user-notifications-count {
	position: absolute;
	top: 0;
	right: 2px;
	background: #45CBF5;
}

.aui .dockbar .nav-account-controls>li.dropdown.open>.dropdown-toggle {
	background-color: #5b5858;
	color: #fff;
}

.aui .dockbar .nav-account-controls .staging-controls {
	/*.staging-bar {
		  margin: 0;
		  background: #0299d8;
		  border-top-left-radius: 4px;
	  
		  .live-link a{
			  padding: 0 2rem;
			  background: #fff;
			  color: #0299d8;
			  height: 36px;
			  line-height: 36px;
			  display: block;
			  margin: 5px;
			  border-radius: 4px;
			  text-align: center;
			  &:hover {
			  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
			  }
		  }
		  }*/
}

.aui .dockbar .nav-account-controls .staging-controls .hide-accessible {
	clip: rect(0 0 0 0) !important;
	position: absolute !important;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-bar {
	margin: 0;
	background: #0299d8;
	border-top-left-radius: 4px;
	float: inherit;
	left: inherit;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-bar .label-submit {
	display: block;
	text-align: center;
	background-color: inherit;
	text-shadow: inherit;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-bar>li a {
	color: #fff;
	padding: 7px;
	display: block;
	border-top-left-radius: 4px;
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-bar>li a.taglib-icon {
	display: inline-block;
	color: #039be5;
	padding: 2px;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-bar>li.live-link a {
	padding: 0 2rem;
	background: #fff;
	color: #0299d8;
	height: 36px;
	line-height: 36px;
	display: block;
	margin: 5px;
	border-radius: 4px;
	text-align: center;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-bar>li.live-link a:hover, .aui .dockbar .nav-account-controls .staging-controls .staging-bar>li.live-link a:active, .aui .dockbar .nav-account-controls .staging-controls .staging-bar>li.live-link a:focus {
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.aui .dockbar .nav-account-controls .staging-controls .staging-toggle {
	/*.staging-link.dropdown-toggle {
			  color: #fff;
			  padding: 7px;
			  display: block;
			  border-top-left-radius: 4px;
	  
			  &:hover {
			  background: rgba(0, 0, 0, 0.18);
			  }
		  }*/
}

.aui .dockbar .nav-account-controls .staging-controls .staging-toggle .layout-revision-actions {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-toggle .site-pages-variation-options .variations-options::after {
	content: '';
	display: table;
	clear: both;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-toggle .site-pages-variation-options .variations-options .staging-variation-selector {
	float: left;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-toggle .site-pages-variation-options .variations-options .manage-layout-set-branches {
	float: right;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-toggle .page-variations-options .variations-options .page-variations {
	float: left;
	font-size: 20px;
	margin-top: 15px;
	margin-left: 5px;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-toggle .page-variations-options, .aui .dockbar .nav-account-controls .staging-controls .staging-toggle .site-pages-variation-options {
	width: auto;
	float: none;
	margin: 0;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-toggle .dropdown-menu {
	width: 250px;
	margin: 0;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-toggle .dropdown-menu .row-fluid {
	margin-left: 0;
	margin-right: 0;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-toggle .variations-options .page-variations {
	position: relative;
	right: auto;
	top: auto;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-toggle .layout-revision-info {
	float: none;
	width: auto;
	margin: 0;
	padding: 0 5px;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-toggle .layout-revision-info .taglib-workflow-status {
	display: block;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-toggle .layout-revision-info .workflow-status {
	display: block;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-toggle .layout-revision-info .workflow-status .label-warning {
	background-color: #f89406;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-toggle .layout-revision-info .workflow-status .label-success {
	background-color: #488f06;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-toggle .layout-revision-info .workflow-status .label-success[href] {
	background-color: #2f5e04;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-toggle .layout-revision-info .workflow-status .label-info {
	background-color: #12718f;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-toggle .layout-revision-info .workflow-value {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 700;
	text-shadow: inherit;
	color: #fff;
	border-radius: 2px;
	white-space: nowrap;
	height: 22px;
	padding: 0 5px;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-toggle .branching-enabled.publish-link-container {
	position: relative;
	bottom: auto;
	width: 100%;
	float: none;
	margin-left: auto;
	padding: 0 5px;
}

.aui .dockbar .nav-account-controls .staging-controls .staging-toggle .branching-enabled.publish-link-container .publish-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 30px;
	padding: 0 2rem;
	margin-top: 5px;
	margin-bottom: 0;
	max-width: none;
	font-weight: 700;
	text-transform: uppercase;
}

.aui .dockbar .site-administration-menu {
	border-width: 0;
	left: 0;
	margin: 0;
	right: auto;
	border-top: 1px solid rgba(0, 154, 229, 0.26);
	border-bottom: 1px solid rgba(0, 154, 229, 0.26);
}

.aui .dockbar .site-administration-menu>li>a {
	display: block;
	padding: 3px 5px 3px 40px;
	color: #009AE5;
}

.aui .dockbar .site-administration-menu>li>a:hover, .aui .dockbar .site-administration-menu>li>a:active, .aui .dockbar .site-administration-menu>li>a:focus {
	background: #009AE5;
	color: #fff;
}

.aui .dockbar .my-sites-menu .site-type {
	display: none;
}

.aui .dockbar .nav-add-controls {
	position: fixed;
	top: 50%;
	left: 30px;
	z-index: 1001;
	float: inherit;
	margin: 0;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.aui .dockbar .nav-add-controls>li {
	margin: 10px 0;
	position: relative;
	-webkit-transform: scaleY(1) scaleX(1) translateY(0px) translateX(0px);
	transform: scaleY(1) scaleX(1) translateY(0px) translateX(0px);
	-webkit-transition: .15s;
	transition: .15s;
}

.aui .dockbar .nav-add-controls>li:first-child {
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
}

.aui .dockbar .nav-add-controls>li:nth-child(2) {
	-webkit-transition-delay: .15s;
	transition-delay: .15s;
}

.aui .dockbar .nav-add-controls>li:nth-child(3) {
	-webkit-transition-delay: .0s;
	transition-delay: .0s;
}

.aui .dockbar .nav-add-controls>li>a {
	background: #424242;
	padding: 0 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 20px;
	color: #fff;
	border-radius: 4px;
	height: 35px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.aui .dockbar .nav-add-controls>li>a:hover, .aui .dockbar .nav-add-controls>li>a:active, .aui .dockbar .nav-add-controls>li>a:focus {
	color: #fff;
	background: #5b5858;
	outline: inherit;
}

.aui .dockbar .nav-add-controls>li>a:hover .nav-item-label, .aui .dockbar .nav-add-controls>li>a:active .nav-item-label, .aui .dockbar .nav-add-controls>li>a:focus .nav-item-label {
	display: block;
}

.aui .dockbar .nav-add-controls>li>a .nav-item-label {
	background: rgba(51, 51, 51, 0.81);
	border: 1px solid #333;
	display: none;
	left: 100%;
	margin-left: 0.5em;
	margin-top: -1em;
	padding: 0 20px;
	position: absolute;
	top: 50%;
	white-space: nowrap;
	border-radius: 30px;
	font-size: 14px;
	line-height: 25px;
}

.aui .dockbar .nav-add-controls>li.site-add-controls>a, .aui .dockbar .nav-add-controls>li.page-preview-controls>a, .aui .dockbar .nav-add-controls>li.page-edit-controls>a, .aui .dockbar .nav-add-controls>li.toggle-controls>a {
	font-size: 16px;
}

.aui .lfr-admin-panel .caret, .aui .dockbar .caret, .aui .portal-popup .caret, .aui .dropdown-menu .caret, .aui .yui3-widget .caret, .aui .article-form-edit .caret, .aui .taglib-header .caret, .aui .staging-toggle .caret {
	margin-top: 7px;
	margin-left: 0px;
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 4px solid black;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
}

.aui .alert {
	/* margin: 20px 0; */
	padding: 8px 35px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border-radius: 2px;
	border: 1px solid #f1d875;
	background-color: #fffbdc;
	color: #bf7900;
}

.aui .alert-success {
	background-color: #f1fbd1;
	border-color: #bce830;
	color: #488f06;
}

.aui .alert-error {
	background-color: #fee5e2;
	border-color: #fcaca5;
	color: #b50303;
}

.aui .alert-info {
	background-color: #cef1fc;
	border-color: #9ee3f9;
	color: #12718f;
}

.aui .alert-message {
	background-color: #F2F2F2;
	border-color: #E6E6E6;
	color: #6E6E6E;
}

.aui .lfr-admin-panel .alert, .aui .portal-popup .alert, .aui .yui3-widget .alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	word-wrap: break-word;
}

.aui .lfr-admin-panel .alert-info, .aui .portal-popup .alert-info, .aui .yui3-widget .alert-info {
	background-color: #b2ebf2;
	border: 1px solid rgba(3, 169, 244, 0.43);
	color: #12718f;
}

.aui .lfr-admin-panel .alert-block, .aui .portal-popup .alert-block, .aui .yui3-widget .alert-block {
	background-color: #fffbdc;
	border: 1px solid #f1d875;
	color: #bf7900;
}

.aui .alert-block.popup-alert-warning {
	background-color: #fee5e2;
	border-color: #fcaca5;
	color: #b50303;
	top: 0;
	position: absolute;
}

.aui .lfr-admin-panel .input-small {
	width: 90px;
}

.aui .lfr-admin-panel .input-mini {
	width: 60px;
}

.aui .tooltip-help {
	font-size: 14px;
	position: absolute !important;
}

.aui .tooltip-help .tooltip-inner {
	color: #fff;
	background-color: #323232;
	border-radius: 2px;
	max-width: 400px;
	overflow-wrap: break-word;
	text-align: left;
	word-wrap: break-word;
	padding: 10px 25px;
}

.aui .lfr-admin-panel fieldset, .aui .portal-popup fieldset, .aui .yui3-widget-modal fieldset, .aui .yui3-widget fieldset, .aui .article-form-edit fieldset {
	padding: 0;
	margin: 0;
	border: 0;
	min-width: 0;
}

.aui .lfr-admin-panel input[type="text"], .aui .portal-popup input[type="text"], .aui .yui3-widget-modal input[type="text"], .aui .yui3-widget input[type="text"], .aui .article-form-edit input[type="text"] {
	border: 1px solid #DDD;
	color: #8D8D8D;
	font-weight: 200;
	margin-bottom: 7px;
	padding: 4px 6px;
	width: 100%;
	height: auto;
	float: none;
}

.aui .lfr-admin-panel input[type="text"].input-small, .aui .portal-popup input[type="text"].input-small, .aui .yui3-widget-modal input[type="text"].input-small, .aui .yui3-widget input[type="text"].input-small, .aui .article-form-edit input[type="text"].input-small {
	width: 90px;
}

.aui .lfr-admin-panel input[type="text"].input-mini, .aui .portal-popup input[type="text"].input-mini, .aui .yui3-widget-modal input[type="text"].input-mini, .aui .yui3-widget input[type="text"].input-mini, .aui .article-form-edit input[type="text"].input-mini {
	width: 60px;
}

.aui .lfr-admin-panel select, .aui .portal-popup select, .aui .yui3-widget-modal select, .aui .yui3-widget select, .aui .article-form-edit select {
	display: inline-block;
	padding: 4px 6px;
	font-size: 14px;
	border-radius: 2px;
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
	background-color: white;
	width: 220px;
	border: 1px solid #DDD;
	color: #8D8D8D;
	font-weight: 200;
	margin-bottom: 7px;
}

.aui .lfr-admin-panel textarea, .aui .portal-popup textarea, .aui .yui3-widget-modal textarea, .aui .yui3-widget textarea, .aui .article-form-edit textarea {
	border: 1px solid #DDD;
	color: #8D8D8D;
	font-weight: 200;
	margin-bottom: 7px;
	background-color: white;
	-webkit-transition: border linear 0.2s, -webkit-box-shadow linear 0.2s;
	transition: border linear 0.2s, -webkit-box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s, -webkit-box-shadow linear 0.2s;
	width: 100%;
}

.aui .lfr-admin-panel .control-group, .aui .portal-popup .control-group, .aui .yui3-widget-modal .control-group, .aui .yui3-widget .control-group, .aui .article-form-edit .control-group {
	margin-bottom: 30px;
}

.aui .lfr-admin-panel .control-group.success .control-label, .aui .portal-popup .control-group.success .control-label, .aui .yui3-widget-modal .control-group.success .control-label, .aui .yui3-widget .control-group.success .control-label, .aui .article-form-edit .control-group.success .control-label {
	color: #488f06;
}

.aui .lfr-admin-panel .control-group.success input, .aui .portal-popup .control-group.success input, .aui .yui3-widget-modal .control-group.success input, .aui .yui3-widget .control-group.success input, .aui .article-form-edit .control-group.success input {
	border-color: #488f06;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	color: #488f06;
}

.aui .lfr-admin-panel .control-group.success .help-inline, .aui .portal-popup .control-group.success .help-inline, .aui .yui3-widget-modal .control-group.success .help-inline, .aui .yui3-widget .control-group.success .help-inline, .aui .article-form-edit .control-group.success .help-inline {
	color: #488f06;
}

.aui .lfr-admin-panel .control-group.error .control-label, .aui .portal-popup .control-group.error .control-label, .aui .yui3-widget-modal .control-group.error .control-label, .aui .yui3-widget .control-group.error .control-label, .aui .article-form-edit .control-group.error .control-label {
	color: #b50303;
}

.aui .lfr-admin-panel .control-group.error input, .aui .portal-popup .control-group.error input, .aui .yui3-widget-modal .control-group.error input, .aui .yui3-widget .control-group.error input, .aui .article-form-edit .control-group.error input {
	border-color: #b50303;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	color: #b50303;
}

.aui .lfr-admin-panel .control-group.error .help-inline, .aui .portal-popup .control-group.error .help-inline, .aui .yui3-widget-modal .control-group.error .help-inline, .aui .yui3-widget .control-group.error .help-inline, .aui .article-form-edit .control-group.error .help-inline {
	color: #b50303;
}

.aui .lfr-admin-panel label, .aui .portal-popup label, .aui .yui3-widget-modal label, .aui .yui3-widget label, .aui .article-form-edit label {
	font-size: 15px;
	line-height: 20px;
	display: block;
	margin-bottom: 5px;
}

.aui .lfr-admin-panel .input-append .add-on, .aui .lfr-admin-panel .input-prepend .add-on, .aui .portal-popup .input-append .add-on, .aui .portal-popup .input-prepend .add-on, .aui .yui3-widget-modal .input-append .add-on, .aui .yui3-widget-modal .input-prepend .add-on, .aui .yui3-widget .input-append .add-on, .aui .yui3-widget .input-prepend .add-on, .aui .article-form-edit .input-append .add-on, .aui .article-form-edit .input-prepend .add-on {
	display: inline-block;
	width: auto;
	min-width: 16px;
	padding: 4px 5px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 0 white;
	background-color: #eeeeee;
	border: 1px solid #ccc;
}

.aui .lfr-admin-panel .hide-accessible, .aui .portal-popup .hide-accessible, .aui .yui3-widget .hide-accessible, .aui .article-form-edit .hide-accessible {
	clip: rect(0 0 0 0) !important;
	position: absolute !important;
}

.aui .portlet-body:hover>.lfr-meta-actions {
	opacity: 1;
}

.aui .lfr-meta-actions {
	bottom: 0;
	position: absolute;
	z-index: 2;
	padding: 15px;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.74);
	border-bottom: 1px solid rgba(255, 255, 255, 0.18);
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	white-space: nowrap;
	opacity: .4;
	overflow-x: auto;
	max-width: 100%;
}

.aui .lfr-meta-actions span {
	color: #fff;
}

.aui .lfr-meta-actions.add-asset-selector {
	opacity: 1;
	z-index: 10;
}

.aui .lfr-meta-actions.add-asset-selector .navbar-inner {
	background-color: transparent;
}

.aui .lfr-meta-actions.add-asset-selector .navbar {
	margin-bottom: 0;
}

.aui .lfr-admin-panel h1, .aui .dockbar h1, .aui .portal-popup h1, .aui .lfr-meta-actions h1, .aui .lfr-asset-column h1, .aui .yui3-widget h1, .aui .article-form-edit h1 {
	font-size: 26px;
	font-weight: normal;
	line-height: 26px;
	margin: 10px 0;
}

.aui .lfr-admin-panel h3, .aui .dockbar h3, .aui .portal-popup h3, .aui .lfr-meta-actions h3, .aui .lfr-asset-column h3, .aui .yui3-widget h3, .aui .article-form-edit h3 {
	font-size: 24px;
	line-height: 40px;
}

.aui .lfr-admin-panel h4, .aui .dockbar h4, .aui .portal-popup h4, .aui .lfr-meta-actions h4, .aui .lfr-asset-column h4, .aui .yui3-widget h4, .aui .article-form-edit h4 {
	font-size: 17.5px;
	margin: 10px 0;
}

.aui .lfr-admin-panel .btn.close, .aui .dockbar .btn.close, .aui .portal-popup .btn.close, .aui .lfr-meta-actions .btn.close, .aui .lfr-asset-column .btn.close, .aui .yui3-widget .btn.close, .aui .article-form-edit .btn.close {
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	color: #343434;
	cursor: pointer;
	-webkit-transition: background-color .2s;
	transition: background-color .2s;
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	padding: 0 10px;
}

.aui .lfr-admin-panel .nav, .aui .dockbar .nav, .aui .portal-popup .nav, .aui .lfr-meta-actions .nav, .aui .lfr-asset-column .nav, .aui .yui3-widget .nav, .aui .article-form-edit .nav {
	list-style: none;
	margin: 0;
}

.aui .lfr-admin-panel .nav::after, .aui .dockbar .nav::after, .aui .portal-popup .nav::after, .aui .lfr-meta-actions .nav::after, .aui .lfr-asset-column .nav::after, .aui .yui3-widget .nav::after, .aui .article-form-edit .nav::after {
	content: '';
	display: table;
	clear: both;
}

.aui .lfr-admin-panel .nav.nav-tabs, .aui .dockbar .nav.nav-tabs, .aui .portal-popup .nav.nav-tabs, .aui .lfr-meta-actions .nav.nav-tabs, .aui .lfr-asset-column .nav.nav-tabs, .aui .yui3-widget .nav.nav-tabs, .aui .article-form-edit .nav.nav-tabs {
	margin: 0;
}

.aui .lfr-admin-panel .nav.nav-tabs::after, .aui .dockbar .nav.nav-tabs::after, .aui .portal-popup .nav.nav-tabs::after, .aui .lfr-meta-actions .nav.nav-tabs::after, .aui .lfr-asset-column .nav.nav-tabs::after, .aui .yui3-widget .nav.nav-tabs::after, .aui .article-form-edit .nav.nav-tabs::after {
	content: '';
	display: table;
	clear: both;
}

.aui .lfr-admin-panel .nav.nav-tabs>li, .aui .dockbar .nav.nav-tabs>li, .aui .portal-popup .nav.nav-tabs>li, .aui .lfr-meta-actions .nav.nav-tabs>li, .aui .lfr-asset-column .nav.nav-tabs>li, .aui .yui3-widget .nav.nav-tabs>li, .aui .article-form-edit .nav.nav-tabs>li {
	float: left;
}

.aui .lfr-admin-panel .nav.nav-tabs>li.active>a, .aui .dockbar .nav.nav-tabs>li.active>a, .aui .portal-popup .nav.nav-tabs>li.active>a, .aui .lfr-meta-actions .nav.nav-tabs>li.active>a, .aui .lfr-asset-column .nav.nav-tabs>li.active>a, .aui .yui3-widget .nav.nav-tabs>li.active>a, .aui .article-form-edit .nav.nav-tabs>li.active>a {
	color: #45cbf5;
	border-bottom: 2px solid #84d7f1;
}

.aui .lfr-admin-panel .nav.nav-tabs>li>a, .aui .dockbar .nav.nav-tabs>li>a, .aui .portal-popup .nav.nav-tabs>li>a, .aui .lfr-meta-actions .nav.nav-tabs>li>a, .aui .lfr-asset-column .nav.nav-tabs>li>a, .aui .yui3-widget .nav.nav-tabs>li>a, .aui .article-form-edit .nav.nav-tabs>li>a {
	color: rgba(69, 203, 245, 0.7);
	display: block;
	padding: 10px 24px;
	font-size: 14px;
	-webkit-transition: color .28s ease;
	transition: color .28s ease;
}

.aui .lfr-admin-panel .tab-pane, .aui .dockbar .tab-pane, .aui .portal-popup .tab-pane, .aui .lfr-meta-actions .tab-pane, .aui .lfr-asset-column .tab-pane, .aui .yui3-widget .tab-pane, .aui .article-form-edit .tab-pane {
	display: none;
}

.aui .lfr-admin-panel .tab-pane.tab-content, .aui .lfr-admin-panel .tab-pane.active, .aui .dockbar .tab-pane.tab-content, .aui .dockbar .tab-pane.active, .aui .portal-popup .tab-pane.tab-content, .aui .portal-popup .tab-pane.active, .aui .lfr-meta-actions .tab-pane.tab-content, .aui .lfr-meta-actions .tab-pane.active, .aui .lfr-asset-column .tab-pane.tab-content, .aui .lfr-asset-column .tab-pane.active, .aui .yui3-widget .tab-pane.tab-content, .aui .yui3-widget .tab-pane.active, .aui .article-form-edit .tab-pane.tab-content, .aui .article-form-edit .tab-pane.active {
	display: block;
}

.aui .lfr-admin-panel .nav-pills, .aui .dockbar .nav-pills, .aui .portal-popup .nav-pills, .aui .lfr-meta-actions .nav-pills, .aui .lfr-asset-column .nav-pills, .aui .yui3-widget .nav-pills, .aui .article-form-edit .nav-pills {
	margin: 0;
}

.aui .lfr-admin-panel .nav-pills::after, .aui .dockbar .nav-pills::after, .aui .portal-popup .nav-pills::after, .aui .lfr-meta-actions .nav-pills::after, .aui .lfr-asset-column .nav-pills::after, .aui .yui3-widget .nav-pills::after, .aui .article-form-edit .nav-pills::after {
	content: '';
	display: table;
	clear: both;
}

.aui .lfr-admin-panel .nav-pills>.active>a, .aui .dockbar .nav-pills>.active>a, .aui .portal-popup .nav-pills>.active>a, .aui .lfr-meta-actions .nav-pills>.active>a, .aui .lfr-asset-column .nav-pills>.active>a, .aui .yui3-widget .nav-pills>.active>a, .aui .article-form-edit .nav-pills>.active>a {
	color: white;
	background-color: #00aaff;
}

.aui .lfr-admin-panel .nav-pills>li, .aui .dockbar .nav-pills>li, .aui .portal-popup .nav-pills>li, .aui .lfr-meta-actions .nav-pills>li, .aui .lfr-asset-column .nav-pills>li, .aui .yui3-widget .nav-pills>li, .aui .article-form-edit .nav-pills>li {
	float: left;
}

.aui .lfr-admin-panel .nav-pills>li>a, .aui .dockbar .nav-pills>li>a, .aui .portal-popup .nav-pills>li>a, .aui .lfr-meta-actions .nav-pills>li>a, .aui .lfr-asset-column .nav-pills>li>a, .aui .yui3-widget .nav-pills>li>a, .aui .article-form-edit .nav-pills>li>a {
	padding: 8px 12px 8px;
	margin: 2px;
	line-height: 14px;
	border-radius: 5px;
	display: block;
}

.aui .lfr-admin-panel .nav-pills>li>a:hover, .aui .lfr-admin-panel .nav-pills>li>a:active, .aui .lfr-admin-panel .nav-pills>li>a:focus, .aui .dockbar .nav-pills>li>a:hover, .aui .dockbar .nav-pills>li>a:active, .aui .dockbar .nav-pills>li>a:focus, .aui .portal-popup .nav-pills>li>a:hover, .aui .portal-popup .nav-pills>li>a:active, .aui .portal-popup .nav-pills>li>a:focus, .aui .lfr-meta-actions .nav-pills>li>a:hover, .aui .lfr-meta-actions .nav-pills>li>a:active, .aui .lfr-meta-actions .nav-pills>li>a:focus, .aui .lfr-asset-column .nav-pills>li>a:hover, .aui .lfr-asset-column .nav-pills>li>a:active, .aui .lfr-asset-column .nav-pills>li>a:focus, .aui .yui3-widget .nav-pills>li>a:hover, .aui .yui3-widget .nav-pills>li>a:active, .aui .yui3-widget .nav-pills>li>a:focus, .aui .article-form-edit .nav-pills>li>a:hover, .aui .article-form-edit .nav-pills>li>a:active, .aui .article-form-edit .nav-pills>li>a:focus {
	text-decoration: none;
	background-color: #eeeeee;
}

.aui .lfr-admin-panel .btn-toolbar, .aui .dockbar .btn-toolbar, .aui .portal-popup .btn-toolbar, .aui .lfr-meta-actions .btn-toolbar, .aui .lfr-asset-column .btn-toolbar, .aui .yui3-widget .btn-toolbar, .aui .article-form-edit .btn-toolbar {
	font-size: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.aui .lfr-admin-panel .btn-toolbar .control-group-inline, .aui .dockbar .btn-toolbar .control-group-inline, .aui .portal-popup .btn-toolbar .control-group-inline, .aui .lfr-meta-actions .btn-toolbar .control-group-inline, .aui .lfr-asset-column .btn-toolbar .control-group-inline, .aui .yui3-widget .btn-toolbar .control-group-inline, .aui .article-form-edit .btn-toolbar .control-group-inline {
	margin-right: 5px;
	display: inline;
}

.aui .lfr-admin-panel .btn-toolbar select, .aui .dockbar .btn-toolbar select, .aui .portal-popup .btn-toolbar select, .aui .lfr-meta-actions .btn-toolbar select, .aui .lfr-asset-column .btn-toolbar select, .aui .yui3-widget .btn-toolbar select, .aui .article-form-edit .btn-toolbar select {
	display: inline-block;
	margin-bottom: 0;
	border: 1px solid #DDD;
	color: #8D8D8D;
	font-weight: 200;
	background-color: white;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	vertical-align: middle;
}

.aui .lfr-admin-panel .btn-toolbar .btn-group, .aui .dockbar .btn-toolbar .btn-group, .aui .portal-popup .btn-toolbar .btn-group, .aui .lfr-meta-actions .btn-toolbar .btn-group, .aui .lfr-asset-column .btn-toolbar .btn-group, .aui .yui3-widget .btn-toolbar .btn-group, .aui .article-form-edit .btn-toolbar .btn-group {
	position: relative;
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
	white-space: nowrap;
}

.aui .lfr-admin-panel .btn-toolbar .btn-group>.btn, .aui .dockbar .btn-toolbar .btn-group>.btn, .aui .portal-popup .btn-toolbar .btn-group>.btn, .aui .lfr-meta-actions .btn-toolbar .btn-group>.btn, .aui .lfr-asset-column .btn-toolbar .btn-group>.btn, .aui .yui3-widget .btn-toolbar .btn-group>.btn, .aui .article-form-edit .btn-toolbar .btn-group>.btn {
	display: inline-block;
	padding: 4px 9px;
	margin-bottom: 0;
	height: auto;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	background: transparent;
	color: rgba(0, 0, 0, 0.87);
	-webkit-box-shadow: none;
	box-shadow: none;
}

.aui .lfr-admin-panel .btn-toolbar .btn-group>.btn:hover, .aui .lfr-admin-panel .btn-toolbar .btn-group>.btn:active, .aui .lfr-admin-panel .btn-toolbar .btn-group>.btn:focus, .aui .dockbar .btn-toolbar .btn-group>.btn:hover, .aui .dockbar .btn-toolbar .btn-group>.btn:active, .aui .dockbar .btn-toolbar .btn-group>.btn:focus, .aui .portal-popup .btn-toolbar .btn-group>.btn:hover, .aui .portal-popup .btn-toolbar .btn-group>.btn:active, .aui .portal-popup .btn-toolbar .btn-group>.btn:focus, .aui .lfr-meta-actions .btn-toolbar .btn-group>.btn:hover, .aui .lfr-meta-actions .btn-toolbar .btn-group>.btn:active, .aui .lfr-meta-actions .btn-toolbar .btn-group>.btn:focus, .aui .lfr-asset-column .btn-toolbar .btn-group>.btn:hover, .aui .lfr-asset-column .btn-toolbar .btn-group>.btn:active, .aui .lfr-asset-column .btn-toolbar .btn-group>.btn:focus, .aui .yui3-widget .btn-toolbar .btn-group>.btn:hover, .aui .yui3-widget .btn-toolbar .btn-group>.btn:active, .aui .yui3-widget .btn-toolbar .btn-group>.btn:focus, .aui .article-form-edit .btn-toolbar .btn-group>.btn:hover, .aui .article-form-edit .btn-toolbar .btn-group>.btn:active, .aui .article-form-edit .btn-toolbar .btn-group>.btn:focus {
	background-color: rgba(153, 153, 153, 0.2);
}

.aui .lfr-admin-panel .btn-toolbar .btn-group>.btn.active, .aui .dockbar .btn-toolbar .btn-group>.btn.active, .aui .portal-popup .btn-toolbar .btn-group>.btn.active, .aui .lfr-meta-actions .btn-toolbar .btn-group>.btn.active, .aui .lfr-asset-column .btn-toolbar .btn-group>.btn.active, .aui .yui3-widget .btn-toolbar .btn-group>.btn.active, .aui .article-form-edit .btn-toolbar .btn-group>.btn.active {
	background: #00aaff;
	color: #fff;
}

.aui .lfr-admin-panel .navbar, .aui .dockbar .navbar, .aui .portal-popup .navbar, .aui .lfr-meta-actions .navbar, .aui .lfr-asset-column .navbar, .aui .yui3-widget .navbar, .aui .article-form-edit .navbar {
	overflow: visible;
	margin-bottom: 20px;
}

.aui .lfr-admin-panel .navbar::after, .aui .dockbar .navbar::after, .aui .portal-popup .navbar::after, .aui .lfr-meta-actions .navbar::after, .aui .lfr-asset-column .navbar::after, .aui .yui3-widget .navbar::after, .aui .article-form-edit .navbar::after {
	content: '';
	display: table;
	clear: both;
}

.aui .lfr-admin-panel .navbar .btn.btn-navbar, .aui .dockbar .navbar .btn.btn-navbar, .aui .portal-popup .navbar .btn.btn-navbar, .aui .lfr-meta-actions .navbar .btn.btn-navbar, .aui .lfr-asset-column .navbar .btn.btn-navbar, .aui .yui3-widget .navbar .btn.btn-navbar, .aui .article-form-edit .navbar .btn.btn-navbar {
	display: none;
}

.aui .lfr-admin-panel .navbar .nav, .aui .dockbar .navbar .nav, .aui .portal-popup .navbar .nav, .aui .lfr-meta-actions .navbar .nav, .aui .lfr-asset-column .navbar .nav, .aui .yui3-widget .navbar .nav, .aui .article-form-edit .navbar .nav {
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 0;
}

.aui .lfr-admin-panel .navbar .nav::after, .aui .dockbar .navbar .nav::after, .aui .portal-popup .navbar .nav::after, .aui .lfr-meta-actions .navbar .nav::after, .aui .lfr-asset-column .navbar .nav::after, .aui .yui3-widget .navbar .nav::after, .aui .article-form-edit .navbar .nav::after {
	content: '';
	display: table;
	clear: both;
}

.aui .lfr-admin-panel .navbar .nav>li, .aui .dockbar .navbar .nav>li, .aui .portal-popup .navbar .nav>li, .aui .lfr-meta-actions .navbar .nav>li, .aui .lfr-asset-column .navbar .nav>li, .aui .yui3-widget .navbar .nav>li, .aui .article-form-edit .navbar .nav>li {
	float: left;
}

.aui .lfr-admin-panel .navbar .nav>li>a, .aui .dockbar .navbar .nav>li>a, .aui .portal-popup .navbar .nav>li>a, .aui .lfr-meta-actions .navbar .nav>li>a, .aui .lfr-asset-column .navbar .nav>li>a, .aui .yui3-widget .navbar .nav>li>a, .aui .article-form-edit .navbar .nav>li>a {
	padding: 10px 15px 10px;
	color: #555555;
	text-decoration: none;
	display: block;
}

.aui .lfr-admin-panel .navbar-inner, .aui .dockbar .navbar-inner, .aui .portal-popup .navbar-inner, .aui .lfr-meta-actions .navbar-inner, .aui .lfr-asset-column .navbar-inner, .aui .yui3-widget .navbar-inner, .aui .article-form-edit .navbar-inner {
	min-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #f6f6f6;
	border-radius: 2px;
	border: 1px solid #D3D3D3;
}

.aui .lfr-admin-panel .navbar-inner .container, .aui .dockbar .navbar-inner .container, .aui .portal-popup .navbar-inner .container, .aui .lfr-meta-actions .navbar-inner .container, .aui .lfr-asset-column .navbar-inner .container, .aui .yui3-widget .navbar-inner .container, .aui .article-form-edit .navbar-inner .container {
	width: auto;
}

.aui .lfr-admin-panel .navbar-inner .container::after, .aui .dockbar .navbar-inner .container::after, .aui .portal-popup .navbar-inner .container::after, .aui .lfr-meta-actions .navbar-inner .container::after, .aui .lfr-asset-column .navbar-inner .container::after, .aui .yui3-widget .navbar-inner .container::after, .aui .article-form-edit .navbar-inner .container::after {
	content: '';
	display: table;
	clear: both;
}

.aui .lfr-admin-panel .dropdown, .aui .dockbar .dropdown, .aui .portal-popup .dropdown, .aui .lfr-meta-actions .dropdown, .aui .lfr-asset-column .dropdown, .aui .yui3-widget .dropdown, .aui .article-form-edit .dropdown {
	position: relative;
}

.aui .lfr-admin-panel .open>.dropdown-menu, .aui .dockbar .open>.dropdown-menu, .aui .portal-popup .open>.dropdown-menu, .aui .lfr-meta-actions .open>.dropdown-menu, .aui .lfr-asset-column .open>.dropdown-menu, .aui .yui3-widget .open>.dropdown-menu, .aui .article-form-edit .open>.dropdown-menu {
	display: block;
}

.aui .lfr-admin-panel .dropdown-menu, .aui .dockbar .dropdown-menu, .aui .portal-popup .dropdown-menu, .aui .lfr-meta-actions .dropdown-menu, .aui .lfr-asset-column .dropdown-menu, .aui .yui3-widget .dropdown-menu, .aui .article-form-edit .dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: white;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
}

@media (max-width: 979px) {
	.aui .lfr-admin-panel .dropdown-menu, .aui .dockbar .dropdown-menu, .aui .portal-popup .dropdown-menu, .aui .lfr-meta-actions .dropdown-menu, .aui .lfr-asset-column .dropdown-menu, .aui .yui3-widget .dropdown-menu, .aui .article-form-edit .dropdown-menu {
		position: absolute;
		background-color: white;
		padding: 5px 0;
		margin: 2px 0 0;
		list-style: none;
		background-color: white;
		border: 1px solid #ccc;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 6px;
		-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		background-clip: padding-box;
	}
}

.aui .lfr-admin-panel .dropdown-menu .active a, .aui .dockbar .dropdown-menu .active a, .aui .portal-popup .dropdown-menu .active a, .aui .lfr-meta-actions .dropdown-menu .active a, .aui .lfr-asset-column .dropdown-menu .active a, .aui .yui3-widget .dropdown-menu .active a, .aui .article-form-edit .dropdown-menu .active a {
	color: #fff;
	margin: 0;
}

.aui .lfr-admin-panel .dropdown-menu>li>a, .aui .dockbar .dropdown-menu>li>a, .aui .portal-popup .dropdown-menu>li>a, .aui .lfr-meta-actions .dropdown-menu>li>a, .aui .lfr-asset-column .dropdown-menu>li>a, .aui .yui3-widget .dropdown-menu>li>a, .aui .article-form-edit .dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #333333;
	white-space: nowrap;
}

.aui .lfr-admin-panel .dropdown-menu>li>a:hover, .aui .lfr-admin-panel .dropdown-menu>li>a:active, .aui .lfr-admin-panel .dropdown-menu>li>a:focus, .aui .dockbar .dropdown-menu>li>a:hover, .aui .dockbar .dropdown-menu>li>a:active, .aui .dockbar .dropdown-menu>li>a:focus, .aui .portal-popup .dropdown-menu>li>a:hover, .aui .portal-popup .dropdown-menu>li>a:active, .aui .portal-popup .dropdown-menu>li>a:focus, .aui .lfr-meta-actions .dropdown-menu>li>a:hover, .aui .lfr-meta-actions .dropdown-menu>li>a:active, .aui .lfr-meta-actions .dropdown-menu>li>a:focus, .aui .lfr-asset-column .dropdown-menu>li>a:hover, .aui .lfr-asset-column .dropdown-menu>li>a:active, .aui .lfr-asset-column .dropdown-menu>li>a:focus, .aui .yui3-widget .dropdown-menu>li>a:hover, .aui .yui3-widget .dropdown-menu>li>a:active, .aui .yui3-widget .dropdown-menu>li>a:focus, .aui .article-form-edit .dropdown-menu>li>a:hover, .aui .article-form-edit .dropdown-menu>li>a:active, .aui .article-form-edit .dropdown-menu>li>a:focus {
	background: #45CBF5;
	color: #fff;
}

.aui .lfr-admin-panel .accordion, .aui .dockbar .accordion, .aui .portal-popup .accordion, .aui .lfr-meta-actions .accordion, .aui .lfr-asset-column .accordion, .aui .yui3-widget .accordion, .aui .article-form-edit .accordion {
	background: #FFF;
	border: 1px solid #D3D3D3;
}

.aui .lfr-admin-panel .accordion-heading, .aui .dockbar .accordion-heading, .aui .portal-popup .accordion-heading, .aui .lfr-meta-actions .accordion-heading, .aui .lfr-asset-column .accordion-heading, .aui .yui3-widget .accordion-heading, .aui .article-form-edit .accordion-heading {
	background: #F2F2F2;
	overflow: hidden;
	position: static;
}

.aui .lfr-admin-panel .accordion-heading .accordion-toggle, .aui .dockbar .accordion-heading .accordion-toggle, .aui .portal-popup .accordion-heading .accordion-toggle, .aui .lfr-meta-actions .accordion-heading .accordion-toggle, .aui .lfr-asset-column .accordion-heading .accordion-toggle, .aui .yui3-widget .accordion-heading .accordion-toggle, .aui .article-form-edit .accordion-heading .accordion-toggle {
	color: #999;
	padding: 8px 15px;
}

.aui .lfr-admin-panel .accordion-group, .aui .dockbar .accordion-group, .aui .portal-popup .accordion-group, .aui .lfr-meta-actions .accordion-group, .aui .lfr-asset-column .accordion-group, .aui .yui3-widget .accordion-group, .aui .article-form-edit .accordion-group {
	margin-bottom: 2px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
}

.aui .lfr-admin-panel .accordion-group .toggler-header, .aui .dockbar .accordion-group .toggler-header, .aui .portal-popup .accordion-group .toggler-header, .aui .lfr-meta-actions .accordion-group .toggler-header, .aui .lfr-asset-column .accordion-group .toggler-header, .aui .yui3-widget .accordion-group .toggler-header, .aui .article-form-edit .accordion-group .toggler-header {
	background: #F2F2F2;
	border: solid #D3D3D3;
	border-width: 1px 0;
	margin-top: -1px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.aui .lfr-admin-panel .accordion-group .accordion-toggle, .aui .dockbar .accordion-group .accordion-toggle, .aui .portal-popup .accordion-group .accordion-toggle, .aui .lfr-meta-actions .accordion-group .accordion-toggle, .aui .lfr-asset-column .accordion-group .accordion-toggle, .aui .yui3-widget .accordion-group .accordion-toggle, .aui .article-form-edit .accordion-group .accordion-toggle {
	position: relative;
}

.aui .lfr-admin-panel .accordion-group .toggler-content-expanded, .aui .dockbar .accordion-group .toggler-content-expanded, .aui .portal-popup .accordion-group .toggler-content-expanded, .aui .lfr-meta-actions .accordion-group .toggler-content-expanded, .aui .lfr-asset-column .accordion-group .toggler-content-expanded, .aui .yui3-widget .accordion-group .toggler-content-expanded, .aui .article-form-edit .accordion-group .toggler-content-expanded {
	border-width: 1px 0 0 0;
}

.aui .lfr-admin-panel .accordion-group .accordion-inner, .aui .dockbar .accordion-group .accordion-inner, .aui .portal-popup .accordion-group .accordion-inner, .aui .lfr-meta-actions .accordion-group .accordion-inner, .aui .lfr-asset-column .accordion-group .accordion-inner, .aui .yui3-widget .accordion-group .accordion-inner, .aui .article-form-edit .accordion-group .accordion-inner {
	background: #FCFCFC;
	border: solid #D3D3D3;
	border-width: 0 0 1px 0;
	padding: 6px 0 15px;
}

.aui .lfr-admin-panel .pull-right, .aui .dockbar .pull-right, .aui .portal-popup .pull-right, .aui .lfr-meta-actions .pull-right, .aui .lfr-asset-column .pull-right, .aui .yui3-widget .pull-right, .aui .article-form-edit .pull-right {
	float: right;
}

.aui .lfr-admin-panel .advanced-search, .aui .dockbar .advanced-search, .aui .portal-popup .advanced-search, .aui .lfr-meta-actions .advanced-search, .aui .lfr-asset-column .advanced-search, .aui .yui3-widget .advanced-search, .aui .article-form-edit .advanced-search {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.aui .lfr-admin-panel .advanced-search .search-query, .aui .dockbar .advanced-search .search-query, .aui .portal-popup .advanced-search .search-query, .aui .lfr-meta-actions .advanced-search .search-query, .aui .lfr-asset-column .advanced-search .search-query, .aui .yui3-widget .advanced-search .search-query, .aui .article-form-edit .advanced-search .search-query {
	border-radius: 20px 0 0 20px;
	margin-bottom: 0;
}

.aui .lfr-admin-panel .advanced-search .btn, .aui .dockbar .advanced-search .btn, .aui .portal-popup .advanced-search .btn, .aui .lfr-meta-actions .advanced-search .btn, .aui .lfr-asset-column .advanced-search .btn, .aui .yui3-widget .advanced-search .btn, .aui .article-form-edit .advanced-search .btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.aui .lfr-admin-panel .advanced-search .icon-search, .aui .dockbar .advanced-search .icon-search, .aui .portal-popup .advanced-search .icon-search, .aui .lfr-meta-actions .advanced-search .icon-search, .aui .lfr-asset-column .advanced-search .icon-search, .aui .yui3-widget .advanced-search .icon-search, .aui .article-form-edit .advanced-search .icon-search {
	font-size: 20px;
}

.aui .lfr-admin-panel .popover, .aui .dockbar .popover, .aui .portal-popup .popover, .aui .lfr-meta-actions .popover, .aui .lfr-asset-column .popover, .aui .yui3-widget .popover, .aui .article-form-edit .popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1010;
	display: none;
	max-width: 276px;
	padding: 1px;
	text-align: left;
	background-color: white;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	white-space: normal;
}

.aui .lfr-admin-panel .popover.bottom, .aui .dockbar .popover.bottom, .aui .portal-popup .popover.bottom, .aui .lfr-meta-actions .popover.bottom, .aui .lfr-asset-column .popover.bottom, .aui .yui3-widget .popover.bottom, .aui .article-form-edit .popover.bottom {
	margin-top: 10px;
}

.aui .lfr-admin-panel .popover-content, .aui .dockbar .popover-content, .aui .portal-popup .popover-content, .aui .lfr-meta-actions .popover-content, .aui .lfr-asset-column .popover-content, .aui .yui3-widget .popover-content, .aui .article-form-edit .popover-content {
	padding: 9px 14px;
}

.aui .lfr-admin-panel .toggler-content-wrapper, .aui .dockbar .toggler-content-wrapper, .aui .portal-popup .toggler-content-wrapper, .aui .lfr-meta-actions .toggler-content-wrapper, .aui .lfr-asset-column .toggler-content-wrapper, .aui .yui3-widget .toggler-content-wrapper, .aui .article-form-edit .toggler-content-wrapper {
	overflow: hidden;
}

.aui .lfr-admin-panel .nav-list, .aui .dockbar .nav-list, .aui .portal-popup .nav-list, .aui .lfr-meta-actions .nav-list, .aui .lfr-asset-column .nav-list, .aui .yui3-widget .nav-list, .aui .article-form-edit .nav-list {
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

.aui .add-content-menu .accordion .lfr-content-item {
	padding: 0;
	padding-left: 15px;
}

.aui .add-content-menu .search-query, .aui .lfr-edit-layout-panel .search-query {
	min-height: 30px;
	border: 1px solid #DDD;
	color: #8D8D8D;
	font-weight: 200;
	margin-bottom: 7px;
	float: none;
}

.aui .add-content-menu .search-query:focus, .aui .lfr-edit-layout-panel .search-query:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	border-color: rgba(0, 172, 255, 0.8);
	outline: 0;
}

.aui .add-content-menu .lfr-layout-template>label, .aui .lfr-edit-layout-panel .lfr-layout-template>label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.aui .add-content-menu .lfr-layout-template>label .control-group, .aui .lfr-edit-layout-panel .lfr-layout-template>label .control-group {
	margin-bottom: 0;
}

.aui .add-content-menu .lfr-layout-template>label .layout-template-entry, .aui .lfr-edit-layout-panel .lfr-layout-template>label .layout-template-entry {
	margin: 0 10px;
}

.aui .add-content-menu .lfr-page-template-title.toggler-header>.control-group, .aui .lfr-edit-layout-panel .lfr-page-template-title.toggler-header>.control-group {
	margin-bottom: 0;
}

.aui .add-content-menu .lfr-page-template-title.toggler-header::before, .aui .lfr-edit-layout-panel .lfr-page-template-title.toggler-header::before {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	right: 5px;
	top: 5px;
	color: #00aaff;
}

.aui .add-content-menu .lfr-page-template-title.toggler-header.toggler-header-collapsed::before, .aui .lfr-edit-layout-panel .lfr-page-template-title.toggler-header.toggler-header-collapsed::before {
	content: "\e409";
}

.aui .add-content-menu .lfr-page-template-title.toggler-header.toggler-header-collapsed.active::before, .aui .lfr-edit-layout-panel .lfr-page-template-title.toggler-header.toggler-header-collapsed.active::before {
	color: #fff;
}

.aui .add-content-menu .lfr-page-template-title.toggler-header.toggler-header-collapsed .lfr-page-template-description, .aui .lfr-edit-layout-panel .lfr-page-template-title.toggler-header.toggler-header-collapsed .lfr-page-template-description {
	width: auto;
}

.aui .add-content-menu .lfr-page-template-title.toggler-header.toggler-header-expanded::before, .aui .lfr-edit-layout-panel .lfr-page-template-title.toggler-header.toggler-header-expanded::before {
	content: "\e5cf";
}

.aui .add-content-menu .lfr-page-template-title.toggler-header.toggler-header-expanded.active::before, .aui .lfr-edit-layout-panel .lfr-page-template-title.toggler-header.toggler-header-expanded.active::before {
	color: #fff;
}

.aui .add-content-menu .toggler-header-expanded:before, .aui .lfr-edit-layout-panel .toggler-header-expanded:before {
	color: #8D8D8D;
	position: absolute;
	right: 5px;
	top: 0;
}

.aui .add-content-menu .accordion .accordion-group, .aui .lfr-edit-layout-panel .accordion .accordion-group {
	border-width: 0;
	margin-bottom: 0;
}

.aui .add-content-menu .accordion .accordion-heading .accordion-toggle::after, .aui .lfr-edit-layout-panel .accordion .accordion-heading .accordion-toggle::after {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -8px;
	color: #00aaff;
}

.aui .add-content-menu .accordion .accordion-heading.toggler-header-collapsed .accordion-toggle::after, .aui .lfr-edit-layout-panel .accordion .accordion-heading.toggler-header-collapsed .accordion-toggle::after {
	content: "\e409";
}

.aui .add-content-menu .accordion .accordion-heading.toggler-header-expanded .accordion-toggle::after, .aui .lfr-edit-layout-panel .accordion .accordion-heading.toggler-header-expanded .accordion-toggle::after {
	content: "\e5cf";
}

.aui .add-content-menu .accordion .nav-list, .aui .lfr-edit-layout-panel .accordion .nav-list {
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

.aui .add-content-menu .accordion .lfr-content-item, .aui .lfr-edit-layout-panel .accordion .lfr-content-item {
	padding: 0;
	padding-left: 15px;
	padding-right: 55px;
	position: relative;
}

.aui .add-content-menu .accordion .drag-content-item, .aui .lfr-edit-layout-panel .accordion .drag-content-item {
	cursor: move;
	display: inline-block;
	width: 100%;
}

.aui .portlet-actions {
	height: 21px;
}

.aui .portlet-options .open>.dropdown-menu {
	display: block;
}

.aui .portlet-options .dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: white;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
}

.aui .portlet-options .dropdown-menu>li.portlet-close>a {
	color: #C00;
}

.aui .portlet-options .dropdown-menu>li.portlet-close>a:hover, .aui .portlet-options .dropdown-menu>li.portlet-close>a:active, .aui .portlet-options .dropdown-menu>li.portlet-close>a:focus {
	background: #C00;
	color: #fff;
}

.aui .portlet-options .dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #333333;
	white-space: nowrap;
}

.aui .portlet-options .dropdown-menu>li>a:hover, .aui .portlet-options .dropdown-menu>li>a:active, .aui .portlet-options .dropdown-menu>li>a:focus {
	background: #45CBF5;
	color: #fff;
}

.aui .yui3-widget-modal.overlay .open>.dropdown-menu {
	display: block;
}

.aui .yui3-widget-modal.overlay .dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: white;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
}

.aui .yui3-widget-modal.overlay .dropdown-menu>li.portlet-close>a {
	color: #C00;
}

.aui .yui3-widget-modal.overlay .dropdown-menu>li.portlet-close>a:hover, .aui .yui3-widget-modal.overlay .dropdown-menu>li.portlet-close>a:active, .aui .yui3-widget-modal.overlay .dropdown-menu>li.portlet-close>a:focus {
	background: #C00;
	color: #fff;
}

.aui .yui3-widget-modal.overlay .dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #333333;
	white-space: nowrap;
}

.aui .yui3-widget-modal.overlay .dropdown-menu>li>a:hover, .aui .yui3-widget-modal.overlay .dropdown-menu>li>a:active, .aui .yui3-widget-modal.overlay .dropdown-menu>li>a:focus {
	background: #45CBF5;
	color: #fff;
}

.aui .yui3-widget-modal.modal {
	position: fixed;
	top: 10%;
	left: 50%;
	z-index: 1050;
	width: 560px;
	margin-left: -280px;
	background-color: white;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	background-clip: padding-box;
	outline: none;
	right: auto;
	display: block;
	overflow: hidden;
	max-height: none;
}

.aui .yui3-widget-modal.modal.modal-hidden, .aui .yui3-widget-modal.modal.hsv-palette-modal-hidden {
	display: none;
}

.aui .yui3-widget-modal .modal-body {
	position: relative;
	/* overflow-y: hidden; */
	overflow-y: auto;
	max-height: 400px;
	padding: 15px;
}

.aui .yui3-widget-modal .modal-body.dialog-iframe-bd {
	overflow: hidden;
}

.aui .yui3-widget-modal .modal-footer .btn {
	margin: 10px;
	padding: 0 25px;
}

.aui .yui3-widget-modal .modal-content {
	overflow: hidden;
	/* padding: 0; */
	padding: 20px 0;
}

.aui .yui3-widget-modal .modal-header {
	padding: 9px 15px;
	border-bottom: 1px solid #eee;
}

.aui .yui3-widget-modal .modal-header h3 {
	margin: 0;
	line-height: 30px;
	font-size: 24px;
}

.aui .yui3-widget-modal .modal-header .btn.close {
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	color: #343434;
	cursor: pointer;
	-webkit-transition: background-color .2s;
	transition: background-color .2s;
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	padding: 0 10px;
}

.aui .yui3-widget-modal .nav.nav-tabs::after {
	content: '';
	display: table;
	clear: both;
}

.aui .yui3-widget-modal .nav.nav-tabs>li {
	float: left;
}

.aui .yui3-widget-modal .nav.nav-tabs>li.active>a {
	color: #45cbf5;
	border-bottom: 2px solid #84d7f1;
}

.aui .yui3-widget-modal .nav.nav-tabs>li>a {
	color: rgba(69, 203, 245, 0.7);
	display: block;
	padding: 10px 24px;
	font-size: 14px;
	-webkit-transition: color .28s ease;
	transition: color .28s ease;
}

.aui .yui3-widget-modal .tab-pane {
	display: none;
}

.aui .yui3-widget-modal .tab-pane.tab-content, .aui .yui3-widget-modal .tab-pane.active {
	display: block;
}

.aui .yui3-widget-modal.popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1010;
	display: none;
	max-width: 276px;
	padding: 1px;
	text-align: left;
	background-color: white;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	white-space: normal;
}

.aui .yui3-widget-modal.popover.bottom {
	margin-top: 10px;
}

.aui .yui3-widget-modal .popover-content {
	padding: 9px 14px;
}

.aui .signed-in.controls-visible .portlet-nested-portlets {
	border: 3px solid #5b5858;
	margin: 50px 0;
	padding: 25px 0;
}

.aui .signed-out .colEditContentADT, .aui .signed-in.controls-hidden .colEditContentADT {
	display: none;
}

.aui .portlet-nested-portlets {
	padding: 0;
}

.aui .portlet-nested-portlets>.portlet-borderless-container>.portlet-borderless-bar {
	margin-top: -25px;
}

.aui body.dialog-iframe-popup {
	padding-top: 0;
}

.aui .signed-in .portlet-borderless-bar {
	z-index: 1200;
}

.aui .portlet-borderless-bar a {
	position: relative;
	font-size: 13px;
}

.aui .article-form-edit {
	width: 90%;
	margin: 0 auto;
}

.aui .article-form-edit .article-structure-label, .aui .article-form-edit .article-template-label {
	display: block;
}

.aui .article-form-edit .btn-group {
	position: relative;
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
	white-space: nowrap;
}

.aui .article-form-edit .btn {
	padding: .3rem .75rem;
	text-transform: none;
	font-size: 14px;
}

.aui .yui3-widget .form-navigator {
	padding: 10px;
	border: 1px solid #DDD;
	border-radius: 4px;
}

.aui .yui3-widget .form-navigator .tab-selected .tab-label {
	background: #45CBF5;
	color: #fff;
}

.aui .yui3-widget .form-navigator .tab-label {
	display: block;
	margin: 0 -10px;
	padding: 4px 10px;
}

.aui .yui3-widget.tooltip {
	position: absolute;
	z-index: 1030;
	display: block;
	visibility: visible;
	font-size: 11px;
	line-height: 1.4;
	opacity: 0;
	filter: alpha(opacity=0);
}

.aui .yui3-widget.tooltip .tooltip-inner {
	color: #fff;
	background-color: #323232;
	border-radius: 2px;
	max-width: 400px;
	overflow-wrap: break-word;
	text-align: left;
	word-wrap: break-word;
	padding: 10px 25px;
}

.aui .yui3-widget.tooltip.in {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.aui .yui3-widget.tooltip.top {
	margin-top: -3px;
	padding: 5px 0;
}

.aui .yui3-widget.tooltip.right {
	margin-left: 3px;
	padding: 0 5px;
}

.aui .yui3-widget.tooltip.bottom {
	margin-top: 3px;
	padding: 5px 0;
}

.aui .yui3-widget.tooltip.left {
	margin-left: -3px;
	padding: 0 5px;
}