.client-sup{
	color: #50535A;
	background-image: url('../images/att-cliente-bg.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	background-color: #f4f4f3;
	background-size: cover;
	@media #{$large-and-up}{
		background-size: auto;
	}
}

.client-sup__header{
	padding: 30px 0;
}

.client-sup__title {
	font-weight: 300;
	font-size: 32px;
	color: #50535A;
	line-height: 40px;
	text-align: center;
	margin: 0;
	margin-bottom: 24px;
	@media #{$large-and-up}{
		font-size: 64px;
		line-height: normal;
	}
}

.client-sup__content {
	display: none;
	text-align: center;
	font-weight: 300;
	font-size: 24px;
	line-height: 32px;
	@media #{$large-and-up}{
		display: block;
		max-width: 720px;
		margin: 25px auto 45px;
	}
}

.client-sup__search-container {
	width: 100%;
	margin: auto;
	padding: 15px;

	@media #{$medium-and-up}{
		width: 70%;
		padding: 0;
	}
	@media #{$large-and-up}{
		width: 815px;
		margin: 0 auto;
		border:0;
	}
}

.client-sup__search-container .autocomplete-container{
	max-width: 100%;
	width: 100%;
}

.client-sup__grid-container{
	max-width: 1280px;
	margin: 0 auto;
	@media #{$medium-and-up} {
		width: 85%;
		padding: 30px 0;

	}
}

.client-sup__grid {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 7px;
	/*margin-left: -8px;
	margin-right: -8px;
	padding: 0 15px;*/
}

.client-sup__grid-item{
	width: 50%;
	padding: 0 8px 16px;
	@media #{$large-and-up}{
		width: 33%;
	}
}

.client-sup__grid-item--featured {
	width: 100%;
	text-align: center;

	@media #{$large-and-up}{
		width: 33%;
		text-align: left;
	}

	.client-sup__grid-link {
		&::before{
			background: #EC6839;
		}
	}

	.client-sup__icon{
		color: #EC6839;
	}
}

.client-sup__grid-item--sec{

	.client-sup__grid-link {
		&::before{
			background: #0299D8;
		}
	}

	.client-sup__icon{
		color: #0299D8;;
	}


}

.client-sup__grid-item--shrink {
	@media #{$large-and-up}{
		width: 16.3%;
		text-align: left;
	}

	.client-sup__grid-title {

		@media #{$large-and-up}{
			font-size: 20px;
			letter-spacing: 0;
			line-height: 24px;
		}
	}
}

.client-sup__grid-link{
	display: flex;
	flex-direction: column;
	height: 100%;
	background: #FFFFFF;
	padding: 15px;
	position: relative;
	border-radius: 2px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	@media #{$medium-and-up}{
		padding: 25px 15px 20px;
	}
	@media #{$extra-large-and-up}{
		padding: 28px 20px;
	}



	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 8px;
		background: #55AF07;
		position: absolute;
		top: 0;
		left: 0;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
	}
}

.client-sup__grid-title {
	font-size: 18px;
	color: #50535A;
	letter-spacing: 0.03px;
	line-height: 24px;
	margin: 0;
	margin-top: auto;
	@media #{$large-and-up}{
		font-size: 28px;
		letter-spacing: 0;
		line-height: 32px;
		font-weight: 300;
	}
}

.client-sup__icon{
	color: #55AF07;
	font-size: 24px;
	margin-bottom: 16px;
	@media #{$large-and-up}{
		font-size: 40px;
	}
}
