.hero-products {
	/* background: #e9eae8;
	color: #50535A;
	padding-top: 45px; */
	@media #{$large-and-up} {
		background-image: url(../images/att-cliente-bg.png);
		background-repeat: no-repeat;
		background-position: bottom center;
		background-color: #e9eae8;
	}
}

.hero-products.without-curve {
	background-color: #fff;
	background-image: none;
}

.hero-products__header {
	background-image: url(../images/att-cliente-bg-mobile.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 100%;
	background-color: #5bc500;
	@media #{$large-and-up} {
		background-image: none;
		background-color: #e9eae8;
		padding-bottom: 40px;
	}
}

.hero-products__header.without-curve {
	background-color: #fff;
}

.hero-products__title{
	font-weight: 300;
	font-size: 32px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	padding: 50px 30px 80px;
	//background-image: url(../images/att-cliente-bg-mobile.png);
	background-repeat: no-repeat;
	background-position: 30% bottom;
	background-size: 150%;
	background-color: #5bc500;
	margin: 0;
	@media #{$medium-and-up} {
		padding: 50px 30px 125px;
		width: 100%;
		background-size: 200%;
		margin: 0 auto;
		background-position: 32% bottom;

	}
	@media #{$large-and-up} {
		font-size: 40px;
		padding-top: 40px;
		padding-bottom: 20px;
		max-width: 1280px;
		line-height: 60px;
		color: #50535a;
		background: transparent;
		text-overflow: ellipsis;
		width: 70%;
		overflow: hidden;
	}
	@media #{$extra-large-and-up} {
		width: 50%;
	}
}

.hero-products__content {
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	color: #666;
	padding: 0 20px 20px;
	background: #fff;
	line-height: 32px;
	margin: -15px auto 0;
	width: 100%;
	@media #{$medium-and-up} {
		padding: 0 20% 20px;
		margin: -35px auto 0;
	}
	@media #{$large-and-up} {
		background: transparent;
		max-width: 80%;
		padding: 0;
		margin: 0 auto;
	}
}

.pricing-carousel__filters {
	display: none;
	@media #{$large-and-up} {
		display: block;
	}
}
