$heroDesktopHeigth: 500px;
$heroMaxHeight: 500px;


.hero{
	height: 100vh;
	background-color: #e9eae8;
	position: relative;
	overflow: hidden;
	margin-top: (-$nav-height-mobile);
	/*margin-top: -114px;*/
	max-height: $heroMaxHeight;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: cover;
	@media #{$large-and-up}{
		height: $heroDesktopHeigth;
		max-height: none;
		margin-top: -56px;
	}
}

.hero__slider-background {
	height: 100%;
	width: 100%;
	z-index: 0;
}

.hero__item__background-color{
	&.background-blue{
		background-color: #00a9e0;
	}
	&.background-green{
		background-color: #5bc500;
	}
	&.background-gray{
		background-color: #e9eae9;
	}
}

.hero__shape-container{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin-top: 2px;
	pointer-events: none;
	z-index: 1;
}

.hero__shape-img{
	width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    @media (min-width: 1920px) {
		background-size: cover;
    }	
}

.hero__slider {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 3;
}

.hero__item{
	height: 100vh;
	background-size: cover;
	max-height: $heroMaxHeight;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	text-align: center;
	@media #{$large-and-up} {
		height: $heroDesktopHeigth;
		align-items: flex-start;
		justify-content: center;
		max-height: none;
	}
}

.hero__text{
	font-size: 16px;
	color: #50535A;
	line-height: 24px;
	font-weight: normal;
	max-width: 200px;
	margin-top: 20px;
	position: relative;
}

.hero__title{
	font-size: 40px;
	color: #50535A;
	letter-spacing: -0.6px;
	line-height: 48px;
	font-weight: 100;
	max-width: 180px;
	margin-top: 27px;
	position: relative;
}

.hero__button{
	height: 48px;
	text-transform: none;
	width: 144px;
	line-height: 48px;
	margin-top: 33px;
	position: relative;
	text-decoration: none;
	color: white;
	border: none;
	border-radius: 2px;
	text-align: center;
	letter-spacing: .5px;
	outline: 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

.hero__bg-image{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
	line-height: 1;

	img {
		vertical-align: bottom;
	}
}

.progress-dots{
	display: flex;
	margin: 0 -5px;
	@media #{$large-and-up}{
		justify-content:center;
	}

	> li {
		height: 30px;
		margin: 0 5px;
		width: 40px;
		vertical-align: middle;
		cursor: pointer;
		@media #{$large-and-up}{
			width: 80px;
		}
	}
}

.progress-dots__item {
	display: inline-block;
	width: 100%;
}

.hero__dots {
	@media #{$large-and-up} {
		.progress-dots__progress-inner {
			background-color: #53bf02;
		}
	}
}

.progress-dots__progress{
	background-color: #cdcecd;
	height: 4px;
	border-radius: 4px;
	overflow: hidden;

}

.progress-dots__progress-inner {
	background: #75777c;
	height: 4px;
	width:0;
}


.hero__dots{
	position: absolute;
	bottom: -13px;
	left: 0;
	width: 100%;
	z-index: 5;
	display: flex;
	justify-content: center;
	@media #{$large-and-up}{
		bottom: -10px;
	}
}

.hero__dot {
	cursor: pointer;
	cursor: hand;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: inline-block;
	zoom: 1;
	flex: 1;
	text-align: center;
	box-sizing: border-box;
	background: rgba(211, 212, 211, 0.71);
	border-radius: 50px;
	margin: 0 2px;
	max-width: 32px;
	@media #{$large-and-up} {
		margin: 0 4px;
		max-width: 80px;
	}

	&.active {
		span {
			opacity: 1;
			background: #86888C;
		}
	}

	span {
		display: block;
		transition: opacity 200ms ease;
		margin: 0;
		background: transparent;
		border-radius: 4px;
		opacity: 0;
		width: 100%;
		height: 2px;
		@media #{$large-and-up}{
			height: 4px;
		}
	}
}

.hero__arrows {
	max-width: 1280px;
	margin: 0 auto;
	width: 85%;
	position: absolute;
	height: 48px;
	top: 30%;
	left: 50%;
	transform: translate(-50%,0);
	z-index: 4;
	pointer-events:none;

	.slick-arrow {
		pointer-events:auto;
	}
	.slick-prev:before, .slick-next:before{
		background-color: rgba(158, 158, 158, 0.45);
	}
	.slick-prev:hover:before, .slick-next:hover:before{
		background-color: rgba(158, 158, 158, 0.75);
	}
}

.hero__arrows .slick-prev {
	left: -65px;
}

.hero__arrows .slick-next {
	right: -65px;
}


.owl-progress {
	&.hero__dots {
	}

	.hero__dot {
		&.active {
			span {
				opacity: 1;
				background: #86888C;
			}
		}

		span {
			opacity: 0;
			width: 0;
		}
	}
}

.hero__slider-container{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
}

.hero__container-image {
	height: 500px;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	@media #{$large-and-up}{
		width: 85%;
		max-width: 1280px;
		margin: 0 auto;
	}
}

.hero__content-wraper{
	position: relative;
	cursor: pointer;
	width: 100%;
	padding: 0 20px;
	.btn{
		z-index: 4;
	}
	@media #{$large-and-up} {
		top: 25px;
	}
}

.hero__bg-desktop,
.hero__bg-mobile {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0
}
.hero__link{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
}

.hero__item-image {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
}

.hero__overlay {
	background: #000;
	opacity: 0.15;
	pointer-events: none;
	width: 100%;
	min-width: 100%;
	height: 100%;
	/*position: absolute;*/
	top: 0;
	z-index: 0;
}

.owl-carousel {
	.owl-item{
		img {
			&.hero__bg-desktop{
				display: none;
				@media(min-width: 599px) {
					display: block;
				}
			}

			@media(min-width: 599px) {
				&.hero__bg-mobile{
					display: none;
				}
			}
		}
	}
}

.hero__item-text{
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
	@media #{$medium-and-up}{
		max-width: 55%;
	}
	@media #{$large-and-up}{
		margin-bottom: 15px;
		&.center-items{
			margin: 0 auto;
		}
		&.left-items{
			margin-left: 0;
		}
		&.right-items{
			margin-right: 50px;
		}
	}
	@media #{$extra-large-and-up}{
		&.right-items{
			margin-right: 180px;
		}
	}
}

.hero__item-subtitle-mobile {
	display: block;
	opacity: 0.8;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0.2px;
	line-height: 24px;
	font-weight: normal;
	margin: 0;
	@media #{$large-and-up}{
		display: none;
	}
}
.hero__item-subtitle{
	display: block;
	opacity: 0.8;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0.2px;
	line-height: 24px;
	font-weight: normal;
	@media #{$large-and-up}{
		display: block;
		opacity: 0.8;
		color: #FFFFFF;
		letter-spacing: 0.2px;
		line-height: 24px;
		font-weight: normal;
		font-size: 20px;
		margin: 10px 0;
	}
}

.hero__item-subtitle-desktop {
	display: none;
	@media #{$large-and-up}{
		display: block;
		opacity: 0.8;
		color: #FFFFFF;
		letter-spacing: 0.2px;
		line-height: 24px;
		font-weight: normal;
		font-size: 20px;
		padding: 10px 0;
		margin: 0;
	}
}

.hero__item-title-mobile {
	display: block;
	font-size: 30px;
	line-height: 40px;
	color: #FFFFFF;
	font-weight: 300;
	overflow: hidden;
	/*text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;*/
	margin: 0;
	@media #{$large-and-up}{
		display: none;
	}

}
.hero__item-title {
	display: block;
	font-size: 30px;
	line-height: 40px;
	color: #FFFFFF;
	font-weight: 300;
	@media #{$large-and-up}{
		display: block;
		color: #FFFFFF;
		font-weight: 300;
		font-size: 60px;
		line-height: 70px;
		overflow: hidden;
		/*text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;*/
	}
	@media #{$extra-large-and-up}{
		font-size: 65px;
	}
}
.hero__item-title-desktop {
	display: none;
	@media #{$large-and-up}{
		display: block;
		color: #FFFFFF;
		font-weight: 300;
		font-size: 45px;
		line-height: 73px;
		overflow: hidden;
		/*text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;*/
		padding: 10px 0;
		margin: 0;
	}
	@media #{$extra-large-and-up}{
		font-size: 63px;
	}
}
.hero__item-conditions{
	color: #dedede;
	font-size: 12px;
	max-width: 90%;
	margin: 10px auto;

	@media #{$medium-and-up}{
		max-width: 55%;
	}
	@media #{$large-and-up}{
		&.center-items{
			margin: 10px auto;
		}
		&.left-items{
			margin-left: 0;
		}
		&.right-items{
			margin-right: 50px;
		}
	}
	@media #{$extra-large-and-up}{
		&.right-items{
			margin-right: 180px;
		}
	}
}
.hero__item-button {
	max-width: 90%;
	margin: 10px auto;
	text-align: center;
	@media #{$medium-and-up}{
		max-width: 55%;
	}
	@media #{$large-and-up}{
		&.center-items{
			margin: 0 auto;
		}
		&.left-items{
			margin-left: 0;
		}
		&.right-items{
			margin-right: 50px;
		}
	}
	@media #{$extra-large-and-up}{
		&.right-items{
			margin-right: 180px;
		}
	}	
}

.hero__item-two-buttons{
	width: 90%;
	margin: 10px auto;
	@media #{$medium-and-up}{
		max-width: 55%;
	}
	.button-white {
		background: #fff;
		color: #0098d9;
		box-shadow: none;
		height: 38px;
		line-height: 38px;
		width: 90%;
		margin: 5px auto;
		box-shadow: 1px 2px 7px 0px grey;
		&:hover{
			box-shadow: 1px 2px 7px 0px grey;
		}
		@media #{$medium-and-up}{
			width: 144px;
			margin-right: 10px;
		}
		@media #{$large-and-up}{
		    height: 45px;
		    width: 200px;
		    line-height: 45px;
		}
	}
	.button-green{
		width: 90%;
		margin: 5px auto;
		@media #{$medium-and-up}{
			width: 144px;
			margin: 0;
		}
		@media #{$large-and-up}{
			width: 200px;
		}
	}
	@media #{$large-and-up}{
		&.center-items{
			margin: 0 auto;
		}
		&.left-items{
			margin-left: 0;
		}
		&.right-items{
			margin-right: 50px;
			margin-left: auto;
		}
	}
	@media #{$extra-large-and-up}{
		&.right-items{
			margin-right: 180px;
		}
	}
}

.hero__item-call-to-action{
	height: 38px;
	width: 90%;
	margin: 0 auto;
	text-transform: none;
	z-index: 3;

	@media #{$medium-and-up}{
		width: 144px;
	}	

	@media #{$large-and-up}{
		height: 45px;
		width: 200px;
		line-height: 45px;
	}
}

.hero__item-container-input{
	width: 90%;
	margin: 10px 5%;
	display: inline-block;
	@media #{$medium-and-up}{
		max-width: 50%;
		margin: 10px auto;
	}
	input[type=text]:not(.browser-default).md{
		margin: 0 auto;
		width: 90%;
		border-radius: 5px;
		background: white;
		color: #86888C;
		border: transparent;
		height: 38px;
		line-height: 38px;

		@media #{$medium-and-up}{
			float: left;
			margin: 0;
			width: 70%;
			border-radius: 5px 0 0 5px;
		}
		@media #{$large-and-up}{
			height: 45px;
			line-height: 45px;
		}
	}
	.btn{
		width: 90%;
		margin: 5px  auto;
		color: #FFF;
		border-radius: 5px;
		@media #{$medium-and-up}{
			float: left;
			margin: 0;
			width: 30%;
			border-radius: 0 5px 5px 0;
		}
	}
	@media #{$large-and-up}{
		&.center-items{
			margin: 10px auto;
		}
		&.left-items{
			margin-left: 0;
		}
		&.right-items{
			margin-right: 50px;
			margin-left: auto;
		}
	}
	@media #{$extra-large-and-up}{
		&.right-items{
			margin-right: 180px;
		}
	}
}

.hero__item-input{
	position: relative;
	z-index: 4;
}
.hero__item-freehtml{
	position: relative;
	z-index: 4;
}

.hero__item-freehtml-container{
	display: none;
	@media #{$medium-and-up}{
		display: block;
	}
}

.hero__item-freehtml-button{
	display: block;
	@media #{$medium-and-up}{
		display: none;
	}
}

.hero-item-check-wrapper{
	width: 90%;
	margin: 10px auto;
	@media #{$medium-and-up}{
		width: 100%;
		margin: 0 auto;
	}
}
.hero-call__check.process[type="checkbox"] + label{
	padding: 13px 10px 13px 30px;
	text-align: left;
	color: #CCC;
	font-size: 14px;
	top: 0;
	left: 0;
	width: auto;

	@media #{$medium-and-up}{
		padding: 13px 15px 13px 28px;
		font-size: 16px;
	}
	a{
		color: #CCC;
		text-decoration: underline;
	}
	&:after{
		left: 0;

		@media #{$medium-and-up}{
			left: 0;
		}
	}
	&:before{
		left: 5px;

		@media #{$medium-and-up}{
			left: 5px;
		}
	}
}
.hero-call__check.process[type="checkbox"]:checked + label{
	background-color: transparent;
}


/* Color Variations Theme */
.movistar--green {
	.hero__item-call-to-action {
		background: $main-green;
		&.button-blue{
			background-color: $main-blue;
		}
	}
	@media #{$large-and-up}{
		.hero__dots .progress-dots__progress-inner{
			background-color: $main-green;			
		}
	}	
}

.movistar--blue {
	.hero__item-call-to-action {
		background: $main-blue;
		&.button-green{
			background-color: $main-green;
		}		
	}
	@media #{$large-and-up}{
		.hero__dots .progress-dots__progress-inner{
			background-color: $main-blue;
		}
	}		
}



@import 'client-sup';
@import 'hero-products';
@import 'hero-personalizacion';
@import 'hero-color';
