$heroDesktopHeigth: 494px;
$heroMaxHeight: 500px;



.hero{
	height: 100vh;
	background-color: #e9eae8;
	position: relative;
	overflow: hidden;
	margin-top: -$nav-height;
	max-height: $heroMaxHeight;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: cover;
	@media #{$large-and-up}{
		height: $heroDesktopHeigth;
		max-height: none;
		margin-top: -$nav-height + $nav-sec;
}
}

.hero__item{
	height: 100vh;
	background-size: cover;
	max-height: $heroMaxHeight;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	@media #{$large-and-up} {
		height: $heroDesktopHeigth;
		align-items: flex-start;
		justify-content: center;
		max-height: none;
		padding-top: 120px;
	}
}

.hero__item--centered {
	/* padding: 0 40px; */
	text-align: center;
}

.hero__svg{
	position: absolute;
	z-index: 5;
	transform-origin: 50% 50%;
	transform: translate3d(-30%,45%,0);
	bottom: 0;
	pointer-events: none;
}

.hero__text{
	font-size: 16px;
	color: #50535A;
	line-height: 24px;
	font-weight: normal;
	max-width: 200px;
	margin-top: 20px;
	position: relative;
	z-index: 1;
}

.hero__title{
	font-size: 40px;
	color: #50535A;
	letter-spacing: -0.6px;
	line-height: 48px;
	font-weight: 100;
	max-width: 150px;
	margin-top: 27px;
	position: relative;
	z-index: 1;
}

.hero__button{
	height: 48px;
	text-transform: none;
	width: 144px;
	line-height: 48px;
	margin-top: 33px;
	position: relative;
	z-index: 1;
	text-decoration: none;
	color: white;
	border: none;
	border-radius: 2px;
	text-align: center;
	letter-spacing: .5px;
	outline: 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

.hero__bg-image{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
	line-height: 1;

	img {
		vertical-align: bottom;
	}
}




.hero__shape-container{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 2;
}

.hero__shape-img{
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.hero__shape{
	/* width: auto;
	height: auto; */
	fill: currentColor;
	vertical-align: bottom;
	color: #fff;
	position: relative;
	top: 37%;
	left: 50%;
	pointer-events: none;
	transform: translate(-51%, -46%) rotate(35deg) scale(0.15, 0.15);
	/*@media(min-width: 380px) {
		left: 20%;
		transform: translate(-51%, -46%) rotate(45deg) scale(0.15, 0.15);
	}*/
	@media(min-width: 599px) {
		/*left: 50%;*/
		transform: translate(-51.5%, -46.5%) rotate(23deg) scale(.6, .6);
	}
	@media #{$large-and-up} {
		transform: translate(-55%, -46%) scale(1.2) rotate(37deg);
	}
}


.progress-dots{
	display: flex;
	margin: 0 -5px;
	@media #{$large-and-up}{
		justify-content:center;
	}

	> li {
		height: 30px;
		margin: 0 5px;
		width: 40px;
		vertical-align: middle;
		cursor: pointer;
		@media #{$large-and-up}{
			width: 80px;
		}
	}
}

.progress-dots__item {
	display: inline-block;
	width: 100%;
}

.hero__dots {
	@media #{$large-and-up} {
		.progress-dots__progress {
			background-color: rgba(255, 255, 255, 0.8);
		}

		.progress-dots__progress-inner {
			background-color: #53bf02;
		}
	}
}

.progress-dots__progress{
	background-color: #cdcecd;
	height: 4px;
	border-radius: 4px;
	overflow: hidden;

}

.progress-dots__progress-inner {
	background: #75777c;
	height: 4px;
	width:0;
}


.hero__dots{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 14px 15px;
	z-index: 3;
	display: flex;
	justify-content: center;
	@media #{$large-and-up}{
		padding: 0;
		justify-content: center;
		bottom: 15%;
	}
}

.hero__dot {
	cursor: pointer;
	cursor: hand;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: inline-block;
	zoom: 1;
	flex: 1;
	text-align: center;
	box-sizing: border-box;
	background: rgba(211, 212, 211, 0.71);
	border-radius: 100px;
	margin: 0 2px;
	max-width: 32px;
	@media #{$large-and-up} {
		margin: 0 4px;
		max-width: 80px;
	}

	&.active {
		span {
			opacity: 1;
			background: #86888C;
		}
	}

	span {
		display: block;
		transition: opacity 200ms ease;
		margin: 0;
		background: transparent;
		border-radius: 4px;
		opacity: 0;
		width: 100%;
		height: 2px;
		@media #{$large-and-up}{
			height: 4px;
		}
	}
}

.hero__arrows {
	max-width: 1280px;
	margin: 0 auto;
	width: 80%;
	position: absolute;
	height: 48px;
	top: 40%;
	left: 50%;
	transform: translate(-50%,0);
	z-index: 2;
	pointer-events:none;

	.slick-arrow {
		pointer-events:auto;
	}
	.slick-prev:before, .slick-next:before{
		background-color: rgba(158, 158, 158, 0.45);
	}
	.slick-prev:hover:before, .slick-next:hover:before{
		background-color: rgba(158, 158, 158, 0.75);
	}
}


.owl-progress {
	&.hero__dots {
	}

	.hero__dot {
		&.active {
			span {
				opacity: 1;
				background: #86888C;
			}
		}

		span {
			opacity: 0;
			width: 0;
		}
	}
}


.hero__content-wraper{
	position: relative;
	cursor: pointer;
	width: 100%;
	z-index: 3;
}

.hero__bg-desktop,
.hero__bg-mobile {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
.hero__link{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
}
.hero__overlay {
	background: #000;
	opacity: .2;
	pointer-events: none;
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

.owl-carousel {
	.owl-item{
		img {
			&.hero__bg-desktop{
				display: none;
				@media(min-width: 599px) {
					display: block;
				}
			}

			@media(min-width: 599px) {
				&.hero__bg-mobile{
					display: none;
				}
			}
		}
	}
}

.hero__item-text{
	max-width: 90%;
	margin: 0 auto;
	&.center-items{
		text-align: center;
	}
	&.left-items{
		text-align: left;
	}
	&.right-items{
		text-align: right;
	}
	@media #{$medium-and-up}{
		max-width: 45%;
	}
}

.hero__item-subtitle-mobile {
	display: block;
	opacity: 0.8;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0.2px;
	line-height: 24px;
	font-weight: normal;
	@media #{$large-and-up}{
		display: none;
	}
}
.hero__item-subtitle{
	display: block;
	opacity: 0.8;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0.2px;
	line-height: 24px;
	font-weight: normal;
	@media #{$large-and-up}{
		display: block;
		opacity: 0.8;
		color: #FFFFFF;
		letter-spacing: 0.2px;
		line-height: 24px;
		font-weight: normal;
		font-size: 20px;
		margin: 10px 0;
	}
}

.hero__item-subtitle-desktop {
	display: none;
	@media #{$large-and-up}{
		display: block;
		opacity: 0.8;
		color: #FFFFFF;
		letter-spacing: 0.2px;
		line-height: 24px;
		font-weight: normal;
		font-size: 20px;
		margin: 10px 0;
	}
}

.hero__item-title-mobile {
	display: block;
	font-size: 30px;
	line-height: 40px;
	color: #FFFFFF;
	font-weight: 300;
	/*padding:0 15px;*/
	@media #{$large-and-up}{
		display: none;
	}

}
.hero__item-title {
	display: block;
	font-size: 30px;
	line-height: 40px;
	color: #FFFFFF;
	font-weight: 300;
	margin: 0; 
	@media #{$large-and-up}{
		display: block;
		color: #FFFFFF;
		font-weight: 300;
		font-size: 60px;
		line-height: 70px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	@media #{$extra-large-and-up}{
		font-size: 65px;
	}
}
.hero__item-title-desktop {
	display: none;
	@media #{$large-and-up}{
		display: block;
		color: #FFFFFF;
		font-weight: 300;
		font-size: 60px;
		line-height: 70px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	@media #{$extra-large-and-up}{
		font-size: 65px;
	}
}
.hero__item-conditions{
	color: #bebebe;
	font-size: 16px;
	max-width: 90%;
	margin: 0 auto;
	margin-bottom: -20px;

	@media #{$medium-and-up}{
		max-width: 45%;
	}

	&.center-button{
		text-align: center;
	}
	&.left-button{
		text-align: left;
	}
	&.right-button{
		text-align: right;
	}
}
.hero__item-button {
	max-width: 90%;
	margin: 0 auto;
	@media #{$medium-and-up}{
		max-width: 45%;
	}
	&.center-button{
		text-align: center;
	}
	&.left-button{
		text-align: left;
	}
	&.right-button{
		text-align: right;
	}
}

.hero__item-call-to-action{
	height: 38px;
	width: 144px;
	margin: 30px auto 0;
	text-transform: none;
	z-index: 3;

	@media #{$large-and-up}{
		height: 45px;
		line-height: 45px;
		width: 200px;
	}
}

@import 'client-sup';
@import 'hero-products';
@import 'hero-personalizacion';
@import 'hero-static';
@import 'hero-color';
@import 'hero-call';
