.hero-call{
	.hero__item-title{
		@media #{$large-and-up}{
			font-size: 50px;
		}
	}
	.hero__item-subtitle {
		@media #{$large-and-up}{
			font-size: 16px;
			margin-bottom: 0;
			margin: 10px 0;
		}
	}
	.hero__dots{
		display: none;
	}
}
.hero-call .hero__shape-container{
	z-index: 4;
}
.click-to-call-input-button-wrapper{
	margin-top: 20px;
	margin-left: 15%;
	width: 70%;
	@media #{$medium-and-up}{
		margin-left: 25%;
		width: 50%;
	}
	input[type=text]:not(.browser-default).md{
		float: left;
		margin: 0;
		width: 70%;
		border-radius: 5px 0 0 5px;
		height: 38px;

		@media #{$large-and-up}{
			height: 45px;
		}
	}
	.btn{
		color: #FFF;
		float: left;
		margin: 0;
		width: 30%;
		border-radius: 0 5px 5px 0;
	}
}

.click-to-call-two-buttons-wrapper{
	margin-left: 15%;
	width: 70%;
	@media #{$medium-and-up}{
		margin-left: 25%;
		width: 50%;
	}
	.btn{
		color: #FFF;
		width: 48%;
		float: left;
		border-radius: 5px;
	}
	.hero-call-white-btn {
		background: #fff;
		color: #0098d9;
		box-shadow: none;
		font-size: 17px;
		border-radius: 5px;
		margin-right: 4%;
	}
}
.hero-call-check-wrapper{
	width: 80%;
	margin-left: 10%;
	@media #{$medium-and-up}{
		width: 50%;
		margin-left: 25%;
	}
}
.hero-call__check.process[type="checkbox"] + label{
	padding: 13px 10px 13px 30px;
	text-align: left;
	color: #CCC;
	font-size: 16px;
	top: 0;
	left: 0;
	width: auto;

	@media #{$medium-and-up}{
		padding: 13px 15px 13px 28px;
	}
	a{
		color: #CCC;
		text-decoration: underline;
	}
	&:after{
		left: 0;

		@media #{$medium-and-up}{
			left: 0;
		}
	}
	&:before{
		left: 5px;

		@media #{$medium-and-up}{
			left: 5px;
		}
	}
}
.hero-call__check.process[type="checkbox"]:checked + label{
	background-color: transparent;
}
