.hero-personalizacion {
	background-color: #e9eae8;
	position: relative;
	overflow: hidden;
}

.hero-personalizacion__star {
	position: absolute;
	top: -100px;
	right: -80px;
	z-index: 0;
}

.hero-personalizacion__heart {
	position: absolute;
	top: 260px;
	left: -250px;
	z-index: 0;
}

.hero-personalizacion__header {
	padding-top: 35px;
	padding-bottom: 15px;
	position: relative;
	z-index: 1;
}

.hero-personalizacion__title {
	font-weight: 300;
	color: #50535A;
	text-align: center;
	margin-bottom: 24px;
	font-size: 64px;
	line-height: normal;
	margin: 0;
}

.hero-personalizacion__content {
	text-align: center;
	font-weight: 300;
	font-size: 24px;
	line-height: 32px;
	max-width: 720px;
	margin: 15px auto 25px;
}

.hero-personalizacion__switch-container {
	text-align: center;
	position: relative;
	z-index: 1;
}

.personalizacion-panel{
	padding: 20px 43px;
	background: #fff;
	margin-top: 20px;
	border-radius: 4px;
	margin-bottom: 30px;
	position: relative;
	z-index: 1;
}

.personalizacion-panel__header {
	display: flex;
	justify-content: flex-end;
	border-bottom: 4px solid #f4f4f3;
	padding: 0 10px 5px;
	position: relative;
	z-index: 1;
}

.personalizacion-panel__title {
	margin-right: auto;
	font-weight: 300;
	color: #50535A;
	font-size: 32px;
	margin: 0;
}

.personalizacion-panel__type {
	display: flex;
	> p{
		margin-right: 15px;
	}
}

.personalizacion-panel__phone{
	width: 290px;
	.input-field{
		position: relative;
	}
}

input[type="text"]{
	&.personalizacion__phone-input{
		width: 100%;
		background: transparent;
		border: 1px solid transparent;
		outline: 0;
		border-radius: 4px;
		height: 48px;
		font-size: 18px;
		color: #63666d;
		border: 1px solid #e9eae8;
		padding: 15px;
		&:focus{
			border: 1px solid #0098D9;
		}

		& + label {
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			text-align: center;
			color: #989a9e;
			height: 48px;
			line-height: 48px;
			font-size: 16px;
			background: #e9eae8;
			border-radius: 4px;

			.icon-phone {
				position: absolute;
				top: 16px;
				left: 16px;
			}

			&.active {
				display: none;
			}
		}
	}
}

.personalizacion-panel__text {
	max-width: 900px;
	font-weight: 300;
	margin: 35px auto 30px;
	font-size: 24px;
}

.personalizacion-panel__panel-container {
	background: transparent;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 0;
	max-width: 950px;
	margin: 0 auto;
}

.personalizacion-panel__submit-container {
	text-align: center;
	margin-bottom: 20px;
}

.personalizacion-panel__submit {
	width: 160px;
	height: 50px;
}


/* Color Variations Theme */
.movistar--green {
	.personalizacion-panel__submit {
		background: $main-green;
	}
}

.movistar--blue {
	.personalizacion-panel__submit {
		background: $main-blue;
	}
}

