.hero-static {
	height: 300px;
	background-color: #e9eae8;
	position: relative;
	overflow: hidden;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	@media #{$medium-and-up}{
			height: 640px;
	}
	@media #{$large-and-up}{
	
		max-height: none;

		.hero__item-call-to-action {

		}
    }
}

.hero-static__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .2;
    pointer-events: none;
}

.hero-static__shape-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 2;
	background-image: url('../images/hero-static-shape-mobile.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	@media #{$large-and-up}{
		background-image: url('../images/hero-static-shape.png');
    }
}

.hero-static__container {
	padding: 30px 15px;
	margin: 0 auto;
	width: 70%;

	&::after {
		content: '';
		display: table;
		clear: both;
	}

	@media #{$large-and-up}{
		background-image: url('../images/hero-static-shape.png');
		width: 85%;
		max-width: 1280px;
    	margin-top: 80px;
    }
}

.hero-static__item-title {
	font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;

    @media #{$large-and-up}{
        font-size: 50px;
        line-height: 70px;
        margin: 0 auto;
        text-align: left;
    }

    @media #{$extra-large-and-up}{
        font-size: 65px;
    }
}

.hero-static__content-wraper {
	text-align: center;
	position: relative;
    z-index: 3;

	@media #{$large-and-up}{
		text-align: left;
		width: 40%;
		float: right;
    }

	   
}

.hero-static__item-subtitle {
	text-align: center;
	opacity: 0.8;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
    line-height: 24px;
    font-weight: normal;

    @media #{$large-and-up}{
        font-size: 20px;
        margin-bottom: 10px;
        text-align: left;
    }
}