.hero-color {
	text-align: center;
    padding: 50px 0;

	@media #{$large-and-up}{
		display: block;
	}
}

.hero-color--green {
	background-color: $main-green;

	.hero-color__title {
		@include title-h2(#fff);
	}

	.hero-color__text {
		@include body-copy-1(#fff);
		margin-top: 15px;
	}

}

.hero-color--blue {
	background-color: $main-blue;
}

.hero-color--grey {
	@media #{$large-and-up}{
		background-color: $grey-0;
	}

	.hero-color__title {
		@include title-h2;
	}

	.hero-color__text {
		@include body-copy-1;
		margin-top: 15px;
	}

}

