.nat-title--header {
    position: relative;
    &.nat-title--header-space-sm {
        margin-bottom: 25px;
    }
    &.nat-title--header-space-md {
        margin-bottom: 25px;
        @media only screen and (min-width: 992px) {
            margin-bottom: 40px;
        }
    }
    &.nat-title--header-space-lg {
        margin-bottom: 32px;
        @media only screen and (min-width: 992px) {
            margin-bottom: 60px;
        }
    }
    .title {
        font-size: 32px;
        font-weight: 300;
        color: $blue-dark;
        margin: 0;
        @media only screen and (min-width: 992px) {
            font-size: 40px;
        }
        @media only screen and (max-width: 991px) {
            text-align: center!important;
        }
    }
    .description {
        font-size: 18px;
        font-weight: 300;
        color: $gray-dark;
        margin: 0;
        margin-top: 10px;
        @media only screen and (max-width: 991px) {
            text-align: center!important;
        }
        &.description--small {
            font-size: 18px;
        }
        &.description--normal {
            font-size: 18px;
            @media only screen and (min-width: 992px) {
                font-size: 24px;
            }
        }
        &.description--large {
            font-size: 20px;
            @media only screen and (min-width: 992px) {
                font-size: 30px;
            }
        }
    }
}