.natShortcut{
    padding: 39px 0;
    @media only screen and (min-width: 992px){
        padding: 60px 0;
    }
    .container{
        max-width: 600px;
        padding: 0 15px;
        @media only screen and (min-width: 992px){
            max-width: 990px;
            padding: 0 30px;
        }
    }
    .natShortcut__header{
        margin-bottom: 60px;
        .title{
            @include tipography-300;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            margin: 0;
            @media only screen and (min-width: 992px){
                font-size: 40px;
                line-height: 50px;
            }
        }
    }
    .natShortcut__content{
        @media only screen and (min-width: 992px){
            overflow: visible;
        }
        .list{
            margin: -15px 0;
            @media only screen and (min-width: 992px){
                margin: -15px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                transform: inherit;
                width: inherit;
            }
        }
        .item{
            padding: 15px 15px;
            margin: 0 auto;
            height: auto;
            @media only screen and (min-width: 992px){
                max-width: 330px;
                margin: 0;
                padding: 15px;
            }
            @media (max-width: 992px){
                width: 100%;
                float: none;
            }
        }
        .item__content{
            position: relative;
            padding: 30px;
            background: $white;
            box-shadow: 0px 5px 10px rgba(55, 63, 65, 0.1);
            border-radius: 5px;
            z-index: 0;
            text-align: center;
            height: 100%;
            transition-duration: 0.3s;
            @media only screen and (min-width: 992px){
                &:before{
                    content: "";
                    position: absolute;
                    border-radius: 5px;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: $skyblue;
                    transform: scaleX(0);
                    transform-origin: 0 50%;
                    transition-property: transform;
                    transition-duration: 0.3s;
                    transition-timing-function: ease-out;
                }
                &:hover{
                    &:before{
                        transform: scaleX(1);
                    }
                    .image{
                        color: $white;
                        transition-duration: 0.3s;
                    }
                    .title{
                        a{
                            color: $white;
                            transition-duration: 0.3s;
                        }
                    }
                    .btn{
                        background: $white;
                        color: $skyblue;                    
                    }
                }
            }
            .image {
                font-size: 40px;
                color: $skyblue;
                text-align: center;
                margin-bottom: 10px;
                transition-duration: 0.3s;
                svg {
                    display: inline-block;
                    font-size: inherit;
                    height: 1em;
                    overflow: visible;
                    vertical-align: -.125em;
                }
            }
            .title{
                @include tipography-bold;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                margin: 0;
                a{
                    color: $blue-dark;
                    &:after{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                    }
                    &:focus{
                        outline: none;
                    }
                }
            }
            .btn{
                background: $skyblue;
                min-width: 168px;
                height: 40px;
                border-radius: 200px;
                @include tipography-bold;
                font-size: 16px;
                line-height: 39px;
                color: $white;
                box-shadow: none;
                &:after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }
            }
        }
        .swiper-pagination{
            position: relative;
            margin-top: 30px;
            bottom: 0;
            @media only screen and (min-width: 992px){
                display: none;
            }
            .swiper-pagination-bullet{
                background: $gray;
            }
            .swiper-pagination-bullet-active{
                background: $skyblue;
            }
        }
    }
}