.natGridList{
    position: relative;
    .container{
        width: 100%;
        max-width: inherit;
        @media only screen and (min-width: 992px){
            max-width: 1140px;
        }
    }
    .natGridList__content{
        .list{
            margin: -15px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @media only screen and (min-width: 992px){
                margin: -15px;
            }
        }
        .item{
            padding: 15px 0;            
            @media only screen and (min-width: 992px){
                padding: 15px;
                margin: 0;
            }
            @media only screen and (max-width: 992px){
                width: 100%;
            }
        }
        .item--collapse{
            display: none;
        }
        .card{
            height: 100%;
            max-width: 350px;
            min-height: 380px;
            margin: 0 auto;
            border-radius: 5px;
            box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.02), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
            @media only screen and (min-width: 992px){
                max-width: inherit;
                margin: 0;
            }
            &:hover{
                .title{
                    a{
                        background-size: 20px 2px,0 2px,100% 2px;
                        background-position: calc(100% + 20px) 100%,100% 100%,0 100%;
                    }
                }
            }
        }
        .card-image{
            position: relative;
            border-radius: 5px 5px 0px 0;
            @media only screen and (max-width: 992px){
                height: 168px;
                overflow: hidden;
            }
            img{
                border-radius: 5px 5px 0px 0;
                @media only screen and (max-width: 992px){
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        .card-content{
            padding: 30px 20px 15px;
            .title{
                @include tipography-bold;
                margin-bottom: 15px;                
                font-size: 20px;
                line-height: 24px;
                height: 77px;
                overflow: hidden;
                @media only screen and (min-width: 992px){
                }
                a{
                    color: $skyblue;
                    text-decoration: none;
                    transition: all ease 400ms;
                    background-image: linear-gradient(transparent,transparent),linear-gradient(transparent,transparent),linear-gradient($skyblue,$skyblue);
                    background-size: 20px 2px,100% 2px,0 2px;
                    background-position: calc(20px * -1) 100%,100% 100%,0 100%;
                    background-repeat: no-repeat;
                    transition: background-size .25s linear,background-position .25s linear,color .25s ease-out;
                    &:focus{
                        outline: none;
                    }
                }
            }
            .text{
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 15px;
                a {
                    text-decoration: underline;
                    &:hover, &:active {
                        text-decoration: none;
                    }
                }
            }
            .btn{
                font-size: 16px;
                font-weight: 700;
                line-height: 38px;
                width: 100%;
                max-width: 168px;
                height: 40px;
                background: transparent;
                border-radius: 200px;
                box-shadow: inherit;
                border: 1px solid $skyblue;
                color: $skyblue;
                margin-top: 15px;
                margin-bottom: 25px;
                &:focus{
                    outline: none;
                }
            }
        }
        .card-footer{
            margin-top: -25px;
            padding: 15px 20px 30px;
            .author{
                display: flex;
                align-items: center;
            }
            .author__picture{
                position: relative;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                .picture{
                    width: 100%;
                    display: block;
                }
            }
            .author__name{
                margin-left: 15px;
                .name{
                    @include tipography-bold;
                    font-size: 18px;
                    line-height: 26px;
                    margin-bottom: 0;
                }
            }
        }
    }
    .natGridList__footer{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        @media only screen and (min-width: 992px){
            margin-top: 60px;
        }
        .btn{
            position: relative;
            background: transparent;
            border-radius: 100px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: auto;
            min-width: 168px;
            max-width: 100%;
            height: 40px;
            font-size: 16px;
            font-weight: 700;
            color: $skyblue;
            border: 2px solid $skyblue;
            box-shadow: inherit;
            padding: 0 24px;
            text-align: left;
            .see-more__text {
                margin-right: 10px;
            }
            .see-more__svg {
                font-size: 10px;
                transform: rotate(0);
            }
        }
        .btn.active{
            .see-more__svg {
                transform: rotate(-180deg);
            }
        }
    }
}