.natBanner{
    height: 500px;
    .swiper-pagination{
        .swiper-pagination-bullet{
            background: $white;
            opacity: 1;
        }
        .swiper-pagination-bullet-active{
            background: $skyblue;
        }
    }
}
.natBanner__list{
    margin: 0;
    display:flex;
}
.natBanner__item{
    width: 100%
}
.natBanner__picture{
    .picture{
        width: 100%;
        height: 500px;
        position: relative;
        object-fit: cover;
        object-position: center right;
    }
}
.natBanner__content{
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    @media screen and (min-width:1025px){
        top: 65px;
        padding: 0 67px;
    }
    .content{
        width: 100%;
        max-width: 296px;
        margin: 0;
        @media screen and (min-width:1025px){
            max-width: 696px;
        }
        @media (max-width:1025px) and (min-width:992px){
            max-width: 496px;
        }
    }
    .title{
        margin: 0;
        @include tipography-300;
        font-size: 32px;
        line-height: 40px;
        @media screen and (min-width:1025px){
            font-size: 64px;
            line-height: 80px;
        }
    }
    .text{
        @include tipography-300;
        font-size: 20px;
        line-height: 25px;
        margin: 20px 0 0;
        @media screen and (min-width:1025px){
            font-size: 24px;
            line-height: 30px;
            margin: 30px 0 0;
        }
    }
    .btn{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-top: 35px;
        width: auto;
        min-width: 100px;
        max-width: 100%;
        height: 40px;
        font-size: 16px;
        font-weight: 700;
        border-radius: 100px;
        box-shadow: inherit;
        padding: 0 25px;
        border: 0;
        text-shadow: inherit;
        @media screen and (min-width:1025px){
            margin-top: 45px;
            font-size: 18px;
            line-height: 47px;
            height: 48px;
            padding: 0 32px;
        }
    }
}