// Text Inputs + Textarea
/* $input-height: 3rem !default;
$input-border-color: #9e9e9e !default;
$input-border: 1px solid $input-border-color !default;
$input-background: #fff !default;
$input-error-color: $error-color !default;
$input-success-color: $success-color !default;
$input-focus-color: $secondary-color !default;
$input-font-size: 1rem !default;
$input-margin-bottom: 20px;
$input-margin: 0 0 $input-margin-bottom 0 !default;
$input-padding: 0 !default;
$input-transition: all .3s !default;
$label-font-size: .8rem !default;
$input-disabled-color: rgba(0,0,0, .26) !default;
$input-disabled-solid-color: #BDBDBD !default;
$input-disabled-border: 1px dotted $input-disabled-color !default;
$input-invalid-border: 1px solid $input-error-color !default;
$placeholder-text-color: lighten($input-border-color, 20%) !default; */

$input-background: #e9eae8;
$input-color: #50535A;
$input-focus-color: #00a9e0;
$input-success-color: #cecece;
$input-error-color: #ff6430;
$input-disabled-background: #f4f4f3;
$input-disabled-color: #b6b7b7;



// Style Placeholders 

::placeholder {
  color: $placeholder-text-color;
}


input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {

  &.md {
    // General Styles
    background-color: $input-background;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    height: $input-height;
    width: 100%;
    font-size: $input-font-size;
    //margin: $input-margin;
    margin: 0 0 10px 0;
    padding: 0 15px;
    box-shadow: none;
    box-sizing: border-box;
    transition: $input-transition;
    color: $input-color;

    // Disabled input style
    &:disabled,
    &[readonly="readonly"] {
      color: $input-disabled-color;
      background-color: $input-disabled-background;
      //border-bottom: $input-disabled-border;
    }

    // Disabled label style
    &:disabled+label,
    &[readonly="readonly"]+label {
      color: $input-disabled-color;
    }

    // Focused input style
    &:focus:not([readonly]) {
      // border-bottom: 1px solid $input-focus-color;
      // box-shadow: 0 1px 0 0 $input-focus-color;
      border:1px solid $input-focus-color;
      background-color: transparent;
    }

    // Focused label style
    &:focus:not([readonly])+label {
      color: $input-focus-color;
    }

    // Valid Input Style
    &.valid,
    &:focus.valid {
      //border-bottom: 1px solid $input-success-color;
      //box-shadow: 0 1px 0 0 $input-success-color;
      //border:1px solid $input-success-color;

      border:1px solid black;
      background-color: transparent;
    }

    // Custom Success Message
    &.valid + label:after,
    &:focus.valid + label:after {
      content: attr(data-success);
      color: $input-success-color;
      opacity: 1;
    }

    // Invalid Input Style
    &.invalid,
    &:focus.invalid {
      //border-bottom: $input-invalid-border;
      //box-shadow: 0 1px 0 0 $input-error-color;
      border:1px solid $input-error-color;
      background-color: transparent;
      color: $input-error-color;
    }

    // Custom Error message
    &.invalid + label:after,
    &:focus.invalid + label:after {
      content: attr(data-error);
      color: $input-error-color;
      opacity: 1;
    }

    // Full width label when using validate for error messages
    &.validate + label {
      //width: 100%;
      pointer-events: none;
    }

    // Form Message Shared Styles
    & + label:after {
      display: block;
      content: "";
      position: absolute;
      top: 60px;
      opacity: 0;
      transition: .2s opacity ease-out, .2s color ease-out;
    }
  }
}

.input-field {
  position: relative;
  // Prefix Icons
  .prefix {
    position: absolute;
    top: 14px;
    left: 24px;
    font-size: 17px;
    transition: color .2s;
    color: #86888c; 

    &.active { 
      color: $input-focus-color;
    }

    &.invalid {
      color: $input-error-color;
    }

    &.valid {
      color: $input-focus-color;
    }
  }

/*   .prefix + input,
  .prefix + textarea,
  .prefix + .autocomplete-content {
    //margin-left: 3rem;
    //width: 92%;
    //width: calc(100% - 3rem);
    padding-left: 40px;


  } */

  .prefix + {
    input:not([type]),
    input[type=text]:not(.browser-default),
    input[type=password]:not(.browser-default),
    input[type=email]:not(.browser-default),
    input[type=url]:not(.browser-default),
    input[type=time]:not(.browser-default),
    input[type=date]:not(.browser-default),
    input[type=datetime]:not(.browser-default),
    input[type=datetime-local]:not(.browser-default),
    input[type=tel]:not(.browser-default),
    input[type=number]:not(.browser-default),
    input[type=search]:not(.browser-default),
    textarea.materialize-textarea {
      &.md {
        padding-left: 45px;

        &::placeholder{
          font-style: italic;
          color: #86888c; 
        }
      }
    }
  }

  .prefix ~ label,
  .prefix ~ .validate ~ label {
    margin-left: 1.7rem;
  }

  // .prefix ~ label { margin-left: 3rem; }

  // @media #{$medium-and-down} {
  //   .prefix ~ input {
  //     width: 86%;
  //     width: calc(100% - 3rem);
  //   }
  // }

  // @media #{$small-and-down} {
  //   .prefix ~ input {
  //     width: 80%;
  //     width: calc(100% - 3rem);
  //   }
  // }

  label {
    color: $input-border-color;
    position: absolute;
    bottom: 1.4rem;
    left: 1.9rem;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
    text-align: initial;

    &:not(.label-icon).active {
      // font-size: $label-font-size;
      // transform: translateY(-140%);
      display: none;
    }
  }
}


/* Autocomplete */

.autocomplete-container {
  position: relative;
  margin: 0 auto 15px auto;
  width: 100%;

  @media #{$medium-and-up}{
    margin: 0 auto;
  }
}

.aui {
  input[type="text"]{
    &:focus {
        &.autocomplete {
          background: #fff;
        }
        
    }
    &.autocomplete {
      height: 48px;
      background: #FFFFFF;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
      border-radius: 4px;
      border:1px solid transparent;
      width: 100%;

      font-size: 16px;
      color: #86888C;
      letter-spacing: 0;
      line-height: 24px;
      padding: 11px 45px 11px 16px;
      outline: 0;
      margin: 0;
    
    @media #{$large-and-up}{
        height: 68px;
        padding: 19px 45px 19px 26px;
      }
    }
  }
}

.autocomplete__icon{
  position: absolute;
  right: 14px;
  top: 13px;
  font-size: 24px;
  @media #{$large-and-up}{
    top: 22px;
  }
}

.autocomplete-content {
  //margin-top: -1 * $input-margin-bottom;
  margin-top: 10px;
  display: block;
  opacity: 1;
  border-radius: 4px;
  width: 100%;
  left: 0;
  top: 100%;
  //position: static;

  li {
    .highlight { color: #444; }

    img {
      height: $dropdown-item-height - 10;
      width: $dropdown-item-height - 10;
      margin: 5px 15px;
    }
  }
}



/* // Text Inputs + Textarea
   //========================================================================== 

// Style Placeholders 

::placeholder {
  color: $placeholder-text-color;
}

// Text inputs 

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {

  // General Styles
  background-color: transparent;
  border: none;
  border-bottom: $input-border;
  border-radius: 0;
  outline: none;
  height: $input-height;
  width: 100%;
  font-size: $input-font-size;
  margin: $input-margin;
  padding: $input-padding;
  box-shadow: none;
  box-sizing: content-box;
  transition: $input-transition;

  // Disabled input style
  &:disabled,
  &[readonly="readonly"] {
    color: $input-disabled-color;
    border-bottom: $input-disabled-border;
  }

  // Disabled label style
  &:disabled+label,
  &[readonly="readonly"]+label {
    color: $input-disabled-color;
  }

  // Focused input style
  &:focus:not([readonly]) {
    border-bottom: 1px solid $input-focus-color;
    box-shadow: 0 1px 0 0 $input-focus-color;
  }

  // Focused label style
  &:focus:not([readonly])+label {
    color: $input-focus-color;
  }

  // Valid Input Style
  &.valid,
  &:focus.valid {
    @extend %valid-input-style;
  }

  // Custom Success Message
  &.valid + label:after,
  &:focus.valid + label:after {
    @extend %custom-success-message;
  }

  // Invalid Input Style
  &.invalid,
  &:focus.invalid {
    @extend %invalid-input-style;
  }

  // Custom Error message
  &.invalid + label:after,
  &:focus.invalid + label:after {
    @extend %custom-error-message;
  }

  // Full width label when using validate for error messages
  &.validate + label {
    width: 100%;
  }

  // Form Message Shared Styles
  & + label:after {
    @extend %input-after-style;
  }

  // TODO: Remove once input fields are reworked to support validation messages better
  &.invalid + label:after,
  &.valid + label:after{
    display: none;
  }

  &.invalid + label.active:after,
  &.valid + label.active:after{
    display: block;
  }
}


// Validation Sass Placeholders 
%valid-input-style {
  border-bottom: 1px solid $input-success-color;
  box-shadow: 0 1px 0 0 $input-success-color;
}
%invalid-input-style {
  border-bottom: $input-invalid-border;
  box-shadow: 0 1px 0 0 $input-error-color;
}
%custom-success-message {
  content: attr(data-success);
  color: $input-success-color;
  opacity: 1;
  transform: translateY(9px);
}
%custom-error-message {
  content: attr(data-error);
  color: $input-error-color;
  opacity: 1;
  transform: translateY(9px);
}
%input-after-style {
  display: block;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: .2s opacity ease-out, .2s color ease-out;
}


// Styling for input field wrapper
.input-field {
  // Inline styles
  &.inline {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;

    input,
    .select-dropdown {
      margin-bottom: 1rem;
    }
  }

  // Gutter spacing
  &.col {
    label {
      left: $gutter-width / 2;
    }

    .prefix ~ label,
    .prefix ~ .validate ~ label {
      width: calc(100% - 3rem - #{$gutter-width});
    }
  }

  position: relative;
  margin-top: 1rem;

  label {
    color: $input-border-color;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 1rem;
    cursor: text;
    transition: transform .2s ease-out;
    transform-origin: 0% 100%;
    text-align: initial;
    transform: translateY(12px);
    pointer-events: none;

    &:not(.label-icon).active {
      transform: translateY(-14px) scale(.8);
      transform-origin: 0 0;
    }
  }

  // Prefix Icons
  .prefix {
    position: absolute;
    width: $input-height;
    font-size: 2rem;
    transition: color .2s;

    &.active { color: $input-focus-color; }
  }

  .prefix ~ input,
  .prefix ~ textarea,
  .prefix ~ label,
  .prefix ~ .validate ~ label,
  .prefix ~ .autocomplete-content {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
  }

  .prefix ~ label { margin-left: 3rem; }

  @media #{$medium-and-down} {
    .prefix ~ input {
      width: 86%;
      width: calc(100% - 3rem);
    }
  }

  @media #{$small-and-down} {
    .prefix ~ input {
      width: 80%;
      width: calc(100% - 3rem);
    }
  }
}


// Search Field 

.input-field input[type=search] {
  display: block;
  line-height: inherit;

  .nav-wrapper & {
    height: inherit;
    padding-left: 4rem;
    width: calc(100% - 4rem);
    border: 0;
    box-shadow: none;
  }

  &:focus {
    background-color: $input-background;
    border: 0;
    box-shadow: none;
    color: #444;

    & + label i,
    & ~ .mdi-navigation-close,
    & ~ .material-icons {
      color: #444;
    }
  }

  & + label {
    left: 1rem;
  }

  & ~ .mdi-navigation-close,
  & ~ .material-icons {
    position: absolute;
    top: 0;
    right: 1rem;
    color: transparent;
    cursor: pointer;
    font-size: 2rem;
    transition: .3s color;
  }
}


// Textarea 

// Default textarea
textarea {
  width: 100%;
  height: $input-height;
  background-color: transparent;

  &.materialize-textarea {
    // Fixes validation messages for dynamic textareas
    &.validate + label {
      &::after {
        top: calc(100% - 12px);
      }
      &:not(.label-icon).active {
        transform: translateY(-25px);
      }
      height: 100%;
    }

    overflow-y: hidden; // prevents scroll bar flash 
    padding: .8rem 0 1.6rem 0; // prevents text jump on Enter keypress 
    resize: none;
    min-height: $input-height;
  }
}

// For textarea autoresize
.hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word; // future version of deprecated 'word-wrap' 
  padding-top: 1.2rem; // prevents text jump on Enter keypress 

  // Reduces repaints
  position: absolute;
  top: 0;
}


// Autocomplete 
.autocomplete-content {
  margin-top: -1 * $input-margin-bottom;
  margin-bottom: $input-margin-bottom;
  display: block;
  opacity: 1;
  position: static;

  li {
    .highlight { color: #444; }

    img {
      height: $dropdown-item-height - 10;
      width: $dropdown-item-height - 10;
      margin: 5px 15px;
    }
  }
} */