$radio-fill-color : #50535a;

/* Radio Buttons
   ========================================================================== */

// Remove default Radio Buttons
.md[type="radio"]:not(:checked),
.md[type="radio"]:checked {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.md[type="radio"]:not(:checked) + label,
.md[type="radio"]:checked + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  transition: .28s ease;
  top: .8rem;

  -khtml-user-select: none;
  user-select: none;
}

.md[type="radio"] + label:before,
.md[type="radio"] + label:after {
  content: '';
  position: absolute;
  left: -1px;
  top: -2px;
  margin: 4px;
  width: 20px;
  height: 20px;
  z-index: 0;
  transition: .28s ease;
}

// Unchecked styles 
.md[type="radio"]:not(:checked) + label:before,
.md[type="radio"]:not(:checked) + label:after,
.md[type="radio"]:checked + label:before,
.md[type="radio"]:checked + label:after,
.md[type="radio"].with-gap:checked + label:before,
.md[type="radio"].with-gap:checked + label:after {
  border-radius: 50%;
}

.md[type="radio"]:not(:checked) + label:before,
.md[type="radio"]:not(:checked) + label:after {
  border: 2px solid $radio-empty-color;
}

.md[type="radio"]:not(:checked) + label:after {
  transform: scale(0);
}

// Checked styles
.md[type="radio"]:checked + label:before {
  border: 2px solid $radio-fill-color;
}

.md[type="radio"]:checked + label:after,
.md[type="radio"].with-gap:checked + label:before,
.md[type="radio"].with-gap:checked + label:after {
  border: 2px solid $radio-fill-color;
}

.md[type="radio"]:checked + label:after,
.md[type="radio"].with-gap:checked + label:after {
  background-color: $radio-fill-color;
}

.md[type="radio"]:checked + label:after {
  //transform: scale(1.02);
}

// Radio With gap
.md[type="radio"]:checked + label:after {
  transform: scale(.5);
}

// Focused styles 
.md[type="radio"].tabbed:focus + label:before {
  box-shadow: 0 0 0 10px rgba(0,0,0,.1);
}

// Disabled Radio With gap 
.md[type="radio"].with-gap:disabled:checked + label:before {
  border: 2px solid $input-disabled-color;
}

.md[type="radio"].with-gap:disabled:checked + label:after {
  border: none;
  background-color: $input-disabled-color;
}

// Disabled style 
.md[type="radio"]:disabled:not(:checked) + label:before,
.md[type="radio"]:disabled:checked + label:before {
  background-color: transparent;
  border-color: $input-disabled-color;
}

.md[type="radio"]:disabled + label {
  color: $input-disabled-color;
}

.md[type="radio"]:disabled:not(:checked) + label:before {
  border-color: $input-disabled-color;
}

.md[type="radio"]:disabled:checked + label:after {
  background-color: $input-disabled-color;
  border-color: $input-disabled-solid-color;
}
