.portlet-login {
	.portlet-body{
		max-width: 400px;
	    margin: 50px auto;	
	}
	
	form fieldset {
	    padding: 0px 10px;
	    margin: 0;
	}

	.control-label {
		display: block;
	}
	
	.input-text-wrapper {
	    margin-bottom: 10px;
	}

	input.field{
		width: 100%;
	}
	
	input[type="checkbox"] {
	    width: 5%;
	}
	
	.button-holder {
		text-align: center;
		button {
		    padding: 0 2rem;
		}
	}
	
}