.npmenu {
}

.npmenu__header {
	display: table;
	width: 100%;
	padding: 10px 15px 10px 25px;
}
.npmenu__body{
	line-height: 24px;
	color: #FFF;
	font-size: 14px;
	font-weight: normal;
}

.modal{
	.npmenu__body{
		color: #63666d;
	}
}

.npmenu__settings-submit{
    text-transform: none;
    width: 95%;
    margin-top: 15px;
}

.npmenu__text{
	padding: 10px 15px 0 25px;
}

.npmenu__settings{

}

.npmenu__settings--off{
	display: block;


}

.npmenu__settings--on{
	display: none;
}

.npmenu__settings--isActive {
	.npmenu__settings--off{
		display: none;

	}

	.npmenu__settings--on{
		display: block;
	}
}

.npmenu-panel__tabs .tabs .indicator{
	display: none;
}

.npmenu-panel__tabs .tabs{
	width: 90%;
	margin: 20px auto;
	height: 40px;
	overflow: hidden;
}

.npmenu-panel__tabs-block{
	border-radius: 25px;
	border: 1px solid #FFFFFF;
}

.npmenu-panel__item {
	height: 40px;
	width: 50%;
}

.npmenu-panel__tabs .npmenu-panel__text{
	font-family: Telefonica;
	font-weight: normal;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 24px;
	text-transform: none;
	padding: 8px 0px;
	background: #0098D9;
	color: #FFFFFF;
	opacity: 1;
	&.active{
		background: #FFFFFF;
		color: #0299D8;
		opacity: 1;
	}
}

.npmenu-panel__phone{
	width: 290px;
	margin: 22px auto;
	.input-field{
		position: relative;
	}
}

input[type="text"]{
	&::-webkit-inner-spin-button,::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
	&.npmenu-panel__phone-input{
		width: 100%;
		background: transparent;
		border: 1px solid #FFFFFF;
		outline: 0;
		border-radius: 4px;
		font-size: 18px;
		color: #FFFFFF;
		padding: 14px;
		opacity: 0.7;
		&:focus {
			border: 1px solid #FFFFFF;
		}
		&:active {
			border: 1px solid #FFFFFF;
		}


		& + label {
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			text-align: center;
			color: #989a9e;
			height: 48px;
			line-height: 48px;
			font-size: 16px;
			border-radius: 4px;
			font-weight: 300;
			font-style: italic;

			&.active {
				display: none;
			}
		}
	}
}

.user_phone__icon {
	position: absolute;
    left: 14px;
    top: 16px;
}

.npmenu-panel__text{
	opacity: 0.7;
	font-family: Telefonica;
	font-weight: 300;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 53px;
}

.npmenu__settings-footer{
	padding: 20px 15px 25px 25px;
	background: #fff;
	color: #9e9e9e;
	text-align: center;
}

.npmenu__title {
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	color: #fff;
	font-weight: 100;
	font-size: 24px;
}

.npmenu__switch {
	display: table-cell;
	vertical-align: middle;
	width: 1%;
}

.npmenu__tab {
	padding: 10px 15px 0 25px;
}

.npmenu__tab-nav {
	display: table;
	width: 100%;
	table-layout: fixed;

	.npmenu__tab-item {
		display: table-cell;
		vertical-align: middle;

		&:first-child {
			.npmenu__tab-link {
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
			}
		}

		&:last-child {
			.npmenu__tab-link {
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
			}
		}


		.npmenu__tab-link {
			border: 1px solid #fff;
			color: #fff;
			background: transparent;
			display: block;
			text-align: center;
			font-size: 16px;
			font-weight: normal;
			padding: 7px 0;
			letter-spacing: -.1px;
		}

		&.active {
			.npmenu__tab-link {
				border: 1px solid #fff;
				color: #0299d8;
				background: #fff;
			}
		}
	}
}

.npmenu__panel-container {
	padding: 20px 10px;
	display: inline-block;
	width: 100%;
	.checkbox__panel{
		opacity: 0;//velocity animation
		width: 95%;
    	margin: 2.5%;
		[type="checkbox"] + label{
			padding: 20px 15px;
		}
	}
	.checkbox__panel-text{
		display: block;
	}
}


.checkbox__panel {
	margin-bottom: 15px;
    width: 45%;
    float: left;
    margin: 2.5%;
	@media #{$large-and-up} {
		width: 29%;
		margin: 0 2% 35px;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
	opacity: 0;
}

[type="checkbox"] + label {
    display: block;
    padding: 17px 10px 12px;
    background: #fff;
    transition: .2s;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
    line-height: 20px;
    font-size: 1rem;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

    @media #{$medium-and-up} {
    	padding: 23px 20px 18px;
    }	

    @media #{$large-and-up} {
    	padding: 35px 15px 20px;
    }	

	&::before {
		content: '';
		width: 100%;
		height: 8px;
		background: #f59c00;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		transition: height 0.2s cubic-bezier(0.4, 0, 1, 1);
	}
}

[type="checkbox"]:checked + label{
	color: #fff;

	&::before {
		height: 100%;
	}

	.checkbox__panel-title {
		color: #fff;
	}

	.checkbox__panel-icon {
		color: #fff;

		&::before {
			content: "\e86c";
		}
	}
}
}

/*COLOR VARIANTS*/

.checkbox__panel--light-orange {
	[type="checkbox"] + label {
		&::before {
			background: #f59c00;
		}
	}
}

.checkbox__panel--orange {
	[type="checkbox"] + label {
		&::before {
			background: #eb6a3c;
		}
	}
}

.checkbox__panel--magenta {
	[type="checkbox"] + label {
		&::before {
			background: #e9426d;
		}
	}
}

.checkbox__panel--purple {
	[type="checkbox"] + label {
		&::before {
			background: #954b97;
		}
	}
}

.checkbox__panel--blue {
	[type="checkbox"] + label {
		&::before {
			background: #0098d9;
		}
	}
}





.checkbox__panel-title {
	display: block;
	color: #50535a;
	position: relative;
	z-index: 1;
}

.checkbox__panel-text {
	display: none;
	@media #{$large-and-up}{
		display: block;
		position: relative;
		z-index: 1;
	}

}

.checkbox__panel-icon {
	position: absolute;
	right: 15px;
	font-size: 20px;
	color: #50535a;
	z-index: 1;
	top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


//Configuration Modal Liferay FIX

#clientsettings-portlet-configuration-modal {
	.dropdown-menu {
		min-width: 160px;
		padding: 5px 0;
		margin: 2px 0 0;

		> li > a {
			display: block;
			padding: 3px 20px;
			clear: both;
			font-weight: normal;
			line-height: 20px;
			color: #333333;
			white-space: nowrap;
			@media (max-width: 979px) {
				font-size: 22px;
			}
		}
	}
}

.ucm-modal__inner {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    padding: 15px 0 12px;
    position: relative;
}

.ucm-modal__panel-container {
	display: block;
	margin-top: auto;
    margin-bottom: auto;
}

#ucm__step-tabs {
	display: none;
}

.ucm__logo--container{
    display: none;
    @media #{$large-and-up}{
		display: block;
		text-align: center;
		padding: 0px 0 10px;
    }	
}

.ucm__logo--svg{
	@media #{$large-and-up}{
		fill: currentColor;
		color: #53bf02;
		width: 85px;
	}
}

.ucm__modal__header{
    padding: 0 35px;
}

.ucm__title {
	color: #63666d;
    font-weight: 300;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    /*padding-bottom: 5px;*/
	@media #{$large-and-up}{
		font-size: 40px;
		line-height: 48px;
		max-width: 100%;
	}
}

.ucm__title-desktop-text{
	display: none;
	@media #{$large-and-up}{
		//display: inline-block;
	}
}

//user_customization_modal
.ucm__slider {
	margin-bottom: 30px;
	@media #{$large-and-up}{
		max-width: 960px;
		margin: 0 auto 20px;
	}

	.slick-slide {
		width: 170px;
		@media (min-width: 400px) {
			width: 220px;
		}
	}

	@media #{$medium-and-up} {
		&::after {
			content: '';
			display: table;
			clear: both;
		}
	}
}



	#ucm__step-1 {
		@media #{$medium-and-up} {
			//padding-bottom: 70px;
		}

		@media #{$large-and-up} {
			position: relative;
		}
}

.ucm__skip__shapes-container {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	@media #{$large-and-up} {
		display: block;
}

}

.ucm__skip__shape-1 {
	position: absolute;
    top: -265px;
    right: -184px;
	width: 450px;
	height: auto;
}

.ucm__skip__shape-2 {
	position: absolute;
	bottom: -51%;
	left: -320px;
}

.ucm__slider__item{
	position: relative;
	@media #{$medium-and-up} {
		float: left;
		width: 33%;
		text-align: center;
		padding: 0 25px;
}
}

.ucm__slider__text-container{
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 90%;
	max-width: 250px;
}

.ucm__slider__text {
	color: #63666d;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	transition: .3s;
	position: relative;
	display: inline-block;
	@media #{$large-and-up}{
		font-size: 20px;
		font-weight: 300;
		line-height: 32px;
}
}

.ucm__slider__number-container {
	position: relative;
	z-index: 1;
}

.ucm__slider__number {
	color: #e9eae8;
	font-size: 200px;
	line-height: 200px;
}

#ucm.modal{
	box-shadow: 0px 0px 20px 1px #86888c;
	.hero__dots{
		.progress-dots__progress{
			background-color: #cdcecd;
		}
		.progress-dots{
			display: block;
			li{
				display: inline-block;
			}
		}
	}
	&.modal-mobile {
		height: 25%;
	}

	&.modal-desktop {
		top: 10%;
	    width: 90%;
	    height: auto;
	    max-height: 90%;
	    max-width: 1280px;
	    margin: 0 auto;
	    bottom: auto!important;
	}
}

.modal-overlay{
	@media only screen and (min-width: 993px) {
		opacity: 0.8!important;
	}
}


 .ucm__phone-input-container{
	width: 90%;
	margin: 0 auto;
	max-width: 400px;

	button{
		display:none;
		position:absolute;
		background:transparent;
		right:0;
		border:0;

		&:hover{
			cursor:pointer;
		}

	}

	.circle-right:before{
		font-family: "icomoon";
		content: "\e409";
		font-size: 30px;
		line-height: 1.5;

		opacity: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		color:grey;
		height: 45px;
		width: 45px;

		background-position: center;

	}

	.circle-active:before{
		font-family: "icomoon";
		content: "\e409";
		font-size: 30px;
		line-height: 1.5;

		opacity: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		color:white;
		background:#53bf02;
		border-radius:100%;
		height: 30px;
		width: 30px;

		background-position: center;

	}

	@media #{$medium-and-up} {
		margin-top: 50px;
	}

	.input-field{
		position: relative;

		&.error-label:before{
			content:"Ingresa un número válido de 9 digitos";
			background:orange;
			width:100%;
			height: 22px;
			color: white;
			position: absolute;
			top: -21px;
			padding-left: 10px;
			left:0;
			font-weight: 200;
		}
	}
} 

.ucm__phone-input-container {
	width: 90%;
	margin: 0 auto;
	max-width: 400px;

	@media #{$medium-and-up} {
		max-width: 288px;
	}

	.input-field {
		position: relative;

		.error-label {
			display: none;
			position: absolute;
			top: -22px;
			left: 0;
			background: #ec6839;
			color: #fff;
			padding: 2px 5px;
			width: 100%;
		}

		&.error {
			.error-label {
				display: block;
			}
		}
	}
}

.input-field {
	&.valid {
		.ucm__phone-button {
			background: #53bf02;
			color: #fff;
		}
	}
}

.ucm__phone-button {
	background: transparent;
    position: absolute;
    top: 5px;
    right: 6px;
    z-index: 2;
    height: 38px;
    width: 38px;
    border: 0;
    border-radius: 100%;
    font-size: 28px;
    line-height: 28px;
    transition: all .35s;
}


.ucm__phone-button {
	
}

input[type="text"]{
	&.ucm__phone-input{
		width: 100%;
		background: transparent;
		border: 1px solid transparent;
		outline: 0;
		border-radius: 4px;
		height: 48px;
		font-size: 18px;
		color: #63666d;
		border: 1px solid #e9eae8;
		padding: 15px;

		&:focus{
			border: 1px solid #0098D9;
		}

		& + label {
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			text-align: center;
			color: #989a9e;
			height: 48px;
			line-height: 48px;
			font-size: 18px;
			background: #e9eae8;
			border-radius: 4px;

			&.active {
				display: none;
			}
		}
	}
}


.ucm__no-client-button-container{
	text-align: center;
	@media #{$large-and-up} {
		position: relative;
		bottom: auto;
		left: auto;
		margin-top: 10px;
		
	}
}


.ucm__button-container{
	display: none;
}

.ucm__button-back{

	.desktop-text {
		display: none;
	}
	@media #{$large-and-up} {
		position: absolute;
		bottom: 35px;
		left: 35px;

		.desktop-text {
			display: inline;
		}

		.mobile-text {
			display: none;
		}
	}
}

.ucm__button-cancel{
	color: #63666d;
    position: absolute;
    right: 15px;
    font-size: 14px;
    top: 0;
    padding: 0;

	@media #{$large-and-up} {
		position: absolute;
		top: 10px;
		right: 20px;
		line-height: 27px;
		color: #fff;
		font-size: 27px;
		height: auto;
		padding: 1rem;
	}
}

.ucm__text-mobile {
	font-size: 15px;
	color: #50535A;
	letter-spacing: 0.1px;
	font-weight: 300;
	line-height: 22px;
	text-align: center;
	@media #{$large-and-up} {
		display: none;
	}	
}

.ucm__text {
	display: none;
	@media #{$large-and-up} {
		display: block;
		font-size: 16px;
		color: #50535A;
		letter-spacing: 0.1px;
		line-height: 24px;
		margin: 0 33px;
		text-align: center;
	}	
}

.ucm__panel-container{
	padding: 5px 10px 5px;

	@media #{$large-and-up} {
		background: transparent;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-bottom: 0;
		max-width: 950px;
		margin: 0 auto;
		padding: 15px;
	}
}

.ucm__settings-footer{
	padding: 20px 15px 25px;
	text-align: center;
	@media #{$large-and-up} {
		padding: 0 40px 30px;
		text-align: right;
	}
}

.ucm__settings-text {
	display: none;
	@media #{$large-and-up} {
		display: block;
		font-size: 16px;
		color: #50535A;
		letter-spacing: 0.1px;
		line-height: 24px;
		text-align: center;
		max-width: 950px;
		margin: 0 auto;
	}
}

.ucm__settings-submit{
	height: 48px;
	background-color: #53bf02;
	display:none;
	@media #{$medium-and-up} {
		display:block;
	}
	@media #{$large-and-up} {
		background-color: transparent;
		box-shadow: none;
		color: #0098d9;
		display: inline-block;
	}
}
