.one-click-activation-modal {
	&.modal {
		width: 90%;
	    max-width: 450px;
        max-height: 80%;

	    .modal-header__close {
	    	right: 10px;
    		padding: 0 15px;
	    }
	}

	.modal-header {
	    padding: 12px 0 12px 15px;
	}

	.modal-content {
		padding: 0 24px 24px;
		
		@media #{$medium-and-up} {
			max-width: 300px;
			margin: 0 auto;
			padding: 0 0 24px;
		}
	}
}

.one-click-activation-modal__title {
	font-weight: 300;
	font-size: 25px;
	color: #50535a;
	width: 100%;
	line-height: 30px;
	text-align: center;
}

.btn.one-click-activation__ca {
    width: 300px;
    max-width: 100%;
}

.one-click-activation-saldo {
	background-color: $secondary-purple;
	text-align: center;
	color: #fff;
	padding: 5px;
	@media #{$large-and-up}{
		display: none;
	}
}

.ocap-button-group select{
	display:none;
}

#ocapAjaxLoader {
	display:none;
	max-width: 300px;
	margin: 0 auto;
	padding: 0 0 24px;
	text-align: center;
}

.mLoader__primary {
	animation: primary-translate 2s infinite linear;
}
.mLoader__primary-inner {
	animation: primary-scale 2s infinite linear;
	transform-origin: 50% 50%;
}
.mLoader__secondary {
	animation: secondary-translate 2s infinite linear;
}
.mLoader__secondary-inner {
	animation: secondary-scale 2s infinite linear;
	transform-origin: 50% 50%;
}