// Remove default checkbox 
.process[type="checkbox"]:not(:checked),
.process[type="checkbox"]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

// Checkbox Styles
.process[type="checkbox"] {


  &:not(:checked):disabled + label:before {
    border: none;
    background-color: $grey-3;
  }

  // Focused styles
  &.tabbed:focus + label:after {
    transform: scale(1);
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(0,0,0,.1);
    background-color: rgba(0,0,0,.1);
  }
}


.process[type="checkbox"] {
  // General

  + label {
    position: relative;

    cursor: pointer;
    display: inline-block;
    width: 100%;
    transition: .28s ease;

    -khtml-user-select: none;
    user-select: none;
  }

  + label:after {
    border-radius: 100%;
  }

  // checkbox aspect 
  + label:before {
    content: '';
    position: absolute;
    top: 15px;
    right: 13px;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid transparent;
    border-radius: 1px;
    margin-top: 2px;
    transform: rotateZ(37deg);
    transition: .28s ease;
    z-index: 1;
  }

  /* + label:before{
    content: '';
    right: 16px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    //.1s delay is for check animation
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
  } */

  + label:after {
    content: '';
    right: 7px;
    top: 15px;
    position: absolute;
    /* .1s delay is for check animation */
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
  }

  // Unchecked style
  &:not(:checked) + label:before {
    // width: 0;
    // height: 0;
    // border: 3px solid transparent;
    // right: 16px;
    // transform: rotateZ(37deg);
    // transform-origin: 100% 100%;
  }

  &:not(:checked) + label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid $radio-empty-color;
    z-index: 0;
  }

  // Checked style
  &:checked {
    + label {
      background-color: $grey-0;
    }
    
    + label:before {
      width: 8px;
      height: 13px;
      border-top: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
    }

    + label:after {
      width: 20px;
      height: 20px;
      border: 2px solid $grey-5;
      background-color: $grey-5;
      z-index: 0;
    }
  }

  // Focused styles
  &.tabbed:focus + label:after {
    border-radius: 2px;
    border-color: $radio-empty-color;
    background-color: rgba(0,0,0,.1);
  }

  &.tabbed:checked:focus + label:after {
    border-radius: 2px;
    background-color: $grey-5;
    border-color: $grey-5;
  }

  // Disabled style
  &:disabled + label {
    background-color:transparent;
    color: $grey-4;
    opacity: .7;
  }

  &:disabled:not(:checked) + label:before {
    background-color: transparent;
    border: 2px solid transparent;
  }

  &:disabled:not(:checked) + label:after {
    border-color: transparent;
    background-color: $input-disabled-solid-color;
  }

  &:disabled:checked + label:before {
    background-color: transparent;
  }

  &:disabled:checked + label:after {
    background-color: $input-disabled-solid-color;
    border-color: $input-disabled-solid-color;
  }
}

//////////////////////////////////////////////
//
//
//    ADD / REMOVE CHEKBOX
//
//
//////////////////////////////////////////////

// Remove default checkbox 
.process-add[type="checkbox"]:not(:checked),
.process-add[type="checkbox"]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

// Checkbox Styles
.process-add[type="checkbox"] {


  &:not(:checked):disabled + label:before {
    border: none;
    background-color: $grey-3;
  }

  // Focused styles
  &.tabbed:focus + label:after {
    transform: scale(1);
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(0,0,0,.1);
    background-color: rgba(0,0,0,.1);
  }
}

.process-add[type="checkbox"] {
  // General

  + label {
    position: relative;

    cursor: pointer;
    display: inline-block;
    width: 100%;
    transition: .28s ease;

    -khtml-user-select: none;
    user-select: none;
  }

  + label:after {
    border-radius: 100%;
  }

  // checkbox aspect 
  + label:before {
    
    font-size: 18px;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position:absolute;
    top: 50%;
    right: 6px;
    margin-top: -8.5px;
    color: $grey-3;
    transition: color .25s;
  }


  + label:after {
    content: '';
    right: 5px;
    top: 50%;
    margin-top: -10px;
    position: absolute;
    /* .1s delay is for check animation */
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
  }

  // Unchecked style
  &:not(:checked) + label:before {
    content: "\e145";
  }

  &:not(:checked) + label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid $radio-empty-color;
    z-index: 0;
  }

  // Checked style
  &:checked {
    + label {
      background-color: $grey-0;
    }
    
    + label:before {
      content: "\e15b";
      color: #fff;
      z-index: 1;
    }

    + label:after {
      width: 20px;
      height: 20px;
      border: 2px solid $grey-5;
      background-color: $grey-5;
      z-index: 0;
    }
  }

  // Focused styles
  &.tabbed:focus + label:after {
    border-radius: 2px;
    border-color: $radio-empty-color;
    background-color: rgba(0,0,0,.1);
  }

  &.tabbed:checked:focus + label:after {
    border-radius: 2px;
    background-color: $grey-5;
    border-color: $grey-5;
  }

  // Disabled style
  &:disabled:not(:checked) + label:before {
    background-color: transparent;
    border: 2px solid transparent;
  }

  &:disabled:not(:checked) + label:after {
    border-color: transparent;
    background-color: $input-disabled-solid-color;
  }

  &:disabled:checked + label:before {
    background-color: transparent;
  }

  &:disabled:checked + label:after {
    background-color: $input-disabled-solid-color;
    border-color: $input-disabled-solid-color;
  }
}
