// Remove default Radio Buttons
.process[type="radio"]:not(:checked),
.process[type="radio"]:checked {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.process[type="radio"]:not(:checked) + label,
.process[type="radio"]:checked + label {
	position: relative;

	cursor: pointer;
	display: inline-block;
	width: 100%;
	transition: .28s ease;

	-khtml-user-select: none;
	user-select: none;
}

.process[type="radio"] + label:before,
.process[type="radio"] + label:after {
  content: '';
  position: absolute;
  right: 7px;
  top: 15px;
  width: 20px;
  height: 20px;
  z-index: 0;
  transition: .28s ease;
}

// Unchecked styles 
.process[type="radio"]:not(:checked) + label:before,
.process[type="radio"]:not(:checked) + label:after,
.process[type="radio"]:checked + label:before,
.process[type="radio"]:checked + label:after{
  border-radius: 50%;
}

.process[type="radio"]:not(:checked) + label:before,
.process[type="radio"]:not(:checked) + label:after {
  border: 2px solid $grey-3;
}

.process[type="radio"]:not(:checked) + label:after {
  transform: scale(0);
}

// Checked styles
.process[type="radio"]:checked + label{
  background-color: $grey-0;
}

.process[type="radio"]:checked + label:before {
  border: 2px solid $grey-5;
}

.process[type="radio"]:checked + label:after {
  border: 2px solid $grey-5;
  background-color: $grey-5;
  transform: scale(.5);
}

// Focused styles 
.process[type="radio"].tabbed:focus + label:before {
  box-shadow: 0 0 0 10px rgba(0,0,0,.1);
}

// Disabled style 
.process[type="radio"]:disabled:not(:checked) + label:before,
.process[type="radio"]:disabled:checked + label:before {
  background-color: transparent;
  border-color: $grey-3;
}

.process[type="radio"]:disabled + label {
  color: $grey-3;
}

.process[type="radio"]:disabled:not(:checked) + label:before {
  border-color: $grey-3;
}

.process[type="radio"]:disabled:checked + label:after {
  background-color: $grey-3;
  border-color: $grey-3;
}