.pack-builder__hero {
  text-align: center;
  padding: 25px 0;
  display: none;
  background-color: $main-green;
  @media #{$large-and-up} {
    display: block;
  }
}

.pack-builder__hero-title {
  @include title-h2(#fff);
  margin: 0;

}

.pack-builder__hero-text {
  @include body-copy-1(#fff);
  margin: 0;
  line-height: 30px;
}





.pack-builder-wraper {
  @media #{$large-and-up} {
    padding: 20px 0 40px;
    background-color: $main-green;
  }
}

.pack-builder {
  @media #{$large-and-up} {
    border: 2px solid $grey-1;
    border-radius: 4px;
    background-color: #fff;
  }
}

.pack-builder__header {
	display: flex;
  align-items: center;
  @media #{$large-and-up} {
    border-bottom: 2px solid $grey-1;
    height: 60px;
  }
}


.pack-builder__back-button-container{
  margin-right: auto;
  min-width: 100px;
  display: none;
  @media #{$large-and-up} {
    display: block;
  }

}

.pack-builder__back-button {
  display: none;
  padding: 15px;
  cursor: pointer;

  &:hover {
    color: $main-blue;
  }
}

.pack-builder__next-button-container {
  margin-left: auto;
  min-width: 100px;
  display: none;
  @media #{$large-and-up} {
    display: block;
  }
}

.pack-builder__next-button {
  display: none;
  padding: 15px;
  cursor: pointer;

  &:hover {
    color: $main-blue;
  }
}

.pack-builder__progress-container {
	margin-right: auto;
	margin-left: auto;
}

.pack-builder__footer-wraper {
  display: none;
}

.pack-builder__footer-wraper--visible {
  display: block;
  @media #{$large-and-up} {
    display: none;
  }
}

.pack-builder__footer {
  display: flex;
  align-items: center;
  padding: 15px 15px 50px 15px;
  @media #{$large-and-up} {
    padding: 15px;
  }   
}

.pack-builder__footer-back-button-container {
  margin-right: auto;
}

.pack-builder__footer-next-button-container{
  margin-left: auto;
}

.pack-builder__body {
  @media #{$large-and-up} {
    padding: 15px 30px;
    /* max-height: calc(100vh - 160px);
    overflow-y: scroll; */
  }
}


.pack-builder__item-title {
	@include title-h5;
	text-align: center;
  margin: 0;
}

.pack-builder__card-title {
  padding: 10px 35px 10px 10px;
  display: flex;
  align-items: center;
}

.pack-builder__card-title-text {
  @include kickers;
  margin-right: auto;
}

.pack-builder__card-title-period {
  margin-left: auto;
}

.pack-builder__input-container {
  border-bottom: 1px solid $grey-1;
}







//label

.pack-builder__inner {
  display: flex;
  align-items: center;
  @include body-copy-1;
  padding: 10px 45px 10px 15px;
  position: relative;
  overflow: hidden;
}

.pack-builder__inner--w-desc {
  flex-wrap: wrap;
}

.pack-builder__inner--select{
  padding: 15px;
}

.pack-builder__inner-info-contaier {
  margin-right: auto;
}

.pack-builder__inner-price-contaier {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-self: flex-start;
  order:2;
  @media #{$large-and-up}{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 40%;
  }
}


.pack-builder__inner-text {
  font-weight: normal;
  margin-right: auto;
  order:1;
  padding: 0 10px;
}

.pack-builder__inner-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding-top: 10px;
}

.pack-builder__inner-link {
  font-weight: normal;
  font-size: 14px;
  color: #0098D9;
  padding: 0 5px;
  line-height: 31px;
}

.pack-builder__inner-icon{
  font-size: 25px;
  display: flex;
  align-self: flex-start;
}

.pack-builder__inner-desc {
  flex-grow: 1;
  order: 3;
  width: 100%;
}


.pack-builder__inner-previous-price {
  font-weight: normal;
  color: $grey-4;
  font-size: 14px;
  text-decoration: line-through;
  @media #{$large-and-up}{
    font-size: 18px;
  }
}


.pack-builder__inner-price-contaier--sale {
    .pack-builder__inner-price {
      color: $secondary-orange;
    }
}

.pack-builder__inner-price {
  font-weight: normal;
  color: $main-green;
  @media #{$large-and-up}{
    margin-left: auto;
  }
}

.pack-builder__inner-sale {
  color: $secondary-orange;
  font-size: 14px;
  @media #{$large-and-up}{
    width: 100%;
  }
}


.pack-builder__start-container {
  padding: 0 15px;
  text-align: right;
  @media #{$large-and-up}{
    padding: 0 30px;
  }
}

.pack-builder__start {
  width: 100%;
  margin: 15px 0;
  height: 40px;
  @media #{$large-and-up}{
    width: 160px;
  }
}




//delete

.pack-builder__delete-button {
  background: transparent;
  border: 0;
  position: absolute;
  right: 15px;
  top: 15px;

  &:hover {
    color: $main-blue;
  }
}

.pack-builder__delete-panel-container {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: none;
}

.pack-builder__delete-panel {
  background-color: $secondary-orange;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0 15px;
  align-items: center;
}

.pack-builder__delete-cancel {
  color: #fff;
  cursor: pointer;
}

.pack-builder__delete-accept {
  color: #fff;
  margin-left: auto;
  cursor: pointer;
}


//select
.pack-builder__select {
  order: 3;
  margin-left: 5px;
  margin-right: -10px;
  border-radius: 4px;
}
