.pack-resume {

}

.pack-resume__info-panel {
	background-color: $grey-1;
	font-size: 32px;
	font-weight: 100;
    padding: 35px 35px 70px;
	display: none;
	@media #{$large-and-up} {
    	display: block;
  	}
}


.pack-resume__summary {
	background-color: $main-green;
	padding: 25px 10px;
	display: none;
	@media #{$large-and-up} {
    	background-color: transparent;
    	padding:0;
  	}
}

.pack-resume--islaststep {
	.pack-resume__summary {
		display: block;
	}
}

.pack-resume--isactive {
	@media #{$large-and-up} {
		.pack-resume__info-panel {
		display: none;
	}

		.pack-resume__summary {
			display: block;
		}
  	}
}

.pack-resume__summary-inner {
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    @media #{$large-and-up} {
    	border-radius: 0;
		box-shadow: none;
		border: 2px solid $grey-1;
  	}
}

.pack-resume__header {
    margin: 17px 0;
}

.pack-resume__title{
	@include title-h4;
	text-align: center;
}

.pack-resume__list {
	margin: 20px 15px;
	border-top: 1px solid $grey-3;
	border-bottom: 1px solid $grey-3;
	@include body-copy-2;
}

.pack-resume__item {
	display: flex;
	padding: 15px 0;
}

.pack-resume__item-price {
	margin-left: auto;
}

.pack-resume__item-price--discount {
	color: $secondary-orange;
}

.pack-resume__item-price--total {
	font-weight: bold;
}

.pack-resume__ca-container {
	padding: 0 15px;
}

.pack-resume__ca {
	width: 100%;
	height: 48px;
}

.pack-resume__collapse {
	box-shadow: none;
    border: 0;
    margin: 10px 1px 0;

    .pack-resume__collapse-arrow {
		font-family: 'icomoon' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		margin-left: 5px;
	    position: relative;
	    bottom: -2px;

		&::before {
			content: "\e313";
		}
    }

    .active {
    	.pack-resume__collapse-arrow::before {
    		content: "\e316";
    	}
    }

    .collapsible-header {
		border-bottom: 0;
		text-align: center;
		color: $grey-3;
    }

    .collapsible-body {
    	padding: 1rem;
    	border: 0;
    }
}

.pack-resume__discount-item {
	display: flex;
}

.pack-resume__discount-item-title {

}

.pack-resume__discount-item-price {
	margin-left: auto;
}

.pack-resume__call-us {
	display: none;
	text-align: center;
	background-color: $grey-1;
	color: $grey-4;
	padding: 5px 0;
	@media #{$large-and-up} {
    	display: block;
  	}
}