//
// Utility classes
// --------------------------------------------------

// Toggling content
.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.force-offset {
    display: block !important;
    position: absolute !important;
    visibility: hidden !important;
}

// Unselectable
.unselectable, .unselectable * {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

// Scroll lock
.scroll-lock {
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}