body {
    &.nat-navbar--push-menu {
        overflow-x: hidden;
        position: relative;
        left: 0;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;
    }
    &.nat-navbar--active {
        left: -85%;
        overflow: hidden;
        &.nat-navbar--push-menu-full {
            left: -100%;
            .nat-header--overlay {
                left: -100%;
            }
            .nat-header {
                &.nat-header--nav {
                    .navbar__menu {
                        .navbar__scroll {
                            left: 0%;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .nat-header--overlay {
            width: 100%;
            opacity: .5;
            left: -50%;
        }
        .nat-header {
            &.nat-header--nav {
                .navbar__menu {
                    .navbar__scroll {
                        left: 15%;
                    }
                }
            }
        }
    }
}
.nat-header--overlay {
    position: fixed;
    height: 100%;
    width: 0;
    z-index: 97;
    top: 0;
    left: 0;
    background-color: $black;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity .3s;
}
.nat-header {
    &.nat-header--nav {
        position: sticky;
        top: 0;
        z-index: 999;
        //padding: 15px 0;
        background-color: $white;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
        @media (min-width: 992px) {
            //padding: 20px 0;
        }
        .container {
            @media (min-width: 576px) {
                max-width: 540px;
            }
            @media (min-width: 768px) {
                max-width: 720px;
            }
            @media (min-width: 992px) {
                max-width: 1200px;
            }
            @media (min-width: 1200px) {
                max-width: 1280px;
            }
        }
        .navbar__menu {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: justify;
            justify-content: space-between;

            background: transparent;
            height: 64px;
            line-height: inherit;
            box-shadow: inherit;
            color: $gray-dark2;
            @media (min-width: 992px) {
                -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
                -ms-flex-pack: start;
                justify-content: flex-start;

                flex-direction: row;
                height: 79px;
            }
            .navbar__brand {
                display: inline-block;
                margin-right: 1rem;
                line-height: inherit;
                white-space: nowrap;
                color: #509ef4;
                svg {
                    width: 45px;
                    height: 33px;
                    fill: currentColor;
                    @media (min-width: 1200px) {
                        width: 232px;
                    }
                    #movistar-transparency-text {
                        display: none;
                        @media (min-width: 1200px) {
                            display: block;
                        }
                    }
                }
                img{
                	width: 232px;
                }
            }
            .navbar__hamburger {
                position: relative;
                display: inline-flex;
                width: 30px;
                height: 30px;
                padding: 0;
                border: 0;
                background-color: transparent;
                cursor: pointer;
                @media (min-width: 992px) {
                    display: none;
                }
                &.active {
                    .button__inner, .button__inner::after, .button__inner::before {
                        background-color: $skyblue;
                    }
                }
                &.button--elastic {
                    .button__inner {
                        top: 50%;
                        display: block;
                        margin-top: -2px;
                        &::after, &::before {
                            display: block;
                            content: "";
                        }
                        &::before {
                            top: -10px;
                        }
                        &::after {
                            bottom: -10px;
                        }
                    }
                    .button__inner, .button__inner::after, .button__inner::before {
                        position: absolute;
                        width: 30px;
                        height: 2px;
                        transition-timing-function: ease;
                        transition-duration: .15s;
                        transition-property: transform;
                        border-radius: 4px;
                        background-color: $skyblue;
                    }
                }
                &.button--elastic {
                    &.active {
                        .button__inner {
                            transition-delay: 75ms;
                            transform: translate3d(0,10px,0) rotate(135deg);
                            &::before {
                                transition-delay: 0s;
                                opacity: 0;
                            }
                            &::after {
                                transition-delay: 75ms;
                                transform: translate3d(0,-20px,0) rotate(-270deg);
                            }
                        }
                    }
                    .button__inner {
                        top: 6px;
                        transition-timing-function: cubic-bezier(.68,-.55,.265,1.55);
                        transition-duration: .275s;
                        &::before {
                            top: 10px;
                            transition: opacity .125s ease .275s;
                        }
                        &::after {
                            top: 20px;
                            transition: transform .275s cubic-bezier(.68,-.55,.265,1.55);
                        }
                    }
                }
            }
            .navbar__scroll {
                -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
                -ms-flex-positive: 1;
                flex-grow: 1;
                -ms-flex-align: center;
                align-items: center;
                @media (min-width: 992px) {
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-preferred-size: auto;
                    flex-basis: auto;
                    height: 100%;
                }
                @media (max-width: 991px) {
                    position: fixed;
                    width: 85%;
                    height: 100%;
                    top: 0;
                    left: 100%;
                    z-index: 1000;
                    height: 100vh;
                    overflow-x: hidden;
                    overflow-y: auto;
                    transition: all .3s ease;
                }
                .navbar__nav {
                    padding-top: 4.938rem;
                    @media (min-width: 992px) {
                        background-color: transparent;
                        margin: 0;
                        padding: 0;
                        margin-left: auto;
                        height: 100%;
                    }
                }
            }
            .navbar__nav {
                display: none;
                flex-direction: column;
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
                margin: 0;
                @media (min-width: 992px) {
                    display: flex;
                    flex-direction: row;
                }
                .nav__item {
                    display: flex;
                    align-items: center;
                    float: inherit;
                    list-style: none;
                    @media (min-width: 992px) {
                        height: 100%;
                    }
                    &:last-child {
                        border-bottom: 0;
                    }
                    &.active {
                        background-color: transparent;
                        > .nav__link {
                            font-weight: 700;
                        }
                    }
                    > .nav__link {
                        display: flex;
                        align-items: center;
                        font-size: 20px;
                        font-weight: 300;
                        padding: 0 1.563rem;
                        width: 100%;
                        height: 65px;
                        color: $white;
                        transition: all ease 300ms;
                        @media (min-width: 992px) {
                            font-size: 16px;
                            font-weight: 400;
                            color: $gray-dark2;
                            width: auto;
                            height: 100%;
                            padding: 0 .6rem;
                        }
                        @media (min-width: 1280px) {
                            padding: 0 1.15rem;
                        }
                        &:hover, &:active, &:focus {
                            color: $white;
                            background-color: transparent;
                            @media (min-width: 992px) {
                                color: #d7d7d7;
                            }
                        }
                        .icon-keyboard_arrow_down {
                            transform: rotate(0);
                            transition: all ease 300ms;
                        }
                    }
                    &:hover, &:active, &:focus {
                        .nav__submenu-wrapper {
                            @media (min-width: 992px) {
                                display: flex;
                            }
                        }
                        > .nav__link {
                            .icon-keyboard_arrow_down {
                                color: $skyblue;
                                transform: rotate(-180deg);
                            }
                        }
                    }
                    .nav__submenu-wrapper {
                        position: fixed;
                        left: 0;
                        display: none;
                        top: 78px;
                        margin-top: 0;
                        padding-top: 25px;
                        padding-bottom: 25px;
                        width: 100%;
                        background: $white;
                        border-top: 1px solid #d7d7d7;
                        box-shadow: rgba(0,0,0,0.14) 0 2px 2px 0;
                        z-index: 10;
                        .submenu__content {
                            width: 100%;
                            padding-right: 15px;
                            padding-left: 15px;
                            margin-right: auto;
                            margin-left: auto;
                            @media (min-width: 992px) {
                                max-width: 960px;
                            }
                            @media (min-width: 1200px) {
                                max-width: 1140px;
                            }
                        }
                        .submenu__list {
                            display: flex;
                            flex-wrap: wrap;
                            margin: 0;
                            margin-right: -15px;
                            margin-left: -15px;
                            list-style: none;
                            padding: 0;
                            .submenu__item {
                                position: relative;
                                width: 100%;
                                padding-right: 15px;
                                padding-left: 15px;
                                float: none;
                                @media (min-width: 992px) {
                                    flex: 0 0 25%;
                                    max-width: 25%;
                                }
                                > .nav__link {
                                    display: block;
                                    font-size: 16px;
                                    padding: .5rem 0;
                                    color: $white;
                                    transition: all ease 300ms;
                                    @media (min-width: 992px) {
                                        color: $gray-dark2;
                                    }
                                    @media (min-width: 1200px) {
                                        padding: .5rem 0;
                                    }
                                    &:hover, &:active, &:focus {
                                        color: $white;
                                        background-color: transparent;
                                        @media (min-width: 992px) {
                                            color: $skyblue;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .navbar__nav-mobile {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                list-style: none;
                margin: 0;
                transition: all ease 300ms;
                @media (min-width: 992px) {
                    display: none;
                }
                &.open {
                    left: -100%;
                }
                .nav__item {
                    display: flex;
                    align-items: center;
                    float: inherit;
                    list-style: none;
                    &:last-child {
                        border-bottom: 0;
                    }
                    &.active {
                        background-color: transparent;
                        > .nav__link {
                            font-weight: 700;
                        }
                    }
                    > .nav__link {
                        position: relative;
                        display: flex;
                        align-items: center;
                        font-size: 20px;
                        font-weight: 300;
                        padding: 0 1.563rem;
                        width: 100%;
                        height: 65px;
                        color: $white;
                        transition: all ease 300ms;
                        &:hover, &:active, &:focus {
                            color: $white;
                            background-color: transparent;
                        }
                        .icon-navigate_next {
                            position: absolute;
                            font-size: 20px;
                            right: 15px;
                        }
                    }
                }
            }
            .navbar__submenu-mobile {
                position: absolute;
                top: 0;
                left: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
                margin: 0;
                transition: all ease 300ms;
                @media (min-width: 992px) {
                    display: none;
                }
                &.submenu--open {
                    left: 0;
                }
                &.submenu--hidden {
                    left: -100%;
                }
                .nav__item {
                    display: flex;
                    align-items: center;
                    float: inherit;
                    list-style: none;
                    &:last-child {
                        border-bottom: 0;
                    }
                    &.active {
                        background-color: $skyblue3;
                    }
                    > .submenu__link {
                        position: relative;
                        display: flex;
                        align-items: center;
                        font-size: 20px;
                        font-weight: 300;
                        padding: 0 1.563rem;
                        width: 100%;
                        height: 65px;
                        color: $white;
                        transition: all ease 300ms;
                        &:hover, &:active, &:focus {
                            color: $white;
                            background-color: transparent;
                        }
                        &.nav__link-return, &.nav__link-return-2 {
                            font-size: 16px;
                            font-weight: 400;
                            justify-content: center;
                            .icon-navigate_before {
                                position: absolute;
                                font-size: 20px;
                                left: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
