.header{
    position: sticky;
    z-index: 9;
    top: 0;
    @media only screen and (min-width: 992px){
        top: -32px;
    }
    .header__nav{        
        height: auto;
        background: $white;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        line-height: 64px;
        @media only screen and (min-width: 992px){
            line-height: 80px;
        }
    }
    .nav-wrapper--top{
        display: none;
        background: $gray-white;
        padding: 7px 0;
        @media only screen and (min-width: 992px){
            display: block;
        }
        .list{
            width: 100%;
            max-width: 1325px;
            margin: 0 auto;
            padding: 0 32px 0 22px;
            display: flex;
            justify-content: flex-start;
            .item{
                float: none;
                padding: 0 10px;
            }
            .link{
                @include tipography-normal;
                font-size: 14px;
                line-height: 18px;
                color: $gray;
                padding: 0;
                &:hover,
                &:focus{
                    background: transparent;
                    outline: none;
                }
            }            
            .link.active{
                @include tipography-bold;
            }
        }
    }
    .nav-wrapper{
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        @media only screen and (min-width: 992px){
            justify-content: center;
        }
        .brand-logo{
            position: relative;
            display: block;
            font-size: 39px;
            color: $color_cian;
            line-height: inherit;
            @media only screen and (max-width: 992px){
                left: 0;
                transform: inherit;
            }
            &:focus{
                outline: none;
            }
            .brand-logo__svg {
                width: 200px;
                height: 39px;
                @media only screen and (max-width: 991px){
                    width: 53px;
                }
                .logo__letters {
                    @media only screen and (max-width: 991px){
                        display: none;
                    }
                }
            }
        }
        .list{
            display: none;
            width: 100%;
            max-width: 908px;
            justify-content: center;
            margin: 0;
            &:focus{
                outline: none;
            }
            @media only screen and (min-width: 992px){
                display: flex !important;
            }
            @media only screen and (max-width: 991px){
                position: absolute;
                top: 64px;
                background: $skyblue;
                z-index: 1;
                max-width: inherit;
                left: 0;
                right: 0;
                margin: 0;
                border: 0;
            }
        }
        .item{
            float: none;
            padding: 0 15px;
            border-bottom: 1px solid rgba(11,39,57,0.1);
            background: transparent;
            @media only screen and (min-width: 992px){
                border-bottom: 0;
                height: 100%;
            }       
            .dropdown-content{
                background-color: transparent;
                margin: 0;
                display: none;
                max-height: auto;
                margin-left: -1px;
                overflow: hidden;
                opacity: 1;
                position: relative;
                white-space: nowrap;
                z-index: 1;
                will-change: width;
                box-shadow: inherit;
                border: 0;
                top: 0 !important;
                padding: 0;
                &:focus{
                    outline: none;
                }
                @media only screen and (min-width: 992px){
                    background-color: #FFFFFF;
                    position: absolute;
                    min-width: 300px;
                    top: 79px !important;
                    opacity: 0;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                }
            }
            .dropdown-item{
                border-top: 1px solid rgba(11,39,57,.1);
                background: transparent;
                @media only screen and (min-width: 992px){
                    border: 0;
                }
                a{
                    @include tipography-normal;
                    font-size: 16px;
                    color: $white;
                    text-align: center;
                    &:hover{
                        background: transparent;
                        @media only screen and (min-width: 992px){
                            background: $gray-white;
                        }
                    }
                    &:focus{
                        outline: none;
                    }
                    @media only screen and (min-width: 992px){
                        text-align: left;
                        color: $gray;
                    }
                }
            }
            
        }
        .item.current-item{
            .link {
                font-weight: 700;
            }
        }
        .link{
            font-size: 28px;
            font-weight: 300;
            color: $white;
            padding: 24px 0;
            text-align: center;
            background: transparent;
            border: 0;
            display: block;
            @media only screen and (min-width: 992px){
                @include tipography-normal;
                font-size: 16px;
                line-height: 80px;
                text-align: left;
                color: $color_azul-dark;
                padding: 0;
            }
            &:hover{
                background: transparent;
            }
            &:focus{                
                outline: none;
            }
            .icon {
                display: none;
                font-size: 7px;
                vertical-align: middle;
                margin-top: -2px;
                margin-left: 5px;
                @media only screen and (min-width: 992px){
                    display: inline-block;
                }
            }
        }        
    }
    .hamburger{
        display: block;
        cursor: pointer;
        @media only screen and (min-width: 992px){
            display: none;
        }
        .layer {
            background:$gray;
            margin-bottom:3px;
            border-radius:0;
            width:34px;
            height:3px;
            opacity:1;
            transform:translate3d(0, 0, 0);
            transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        }
    }
    .hamburger.is-active .layer{
        background:$skyblue;
    }
    .hamburger.is-active .top{
        transform: translateY(230%) rotate(45deg)!important;
    }
    .hamburger.is-active .mid{
        opacity:0;
    }
    .hamburger.is-active .bottom{
        transform:translateY(-200%) rotate(135deg) !important;
    }
}