.section--acceso_directo{
    padding: 44px 0 25px;
    @media only screen and (min-width: 992px){
        padding: 62px 0;
    }
    .section--acceso_directo-header{
        margin-bottom: 32.5px;
        @media only screen and (min-width: 992px){
            margin-bottom: 40px;
        }
        .col--pe-titulo{
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            margin: 0;
            @media only screen and (min-width: 992px){                
                font-size: 40px;
                line-height: 48px;
            }
        }
    }
    .container{
        width: 100%;
        padding: 0 6%;
        @media only screen and (min-width: 1440px){
            padding: 0 80px;
        }
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        margin-left: -8px; 
        margin-right: -8px;
        margin-bottom: 0;
        justify-content: center;
        @media only screen and (min-width: 1199px){
            margin-left: -20px; 
            margin-right: -20px;
        }
    }
    .col{
        padding-left: 8px;
        padding-right: 8px;
        margin: 7.5px 0;
        flex-grow: 1;
        max-width: 100%;
        @media only screen and (min-width: 1199px){
            padding-left: 20px;
            padding-right: 20px;
            margin: 15px 0;
        }
    }
    .acceso_directo--list.list--destacados{
        .acceso_directo--item{
            .item--icon{
                width: 100%;
                align-self: flex-start;
                text-align: right;
                @media only screen and (min-width: 600px){
                    width: 23px;
                    align-self: inherit;
                    text-align: inherit;
                }
            }
            .item--titulo{
                width: 100%;
                align-self: flex-end;
                text-align: left;
                @media only screen and (min-width: 600px){
                    width: auto;
                    align-self: inherit;
                    text-align: inherit;
                }
            }
            @media only screen and (min-width: 600px){
                justify-content: center;
                align-items: center;
            }
        }
    }
    .acceso_directo--list.list--estandar-full{
        .acceso_directo--item{
            height: 127px;
            @media only screen and (min-width: 600px){
                height: 133px;
            }
            .item--icon{
                align-self: flex-start;
            }
            .item--titulo{
                align-self: flex-end;
                width: 100%;
            }
        }
    }
    .acceso_directo--list.list--estandar-basico{
        .acceso_directo--item{
            height: 127px;
            @media only screen and (min-width: 600px){
                height: 105px;
                justify-content: center;
                align-items: center;
            }
        }
        .item--icon{
            align-self: flex-start;
            @media only screen and (min-width: 600px){
                align-self: inherit;
            }
        }
        .item--titulo{
            align-self: flex-end;
            width: 100%;
            @media only screen and (min-width: 600px){
                width: auto;
                align-self: inherit;
            }
        }
    }
    .acceso_directo--item{
        padding: 15px;
        border-top: 8px solid;
        background: #FFFFFF;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        height: 76px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 0;
        @media only screen and (min-width: 600px){
            height: 105px;
            overflow: hidden;
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 101%;
                transform: scaleY(0);
                transform-origin: 50% 0;
                transition-property: transform;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
                border-radius: 0 0 5px 5px;
            }
            &:hover{
                &:before{
                    transform: scaleY(1);
                }
                .item--icon,
                .item--titulo{
                    color: #fff;
                }
            }
        }
        @media(max-width: 601px){
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 101%;
                transform: scaleY(0);
                transform-origin: 50% 0;
                transition-property: transform;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
                border-radius: 0 0 5px 5px;
            }
            &:focus{
                &:before{
                    transform: scaleY(1);
                }
                .item--icon,
                .item--titulo{
                    color: #fff;
                }
            }
        }
        .item--icon{
            font-size: 21px;
            line-height: 24px;
            margin-right: 0;
            width: 23px;
            @media only screen and (min-width: 600px){
                margin-right: 6px;
            }
        }
        .item--titulo{
            font-family: Telefonica;
            font-size: 15px;
            line-height: 22px;
            color: #50535A;
            @media only screen and (min-width: 1199px){
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
    .color--cian{
        color: $color_cian !important;
        &:before{
            background: $color_cian;
        }
    }
    .color--rosado{
        color: $color_rosado !important;
        &:before{
            background: $color_rosado;
        }
    }
    .color--amarillo{
        color: $color_amarillo !important;
        &:before{
            background: $color_amarillo;
        }
    }
    .color--morado{
        color: $color_morado !important;
        &:before{
            background: $color_morado;
        }
    }
    .color--verde{
        color: $color_verde !important;
        &:before{
            background: $color_verde;
        }
    }
}