.banner-hero{
    position: relative;    
    .slider{
        margin: 0;
        height: 500px;
        overflow: hidden;
    }
    .slider__item{
        height: 500px;
        position: relative;
        text-align: left;
        .item__picture{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
        }
        .item__container{
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            z-index: 1;
            .container{
                width: 100%;
                padding: 25px 25px 65px;
                @media only screen and (min-width: 600px){
                    padding: 66px 25px;
                }
            }
            .container__free-html{
                width: 100%;            
                max-width: 626px;
            }
            .container__formulario--basico{
                .container__body{
                    .subtitle{
                        margin-bottom: 11px;
                    }
                }
                .formulario{
                    .input--field-doc,
                    .input--field-phone{
                        @media(max-width: 600px){
                            flex: 0 163px;
                            max-width: 163px;
                            margin-left: 0;
                        }
                    }
                    .input--field-check{
                        @media(max-width: 600px){
                            margin-top: 12px;
                        }
                    }
                }
            }
            .container__formulario--full{
                .container__body{
                    .subtitle{
                        margin-bottom: 11px;
                    }
                }
                .formulario{
                    margin-top: 10px;
                    @media(max-width: 600px){
                        width: 270px;
                    }
                    .input--field{
                        margin-bottom: 8px;
                    }
                    .input--field-doc,
                    .input--field-phone{
                        flex: 0 50%;
                        max-width: 50%;
                    }
                    .input--field-doc{
                        padding-right: 2.5px;
                    }
                    .input--field-phone{
                        padding-left: 2.5px;
                    }
                    .input--field-horario{
                        display: block !important;
                        margin-bottom: 14px;
                    }
                    .input--field-check{
                        margin-bottom: 12px;
                    }
                    .input--field-bottom{
                        margin-bottom: 0;
                    }
                    .input--field-control{
                        width: 100%;
                    }
                }
            }  
        }
        .container__header{
            width: 100%;            
            max-width: 626px;
        }
        .container__body{
            max-width: 270px;
            position: relative;
            @media only screen and (min-width: 600px){
                max-width: 626px;
            }  
        }
        .container__body.container__body--medium{
            @media only screen and (min-width: 600px){
                max-width: 313px;
            }  
        }
        .container__header{
            margin: 0 0 18px;
            .badge{
                @include root-tipography;
                font-size: 16px;
                line-height: 24px;
                height: 24px;
                text-transform: uppercase;
                float: none;
                display: inline-block;
                margin: 0;
                @media only screen and (min-width: 600px){
                    font-size: 18px;
                    line-height: 24px;
                }
                i{
                    margin-right: 5px;
                    font-size: 12px;
                    display: inline-block;
                    vertical-align: baseline;
                    @media only screen and (min-width: 992px){
                        font-size: 15px;
                    }
                    &::before{
                        color: #ffffff;
                    }

                }
            }
        }
        .container__body{
            .title{
                @include root-tipography-regular;
                font-size: 25px;
                line-height: 31px;
                margin: 0 0 18px;
                @media only screen and (min-width: 600px){
                    font-size: 35px;
                    line-height: 44px;
                }
            }
            .title--large{
                font-size: 35px;
                line-height: 44px;
                @media only screen and (min-width: 600px){
                    font-size: 60px;
                    line-height: 75px;
                }
            }
            .subtitle,
            .description{
                @include root-tipography-regular;
                font-size: 16px;
                line-height: 20px;
                margin: 0 0 18px;
                display: block;
                @media only screen and (min-width: 600px){
                    font-size: 24px;
                    line-height: 30px;
                }
                @media (max-width: 600px) {
                    width: 180px;
                }
            }
            .btn--primary{
                min-width: 142px;
                padding: 0;
                @media only screen and (min-width: 600px){
                    width: auto;
                    min-width: 176px;
                }
            }

            .formulario{
                width: 445px;
                max-width: 100%;
                margin: 0;
                position: relative;
                .row{
                    display: flex;
                    flex-wrap: wrap;
                }
                .col{
                    flex-basis: 0;
                    flex-grow: 1;
                }
                .s12{
                    flex: 0 100%;
                    max-width: 100%;                        
                }
                @media only screen and (min-width: 600px){
                    .m6{
                        flex-basis: 0;
                        flex-grow: 1;
                    }
                }
                .input--field{
                    margin-bottom: 6px;
                    position: relative;
                    @media only screen and (min-width: 600px){
                        margin-bottom: 11px;
                    }                                            
                    .alert--danger-text{
                        font-size: 12px;
                        width: 85%;
                        margin: 0 0 0 2px;
                        position: absolute;
                        top: 50%;
                        transform: translate(0, -50%);
                        cursor: text;
                        pointer-events: none;
                        background: $alert_danger_bg;
                        @media only screen and (min-width: 992px){
                            font-size: 14px;
                            width: 90%;
                        }
                    }
                }
                .input--field-doc{
                    order: 1;
                    @media only screen and (min-width: 600px){
                        padding-right: 4px;
                    }
                }
                .input--field-phone{
                    order: 2;                                        
                    @media only screen and (min-width: 600px){
                        padding-left: 4px;
                    }
                }
                .input--field-horario{
                    order:2;
                    width: 100%;
                }
                .input--field-check{
                    order: 3;
                    margin-bottom: 18px !important;
                }
                .input--field-bottom{
                    order: 4;
                    margin-bottom: 0;
                    .btn{
                        margin-top: 0;
                    }
                }
                .progress-button{
                    letter-spacing: inherit;
                }
                .progress-button[data-style=shrink][data-horizontal].state-loading{
                    transform: scaleY(.75);
                }
                .progress-button[data-style=shrink][data-horizontal] .content::before{
                    font-family: "icomoon";
                    font-size: 16px;
                    line-height: 42px;
                    content: "\e5ca";
                    white-space: pre;
                    @media only screen and (min-width: 600px){
                        font-size: 18px;
                        line-height: 48px;
                    }                    
                }                
            }

            .mobile-app{
                display: flex;
                flex-wrap: wrap;
                margin: 0 -10px 0 -10px;
                .app__item{
                    width: 100%;
                    max-width: 150px;
                    padding: 0 10px;
                    margin: 5px 0;
                    @media only screen and (min-width: 600px){
                        max-width: 190px;
                        margin: 0;
                    }
                    a{
                        display: block;
                    }
                    img{
                        width: 100%;
                        display: block;
                    }
                    &:focus{
                        outline: inherit;
                    }
                }
            }

        }
        .container__message{
            display: none;
            position: relative;
            right: 0;
            left: 0;
            width: 100%;
            max-width: 238px;
            @media only screen and (min-width: 600px){
                max-width: 300px;
            }
            .message__title{
                @include root-tipography-bold;
                font-size: 24px;
                line-height: 24px;
                margin: 0 0 10px;
            }
            .nat__badge{
                background: inherit;
                .badge{
                    text-transform: initial;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 24px;
                }
            }
            .message__texto{
                @include root-tipography;
                font-size: 16px;
                line-height: 24px;
                margin: 0;
                br{
                    display: none;
                }
                @media only screen and (min-width:600px){
                    br{
                        display: block;
                    }
                }
            }
            .btn--primary{
                margin-top: 17px;
            }
        }
        .container__footer{
            position: absolute;
            bottom: 35px;
            .ancla{
                color: $color_texto;
                text-decoration: underline;
            }
        }
    }
    .slider__item.custom-object-fit{
        height: 100vh;
        background-size: cover;
        max-height: 500px;
        position: relative;
        background-position: right;              
        .picture__image{
            opacity: 0;
        }
    }
    .picture{
        .picture__image{
            object-fit: cover;
            object-position: right top;
            height: 100%;
            max-width: 100%;
            width: 100%;
        }
    }
    .slick-dots{
        bottom: 13px;
        z-index: 1;
        li{
            width: 10px;
            height: 10px;
            button{
                width: 10px;
                height: 10px;
                background: #E9EAE8;
                border-radius: 100px;
                padding: 0;
                &::before{
                    display: none;
                }
            }
            button[aria-label="1 of 1"]{
                display: none;
            }
        }
    }
    .modal--clausula{
        width: 95%;
        max-width: 410px;
        max-height: 100%;
        .modal-header{
            padding: 0;
            .modal-close{
                position: absolute;
                right: 3%;
                font-size: 24px;
                color: #50535A;
            }
        }
        .modal-content{
            @media (max-width:600px){
                padding: 24px;
            }
            .icon{
                font-size: 20px;
                width: 20px;
                margin: 0 auto 6px;
                display: block;
            }
            .title{
                font-size: 22px;
                line-height: 29px;
                text-align: center;
                font-weight: normal;
                color: #50535A;
                margin-bottom: 14px;
            }
            .description{
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
                color: #50535A;
                margin: 12px 0;
            }
            .btn--primary{
                margin: 0 auto;
                display: block;
            }
        }
    }
}