.plans{
    padding: 50px 0;
    position: relative;
    .container{
        position: relative; 
        @media only screen and (min-width: 1350px){
            width: 88%;
        }
        @media(max-width: 1350px) and (min-width: 1200px){
            width: 80%;
        }
        @media(max-width: 1200px) and (min-width: 992px){
            width: 90%;
        }
        @media(max-width: 992px) and (min-width: 650px){
            max-width: 620px;
            width: 100%;
        }
        @media(max-width: 650px){
            max-width: 290px;
            width: 100%;
        }
    }
    .plans__list{        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 -20px;
        position: initial;
        overflow: hidden;
        .plan__item{
            padding: 0 20px;
            width: 330px;
            > .container{
                width: 100%;
                max-width: 100%;
                background: #FFFFFF;
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.03);
                border-radius: 15px;
                padding: 0;
            }            
        }        
        .plan__header{
            padding: 38px 21px 25px;
            border-bottom: 1px solid #F4F4F3;
            position: relative;
            text-align: left;
            .price{
                font-family: Telefonica;
                font-style: normal;
                font-size: 45px;
                line-height: 56px;                
                display: block;
                margin: 0;
                sub{
                    bottom: 0;
                    font-size: 45%;
                }
            }
            .information{
                font-family: Telefonica;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #86888C;
                display: block;
                margin: 0;
            }
            .save{
                font-family: Telefonica;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;                
                margin: 0;
            }
            .amount{
                display: flex;
                align-items: center;
                .amount--network{
                    font-family: Telefonica;
                    font-style: normal;
                    font-size: 40px;
                    line-height: 50px;                    
                    text-transform: uppercase;
                    margin: 0 7px 0 0;
                }
                .amount--time{
                    font-family: Telefonica;
                    font-style: normal;
                    font-size: 16px;
                    line-height: 15px;                    
                    margin-left: 7px;
                    margin: 0;
                    b{
                        display: block;
                    }
                }
            }
            .btn{
                border-radius: 100px;
                font-size: 18px;
                line-height: 48px;
                box-shadow: inherit;
                width: 100%;
                height: 48px;
                margin-top: 25px;
            }
            .discount{
                position: absolute;
                top: -28px;
                right: -10px;
                width: 108px;
                height: 108px;
                background: url('../images/peru/bg-contenedor.png') transparent;
                background-size: 216px;
                background-position: -108px 0.5px;
                background-repeat: no-repeat;
                .container{
                    width: 100%;
                    max-width: 100%;
                    text-align: center;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 19px 0;
                    .mount{
                        font-family: Telefonica;
                        font-style: normal;
                        font-size: 32px;
                        line-height: 40px;
                        font-weight: 300;
                        color: #FFFFFF;
                        display: block;
                        width: 100%;
                        margin: 0;
                    }
                    .description{
                        font-family: Telefonica;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 15px;
                        color: #FFFFFF;
                        display: block;
                        width: 100%;
                        margin: 0;
                    }
                }
            }
            .discount.color--rosado-bg{
                background: url('../images/peru/bg-contenedor.png') transparent!important;
                background-size: 216px !important;
                background-position: 0px -108.5px!important;
                background-repeat: no-repeat !important;
            }
            .discount.color--cian-bg{
                background: url('../images/peru/bg-contenedor.png') transparent!important;
                background-size: 216px !important;
                background-position: 0 0.5px !important;
                background-repeat: no-repeat !important;
            }
            .discount.color--verde-bg{
                background: url('../images/peru/bg-contenedor.png') transparent!important;
                background-size: 216px !important;
                background-position: -108px -108.5px !important;
                background-repeat: no-repeat !important;
            }
        }
        .plan__body{
            width: 100%;
            padding: 25px 0;  
            .benefit__list{
                display: flex;
                justify-content: center;
            }
            .benefit__list--compress{
                padding: 0 17px;
                margin: 0 -1%;
                .item__description{
                    .information{
                        width: 100%;
                        max-width: 60px;
                        margin: auto;
                    }
                }
                .benefit__item{
                    width: 100%;                    
                    padding: 0 1%;
                }                
            }
            .benefit__list--complete{
                display: none;
                padding: 0 18px;
                margin: 0;
                .benefit__item{
                    display: flex;
                    align-items: flex-start;
                    padding: 9px 0;
                    .item__icon{
                        margin: 0 20px 0 0;
                    }
                    .item__description{
                        text-align: left;
                        .title{
                            font-family: Telefonica;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 20px;
                            
                        }
                        .information{
                            font-family: Telefonica;
                            font-style: normal;
                            font-size: 16px;
                            line-height: 20px;
                            color: #86888C;
                            margin: 0;
                        }
                    }
                }
                .benefit__item--app{
                    .container{
                        width: 100%;
                        max-width: 100%;
                        border: 0.5px solid #C4C4C4;
                        border-radius: 9px;
                        padding: 10px;
                        .app__title{
                            font-family: Telefonica;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 20px;
                            text-align: center;
                            display: block;
                            color: #86888C;
                            margin-bottom: 10px;
                        }
                        .app__list{
                            display: flex;
                            margin: 0 -6px;
                            justify-content: center;                            
                            .app__item{
                                padding: 0 4px;
                                width: auto;
                                max-width: 100%;
                                span[class^='icon']{
                                    display: block;
                                    font-size: 24px;
                                    text-align: center;
                                    
                                    svg{
                                        display: inline-block;
                                        font-size: inherit;
                                        width: 1em;
                                        height: 1em;
                                        overflow: visible;
                                        stroke-width: 0;
                                        stroke: currentColor;
                                        fill: currentColor;
                                    }
                                }
                            }
                        }
                    }
                }
                .benefit__item--exclusive{
                    padding-bottom: 0;
                    .container{
                        width: 100%;
                        max-width: 100%;
                        padding: 7px 0 0 0;
                        .exclusive__title{
                            font-family: Telefonica;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 20px;
                            text-align: center;
                            
                            display: block;
                            margin: 0 0 13px;
                        }
                        .exclusive__list{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            margin: 0 -10px;
                        }
                        .exclusive__item{
                            padding: 0 10px;
                        }
                    }
                }
            }
            .benefit__item{
                .item__icon{
                    margin-bottom: 14px;
                    span[class^='icon']{
                        display: block;
                        font-size: 24px;
                        text-align: center;
                        
                        svg{
                            display: inline-block;
                            font-size: inherit;
                            width: 1em;
                            height: 1em;
                            overflow: visible;
                            stroke-width: 0;
                            stroke: currentColor;
                            fill: currentColor;
                        }
                    }
                }
                .item__description{
                    text-align: center;
                    .information{
                        font-family: Telefonica;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 10px;
                        line-height: 12px;                        
                        color: #86888C;
                        display: block;
                    }
                }
            }
        }
        .plan__footer{
            border-top: 1px solid #F4F4F3;
            .btn-flat{
                font-family: Telefonica;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                height: auto;
                padding: 23px 0;
                color: #019BF2;
                width: 100%;
                text-align: center;
                &:hover{
                    background: #fff;
                }
                &:focus{
                    background: #fff;
                }
                &:active{
                    background: #fff;
                }
                span[class^='icon']{
                    margin-left: 9px;
                    transition: all 200ms ease-in;
                    display: inline-block;
                }
            }
            .btn-flat::before{
                content: 'Ver';
            }
        }
        .plan__item.item--open{
            .plan__footer{
                .btn-flat::before{
                    content: 'Ocultar';                    
                }
                .btn-flat{
                    span[class^=icon]{
                        transform: rotate(-180deg);
                        transition: all 200ms ease-out;
                    }
                }
            }
        }
        .slick-list{
            padding: 30px 0;
            width: 100%;
            @media only screen and (min-width: 1350px){
                overflow: visible;
            }
            .slick-track{
                margin: auto;
            }
        }
        .slick-next{
            right: -75px;
        }
        .slick-prev{
            left: -75px;
        }
        .slick-dots{
            position: relative;
            bottom: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li{
                width: 100%;
                max-width: 50px;
                button{
                    width: 100%;
                    height: 4px;
                    background-color: #cdcecd;
                    padding: 0;
                    &:before{
                        display: none;
                    }
                    &[aria-label="1 of 1"]{
                        display: none;
                    }
                }
            }
            li.slick-active{
                button{
                    background-color: #50535a;
                }
            }
        }
    }
}