.nat-equipment-header {
    .equipment__header{
        max-width: 267px;
        width: 100%;
        margin: 0 auto 54px;
        @media only screen and (min-width: 600px){
            margin-bottom: 41px;
            max-width: inherit;
        }   
    }
    .nat__title{
        margin: 0;
        @media only screen and (min-width: 992px){
            line-height: 50px;
        }
    }
    .nat__text{
        margin: 13px 0 0;
        @media only screen and (min-width: 992px){
            font-size: 24px;
            line-height: 30px;
        }
    }
}
.nat-equipment-carousel {
    svg{
        display: inline-block;
        font-size: inherit;
        width: 1em;
        height: 1em;
        overflow: visible;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
    }
    .equipment--carousel{
        max-width: 500px;
        width: 100%;
        padding: 0 20px;
        @media only screen and (min-width: 992px){
            max-width: 850px;
            padding: 0;
        }
        .equipment__list{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        .equipment__item{
            width: 237px;
            .container{
                width: 100%;                
                opacity: 0.4;
                transition: opacity .25s ease-out; 
            }
        }
        .item__device{
            position: relative;
            .device{
                display: flex;
                justify-content: center;
                .image__device{
                    display: block;
                    width: auto;
                    margin: 0 auto;
                    height: 290px;
                    @media only screen and (min-width: 992px){
                        height: 426px;
                    }      
                }
            }
        }
        .device__promo{
            position: absolute;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 -10px;
            transform: inherit;
            display: flex;
            opacity: 0;
            visibility: hidden;
            @media only screen and (min-width: 600px){
                margin: 0 15px;
            }
            .promo__list{
                position: relative;
                display: flex;
                margin: 50px 0;
            }
            .promo__item{
                width: 62px;
                height: 62px;
                border-radius: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                margin-right: 3px;
                box-sizing: border-box;
                @media only screen and (min-width: 992px){
                    width: 70px;
                    height: 70px;
                    margin-right: 5px;
                }
                &:last-child{
                    margin-right: 0px;
                }
                .container{
                    width: 100%;    
                    text-align: center;                
                }
                .description{
                    font-weight: 300;
                    font-size: 10px;
                    line-height: 12px;
                    text-align: center;
                    margin: 0;
                    b, strong{
                        @include root-tipography-bold;
                        font-size: 13px;
                        line-height: 17px;
                        text-align: center;
                        margin: 5px 0 0;
                        display: block;
                        @media only screen and (min-width: 992px){
                            font-size: 14px;
                        }
                        small{
                            font-size: 10px;
                            line-height: 12px;
                        }
                    }
                }
            }
        }
        .device__promo--vertical{
            .promo__list{
                width: 62px;
                flex-wrap: wrap;
                @media only screen and (min-width: 992px){
                    width: 70px;
                }
            }
            .promo__item{
                margin-bottom: 3px;
                @media only screen and (min-width: 992px){
                    margin-bottom: 5px;
                }
                &:last-child{
                    margin-bottom: 0;
                    margin-left: 0;
                }
            }
        }
        .item__content{
            visibility: hidden;
            opacity: 0;
            transition: all .25s ease-out;
            margin-top: 30px;
            margin-left: -40%;
            margin-right: -40%;
            text-align: center;
            @media (min-width: 992px) {
                margin-left: -100%;
                margin-right: -100%;
            }
        }
        .device__header{
            .title{
                margin: 0;
                @include root-tipography-regular;
                font-size: 24px;
                line-height: 30px;
                text-align: center;
                b,strong{
                    display: block;
                }
            }
        }
        .device__content{
            margin-top: 5px;
            .description{
                margin: 0;
                @include root-tipography-regular;
                font-size: 16px;
                line-height: 20px;
                text-align: center;                
                @media only screen and (min-width: 992px){
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            .price{
                margin: 0;
                @include root-tipography-regular;             
                font-size: 24px;
                line-height: 30px;
                text-align: center;                
                @media only screen and (min-width: 992px){
                    font-size: 32px;
                    line-height: 40px;
                }
                small{
                    font-size: 24px;
                    line-height: 30px;
                }
            }
            .price__mounth{
                margin-top: 5px;
                @media only screen and (min-width: 992px){
                    margin-top: 10px;
                }
            }
        }
        .device__plan{
            margin: 5px 0;
            @media only screen and (min-width: 992px){
                margin: 10px 0;
            }
            .description{
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                margin: 0;
            }
        }
        .device__plan--v2{
            margin: 5px 0;
            @media only screen and (min-width: 992px){
                margin: 10px 0;
            }
            .description{
                @include root-tipography;
                font-size: 14px;
                line-height: 17px;
                color: $color_texto;
                margin: 0;
                .icon{
                    margin-right: 5px;
                    color: $color_cian;
                }
            }
        }
        .device__shipping{
            margin: 10px 0;
            .description{
                @include root-tipography;
                font-size: 14px;
                line-height: 17px;
                color: $color_texto;
                text-align: center;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                .icon{
                    margin-right: 5px;
                    color: $color_cian;
                }
            }
        }
        .device__footer{
            margin-top: 30px;
            text-align: center;
            .btn__borderless{
                height: auto;
                line-height: 20px;
            }
            .btn__root{
                margin: 0 auto;
            }
        }
        .swiper-button-next, .swiper-button-prev{
            display: none;
            width: 36px;
            top: 35%;
            transform: translate(0,-65%);
            @media only screen and (min-width: 992px){
                display: block;
            }
            &:focus{
                outline: inherit;
            }
        }
        .swiper-wrapper{
            .swiper-slide-active{
                .container{
                    opacity: 1;
                    transition: opacity .25s ease-in;
                }
                .item__device .device .image__device{
                    height: 335px;
                    @media only screen and (min-width: 992px){
                        height: 450px;
                    }
                }
                .item__content{
                    opacity: 1;
                    visibility: visible;
                    transition: all .25s ease-in;
                }
                .device__promo{
                    opacity: 1;
                    visibility: visible;
                    transition: all .25s ease-in;
                }
            }
        }
        
    }
    .equipment--block{
        width: 100%;
        padding: 0 19px;
        overflow: hidden;
        .equipment__header{
            margin-bottom: 40px;
            @media only screen and (min-width: 600px){
                margin-bottom: 56px;
            }
        }
        .equipment__list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0;
            @media only screen and (min-width: 1301px){
                margin: 0 -68px;
            }
            @media (max-width: 1300px) and (min-width: 992px){
                margin: 0 -25px;
            }
        }
        .equipment__item{
            margin-bottom: 80px;
            position: relative;
            max-width: 307px;
            width: 100%;
            padding: 0;
            @media only screen and (min-width: 992px){
                &:nth-last-child(-n+3){
                    margin-bottom: 0;
                }
            }
            @media(max-width: 991px) and (min-width: 769px){
                &:nth-last-child(-n+2){
                    margin-bottom: 0;
                }
            }
            @media(max-width: 768px){
                &:nth-last-child(-n+1){
                    margin-bottom: 0;
                }
            }
            .container{
                width: 100%;
                display: flex;
                justify-content: center;
            }
            @media only screen and (min-width: 1301px){
                padding: 0 60px;
                max-width: 443px;
            }
            @media (max-width: 1300px) and (min-width: 600px){
                padding: 0 25px;
                max-width: 357px;
            }
        }        
        .item__device{
            width: 100%;
            max-width: 130px;
            margin-right: 20px;
            margin-left: 0;
            @media (max-width: 359px) {
                margin-right: 10px;
            }
        }
        .item__content{
            width: 100%;
            max-width: 175px;
            margin: 0;
        }
        .item__float{
            position: absolute;
            top: 38px;                       
            left: -15px;
            z-index: 1;
            @media only screen and (min-width: 1301px){
                left: 50px;
            }
            @media (max-width: 1300px) and (min-width: 600px){
                left: 5px;
            }
            .float__list{
                display: flex;
                flex-wrap: wrap;
                width: 50px;
            }
            .float__item{
                width: 50px;
                height: 50px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;  
                padding: 0 7px;              
                .container{
                    width: 100%;    
                    text-align: center;                
                }
                .description{
                    font-weight: 400;
                    font-size: 8px;
                    line-height: 10px;
                    text-align: center;
                    margin: 0;
                }
                &:last-child{
                    margin-top: 5px;
                }
            }
        }
        .image__device{
            display: block;
            width: 100%;
        }
        .device__header{
            margin-bottom: 5px;
            padding-top: 12px;
            position: relative;
            .recommend{
                @include root-tipography-bold;
                font-size: 10px;
                line-height: 12px;
                text-transform: uppercase;
                color: $color_cian;
                margin: 0;
                position: absolute;
                top: 0;
            }
            .title{
                @include root-tipography-regular;
                font-size: 24px;
                line-height: 30px;                
                margin: 0;
            }
        }
        .device__content{
            margin-bottom: 5px;
            .description{
                @include root-tipography;
                font-size: 14px;
                line-height: 17px;                
                margin: 0;
                @media (max-width: 359px){
                    font-size: 13px;
                }
            }
            .price{
                @include root-tipography-regular;
                font-size: 24px;
                line-height: 30px;                
                margin: 0 0 5px;
            }
        }
        .device__footer{
            .description{
                @include root-tipography;
                font-size: 14px;
                line-height: 17px;                
                margin: 0;
                @media (max-width: 359px){
                    font-size: 13px;
                }
            }          
            .btn__root{
                margin: 15px 0 0;
            }
        }
        .swiper-pagination{
            display: block;
            bottom: 0;
            @media only screen and (min-width: 992px){
                display: none;
            }
        }
        .swiper-container{
            padding-bottom: 28px;
        }
        .swiper-button-next, .swiper-button-prev{
            display: none;
            top: inherit;
            bottom: 0;
            width: 20px;
            height: 20px;
            border: 1px solid $color_cian;
            border-radius: 5px;
            margin: 0;
            &:after{
                font-size: 20px;
                line-height: 18px;
                width: 20px;
                height: 20px;
                text-align: center;
            }
            @media only screen and (min-width: 992px){
                display: block;
            }
            &:focus{
                outline: inherit;
            }
        }
        .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
            background: $color_cian;
            color: #ffffff;
        }
        .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
            right: 0;
            margin-right: 30%;
        }
        .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
            left: 0;
            margin-left: 30%;
        }
    }
}