.natContact{
    svg{
        display: inline-block;
        font-size: inherit;
        width: 1em;
        height: 1em;
        overflow: visible;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
    }
    padding: 72px 0;
    @media only screen and (min-width: 600px){
        padding: 50px 0;
    }
    .container{
        width: 80%;
        max-width: 683px;
    }
    .contact__header{
        margin-bottom: 11px;
        @media only screen and (min-width: 600px){
            margin-bottom: 32px;
        }
    }
    .nat__title{
        margin: 0 0 10px;
    }
    .nat__text{
        margin: 0;
        font-size: 16px;
        line-height: 24px;
        @media only screen and (min-width: 992px){
            font-size: 24px;
            line-height: 30px;       
        }
    }
    .contact__list{
        display: flex;
        justify-content: center;
        margin: 0 -16px;
        @media only screen and (min-width: 600px){
            margin: 0 -22px;
        }
    }
    .contact__item{
        padding: 0 16px;
        @media only screen and (min-width: 600px){
            padding: 0 22px;
        }
        .container{
            position: relative;
            width: 64px;
            display: block;
            cursor: pointer;
            border: none;
            background: transparent;
            padding: 0;
            @media only screen and (min-width: 600px){
                width: 90px;
            }
            &:focus{
                background: transparent;
            }
            .icon--image{
                width: 64px;
                height: 64px;
                position: relative;
                @media only screen and (min-width: 600px){
                    width: 90px;
                    height: 90px;
                }
                .icon{
                    font-size: 64px;
                    line-height: 0;
                    @media only screen and (min-width: 600px){
                        font-size: 90px;
                    }
                    &:nth-child(2){
                        position: absolute;
                        font-size: 30px;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        color: #ffff;
                        @media only screen and (min-width: 600px){
                            font-size: 42px;
                        }
                    }
                }                
            }
            .description{
                @include root-tipography;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                color: $color_cian;
                margin: 5px 0 0;
                display: block;
                @media only screen and (min-width: 600px){
                    font-size: 18px;
                    line-height: 22px;
                }
                &:after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }
        &:nth-child(1){
            .icon--image{
                .icon{
                    &:last-child{
                        font-size: 34px;
                        @media only screen and (min-width: 600px){
                            font-size: 47px;
                        }
                    }
                }
            }
        }   
    }
}