.reclamaciones{
    padding: 30px 0;
    border-top: 1px solid #E9EAE8;
    background: #F5F5F5;
    @media only screen and (min-width: 992px){
        padding: 38px 0 49px 0;
    }
    .container{
        width: 100%;
        max-width: 1170px;
        padding: 0 15px;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .reclamaciones--consulta{
        margin-top: 0;
        margin-bottom: 10px;
        @media only screen and (min-width: 992px){
            display: flex;
            flex-wrap: wrap;
            margin: 0 -22px;
            align-items: center;
        }
        .consulta-item{
            padding: 10px 0;
            display: block;
            @media only screen and (min-width: 992px){
                padding: 0 22px;
                margin: 0;
            }
            a{
                @include root-tipography;
                font-size: 16px;
                line-height: 20px;
                color: #86888C;
                display: block;
                font-weight: 400;
                img{
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 8px;
                    /*top: -5px;*/
                }
                strong{
                    vertical-align: middle;
                    font-weight: 400;
                    @media only screen and (min-width: 992px){
                    font-weight: 700;
                    }
                }
            }
            &:nth-child(1){
                padding-top: 0;
            }
        }
    }
    .reclamaciones--social{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -4.5px;
        align-items: center;
        @media only screen and (min-width: 992px){
            justify-content: flex-end;
        }
        .social-item{
            padding: 0 4.5px;
            a{
                display: block;
                height: 20px;
            }
        }
    }
}