#accessMiMovistar {
    width: 100%;
    max-width: 266px;
    height: 380px;
    top: 0!important;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 12px;
    background-image: url('../images/peru/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: none;
    .container {
        width: 100%;
        padding: 43px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        border-radius: 12px;
        color: #50535A;
        .mimovistar__close {
            position: absolute;
            top: 22px;
            right: 20px;
        }
        .mimovistar__content {
            width: 100%;
            max-width: 180px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            .intro {
                font-size: 16px;
                font-weight: normal;
                line-height: 24px;
            }
            .title {
                margin: 0 0 5px 0;
                padding: 0;
                font-size: 20px;
                font-weight: normal;
                line-height: 40px;
            }
            .icon {
                width: 100%;
                max-width: 49px;
                margin: 0 0 26px 0;
            }
            .link-app {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 174px;
                margin: 0 0 20px 0;
                padding: 14px 0;
                background-color: #00A9E0;
                color: #FFFFFF;
                border-radius: 24px;
                font-size: 16px;
                font-weight: normal;
                line-height: 20px;
            }
            .alternative {
                margin: 0 0 5px 0;
                font-size: 14px;
                font-weight: normal;
                line-height: 20px;
            }
            .link-web {
                font-size: 14px;
                font-weight: normal;
                line-height: 16px;
                color: #00A9E0;
                text-decoration: none;
            }
        }
    }
}
.aui .navigation__login-container .navigation__login {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.aui #accessMiMovistar {
	z-index: 1100!important;
}
#popup_impulsoApp {
    width: 330px;
    border-radius: 20px;
    max-height: 100%;
    height: 466px;
    top: 0 !important;
    bottom: 0;
    z-index: 1020 !important;
}

@media screen and (min-width: 1024px) {
    #popup_impulsoApp {
        top: 0 !important;
    }
}

#popup_impulsoApp .modal-content {
    padding: 0px;
    height: 466px;
    background: white;
}