.c-plan-container--fija {
	position:relative;
	.c-plan__featured-container{
		height:auto;
	}
	.c-plan__detail{
		margin:0 0 15px 0;
	}
	.c-plan__detail-container{
		min-width:290px;
		@media #{$large-and-up}{
			min-width:auto;
		}
	}
}