.c-plan-container--movil {
    position: relative;
	.c-plan__header {
    	height:210px;
    	.c-plan__featured-container {
    		order:2;
    	}
    }
    .c-plan {
		@media #{$large-and-up}{
			&.stairs{
				&:nth-of-type(2){
					.c-plan__header{
						height: 200px;
					}
				}
				&:nth-of-type(3){
					.c-plan__header{
						height: 190px;
					}
				}
				&:nth-of-type(4){
					.c-plan__header{
						height: 180px;
					}
				}
				&:nth-of-type(5){
					.c-plan__header{
						height: 170px;
					}
				}
				&:nth-of-type(6){
					.c-plan__header{
						height: 160px;
					}
				}
				&:nth-of-type(7){
					.c-plan__header{
						height: 150px;
					}
				}
				&:nth-of-type(8){
					.c-plan__header{
						height: 140px;
					}
				}
				&:nth-of-type(9){
					.c-plan__header{
						height: 130px;
					}
				}
				&:nth-of-type(10){
					.c-plan__header{
						height: 110px;
					}
				}
			}
		}
	}
	.c-plan__title{
    	font-weight:normal;
    	font-size:26px;
    	line-height:1;
    	margin:0;
    }
    .c-plan__text{
    	font-size: 32px;
	    display: block;
	    line-height: 0.75;
    }
    .c-plan__carac{
    	font-size:14px;
    	line-height:1;
    }
    .c-plan__list-item { 
    	height:auto;
    	border: none; 
    	&.verde{
    		border: none;
    		padding: 15px 0 0 0;
    		.c-plan__title{
		    	color:#5bc500;
		    	font-size:30px;
		    }
		    .c-plan__carac{
		    	text-decoration:underline;
		    	color:#5bc500;
		    }
    	}
    	&.amarillo{
    		border-bottom:1px solid #d8d8d8;
    		.c-plan__title{
		    	color:#f59c00;
		    	font-size:30px;
		    }
		    .c-plan__carac{
		    	text-decoration:underline;
		    	color:#f59c00;
		    }
    	}
    	&.morado{
    		border-bottom:1px solid #d8d8d8;
    		height:110px;
    		.c-plan__title{
		    	color:#954b97;
		    	font-size:30px;
		    }
    	}
    }
    .rrss-icons{
    	display:block;
    	strong{
    		display:block;
    		font-weight:normal;
    		font-size:14px;
    	}
    }
    .c-plan__list-item--price{
    	height:110px;
    	.c-plan__carac{
    		letter-spacing:0;
    	}
    	a{
    		display:block;
    		letter-spacing:0;
    	}
    }
    .c-plan__get{
    	background:#954b97;
    }
    .c-plan__view-detail{
    	background:#b681b7;
    	margin-top:10px;
    	color:#ffffff;
    	text-decoration:none;
    }
}