.nat-interest-1 {
    padding-top: 48px;
    padding-bottom: 48px;
    .interest__title {
        font-size: 36px;
        font-weight: 400;
        line-height: 1.2;
        margin: 0;
        color: $gray-dark2;
        text-align: center;
    }
    .interest__description {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        margin: 0;
        margin-top: 24px;
        color: $gray;
        text-align: center;
        @media (min-width: 768px) {
            font-size: 18px;
            line-height: 1.2;
        }
        a {
            color: $skyblue;
            text-decoration: none;
            &:hover, &:active {
                color: $skyblue2;
                text-decoration: underline;
            }
            &:focus {
                color: $skyblue2;
            }
        }
        b, strong {
            font-weight: 700;
        }
    }
    .interest__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: -15px;
        margin-left: -15px;
        
        &.interest__row-1 {
            .interest__col {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        &.interest__row-2 {
            .interest__col {
                @media (min-width: 576px) {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
        }
        &.interest__row-3 {
            .interest__col {
                @media (min-width: 576px) {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                @media (min-width: 992px) {
                    flex: 0 0 33.333333%;
                    max-width: 33.333333%;
                }
            }
        }
        .interest__col {
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            .cardBox {
                margin-top: 32px;
            }
        }
    }
}