.nat-services-1 {
  .cardBox {
    background-color: transparent;
    box-shadow: none;
  }

  .cardBox.cardBox--horizontal .cardBox__body .cardBox__detail p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
    text-align: left;
  }

  .interest__title {
    color: #019DF4;
    margin-bottom: 24px;
  }

  .cardBox__subtitle {
    color: #019DF4;
    font-size: 18px;
    line-height: 25.875px;
    font-weight: 500;
    text-align: left;
  }

  .cardBox.cardBox--horizontal .cardBox__body .cardBox__title {
    text-align: left;
  }

  .cardBox.cardBox--horizontal {
    padding: 0 15px;
  }

  @media only screen and (min-width: 768px) {
    .cardBox.cardBox--horizontal .cardBox__body .cardBox__detail p {
      font-size: 20px;
      line-height: 31.25px;
      margin-bottom: 15px;
    }

    .cardBox.cardBox--horizontal {
      padding: 0 15px;
    }

    .cardBox.cardBox--horizontal .cardBox__body {
      padding-bottom: 0;
      padding-top: 0;
    }

    .cardBox__subtitle {
      font-size: 20px;
      line-height: 31.25px;
    }
  }
}