// General
* {
    -webkit-font-smoothing: antialiased;
    /* No bold in Mac. */
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }

    &:focus {
        outline: 2px solid $skyblue;
    }
}

html,
body {
    height: 100%;
}

input {
    border: none;
}

hr {
    width: 100%;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    border: 0;
    border-top: 1px solid #eee;
}

/* AUI */
.aui {

    body {
        font-family: $font;
        font-size: 14px;
        line-height: 1.5;
        color: #333;
        padding: 0;
        margin: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
        line-height: 1.2;
        margin: 0;
        margin-bottom: .5rem;
    }

    p {
        margin: 0;
        margin-bottom: 1rem;
    }

    a {
        word-wrap: break-word;
        color: $skyblue;
        -webkit-tap-highlight-color: transparent;
    
        &:hover {
            text-decoration: none;
        }
    }

    ul, li {
        list-style: none;
    }

    img {
        vertical-align: middle;
        border-style: none;
        max-width: 100%;
    }

    .icon {
        display: inline-block;
        line-height: 0.8;
    
        >svg {
            display: inline-block;
            font-size: inherit;
            width: 1em;
            height: 1em;
            overflow: visible;
            stroke-width: 0;
            stroke: currentColor;
            fill: currentColor;
        }
    }
    
    svg:not(:root) {
        overflow: hidden;
    }
    
    figure {
        margin: 0;
    }
    
    .visually-hidden {
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    .colEditContentADT span.taglib-text.hide-accessible {
        position: relative !important;
    }

    .portlet-dockbar {
        position: relative;
        z-index: 1005;
        padding-left: 0px;
        padding-right: 0px;   
    }
    .dockbar.navbar-static-top {
        position: relative;
        margin: 0;
    }

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

        @media (min-width: 576px) {
            max-width: 540px;
        }

        @media (min-width: 768px) {
            max-width: 720px;
        }

        @media (min-width: 992px) {
            max-width: 960px;
        }

        @media (min-width: 1200px) {
            max-width: 1140px;
        }
    }

    /* BG */
    .nat-bg-white {
        background: $white;
    }

    .nat-bg-lightblue {
        background: #EDF2F5;
    }

    .nat-bg-curva-1 {
        background-image: url(../images/background/fondo-d.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        background-color: #F9F9F9;
    }
}