@import 'materialize/materialize';


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

 

.row-fluid {
	@extend .row;
}

@media (max-width: 993px){
	.span1,
	.span2,
	.span3,
	.span4,
	.span5,
	.span6,
	.span7,
	.span8,
	.span9,
	.span10,
	.span12 {
		width:100%;
		float: none;
	}

	.row,
	.row-fluid {
		.span1,
		.span2,
		.span3,
		.span4,
		.span5,
		.span6,
		.span7,
		.span8,
		.span9,
		.span10,
		.span12 {
			width:100%;
			float: none;
		}
	}
}


.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span12 {
	@extend .col;
}

.span1 {
	@extend .col.l1;
}

.span2 {
	@extend .col.l2;
}

.span3 {
	@extend .col.l3;
}

.span4 {
	@extend .col.l4;
}

.span5 {
	@extend .col.l5;
}

.span6 {
	@extend .col.l6;
}

.span7 {
	@extend .col.l7;
}

.span8 {
	@extend .col.l8;
}

.span9 {
	@extend .col.l9;
}

.span10 {
	@extend .col.l10;
}

.span11 {
	@extend .col.l11;
}

.span12 {
	@extend .col.l12;
}


.offset1 {
	@extend .col.offset-l1;
}

.offset2 {
	@extend .col.offset-l2;
}

.offset3 {
	@extend .col.offset-l3;
}

.offset4 {
	@extend .col.offset-l4;
}

.offset5 {
	@extend .col.offset-l5;
}

.offset6 {
	@extend .col.offset-l6;
}

.offset7 {
	@extend .col.offset-l7;
}

.offset8 {
	@extend .col.offset-l8;
}

.offset9 {
	@extend .col.offset-l9;
}

.offset10 {
	@extend .col.offset-l10;
}

.offset11 {
	@extend .col.offset-l11;
}

.offset12 {
	@extend .col.offset-l12;
}
