.js {
  .controls-hidden {
  .dockbar {
    .nav-account-controls {
    right: -160px;
    }
    .nav-add-controls{
    > li{
      &:first-child{
      transition-delay: 0s;
      }
      &:nth-child(2){
      transition-delay: .15s;
      }
      &:nth-child(3){
      transition-delay: .3s;
      }
      transform: scaleY(0) scaleX(0) translateY(0px) translateX(0px);
      &.toggle-controls{
      transform: scaleY(1) scaleX(1) translateY(0px) translateX(0px);
      }
    }
    }
  }
  }
}

.icon-plus-sign:before { content: "\e147"; }
.icon-minus-sign:before { content: "\e15c"; }





.lfr-has-add-content{
  padding-left: 330px;
  .dockbar .nav-add-controls{
  left: 330px;
  }
}

.lfr-has-device-preview {
  padding-left: 220px;
  .dockbar .nav-add-controls{
    left: 220px;
  }
}

.lfr-has-edit-layout {
  padding-left: 440px;
  .dockbar .nav-add-controls{
    left: 440px;
  }
}

.lfr-admin-panel{
  background-color: #FFF;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 1100;
}

.lfr-ddm-link-to-page-modal .lfr-ddm-breadcrumb .lfr-ddm-breadcrumb-element {
    display: inline-block;
}

.lfr-ddm-link-to-page-modal .lfr-ddm-breadcrumb .lfr-ddm-breadcrumb-element-separator {
    margin-left: 10px;
    margin-right: 0;
    color: #555;
}

.lfr-ddm-link-to-page-modal .lfr-ddm-pages-container.nav .lfr-ddm-page-label {
    top: 0;
}

.aui .lfr-has-device-preview {
  position: initial;
}

.aui .portlet-dockbar .portlet-borderless-container {
    min-height: 0;
}

.aui .signed-out .portlet-borderless-container .add-asset-selector {
    opacity: 0;
}

.dockbar{

  &.navbar {
  .navbar-inner {
    min-height: auto;
    padding: 0;
    background: transparent;
    border: 0;

    .btn.btn-navbar{
    display: none;
    background: #45CBF5;
    }
  }

  @media (max-width: 979px) {
    .container {
    .nav-collapse {
      display: block;
    }
    }
  }
  }
  
  .nav-account-controls {
  background: transparent;
  position: fixed;
  top: 20%;
  z-index: 1001;
  right: 0;
  margin: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: right .35s cubic-bezier(0.96, 0.02, 0.59, 1);
  .dropdown-menu {
    top:0;
    left: auto;
    right: 100%;
  }

  .user-avatar-image  {
    border-radius: 50%;
    background-color: white;
    margin-top: -3px;
    text-decoration: none;
    vertical-align: middle;
    width: 20px;
  }

  > li {
    &:first-child {
    > a {
      border-top-left-radius: 4px;
    }
    }
    &:last-child {
    > a {
      border-bottom-left-radius: 4px;
    }
    }
    > a {
    display: flex;
    background: #424242;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    color: #fff;
    min-width: 135px;
    &:hover{
      background: #5b5858;
    }
    .nav-item-label {
      flex: 2;
      padding: 7px;
    }
    .icon-caret-down {
      background: rgba(255, 255, 255, 0.2);
      padding: 0 6px;
      display: flex;
      align-items: center;
      &::before {
      content: "\e5cf";
      }

    }
    &.user-notification-link {
      padding: 5px;
      &::before {
      content: 'Notifications';
      }
      .user-notifications-count {
      position: absolute;
      top: 0;
      right: 2px;
      background: #45CBF5;
      }
    }
    }
  }

  .staging-controls {
    .hide-accessible {
    clip: rect(0 0 0 0) !important;
    position: absolute !important;
    }
    /*.staging-bar {
    margin: 0;
    background: #0299d8;
    border-top-left-radius: 4px;

    .live-link a{
      padding: 0 2rem;
      background: #fff;
      color: #0299d8;
      height: 36px;
      line-height: 36px;
      display: block;
      margin: 5px;
      border-radius: 4px;
      text-align: center;
      &:hover {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }
    }
    }*/

    .staging-bar {
    margin: 0;
    background: #0299d8;
    border-top-left-radius: 4px;
    > li {
      a {
      color: #fff;
      padding: 7px;
      display: block;
      border-top-left-radius: 4px;

      &.taglib-icon {
        display: inline-block;
        color: #039be5;
        padding: 2px;
      }
      }



      &.live-link {
      a {
        padding: 0 2rem;
        background: #fff;
        color: #0299d8;
        height: 36px;
        line-height: 36px;
        display: block;
        margin: 5px;
        border-radius: 4px;
        text-align: center;
        &:hover {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        }
      }
      }
    }
    }

    .icon-globe {

    }

    .staging-toggle {

    .layout-revision-actions {
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    /*.staging-link.dropdown-toggle {
      color: #fff;
      padding: 7px;
      display: block;
      border-top-left-radius: 4px;

      &:hover {
      background: rgba(0, 0, 0, 0.18);
      }
    }*/



    .site-pages-variation-options {
      .variations-options {
      &::after {
        content:'';
        display: table;
        clear: both;
      }
      .staging-variation-selector {
        float: left;
      }

      .manage-layout-set-branches {
        float: right;
      }
      }
    }

    .page-variations-options {
      .variations-options {
      .page-variations {
        float: left;
        font-size: 20px;
        margin-top: 5px;
        margin-left: 5px;
      }
      }
    }


    .page-variations-options,
    .site-pages-variation-options {
      width: auto;
      float: none;

    }

    .dropdown-menu {
      width: 250px;
      .row-fluid {
      margin-left: 0;
      margin-right: 0;
      }
    }

    .variations-options {
      .page-variations {
      position: relative;
      right: auto;
      top: auto;
      }
    }

    .layout-revision-info {
      float: none;
      width: auto;
      .taglib-workflow-status{
      display: block;
      }

      .workflow-status {
      display: block;

      .label-warning {
        background-color: #f89406
      }

      .label-success {
        background-color: #488f06
      }

      .label-success[href] {
        background-color: #2f5e04
      }

      .label-info {
        background-color: #12718f
      }
      }

      .workflow-value {
      display: block;
      text-align: center;
      color: #fff;
      border-radius: 2px;
      white-space: nowrap;
      }
    }

    .branching-enabled.publish-link-container {
      position: relative;
      bottom: auto;
      width: 100%;
      float: none;
      margin-left: auto;
      padding: 5px;

      .publish-link {
      width: 100%;
      padding: 0 2rem;
      margin-top: 15px;
      margin-bottom: 5px;
      max-width: none;
      }
    }
    }
  }


  }

  .site-administration-menu {
  border-width: 0;
  left: 0;
  margin: 0;
  right: auto;
  border-top: 1px solid rgba(0, 154, 229, 0.26);
  border-bottom: 1px solid rgba(0, 154, 229, 0.26);
  > li {
    > a {
    display: block;
    padding: 3px 5px 3px 40px;
    color: #009AE5;
    &:hover {
      background:#009AE5;
      color: #fff;
    }
    }
  }
  }

  .my-sites-menu{
  .site-type {
    display: none;
  }
  }


  .nav-add-controls{
  background: transparent;
  position: fixed;
  bottom: 25%;
  z-index: 1001;
  left: 0;
  > li {
    margin: 10px;
    position: relative;
    transform: scaleY(1) scaleX(1) translateY(0px) translateX(0px);
    transition: .15s;
    &:first-child{
    transition-delay: .3s;
    }
    &:nth-child(2){
    transition-delay: .15s;
    }
    &:nth-child(3){
    transition-delay: .0s;
    }
    > a {
    background: #424242;
    padding: 0 8px;
    display: block;
    font-size: 20px;
    color: #fff;
    border-radius: 4px;
    height: 35px;
    line-height: 35px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    &:hover {
      background: #5b5858;
      .nav-item-label {
      display:block;
      }
    }
    .nav-item-label {
      background: rgba(51, 51, 51, 0.81);
      border: 1px solid #333;
      display: none;
      left: 100%;
      margin-left: 0.5em;
      margin-top: -1em;
      padding: 0 20px;
      position: absolute;
      top: 50%;
      white-space: nowrap;
      border-radius: 30px;
      font-size: 14px;
      line-height: 25px;
    }
    }
  }
  }
}



.lfr-admin-panel,
.dockbar,
.portal-popup,
.dropdown-menu,
.yui3-widget,
.article-form-edit,
.taglib-header,
.staging-toggle {
  .icon-ok::before{content: "\e5ca";}
  .icon-time::before{content: "\e8b5";}
  .icon-undo::before{content: "\e8b3"!important;}
  .icon-globe::before{content: "\e80b";}
  .icon-th-large::before { content: "\e8e9"; }
  .icon-refresh:before { content: "\e86a"; }
  .icon-picture:before { content: "\e410"; }
  .icon-wrench:before { content: "\e869"; }
  .icon-edit::before {content: "\e254";}
  .icon-download-alt:before { content: "\e0c3"; }
  .icon-minus:before { content: "\e15b"; }
  .icon-plus:before { content: "\e145"; }
  .icon-circle-arrow-up:before { content: "\e316"; }
  .icon-circle-arrow-down:before { content: "\e313"; }
  .icon-circle-arrow-right:before { content: "\e409"; }
  .icon-circle-arrow-left:before { content: "\e408"; }
  .icon-folder-open:before { content: "\e2c8"; }
  .icon-folder-close:before { content: "\e2c7"; }
  .icon-th-large::before{content: "\e8e9";}
  .icon-th-list::before{content: "\e8ef";}
  .icon-file::before{content: "\e24d";}
  .icon-plus::before {content: "\e145";}
  .icon-desktop::before {content: "\e30b";}
  .icon-desktop::before {content: "\e30b";}
  .icon-edit::before {content: "\e254";}
  .icon-eye-open::before {content: "\e8f4";}
  .icon-eye-close::before {content: "\e8f5";}
  .icon-cog::before {content: "\e8b8";}
  .icon-chevron-right::before {content: "\e409";}
  .icon-user::before {content: "\e7fd";}
  .icon-off::before {content: "\e8ac";}

  .icon-circle-arrow-up::before {content: "\e316";}
  .icon-circle-arrow-down::before {content: "\e313";}
  .icon-circle-arrow-right::before {content: "\e315";}
  .icon-circle-arrow-left::before {content: "\e314";}




  .aui & {
  .icon-remove::before {content: "\e92b";}
  }
  .icon-list-alt::before{content: "\e14d";}
  .caret{
  margin-top: 7px;
  margin-left: -5px;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid black;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  }

  .tree-node {
  .icon-check:before {content: "\e835";}

  .tree-node-checked {
    .icon-check:before {content: "\e834";}
  }
  }
}

.aui .alert {
	/* margin: 20px 0; */
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #f1d875;
   	background-color: #fffbdc;
   	color: #bf7900;
}

.aui .alert-success {
	background-color: #f1fbd1;
    border-color: #bce830;
    color: #488f06;
}

.aui .alert-error {
	background-color: #fee5e2;
    border-color: #fcaca5;
    color: #b50303;
}

.aui .alert-info {
	background-color: #cef1fc;
    border-color: #9ee3f9;
    color: #12718f;
}

.aui .alert-message {
    background-color: #F2F2F2;
    border-color: #E6E6E6;
    color: #6E6E6E;
}

.lfr-admin-panel,
.portal-popup,
.yui3-widget {
  .alert{
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  word-wrap: break-word;
  }

  .alert-info {
  background-color: #b2ebf2;
  border: 1px solid rgba(3, 169, 244, 0.43);
  color: #12718f;
  }

  .alert-block {
  background-color: #fffbdc;
  border: 1px solid #f1d875;
  color: #bf7900;
  }
}

.aui .alert-block.popup-alert-warning {
  background-color: #fee5e2;
  border-color: #fcaca5;
  color: #b50303;
  top: 0;
  position: absolute;
}

.lfr-admin-panel {
  .input-small {
    width: 90px;
  }

  .input-mini {
    width: 60px;
  }
}

.tooltip-help {
  font-size: 14px;
  position: absolute!important;

  .tooltip-inner {
  color: #fff;
  background-color: #323232;
  border-radius: 2px;
  max-width: 400px;
  overflow-wrap: break-word;
  text-align: left;
  word-wrap: break-word;
  padding: 10px 25px;
  }
}

.lfr-admin-panel,
.portal-popup,
.yui3-widget-modal,
.yui3-widget,
.article-form-edit {
   fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
  }

  input[type="text"] {
    border: 1px solid #DDD;
    color: #8D8D8D;
    font-weight: 200;
    margin-bottom: 7px;
    padding: 4px 6px;
    width: 100%;
    float: none;
  
  &.input-small {
    width: 90px;
  }

  &.input-mini {
    width: 60px;
  }
  }

  select {
  display: inline-block;
  padding: 4px 6px;
  font-size: 14px;
  border-radius: 2px;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  background-color: white;
  width: 220px;
  border: 1px solid #DDD;
  color: #8D8D8D;
  font-weight: 200;
  margin-bottom: 7px;
  }

  textarea {
  border: 1px solid #DDD;
  color: #8D8D8D;
  font-weight: 200;
  margin-bottom: 7px;
  background-color: white;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  width: 100%;
  }

  .control-group {
    margin-bottom: 30px;

    &.success {
    .control-label {
      color: #488f06;
    }
    input {
      border-color: #488f06;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      color: #488f06;
    }

    .help-inline {
      color: #488f06;
    }
    }


    &.error {
    .control-label {
      color: #b50303;
    }
    input {
      border-color: #b50303;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      color: #b50303;
    }

    .help-inline {
      color: #b50303;
    }
    }
  }
  label {
  font-size: 15px;
  line-height: 20px;
  display: block;
  margin-bottom: 5px;
  }

  .input-append,
  .input-prepend {
  .add-on {
    display: inline-block;
    width: auto;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 white;
    background-color: #eeeeee;
    border: 1px solid #ccc;
  }
  }
}

.lfr-admin-panel,
.portal-popup,
.yui3-widget,
.article-form-edit {
  .hide-accessible {
  clip: rect(0 0 0 0) !important;
  position: absolute !important;
  }
}

.portlet-body{
  &:hover {
  > .lfr-meta-actions {
      opacity: 1;
  }
  }
}

.lfr-meta-actions {
  bottom: 0;
  position: absolute;
  z-index: 2;
  padding: 15px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.74);
  border-bottom: 1px solid rgba(255,255,255,0.18);
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: .4;
  overflow-x: auto;
  max-width: 100%;
  span {
    color: #fff;
  }
}

.lfr-meta-actions.add-asset-selector{
   	opacity: 1;
    z-index: 10;
    .navbar-inner{
        background-color: transparent;
    }
    .navbar{
    	margin-bottom: 0;
    }
}

.lfr-admin-panel,
.dockbar,
.portal-popup,
.lfr-meta-actions,
.lfr-asset-column,
.yui3-widget,
.article-form-edit{
  h1 {
  font-size: 26px;
  font-weight: normal;
  line-height: 26px;
  margin: 10px 0;
  }

  h3 {
  font-size: 24px;
  line-height: 40px;
  }

  h4 {
  font-size: 17.5px;
  margin: 10px 0;
  }

  .btn.close {
  box-shadow: none;
  background-color: transparent;
  color: #343434;
  cursor: pointer;
  transition: background-color .2s;
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  padding: 0 10px;
  }

  .nav {
  margin-bottom: 20px;
  list-style: none;
  margin: 0 0 0 25px;
  &::after {
    content:'';
    display: table;
    clear: both;
  }
  }

  .nav.nav-tabs{
  margin: 0;
  &::after{
    content:'';
    display: table;
    clear: both;
  }
  >li {
    float:left;
    &.active {
    > a {
      color: #45cbf5;
      border-bottom: 2px solid #84d7f1;
    }
    }
    > a {
    color: rgba(69, 203, 245, 0.7);
    display: block;
    padding: 10px 24px;
    font-size: 14px;
    transition: color .28s ease;
    }
  }
  }

  .tab-pane{
  display: none;
  &.tab-content,
  &.active {
    display: block;
  }
  }

  .nav-pills {
  margin: 0;
  &::after{
    content:'';
    display: table;
    clear: both;
  }
  > .active {
    > a {
    color: white;
    background-color: #00aaff;
    }
  }
  > li {
    float: left;
    > a {
      padding: 8px 12px 8px;
      margin: 2px;
      line-height: 14px;
      border-radius: 5px;
      display: block;
      &:hover{
      text-decoration: none;
      background-color: #eeeeee;
      }

    }
  }
  }

  .btn-toolbar {
  font-size: 0;
  margin-top: 10px;
  margin-bottom: 10px;

  .control-group-inline {
    margin-right: 5px;
    display: inline;
  }

  select {
    display: inline-block;
    margin-bottom: 0;
    border: 1px solid #DDD;
    color: #8D8D8D;
    font-weight: 200;
    background-color: white;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    vertical-align: middle;
  }

  .btn-group {
    position: relative;
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
    white-space: nowrap;
    > .btn {
    display: inline-block;
    padding: 4px 9px;
    margin-bottom: 0;
    height: auto;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    background: transparent;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: none;
    &:hover {
      background-color: rgba(153, 153, 153, 0.2);
    }
    &.active {
      background: #00aaff;
      color:#fff;
    }
    }
  }
  }



  .navbar {
  overflow: visible;
  margin-bottom: 20px;
  &::after {
    content:'';
    display: table;
    clear: both;
  }
  .btn.btn-navbar{
    display: none;
  }
  .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0;

    &::after {
      content:'';
      display: table;
      clear: both;
    }
    > li {
      float: left;
      > a {
      padding: 10px 15px 10px;
      color: #555555;
      text-decoration: none;
      display: block;
      }
    }
  }
  }


  .navbar-inner {
  min-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f6f6f6;
  border-radius: 2px;
  border: 1px solid #D3D3D3;

  .container {
    width: auto;
    &::after {
    content: '';
    display: table;
    clear: both;
    }
  }
  }

  .dropdown {
  position: relative;
  }

  .open > .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: white;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
    &:hover{
      background: #45CBF5;
      color:#fff;
    }
  }
  }

  .accordion {
  background: #FFF;
  border: 1px solid #D3D3D3;
  }

  .accordion-heading {
    background: #F2F2F2;
    overflow: hidden;
    position: static;

    .accordion-toggle {
      color: #999;
      padding: 8px 15px;
    }
  }

  .accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  .toggler-header {
    background: #F2F2F2;
    border: solid #D3D3D3;
    border-width: 1px 0;
    margin-top: -1px;
    user-select: none;
  }

  .accordion-toggle {
    position: relative;
  }

  .toggler-content-expanded {
    border-width: 1px 0 0 0;
  }

  .accordion-inner {
    background: #FCFCFC;
    border: solid #D3D3D3;
    border-width: 0 0 1px 0;
    padding: 6px 0 15px;
  }
  }

  .pull-right {
    float: right;
  }

  .advanced-search {
  display: flex;
  .search-query {
    border-radius: 20px 0 0 20px;
    margin-bottom: 0;
  }

  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: none;
  }
  .icon-search {
    font-size: 20px;
  }
  }

  .popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: white;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
  &.bottom {
   margin-top: 10px;
  }
  }

  .popover-content {
  padding: 9px 14px;
  }


  .toggler-content-wrapper {
    overflow: hidden;
  }

  .nav-list {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  }

}

.aui .add-content-menu .accordion .lfr-content-item {
	padding: 0;
	padding-left: 15px;
}

.add-content-menu,
.lfr-edit-layout-panel{

  .search-query {
  min-height: 30px;
  border: 1px solid #DDD;
  color: #8D8D8D;
  font-weight: 200;
  margin-bottom: 7px;
  float: none;
  &:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    border-color: rgba(0, 172, 255, 0.8);
    outline: 0;
  }
  }

  .lfr-page-layouts {

  }
  .lfr-layout-template {
  > label {
    display: flex;
    .control-group {
    margin-bottom: 0;
    }
    .layout-template-entry {
    margin: 0 10px;
    }
  }
  }

  .lfr-page-template-title{
  &.toggler-header{
    > .control-group {
    margin-bottom: 0;
    }
    &::before {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 5px;
    top: 5px;
    color: #00aaff;
    }

    &.toggler-header-collapsed{
    &::before{
      content: "\e409";
    }
    &.active {
      &::before{
      color: #fff;
      }
    }
    .lfr-page-template-description {
      width: auto;
    }
    }

    &.toggler-header-expanded{
    &::before{
      content: "\e5cf";
    }
    &.active {
      &::before{
      color: #fff;
      }
    }
    }

  }
  }
.toggler-header-expanded:before {
  color: #8D8D8D;
  position: absolute;
  right: 5px;
  top: 0;
}


  .accordion {
  .accordion-group{
    border-width: 0;
    margin-bottom: 0;
  }
  .accordion-heading {
    .accordion-toggle {
    &::after{
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -8px;
      color: #00aaff;
    }
    }

    &.toggler-header-collapsed {
    .accordion-toggle {
      &::after{
      content: "\e409";
      }
    }
    }

    &.toggler-header-expanded {
    .accordion-toggle {
      &::after{
      content: "\e5cf";
      }
    }
    }
  }

  .nav-list {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  .lfr-content-item {
    padding: 6px 0;
    padding-left: 15px;
    position: relative;
  }

  .drag-content-item {
    cursor: move;
    display: inline-block;
    width: 100%;
  }


  }
}

.portlet-actions{
  height: 21px;
}

.portlet-options {
  .open > .dropdown-menu {
  display: block;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: white;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    > li {
    &.portlet-close {
      > a {
      color: #C00;
      &:hover{
        background: #C00;
        color:#fff;
      }
      }
    }
    > a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 20px;
      color: #333333;
      white-space: nowrap;
      &:hover{
        background: #45CBF5;
        color:#fff;
      }
    }
    }
  }
}


.yui3-widget-modal{
  &.overlay {
  .open > .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: white;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    > li {
      &.portlet-close {
      > a {
        color: #C00;
        &:hover{
        background: #C00;
        color:#fff;
        }
      }
      }
      > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 20px;
        color: #333333;
        white-space: nowrap;
        &:hover{
        background: #45CBF5;
        color:#fff;
        }
      }
    }
  }
  }
}

.yui3-widget-modal {
  &.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: white;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
  right: auto;
  display: block;
  overflow: hidden;
  max-height: none;
  &.modal-hidden,
  &.hsv-palette-modal-hidden {
    display: none;
  }
  }
  .modal-body {
    position: relative;
    /* overflow-y: hidden; */
    overflow-y: auto;
    max-height: 400px;
    padding: 15px;
    &.dialog-iframe-bd{
    overflow: hidden;
    }
  }
  
  .modal-footer {
  	.btn {
  		margin: 10px;
  		padding: 0 25px;
  	}
  }

  .modal-content {
  overflow: hidden;
  /* padding: 0; */
  padding: 20px 0;
  }
  .modal-header{
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  h3 {
    margin: 0;
    line-height: 30px;
    font-size: 24px;
  }
  .btn.close {
    box-shadow: none;
    background-color: transparent;
    color: #343434;
    cursor: pointer;
    transition: background-color .2s;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 10px;
  }
  }

  .nav.nav-tabs{
  &::after{
    content:'';
    display: table;
    clear: both;
  }
  >li {
    float:left;
    &.active {
    > a {
      color: #45cbf5;
      border-bottom: 2px solid #84d7f1;
    }
    }
    > a {
    color: rgba(69, 203, 245, 0.7);
    display: block;
    padding: 10px 24px;
    font-size: 14px;
    transition: color .28s ease;
    }
  }
  }

  .tab-pane{
  display: none;
  &.tab-content,
  &.active {
    display: block;
  }
  }
}

.yui3-widget-modal {
  &.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: white;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
  &.bottom {
   margin-top: 10px;
  }
  }

  .popover-content {
  padding: 9px 14px;
  }
}

.signed-in.controls-visible .portlet-nested-portlets {
    border: 3px solid #5b5858;
    margin: 50px 0;
    padding: 25px 0;
}

.signed-out .colEditContentADT, .signed-in.controls-hidden .colEditContentADT {
	display: none;
}

.portlet-nested-portlets{
  padding: 30px 0 0;
}

.portlet-nested-portlets > .portlet-borderless-container > .portlet-borderless-bar {
  margin-top: -25px;
}

.aui body.dialog-iframe-popup{
  padding-top: 0;
}

.signed-in .portlet-borderless-bar{
 z-index: 1200;
}

.portlet-borderless-bar a{
    position: relative;
    font-size: 13px;
}

.article-form-edit {
  width: 90%;
  margin: 0 auto;

  .article-structure-label,
  .article-template-label{
  display: block;
  }

  .btn-group {
  position: relative;
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  white-space: nowrap;
  }

  .btn {
  padding: 0 1rem;
  text-transform: none;
  font-size: 14px;
  }
}

.yui3-widget {
  .form-navigator{
  padding: 10px;
  border: 1px solid #DDD;
  border-radius: 4px;

  .tab-selected {
    .tab-label{
    background: #45CBF5;
    color: #fff;
    }
  }
  .tab-label{
    display: block;
    margin: 0 -10px;
    padding: 0 10px;
  }
  }

  &.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    font-size: 11px;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0);

    .tooltip-inner {
    color: #fff;
    background-color: #323232;
    border-radius: 2px;
    max-width: 400px;
    overflow-wrap: break-word;
    text-align: left;
    word-wrap: break-word;
    padding: 10px 25px;
    }
    &.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
    }
    &.top {
    margin-top: -3px;
    padding: 5px 0;
    }
    &.right {
    margin-left: 3px;
    padding: 0 5px;
    }
    &.bottom {
    margin-top: 3px;
    padding: 5px 0;
    }
    &.left {
    margin-left: -3px;
    padding: 0 5px;
    }
  }
}

