
.owl-theme-#{$theme-name} {
	// Styling Next and Prev buttons
	/* .owl-nav {
		margin-top: 10px;
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		[class*='owl-'] {
			color: $nav-color;
			font-size: $nav-font-size;
			margin: $nav-margin;
			padding: $nav-padding;
			background: $nav-background;
			display: inline-block;
			cursor: pointer;
			border-radius: 3px;

			&:hover {
				background: $nav-background-hover;
				color:$nav-color-hover;
				text-decoration: none;
			}
		}
		.disabled {
			opacity: $nav-disabled-opacity;
			cursor: default;
		}
	}
 */
 	.owl-nav {
		-webkit-tap-highlight-color: transparent;

		[class*='owl-'] {
		    font-size: 14px;
		    background: rgba(211, 212, 211, 0.25);
		    display: inline-block;
		    cursor: pointer;
		    border-radius: 100%;
		    width: 80px;
		    height: 80px;
		    color: #989a9e;
		    line-height: 80px;
		    position: absolute;
		    top: 36%;
		    text-align: center;
			text-indent: -9999px;
			white-space: nowrap;

			&:hover {
			 	background: rgba(211, 212, 211, .75);
			 	color: #fff;
				text-decoration: none;
			}
		}

		.owl-next,
		.owl-prev {
			font-family: 'icomoon' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -15px;
				margin-left: -15px;
				text-indent: 0;
				font-size: 30px;
			}
		}

		.owl-next{
			right: 80px;
			&::before {
			    content: "\e409";
			}
		}
		.owl-prev{
			left: 80px;
			&::before {
			    content: "\e314";
			}
		}

		.disabled {
			opacity: $nav-disabled-opacity;
			cursor: default;
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;

			span {
				width: $dot-width;
				height: $dot-height;
				margin: $dot-margin;
				background: $dot-background;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: 30px;
			}

			&.active,
			&:hover {
				span {
					background: $dot-background-active;
				}
			}
		}
	}
}
