.nat-breadcrumbs {
    .breadcrumb__list {
        position: relative;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0;
        list-style: none;
        margin: 0;
        .breadcrumb__item + .breadcrumb__item {
            padding-left: .5rem;
            &::before {
                content: "";
                display: inline-block;
                margin-right: .5rem;
                color: #6c757d;
                background-image: url('../images/icons-svg/pagina.svg');
                background-repeat: no-repeat;
                background-position: center;
                width: 7px;
                height: 24px;
            }
            &:hover::before {
                text-decoration: none;
            }
        }
        .breadcrumb__item {
            display: flex;
            color: $skyblue;
            font-size: 16px;
            line-height: 24px;
            > a {
                color: #B6B7B7;
                text-decoration: none;
                &:hover, &:active {
                    color: $skyblue2;
                    text-decoration: underline;
                }
                &:focus {
                    color: $skyblue2;
                }
            }
        }
    }
}