.button {
    display: inline-block;
    font-weight: 400;
    color: $black;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:hover {
        color: $black;
        text-decoration: none;
    }
    &:focus {
        background-color: transparent;
    }
    &.button--skyblue {
        color: $white;
        background-color: $skyblue;
        text-decoration: none;
        &:hover, &:active {
            color: $white;
            background-color: $skyblue2;
            text-decoration: none;
        }
        &:focus {
            color: $white;
            background-color: $skyblue3;
            text-decoration: none;
        }
    }
    &.button--green {
        color: $white;
        background-color: $green-dark;
        &:hover, &:active {
            color: $white;
            background-color: $green;
            text-decoration: none;
        }
        &:focus {
            color: $white;
            background-color: $green-dark2;
        }
    }
}