.cardBox {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 450px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    .cardBox__header {
        position: relative;
        display: block;
        width: 100%;
        .image__media {
            position: relative;
            display: block;
            overflow: hidden;
            .media__picture {
                position: relative;
                display: block;
                margin: auto;
                img {
                    display: block;
                    width: auto;
                    max-width: 100%;
                    margin: auto;
                }
            }
        }
    }
    .cardBox__body {
        display: block;
        padding-bottom: 32px;
        height: 214px;
        padding: 20px 25px;
        width: 100%;
        @media only screen and (min-width: 768px) {
            height: 230px;
        }
        .cardBox__title {
            width: 100%;
            max-height: 62px;
            overflow: hidden;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.2;
            margin-bottom: 15px;
            margin-top: 0;
            color: $skyblue;
            text-align: center;
            @media only screen and (min-width: 768px) {
                font-size: 24px;
            }
            &.cardBox__title--line {
                -webkit-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 2;
            }
            .title__link {
                color: $skyblue;
                transition: all 0.25s ease-out;
                text-decoration: none;
                &:hover, &:active {
                    color: $skyblue2;
                }
                &:focus {
                    color: $skyblue2;
                }
            }
        }
        .cardBox__detail {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.3;
            text-align: center;
            color: $gray;
            &.cardBox__detail--line {
                -webkit-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                max-height: 42px;
                overflow: hidden;
            }
            p {
                line-height: 1.3;
                margin-bottom: 5px;
            }
            a {
                color: $skyblue;
                text-decoration: none;
                &:hover, &:active {
                    color: $skyblue2;
                    text-decoration: underline;
                }
                &:focus {
                    color: $skyblue2;
                }
            }
            ul {
                padding-left: 20px;
                list-style: disc;
                margin-bottom: 15px;
                li {
                    list-style: inherit;
                    line-height: 1.5;
                }
            }
        }
        .cardBox__button {
            display: flex;
            justify-content: center;
            margin-top: 25px;
            .button {
                min-width: 140px;
                font-size: 16px;
                padding: 10px 30px;
                border-radius: 25px;
                box-shadow: 0 2px 3px 0 rgba(11, 39, 57, 0.2);
                &:hover {
                    box-shadow: 0 2px 7px 0 rgba(11, 39, 57, 0.34)
                }
            }
        }
    }
    .cardBox__footer {
        position: relative;
        width: 100%;
        .footer__button {
            .button {
                width: 100%;
                color: $skyblue;
                text-decoration: none;
                padding: 15px 10px;
                background-color: transparent;
                font-size: 16px;
                &:hover, &:active {
                    color: $skyblue2;
                    text-decoration: underline;
                    background-color: transparent;
                }
                &:focus {
                    color: $skyblue2;
                }
            }
        }
    }
    &.cardBox--horizontal {
        max-width: 100%;
        padding: 35px 25px;
        @media only screen and (min-width: 768px) {
            padding: 0px 50px;
        }
        &.cardBox--align-start {
            .cardBox__header {
                @media only screen and (min-width: 768px) {
                    align-items: flex-start;
                }
            }
        }
        &.cardBox--align-center {
            .cardBox__header {
                @media only screen and (min-width: 768px) {
                    align-items: center;
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }
        &.cardBox--align-end {
            .cardBox__header {
                @media only screen and (min-width: 768px) {
                    align-items: flex-end;
                    padding-bottom: 0;
                }
            }
        }
        &.cardBox--horizontal-icons {
            .cardBox__header {
                .image__media {
                    @media only screen and (min-width: 768px) {
                        width: 173px;
                    }
                    .media__picture {
                        img {
                            @media only screen and (min-width: 768px) {
                                margin: auto;
                            }
                        }
                    }
                }
            }
            .cardBox__body {
                .cardBox__detail {
                    text-align: left;
                }
            }
        }
        .cardBox__header {
            margin-bottom: 20px;
            @media only screen and (min-width: 768px) {
                display: flex;
                width: auto;
                margin-bottom: 0px;
                margin-right: 30px;
                padding-top: 35px;
                padding-bottom: 35px;
            }
            .image__media {
                @media only screen and (min-width: 768px) {
                    width: 230px;
                }
                .media__picture {
                    img {
                        @media only screen and (min-width: 768px) {
                            margin: 0;
                        }
                    }
                }
            }
        }
        .cardBox__body {
            height: auto;
            padding: 0;
            @media only screen and (min-width: 768px) {
                flex: 1;
                padding-top: 35px;
                padding-bottom: 35px;
            }
            .cardBox__title, .cardBox__detail {
                @media only screen and (min-width: 768px) {
                    text-align: left;
                }
            }
            .cardBox__title {
                margin-bottom: 24px;
                @media only screen and (min-width: 768px) {
                    margin-bottom: 20px;
                }
            }
            .cardBox__detail {
                p {
                    margin-bottom: 15px;
                }
                .media-object {
                    margin-bottom: 5px;
                    .media-object__image {
                        @media only screen and (min-width: 768px) {
                            margin-right: 30px;
                        }
                    }
                }
            }
            .cardBox__button {
                @media only screen and (min-width: 768px) {
                    justify-content: flex-end;
                }
            }
        }
        .cardBox__footer {
            border-top: 1px solid #D3D4D3;
        }
    }
    &.cardBox--horizontal-2 {
        max-width: 100%;
        padding: 0;
        &.cardBox--align-start {
            .cardBox__header {
                @media only screen and (min-width: 768px) {
                    align-items: flex-start;
                }
            }
        }
        &.cardBox--align-center {
            .cardBox__header {
                @media only screen and (min-width: 768px) {
                    align-items: center;
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }
        &.cardBox--align-end {
            .cardBox__header {
                @media only screen and (min-width: 768px) {
                    align-items: flex-end;
                    padding-bottom: 0;
                }
            }
        }
        &.cardBox--horizontal-icons {
            .cardBox__header {
                .image__media {
                    width: 50px;
                    @media only screen and (min-width: 992px) {
                        width: 173px;
                    }
                }
            }
        }
        .cardBox__header {
            display: flex;
            width: auto;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 25px;
            padding-right: 0;
            margin-right: 20px;
            @media only screen and (min-width: 768px) {
                margin-bottom: 0px;
                margin-right: 30px;
                padding-top: 35px;
                padding-bottom: 35px;
            }
            @media only screen and (min-width: 992px) {
                padding-left: 50px;
            }
            .image__media {
                width: 50px;
                @media only screen and (min-width: 992px) {
                    width: 230px;
                }
                .media__picture {
                    img {
                        @media only screen and (min-width: 992px) {
                            margin: 0;
                            margin-left: auto;
                        }
                    }
                }
            }
        }
        .cardBox__body {
            height: auto;
            flex: 1;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 0;
            padding-right: 25px;
            @media only screen and (min-width: 768px) {
                padding-top: 35px;
                padding-bottom: 35px;
            }
            @media only screen and (min-width: 992px) {
                padding-right: 50px;
            }
            .cardBox__title, .cardBox__detail {
                text-align: left;
            }
            .cardBox__title {
                margin-bottom: 10px;
                @media only screen and (min-width: 992px) {
                    margin-bottom: 20px;
                }
            }
            .cardBox__detail {
                text-align: left;
                p {
                    margin-bottom: 15px;
                }
                .media-object {
                    margin-bottom: 5px;
                    .media-object__image {
                        @media only screen and (min-width: 768px) {
                            margin-right: 30px;
                        }
                    }
                }
            }
            .cardBox__button {
                @media only screen and (min-width: 768px) {
                    justify-content: flex-end;
                }
            }
        }
        .cardBox__footer {
            border-top: 1px solid #D3D4D3;
        }
    }
    &.cardBox--horizontal-3 {
        max-width: 100%;
        padding: 0;
        &.cardBox--align-start {
            .cardBox__header {
                @media only screen and (min-width: 768px) {
                    align-items: flex-start;
                }
            }
        }
        &.cardBox--align-center {
            .cardBox__header {
                @media only screen and (min-width: 768px) {
                    align-items: center;
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }
        &.cardBox--align-end {
            .cardBox__header {
                @media only screen and (min-width: 768px) {
                    align-items: flex-end;
                    padding-bottom: 0;
                }
            }
        }
        &.cardBox--horizontal-icons {
            .cardBox__header {
                .image__media {
                    width: 63px;
                    @media only screen and (min-width: 992px) {
                        width: 173px;
                    }
                }
            }
        }
        .cardBox__header {
            display: flex;
            width: auto;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 25px;
            padding-right: 0;
            margin-right: 20px;
            @media only screen and (min-width: 768px) {
                margin-bottom: 0px;
                margin-right: 30px;
                padding-top: 35px;
                padding-bottom: 35px;
            }
            @media only screen and (min-width: 992px) {
                padding-left: 50px;
            }
            .image__media {
                width: 50px;
                @media only screen and (min-width: 992px) {
                    width: 230px;
                }
            }
        }
        .cardBox__body {
            height: auto;
            flex: 1;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 0;
            padding-right: 25px;
            @media only screen and (min-width: 768px) {
                padding-top: 35px;
                padding-bottom: 35px;
            }
            @media only screen and (min-width: 992px) {
                padding-right: 50px;
            }
            .cardBox__title, .cardBox__detail {
                text-align: left;
            }
            .cardBox__title {
                margin-bottom: 10px;
                @media only screen and (min-width: 992px) {
                    margin-bottom: 20px;
                }
            }
            .cardBox__detail {
                text-align: left;
                p {
                    margin-bottom: 15px;
                }
                .media-object {
                    margin-bottom: 5px;
                    .media-object__image {
                        @media only screen and (min-width: 768px) {
                            margin-right: 30px;
                        }
                    }
                }
            }
            .cardBox__button {
                @media only screen and (min-width: 768px) {
                    justify-content: flex-end;
                }
            }
        }
        .cardBox__footer {
            border-top: 1px solid #D3D4D3;
        }
    }
}