.media-object {
    display: flex!important;
    align-items: flex-start;
    .media-object__image {
        margin-right: 15px;
    }
    .media-object__body {
        flex: 1;
        h2, h3, h4, h5, h6 {
            font-size: 18px;
            font-weight: 700;
            line-height: 1.2;
            color: $gray-dark2;
            margin-bottom: 10px;
            margin-bottom:0;
            margin-top:0 ;
        }
        p {
            line-height: 1.3;
        }
        a {
            color: $skyblue;
            text-decoration: none;
            &:hover, &:active {
                color: $skyblue2;
                text-decoration: underline;
            }
            &:focus {
                color: $skyblue2;
            }
        }
        ul {
            padding-left: 20px;
            list-style: disc;
            margin-bottom: 15px;
            li {
                list-style: inherit;
            }
        }
    }
}