.nat-modal {
    border-radius: 4px;
    .nat-modal__close {
        position: absolute;
        top: 7px;
        right: 7px;
        display: inline-block;
        width: 24px;
        height: 24px;
        color: $gray;
        padding: 0;
        border: 0;
        background-color: transparent;
        padding: 3px;
        cursor: pointer;
        svg {
            fill: currentColor;
        }
        @media (min-width: 992px) {
            width: 32px;
            height: 32px;
        }
    }
    .nat-modal__content {
        padding: 2rem 1.25rem;
        @media (min-width: 992px) {
            padding: 2.25rem 2rem;
        }
    }
}