.navigation-secondary{
	display: none;
	@media #{$large-and-up}{
		display: block;
		height: 32px;
		background: #F4F4F3;
		box-shadow: inset 0 -1px 0 0 #E9EAE8;
	}
}
.navigation-secondary-container{
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
	height: 100%;
}
.navigation-secondary__block{
	display: block;
	margin: 0;
	padding: 0 15px;
}
.navigation-secondary__item{
	padding: 5px 0;
	display: inline-block;
}
.navigation-secondary__user-type{
	font-family: Telefonica;
	font-weight: normal;
	font-size: 14px;
	color: #86888C;
	padding-right: 16px;

	&:hover {
		color: #0299d8;
	}

	&.active{
		font-weight:bold;
	}
}


#desktopnavigation{
	display: none;
	@media #{$large-and-up}{
		display: block;
		//flex: 2;
		width: 85%;
		align-items: stretch;
		margin-right: 0;
		//margin-right: -20px;
		//padding-right: 60px;
		padding-right: 0;
		height: 100%;
	}

	@media #{$extra-large-and-up}{
		margin-right: -70px;
		padding-right: 80px;
	}
}

.dnavigation {
	display: flex;
	align-items: stretch;
	margin: 0;
	height: 100%;
	justify-content: center;
	//width: 100%;
	width: 70%;
	transition: all .3s;
	@media (min-width: 1180px){
		width: 80%;
	}
}


.dnavigation__item {
	display: flex;
	align-items: center;
	position: relative;
	padding: 0 2.3%;
	cursor: pointer;
	white-space: nowrap;

	&.selected{
		.dnavigation__children {
			font-weight: bold;
		}
		.dnavigation__no-children {
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 3px;
				opacity: 1;
				transition: height .2s;
				position: absolute;
				bottom: 0;
				left: 0;
				background: #0098d9;
			}
		}
	}


	&:hover {
		.dnavigation__submenu-container {
			display: flex;
		}
		.dnavigation__children{
			color: #d7d7d7;
		}

		.dnavigation__icon{
			transform: rotate(-180deg);
			-webkit-transform: rotate(-180deg);
			top: 40%;
			color: #039be5;
		}

		.dnavigation__no-children{
			color:#039be5;
		}
	}
}

.dnavigation__link{
	font-weight: normal;
	font-size: 16px;
	color: #63666d;
	padding: 5px;
}

.dnavigation__icon {
	top: 50%;
	transform: translate(0, -50%);
	position: absolute;
}

.dnavigation__submenu-container {
	display: none;
	top: $nav-height;
	margin-top: 32px;
	width: 100%;
	background: #fff;
	position: fixed;
	left: 0;
	border-top: 1px solid #d7d7d7;
	box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
	cursor: auto;
	z-index: 10;
}

&.scrolling--down {
	.dnavigation__submenu-container {
		top: 77px;
		margin-top: 0;
	}
}

.dnavigation__submenu {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
	display: flex;
	/*height: 350px;
	padding-top: 45px;*/
	padding: 45px 0;
	> li {
		> a {
			display: inline-block;
			padding: 5px 0;
			position: relative;
			width: max-content;
			&:hover{
				color:#039be5;
			}
		}
	}
	>.selected-children{
		a{
			&::after{
				content: '';
				display: block;
				width: 100%;
				height: 3px;
				opacity: 1;
				transition: height .2s;
				position: absolute;
				bottom: 0;
				left: 0;
				background: #0098d9;
			}
		}
	}
	@media #{$large-and-up}{
		width: 70%;
	}

	> li {
		width: 20%;
	}
}

.dnavigation__title {
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 1px;
	color: #63666d;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.dnavigation__submenu__2{
	> li {
		> a {
			font-size: 16px;
			color: #63666d;
			display: inline-block;
			padding: 5px 0;
			position: relative;
			width: max-content;
			max-width: 100%; /* FIX */
			&:hover{
				color:#039be5;
			}
			span {
				white-space: normal;  /* FIX */
			}
			
		}
	}
	>.selected-children{
		a{
			&::after{
				content: '';
				display: block;
				width: 100%;
				height: 3px;
				opacity: 1;
				transition: height .2s;
				position: absolute;
				bottom: 0;
				left: 0;
				background: #0098d9;
			}
		}
	}
}

.dnavigation__slider {
	display: flex;
	width: 200%;
	height: 100%;
	justify-content: center;
	position: relative;
	left: 0;
	transition: left .35s;

}

.dnavigation__container-icons {
	width: 100%;
	display: flex;
	align-items: center;
}


.dnavigation__search{
	align-items: center;
	display: flex;
	.search-lg:before {
		font-size: 1.6rem;
		line-height: 1.7;
	}
}

.dnavigation__search-button{
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: transparent;
	color: #343434;
	cursor: pointer;
	transition: background-color .2s;
	padding: 0;
	text-transform: uppercase;
	border: none;
	border-radius: 100%;
	font-size: 17px;
	//margin-left: 30px;
	margin-left: 50px;
	margin-right: 15px;
	text-align: center;

	&:hover {
		color: #0299d8;
	}
}

.dnavigation__search-input{
	visibility: hidden;
	opacity: 0;
	transition: .3s;
	border: 0;
	background: transparent;
	color: red;
	font-weight: 100;
	font-size: 30px;
	line-height: 38px;
	color: #63666d;
	outline: 0;

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #c3c4c4;
	}

	&::-moz-placeholder { /* Firefox 19+ */
		color: #c3c4c4;
	}

	&:-ms-input-placeholder { /* IE 10+ */
		color: #c3c4c4;
	}

	&:-moz-placeholder { /* Firefox 18- */
		color: #c3c4c4;
	}
}

.desktopSearch--open .dnavigation__container-icons {
	width: 80%;
}

.desktopSearch--open .dnavigation__accessibility{
	right: 0;
}

.dnavigation__accessibility{
	align-items: center;
	position: absolute;
	margin-left: -10px;
	:before {
		font-size: 1.6rem;
		line-height: 1.7;
	}
}

.dnavigation__accessibility-button{
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: transparent;
	color: #343434;
	cursor: pointer;
	transition: background-color .2s;;
	padding: 0;
	text-transform: uppercase;
	border: none;
	border-radius: 100%;
	font-size: 17px;
	margin-right: 15px;
	text-align: center;

	&:hover {
		color: #0299d8;
	}
}

.mi-movistar-login{
	display: none;
	width: 210px;
	align-items: center;
	justify-content: flex-end;
	@media #{$large-and-up}{
		display: flex;
	}
}

.mi-movistar-login__button {
	border: 0;
	border-radius: 4px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	right: 15px;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	color: white;
	text-align: center;
	transition: .2s ease-out;
	cursor: pointer;
	font-size: 16px;
	min-width: 110px;

	&:hover {
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	}
}



.desktopSearch--open {
	.dnavigation__slider {
		left: -100%;
	}

	.dnavigation {
		opacity: 0;
		visibility: hidden;
	}

	.dnavigation__search-input {
		visibility: visible;
		opacity: 1;
	}
}


.search-modal{
	.modal-header {
		text-align: right;
		padding: 24px 24px 0;
	}

	.modal-content {
		padding-top: 0;
	}
}

.search-modal__dismiss{
	background-color: transparent;
	color: #343434;
	cursor: pointer;
	transition: background-color .2s;
	height: 40px;
	line-height: 40px;
	width: 40px;
	padding: 0;
	text-transform: uppercase;
	border: none;
	border-radius: 100%;
	font-size: 30px;
	text-align: center;
}




.link-list {

}

.link-list__title{
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 1px;
	color: #63666d;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.link-list__link{
	font-size: 24px;
	color: #63666d;
	display: block;
	padding: 5px 0;
}

/* Color Variations Theme */
.movistar--green {
	.mi-movistar-login__button {
		background: $main-blue;
	}
}

.movistar--blue {
	.mi-movistar-login__button {
		background: $main-green;
	}
}
