.mlnavigation {
	width: $nav-sive;
	height: 100%;
	top: 0;
	left: 100%;
	z-index: 1000;
	position: fixed;
	display: flex;
	flex-direction:column;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	overflow: hidden;

	@media #{$large-and-up}{
		display: none;
	}
}

.mlmenu__header {
}


.mlmenu__container {
	flex-grow: 1;
	display: flex;
}

.mlmenu {
	flex: 1;
	position: relative;
	overflow-x: hidden;
}

.mlnavigation--active-back .mlmenu--login {
	display: none;
}

.mlmenu--login{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	background: #fff;
	box-shadow: inset 1px 0 0 0 #D3D4D3;
}

.mlmenu--login-link {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px 20px 16px 24px;
}

.mlmenu--login-text-container{
	font-family: Telefonica;
	font-weight: normal;
	font-size: 16px;
	color: #0299D8;
	letter-spacing: 0;
	line-height: 16px;
	padding-right: 45px;
	width: 80%;
}

.mlmenu--login-text{
	display: block;
	span{
		vertical-align: middle;
	}
}

.mlmenu--login-icon{
	width: 20%;
	text-align: right;
}

.mlmenu--login-icon span{
	font-size: 20px;
	color: #fff;
	padding: 12px;
	background: #53BF02;
	border-radius: 100%;
}

.mlmenu__menu {
	@include list-unstyled;
	margin-bottom: 0;
}

.mlmenu__sub-menu{
	@include list-unstyled;
	margin-bottom: 0;
}

.mlmenu__sub-menu{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: none;

	&.mlmenu__sub-menu--current {
		display: block;
	}

}


.mlmenu__link {
	position: relative;
	color: #fff;
	-webkit-transition: color 0.1s;
	transition: color 0.1s;
	display: block;
	font-weight: 100;
	font-size: 24px;
	letter-spacing: -.25px;
	position: relative;
	padding: 10px 15px 10px 25px;

	&:hover {
		color: #fff;
		text-decoration: none;
	}

	.icon-navigate_next {
		position: absolute;
		font-size: 18px;
		right: 15px;
		top: 50%;
		margin-top: -9px;
	}
}

.mlmenu__close{
	height: 100%;
	position: fixed;
}

.animate-outToLeft .mlmenu__level {
	-webkit-animation: outToLeft $animtaion-time both cubic-bezier(0.7, 0, 0.3, 1);
	animation: outToLeft $animtaion-time both cubic-bezier(0.7, 0, 0.3, 1);
}

.animate-outToRight .mlmenu__level {
	-webkit-animation: outToRight $animtaion-time both cubic-bezier(0.7, 0, 0.3, 1);
	animation: outToRight $animtaion-time both cubic-bezier(0.7, 0, 0.3, 1);
}

.animate-inFromLeft .mlmenu__level {
	-webkit-animation: inFromLeft $animtaion-time both cubic-bezier(0.7, 0, 0.3, 1);
	animation: inFromLeft $animtaion-time both cubic-bezier(0.7, 0, 0.3, 1);
}

.animate-inFromRight .mlmenu__level {
	-webkit-animation: inFromRight $animtaion-time both cubic-bezier(0.7, 0, 0.3, 1);
	animation: inFromRight $animtaion-time both cubic-bezier(0.7, 0, 0.3, 1);
}

/* Color Variations Theme */
.movistar--green {
	.mlnavigation {
		background: $main-blue;
	}
}

.movistar--blue {
	.mlnavigation {
		background: $main-green;
	}
}
