//vars



@import 'navigation-header';


$nav-sive: 85%;
$nav-height-mobile: 64px;
$nav-height: 88px;
$nav-sec: 32px;
$nav-close: 100% - $nav-sive;
$nav-tabs-height: 40px;
$nav-shrick: 77px;
$nav-quick-links: 50px;


.mlnavigation--push-menu {
	overflow-x: hidden;
	position: relative;
	left: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.mlnavigation--open {
	left: -$nav-sive;
	overflow: hidden;

	.mlmenu__close{
		margin-left: -$nav-close;
		width: $nav-close;
	}

	@media #{$large-and-up}{
		left: auto;
	}

	&.full-width-menu {
		left: -100%;
		@media #{$large-and-up}{
			left: auto;
		}

		.mlnavigation {
			left:0;
			width: 100%;
			@media #{$large-and-up}{
				left: auto;
				width: auto;
			}
		}

		.navigation__wrapper{
			left: -100%;
			@media #{$large-and-up}{
				left: auto;
			}
		}
	}

	.mlnavigation {
		left: 100% - $nav-sive;
		@media #{$large-and-up}{
			left: auto;
		}
	}

	.navigation__wrapper{
		left: -$nav-sive;
		@media #{$large-and-up}{
			left: auto;
		}
	}
}

.navigation__wrapper{
	width: 100%;
	height: $nav-height-mobile;
	position: fixed;
	left: 0;
	top: 0;
	-webkit-transition: left 0.3s ease, top 0.3s ease;
	-moz-transition: left 0.3s ease, top 0.3s ease;
	transition: left 0.3s ease, top 0.3s ease;
	z-index: 998;//modal + 1
	padding: 0 15px;

	@media #{$large-and-up}{
		height: $nav-height + $nav-sec;
		background: rgb(255, 255, 255);
		box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
		padding: 0;
	}
}

&.scrolling--down{
		.navigation__wrapper{
			@media #{$large-and-up}{
				top: -$nav-sec;
				height: $nav-shrick + $nav-sec;
				margin-top: 0;
			}
		}
	&.navigation-tabs--active {
		.navigation__wrapper{
			top: -$nav-height-mobile;
			@media #{$large-and-up}{
				top: -$nav-sec;
			}
		}
	}
}

.navigation__wrapper--white{
	background: #fff;
}

.desktopSearch--open {

	.navigation__wrapper {
		z-index: 1003;
	}
}

.navigation__container {
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
	height: 100%;

	@media #{$large-and-up}{
		display: flex;
		justify-content: space-between;
		align-items: center;
		/*justify-content: center;*/
		padding: 0 15px;
		height: $nav-height;
		position: relative;
	};

}

&.scrolling--down{
	.navigation__container {
		@media #{$large-and-up}{
			height: $nav-shrick;
		};

	}
}


@import 'navigation-mobile';
@import 'navigation-desktop';
@import 'navigation-tabs';
