.mlnavigation--open{
	.navigation-tabs {
		left: -$nav-sive;
	}

	&.full-width-menu {
		.navigation-tabs {
			left: -100%;
		}
	}
}

&.navigation-tabs--active{
	body {
		padding-top: 104px;
		@media #{$large-and-up} {
			padding-top: $nav-height + $nav-sec + $nav-tabs-height;
		}
	}
}

.navigation-tabs{
	height: 41px;
	line-height: 28px;
	overflow: hidden;
	width: 100%;
	position: absolute;
	left: 0;
	transition: left 0.3s ease;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
	-webkit-transition: left 0.3s ease, top 0.3s ease, height 0.3s ease;
	-moz-transition: left 0.3s ease, top 0.3s ease, height 0.3s ease;
	transition: left 0.3s ease, top 0.3s ease, height 0.3s ease;
	border-top: 1px solid #d7d7d7;
	z-index: 1;
	@media #{$large-and-up}{
		display: block;
		text-align: center;
	}
}

.navigation-tabs__rail{
	-webkit-user-select: none;
	display: block;
	height: 60px;
	overflow-y: hidden;
	padding: 0;
	position: relative;
	opacity: 0.001;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
	-webkit-transition: height 0.3s ease;
	-moz-transition: height 0.3s ease;
	transition: height 0.3s ease;
}

.navigation-tabs__list{
	display: inline-block;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
	font-size: 0;
}

.navigation-tabs__item {
	display: inline-block;
	position: relative;
	line-height: 40px;
	height: 40px;
	margin: 0;
	padding: 0px 25px;
	font-size: 16px;
	text-align: center;
	-webkit-transition: height 0.3s ease, line-height 0.3s ease;
	-moz-transition: height 0.3s ease, line-height 0.3s ease;
	transition: height 0.3s ease, line-height 0.3s ease;
	@media #{$large-and-up}{
		margin: 0 10px;
		padding: 0px 35px;
	}
	> a {
		display: block;
		position: relative;
		width: max-content;
	}
	&.selected-children{
		&::after{
			content: '';
			display: block;
			width: 100%;
			height: 3px;
			opacity: 1;
			transition: height .2s;
			position: absolute;
			bottom: 0;
			left: 0;
			background: #0098d9;
		}
	}
}

.navigation-tabs__link{
	color: rgba(0,0,0,0.54);
	text-decoration: none;
	display: inline-block;
}

.hdtb-msel{
	.navigation-tabs__link{
		position: relative;

		&::after {
			content: '';
			display: block;
			position: absolute;
			height: 3px;
			width: 70%;
			background: #0098d8;
			left: 50%;
			bottom: 0;
			transform: translate(-50%,0);
			border-radius: 2px;
		}
	}

}
