
.navigation__header{
	display: flex;
	justify-content: space-between;
	height: 100%;
	@media #{$large-and-up}{
		width: 15%;
	}
	@media #{$extra-large-and-up}{
		width: 14%;
	}
}

.navigation__accessibility-container {
	align-self: center;
	right: 115px;
	position: absolute;
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	@media #{$large-and-up}{
		display: none;
	}
}


.navigation__accessibility-icon{
	display: block;
	font-size: 20px;
	color: #86888c;
	/*border-radius: 100%;
	padding: 5px;
	border: 1px solid #86888c;*/
}

.navigation__login-container {
	align-self: center;
	right: 75px;
	position: absolute;
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	@media #{$large-and-up}{
		display: none;
	}
}

.navigation__login-icon{
	display: block;
	font-size: 16px;
	color: #86888c;
}

.navigation__toogle-container {
	align-self: center;
	@media #{$large-and-up}{
		display: none;
	}
}

.navigation__logo-container {
	align-self: center;
}

.navigation__logo {
	display: flex;
	align-items:center;
}

.navigation__logo--svg{
	fill: currentColor;
	max-width: 43px;
	@media #{$large-and-up}{
		max-width: none;
	}
}

&.scrolling--down{
	.navigation__logo-text--svg {
		transform: translate(0,-100%);
		opacity: 0;
	}

	.navigation__logo--svg {

		@media #{$large-and-up}{
			max-width: 43px;
			margin-right: 9px;
		}
	}
}

.navigation__logo-text--svg {
	transition: transform 0.3s ease, opacity 0.3s ease;
	transform: translate(0,0);
	opacity: 1;
}

.navigation__logo-text{
	display: none;
	fill: currentColor;
	margin-left: 12px;
	overflow: hidden;
	@media #{$extra-large-and-up}{
		display: block;
	}

}

.navigation__title {
	margin: 0;
	font-size: 1px;
	display: inline-block;
	line-height: normal;
	color: transparent;
}



.navigation__toogle {
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	height: 40px;
}

.navigation__toogle-bar {
	display:block;
	width:34px;
	height:2px;
	background:rgba(134,136,140,1);
}

.navigation__toogle-bar + .navigation__toogle-bar {
	margin-top:5px;
}

.mlmenu__nav {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);;
	-moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);;
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);;
	padding: 0 60px 0 25px;
}

.mlmenu__nav-inner {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.5s linear;
	white-space: nowrap;

	.mlmenu__nav__select {
		margin-top:0;
	}

	.select-wrapper {
		.caret{
			display: none;
		}

		&::after {
			content: "\e5cf";
			font-family: 'icomoon' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;

			color: #0299d8;
			position: absolute;
			right: 10px;
			top: 0;
			bottom: 0;
			height: 10px;
			margin: auto 0;
			font-size: 20px;
			line-height: 10px;
		}
	}

	input[type="text"] {
		height: 3rem;
		line-height: 3rem;
		font-size: 18px;
		color:#888;
		margin: 0;
		border-bottom:0;
		width: auto;
		font-weight: 300;
		border-radius: 20px;
		padding: 15px;
		background: #fff;
		width: 100%;
	}

	.select-wrapper{
		display:inline-block;
	}
}

.mlmenu__back {
	padding: 10px 0;
	position: relative;
	color: #fff;
	-webkit-transition: color 0.1s;
	transition: color 0.1s;
	display: block;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	position: relative;

	&:hover {
		color: #fff;
		text-decoration: none;
	}

	.icon-navigate_before {
		position: absolute;
		font-size: 18px;
		left: 0;
		top: 50%;
		margin-top: -9px;
	}
}

.mlmenu__search {
	display: table-cell;
	vertical-align: middle;
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);;
	-moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);;
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);;
	position: relative;
	left: -60px;
}
.mlmenu__search__inner{
	display: table;
	width: 100%;
	border-bottom: 1px solid transparent;
}

input[type=text] {
	&.mlmenu__search-input {
		height: 40px;
		margin:0;
	}
}
input[type=text]:focus:not([readonly]) {
	&.mlmenu__search-input {
		border-bottom:0;
		 box-shadow:none;
	}

 }
.mlmenu__search-input{
	height: 3rem;
	line-height: 3rem;
	font-size: 1rem;
	color: #fff;
	margin: 0;
	border: 0;
	background: transparent;
	outline: 0;
}

.mlmenu__search-button-container,
.mlmenu__search-input-container,
.mlmenu__search-close-container{
	display: table-cell;
	vertical-align: middle;
}

.mlmenu__search-input-container{
	width: 100%;
	max-width: 120px;
	@media (min-width: 375px) {
		max-width: none;
	}
}

.mlmenu__search-close {
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	color: #fff;
}

.mlmenu__search-button {
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	color: #fff;
	width: 50px;
	height: 40px;
	font-size: 25px;
	line-height: 40px;
	display: block;
	text-align: center;
}

.mlmenu__header-inner {
	display: table;
	width: 200%;
	height: 70px;
	table-layout:fixed;
	position: relative;
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	left:0;

	.dropdown-content {
		border-radius: 2px;
		li {
			> a ,
			> span {
				color:#50535A;
			}

			&.selected {
				background-color:transparent;
				> a ,
				> span {
					color:#0299D8;
				}
			}
		}
	}
}

.mlmenu__search--open {
	.mlmenu__nav {
	}
	.mlmenu__header-inner {
		left: -100%;
	}

	.mlmenu__search {
		left:0;
		padding: 0 15px;
	}

	.mlmenu__search__inner {
		border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	}

	.mlmenu__search-button {
		border-left: 1px solid transparent;
	}

	.mlmenu__nav-inner {
		visibility: hidden;
		opacity: 0;
	}
}

.mlmenu__nav-slide {
	display: table;
	width: 200%;
	position: relative;
	table-layout: fixed;
	left: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

.mlmenu__nav__select {
	display: table-cell;
	vertical-align:middle;
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

.mlmenu__back-container {
	display: table-cell;
	vertical-align:middle;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

.mlnavigation--active-back {
	.mlmenu__nav-slide {
		left: -100%;
	}
	.mlmenu__nav__select {
		visibility: hidden;
		opacity: 0;
	}

	.mlmenu__back-container{
		visibility: visible;
		opacity: 1;
	}
}

/* Color Variations Theme */
.movistar--blue {
	.navigation__logo--svg {
		color: $main-blue;
	}
	.navigation__logo-text {
		color: $main-blue;
	}
	.mlmenu__search {
		background: $main-green;
	}
}

.movistar--green {
	.navigation__logo--svg {
		color: $main-green;
	}
	.navigation__logo-text {
		color: $main-green;
	}
	.mlmenu__search {
		background: $main-blue;
	}
}

