.nat-banner-c2c--v1,
.nat-banner-c2c--v2 {
    position: relative;
    &.nat-banner-c2c--paddingTop {
        padding-top: 40px;
        padding-bottom: 0;
        @media only screen and (min-width: 992px) {
            padding-top: 50px;
        }
    }
    &.nat-banner-c2c--paddingBoth {
        padding-top: 40px;
        padding-bottom: 40px;
        @media only screen and (min-width: 992px) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
    &.nat-banner-c2c--paddingBottom {
        padding-top: 0;
        padding-bottom: 40px;
        @media only screen and (min-width: 992px) {
            padding-bottom: 50px;
        }
    }
}

.nat-banner-c2c--v1{
    .banner-c2c--box {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        height: 195px;
        max-width: 1150px;
        padding: 20px 22px;
        border-radius: 10px;
        @media only screen and (min-width: 768px) {
            height: 89px;
        }
        &.banner-c2c--box-left {
            .banner-c2c__text {
                @media only screen and (min-width: 768px) {
                    text-align: left;
                }
            }
        }
        &.banner-c2c--box-center {
            .banner-c2c__text {
                @media only screen and (min-width: 768px) {
                    text-align: center;
                }
            }
        }
    }
    .banner-c2c__text {
        flex: auto;
        font-size: 20px;
        font-weight: 400;
        margin: 0;
        line-height: 1.3;
        text-align: center;
        @media only screen and (min-width: 768px) {
            flex: 1;
        }
        @media only screen and (min-width: 992px) {
            font-size: 22px;
        }
        > * {
            font-size: 20px;
            font-weight: 400;
            line-height: 1.3;
            margin: 0;
            @media only screen and (min-width: 992px) {
                font-size: 22px;
            }
        }
    }
    .nat-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        box-shadow: inherit;
        border: none;
        padding: 0;
        margin: 0 auto;
        width: 100%;
        max-width: 164px;
        height: 44px;
        font-size: 16px;
        line-height: 1.3;
        text-transform: none;
        margin-top: 20px;
        @media only screen and (min-width: 768px) {
            margin-top: 0;
            margin-left: 10px;
            margin-right: 0;
            height: 48px;
            max-width: 174px;
            font-size: 18px;
        }
    }
}
.nat-banner-c2c--v2{
    .banner-c2c--box {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        width: 100%;
        height: 195px;
        border-radius: 10px;
        padding: 20px 45px;
        @media only screen and (min-width: 768px) {
            height: 228px;
        }
        @media only screen and (min-width: 992px) {
            padding: 20px 55px;
        }
        &.banner-c2c--box-left {
            .banner-c2c__content {
                .banner-c2c__title, .banner-c2c__text {
                    @media only screen and (min-width: 768px) {
                        text-align: left;
                    }
                }
                .nat-button {
                    @media only screen and (min-width: 768px) {
                        margin-left: 0;
                    }
                }
            }
        }
        &.banner-c2c--box-center {
            .banner-c2c__content {
                .banner-c2c__title, .banner-c2c__text {
                    @media only screen and (min-width: 768px) {
                        text-align: center;
                    }
                }
                .nat-button {
                    @media only screen and (min-width: 768px) {
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }
    .banner-c2c__content {
        margin: 0 auto;
        text-align: center;
        flex: auto;
        @media only screen and (min-width: 768px) {
            flex: 1;
            margin-left: 0;
            margin-right: auto;
            text-align: left;
        }
        .banner-c2c__title {
            font-weight: 300;
            font-size: 24px;
            line-height: 1.3;
            margin-bottom: 15px;
            @media only screen and (min-width:992px){
                font-size: 40px;
                margin-bottom: 12px;
            }
        }
        .banner-c2c__text {
            font-weight: 300;
            font-size: 18px;
            line-height: 1.3;
            margin: 0;           
            @media only screen and (min-width:992px){
                font-size: 20px;
            }
            > * {
                font-size: 18px;
                font-weight: 300;
                line-height: 1.3;
                margin: 0;
                @media only screen and (min-width: 992px) {
                    font-size: 20px;
                }
            }
        }
        .nat-button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 44px;
            border-radius: 100px;
            box-shadow: inherit;
            border: none;
            padding: 0;
            margin: 0 auto;
            margin-top: 24px;
            width: 100%;
            max-width: 164px;
            font-size: 16px;
            line-height: 1.3;
            text-transform: none;
            @media only screen and (min-width: 768px) {
                margin-top: 32px;
                height: 48px;
                max-width: 174px;
                font-size: 18px;
            }
        }
    }
    .banner-c2c__sticker{
        margin-left: auto;
        margin-right: 0;
        display: none;
        @media only screen and (min-width: 768px) {
            display: block;
            width: 190px;
        }
        @media only screen and (min-width:992px){
            margin-right: 5%;
        }
        .sticker{
            width: auto;
            display: block;
            max-height: 188px;
        }
    }
}
.nat-banner-c2c--v3 {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    height: 300px;
    .banner-c2c__picture{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        z-index: 1;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .banner-c2c__content{
        text-align: left;
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        .banner-c2c--box{
            width: 100%;
            max-width: 250px;
            padding: 0;
            margin: 0;
            @media only screen and (min-width:992px){
                max-width: 1150px;
                margin: 0 auto;
            }
        }
        .banner-c2c__badge {
            font-weight: 300;
            font-size: 18px;
            line-height: 1.1;
            letter-spacing: 5px;
            text-transform: uppercase;
            position: relative;
            margin: 0;
            padding: 0;
            float: none;
            background-color: transparent;
            border-radius: 0;
            text-shadow: inherit;
            @media only screen and (min-width:992px){
                font-size: 24px;
                letter-spacing: 10px;
            }
        }
        .banner-c2c__title {
            font-weight: 300;
            font-size: 32px;
            line-height: 1.3;
            margin-bottom: 0;
            @media only screen and (min-width:992px){
                font-size: 40px;
            }
        }
        .banner-c2c__text {
            font-weight: 300;
            font-size: 18px;
            line-height: 1.3;
            margin: 0;
            margin-bottom: 12px;
            @media only screen and (min-width:992px){
                font-size: 20px;
            }
            > * {
                font-weight: 300;
                font-size: 18px;
                line-height: 1.3;
                margin: 0;
                margin-bottom: 12px;
                @media only screen and (min-width: 992px) {
                    font-size: 20px;
                }
            }

        }
        .nat-button{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 44px;
            border-radius: 100px;
            box-shadow: inherit;
            border: none;
            padding: 0;
            margin: 0;
            margin-top: 24px;
            width: 100%;
            max-width: 164px;
            font-size: 16px;
            line-height: 1.3;
            text-transform: none;
            @media only screen and (min-width: 768px) {
                margin-top: 32px;
                height: 48px;
                max-width: 174px;
                font-size: 18px;
            }
        }
    }
}