.nat-equipment-carouseln {
    position: relative;
    .box--device {
        position: relative;
        .image__device {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }
    .device__promo {
        position: absolute;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 -10px;
        transform: inherit;
        display: flex;
        flex-wrap: wrap;
        opacity: 0;
        visibility: hidden;
        @media (min-width: 768px) {
            margin: 0 15px;
        }
        .promo__list {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            margin: 50px 0;
        }
        .promo__item {
            width: 62px;
            height: 62px;
            border-radius: 6px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin-right: 3px;
            box-sizing: border-box;
            @media (min-width: 992px) {
                width: 70px;
                height: 70px;
                margin-right: 5px;
            }
            &:last-child {
                margin-right: 0px;
            }
            .promo__box {
                width: 100%;
                text-align: center;  
            }
            .description {
                font-weight: 300;
                font-size: 10px;
                line-height: 1.2;
                margin: 0;
                b, strong {
                    font-size: 12px;
                    font-weight: 700;
                    margin: 5px 0 0;
                    display: block;
                    @media (min-width: 992px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .device__promo--vertical {
        .promo__list {
            width: 62px;
            @media (min-width: 992px) {
                width: 70px;
            }
        }
        .promo__item {
            margin-bottom: 3px;
            @media (min-width: 992px) {
                margin-bottom: 5px;
            }
            &:last-child{
                margin-bottom: 0;
                margin-left: 0;
            }
        }
    }
    .device__header {
        .title {
            margin: 0;
            font-size: 24px;
            line-height: 1.2;
            color: $gray-dark2;
            b, strong {
                font-weight: 700;
            }
        }
    }
    .device__content {
        margin-top: 5px;
        .description {
            margin: 0;
            font-size: 16px;
            line-height: 1.2;
            @media (min-width: 992px) {
                font-size: 18px;
            }
        }
        .price {
            margin: 0;           
            font-size: 24px;
            line-height: 1.2;
            @media (min-width: 992px) {
                font-size: 32px;
            }
        }
        .price__mounth {
            margin-top: 5px;
            @media (min-width: 992px) {
                margin-top: 10px;
            }
        }
    }
    .device__plan {
        margin: 0;
        margin-top: 10px;
        .description {
            font-size: 16px;
            line-height: 1.2;
            margin: 0;
        }
    }
    .device__footer {
        margin-top: 30px;
        .button__action {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 176px;
            height: 48px;
            margin: 0 auto;
            border: 0;
            border-radius: 70px;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.2;
            box-shadow: inherit;
            padding: 0;
            cursor: pointer;
            @media (min-width: 992px) {
                font-size: 18px;
            }
        }
    }
    .equipment--carousel {
        .equipment__gallery {
            width: 100%;
            max-width: 380px;
            margin: 0 auto;
            @media (min-width: 768px) {
                max-width: 850px;
            }
            .equipment__item {
                width: 170px;
                @media (min-width: 768px) {
                    width: 300px;
                }
            }
        }
        .equipment__thumbs {
            width: 100%;
            margin: 0 auto;
            @media (min-width: 768px) {
                max-width: 850px;
            }
        }
        .swiper-wrapper {
            .swiper-slide-active {
                .box--device, .box--info, .device__promo {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .box--device {
            opacity: 0.4;
        }
        .box--info {
            visibility: hidden;
            opacity: 0;
            margin-top: 30px;
            text-align: center;
        }
    }
    .equipment--block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -15px;
        .equipment__gallery-2 {
            padding-bottom: 30px;
        }
        .swiper-pagination {
            display: block;
            bottom: 0;
            @media (min-width: 992px) {
                display: none;
            }
        }
        .swiper-button-next, .swiper-button-prev{
            display: none;
            top: inherit;
            bottom: 0;
            width: 20px;
            height: 20px;
            border: 1px solid $color_cian;
            border-radius: 5px;
            margin: 0;
            @media (min-width: 992px) {
                display: block;
            }
            &:after {
                font-size: 20px;
                line-height: 18px;
            }
            &:focus{
                outline: inherit;
            }
        }
        .swiper-button-next, .swiper-button-prev {
            &.swiper-button-disabled {
                background: $color_cian;
                color: $white;
            }
        }
        .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
            right: 0;
            margin-right: 30%;
        }
        .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
            left: 0;
            margin-left: 30%;
        }
        .equipment__item {
            position: relative;
            width: 100%;
            max-width: 100%;
            padding: 0 15px;
            margin-bottom: 40px;
            @media (min-width: 768px) {
                flex: 0 0 auto;
                width: 50%;
            }
            @media (min-width: 1200px) {
                flex: 0 0 auto;
                width: 33.3333333333%;
                margin-bottom: 60px;
            }
            &:nth-last-child(-n+3) {
                @media (min-width: 992px) {
                    margin-bottom: 0;
                }
            }
            &:nth-last-child(-n+2) {
                @media (max-width: 991px) and (min-width: 768px) {
                    margin-bottom: 0;
                }
            }
            &:nth-last-child(-n+1){
                @media (max-width: 768px) {
                    margin-bottom: 0;
                }
            }
        }
        .equipment__box {
            position: relative;
            display: flex;
            width: 100%;
            max-width: 360px;
            margin: auto;
        }
        .box--device {
            display: block;
            width: 100%;
            max-width: 130px;
            margin-left: 0;
            margin-right: 10px;
            @media (min-width: 992px) {
                margin-right: 20px;
            }
        }
        .box--info {
            margin: 0;
        }
        .box--float {
            position: absolute;
            top: 30px;                       
            left: -10px;
            z-index: 1;
            .float__list {
                display: flex;
                flex-wrap: wrap;
                width: 50px;
            }
            .float__item {
                width: 50px;
                height: 50px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;  
                padding: 0;
                .float__content {
                    width: 100%;
                    text-align: center;
                }
                .description {
                    font-weight: 400;
                    font-size: 9px;
                    line-height: 1.2;
                    margin: 0;
                }
                &:last-child {
                    margin-top: 5px;
                }
            }
        }
        .device__header {
            margin-bottom: 5px;
            padding-top: 15px;
            position: relative;
            .recommend {
                font-size: 10px;
                line-height: 1.3;
                text-transform: uppercase;
                color: $color_cian;
                margin: 0;
                position: absolute;
                top: 0;
            }
            .title {
                font-size: 24px;
                font-weight: 700;
                margin: 0;
                color: $gray-dark2;
            }
        }
        .device__content {
            margin-top: 10px;
            .description {
                font-size: 14px;
                margin: 0;
            }
            .price {
                font-size: 24px;            
                margin: 0;
                margin-bottom: 5px;
            }
        }
        .device__plan {
            .description {
                font-size: 14px;
                line-height: 1.2;
                margin: 0;
            }
        }
        .device__footer {
            margin-top: 15px;
            .button__action {
                margin: 0;
            }
        }
    }
}