.nat-featured-notes {
    position: relative;
    padding-top: 40px;
    padding-bottom: 45px;
    @media only screen and (min-width: 992px) {
        padding-top: 50px;
        padding-bottom: 80px;
    }
    &.nat-featured-notes--2 {
        .featured-notes__col {
            @media only screen and (min-width: 768px) {
                flex: 0 0 58.333333%;
                max-width: 58.333333%;
            }
            @media only screen and (min-width: 1200px) {
                flex: 0 0 55.702%;
                max-width: 55.702%;
            }
            .notes-box {
                margin-bottom: 60px;
                @media only screen and (min-width: 768px) {
                    margin-bottom: 0;
                }
            }
            &:nth-child(2) {
                @media only screen and (min-width: 768px) {
                    flex: 0 0 41.666667%;
                    max-width: 41.666667%;
                }
                @media only screen and (min-width: 1200px) {
                    flex: 0 0 36.843%;
                    max-width: 36.843%;
                }
                .notes-box {
                    margin-bottom: 0px;
                    .notes-box__detail {
                        .image {
                            @media only screen and (min-width: 768px) {
                                position: relative;
                                overflow: hidden;
                                height: 290px;
                            }
                            @media only screen and (min-width: 992px) {
                                height: 360px;
                            }
                            @media only screen and (min-width: 1200px) {
                                height: 409px;
                            }
                        }
                    }
                }
            }
        }
    }
    .featured-notes__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: -15px;
        margin-left: -15px;
    }
    .featured-notes__col {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .notes-box {
        position: relative;
        display: flex;
        flex-direction: column;
        &:hover {
            .notes-box__detail .title > a {
                color: $primary;
                background-size: 20px 2px,0 2px,100% 2px;
                background-position: calc(100% + 20px) 100%,100% 100%,0 100%;
            }
        }
        .notes-box__detail {
            border-bottom: 1px solid #F5F5F5;
            padding-bottom: 5px;
            .title {
                -webkit-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                width: 100%;
                max-height: 70px;
                overflow: hidden;
                font-size: 22px;
                font-weight: 700;
                line-height: 1.3;
                color: $blue-dark;
                margin: 0;
                margin-bottom: 15px;
                @media only screen and (min-width: 992px) {
                    font-size: 34px;
                    max-height: 104px;
                }
                > a {
                    color: $blue-dark;
                    text-decoration: none;
                    transition: all ease 400ms;
                    background-image: linear-gradient(transparent,transparent),linear-gradient(transparent,transparent),linear-gradient($primary,$primary);
                    background-size: 20px 2px,100% 2px,0 2px;
                    background-position: calc(20px * -1) 100%,100% 100%,0 100%;
                    background-repeat: no-repeat;
                    transition: background-size .25s linear,background-position .25s linear,color .25s ease-out;
                    &:hover, &:active {
                        color: $primary;
                        background-size: 20px 2px,0 2px,100% 2px;
                        background-position: calc(100% + 20px) 100%,100% 100%,0 100%;
                    }
                    &:focus {
                        color: $primary;
                    }
                }
            }
            .image {
                position: relative;
                overflow: hidden;
                display: block;
                margin: 0 auto;
                margin-bottom: 30px;
                border-radius: 15px;
                box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
                height: 260px;
                @media only screen and (min-width: 768px) {
                    height: 340px;
                }
                @media only screen and (min-width: 992px) {
                    height: 400px;
                }
                @media only screen and (min-width: 1200px) {
                    height: 480px;
                }
                .image__media {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    z-index: 1;
                    > img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
            .description {
                -webkit-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 6;
                width: 100%;
                max-height: 138px;
                overflow: hidden;

                font-size: 18px;
                font-weight: 300;
                color: $gray;
                line-height: 1.3;
                margin: 0;
                margin-bottom: 15px;
                p {
                    margin-bottom: 5px;
                }
                a {
                    color: $primary;
                    text-decoration: none;
                    &:hover, &:active, &:focus {
                        color: $primary;
                    }
                }
            }
            .category {
                text-align: right;
                margin: 0;
                .category__link {
                    display: inline-flex;
                    align-items: center;
                    height: 22px;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 1;
                    color: $white;
                    background-color: $primary;
                    padding: 0 5px;
                    border-radius: 4px;
                    text-transform: uppercase;
                    text-decoration: none;
                    &:hover, &:active, &:focus {
                        background-color: $primary-hover;
                    }
                }
            }
        }
    }
    &.nat-featured-notes--full {
        @media only screen and (max-width: 768px) {
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .container {
            @media only screen and (max-width: 768px) {
                padding-left: 0px;
                padding-right: 0px;
            }
            .featured-notes__row {
                @media only screen and (max-width: 768px) {
                    margin-right: 0px;
                    margin-left: 0px;
                }
                .featured-notes__col {
                    @media only screen and (max-width: 768px) {
                        padding-right: 0px;
                        padding-left: 0px;
                    }
                }
            }
        }   
        .notes-box {
            justify-content: flex-end;
            height: 529px;
            overflow: hidden;
            padding: 20px 20px;
            border-radius: 0;
            @media only screen and (min-width: 768px) {
                height: 619px;
            }
            @media only screen and (min-width: 992px) {
                padding: 30px 40px;
            }
            &:hover {
                .notes-box__detail .title > a {
                    color: $white;
                    background-size: 20px 2px,0 2px,100% 2px;
                    background-position: calc(100% + 20px) 100%,100% 100%,0 100%;
                }
            }
            .notes-box__detail {
                position: relative;
                z-index: 2;
                .title {
                    color: $white;
                    margin-bottom: 42px;
                    > a {
                        color: $white;
                        transition: all ease 400ms;
                        background-image: linear-gradient(transparent,transparent),linear-gradient(transparent,transparent),linear-gradient($white,$white);
                        background-size: 20px 2px,100% 2px,0 2px;
                        background-position: calc(20px * -1) 100%,100% 100%,0 100%;
                        background-repeat: no-repeat;
                        transition: background-size .25s linear,background-position .25s linear,color .25s ease-out;
                        &:hover, &:active {
                            color: $white;
                            background-size: 20px 2px,0 2px,100% 2px;
                            background-position: calc(100% + 20px) 100%,100% 100%,0 100%;
                        }
                        &:focus {
                            color: $white;
                        }
                    }
                }
            }
            .notes-box__image {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 100%;
                z-index: 1;
                .image__media {
                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        height: 320px;
                        background: linear-gradient(180deg,rgba(68,68,68,0) 20%,$black);
                        pointer-events: none;
                    }
                    > img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        } 
    }
}