.nat-featured-notes--slider{
    .nat-featured-notes__content{
        position: relative;
        margin: 0 -15px;
        @media only screen and (min-width: 576px) {
            margin: 0;
        }
        .swiper-container {
            position: initial;
        }
        .swiper-pagination {
            display: block;
            bottom: -10px;
            @media only screen and (min-width: 1200px) {
                display: none;
            }
        }
        .swiper-button-disabled {
            opacity: 0;
            visibility: hidden;
        }
        .swiper-button-prev, .swiper-button-next {
            display: none;
            width: auto;
            height: 26px;
            color: $primary;
            @media only screen and (min-width: 1200px) {
                display: block;
            }
        }
        .swiper-button-prev {
            left: -20px;
            @media only screen and (min-width: 1200px) {
                left: -15px;
            }
        }
        .swiper-button-next {
            right: -20px;
            @media only screen and (min-width: 1200px) {
                right: -15px;
            }
        }
        .swiper-button-prev:after, .swiper-button-next:after {
            font-size: 26px;
            font-weight: bold;
        }
    }
    .nat-featured-notes__list{
        margin: 0;
        display: flex;        
    }
    .nat-featured-notes__list.not-slider{
        justify-content: center;
    }
    .nat-featured-notes__item{
        padding: 15px 10px;
        @media only screen and (max-width:992px){
            width: 270px !important;
        }
        &[aria-label="1 / 1"]{
            @media only screen and (min-width: 768px){
                width: 50% !important;
            }
            .cardBox .cardBox__image .image__media {
                @media only screen and (min-width:992px){
                    height: 239px;   
                }
            }
        }
        &[aria-label="1 / 2"],
        &[aria-label="2 / 2"] {
            @media only screen and (min-width: 768px){
                width: 50% !important;
            }
            .cardBox .cardBox__image .image__media {
                @media only screen and (min-width:992px){
                    height: 239px;   
                }
            }
        }
        .cardBox {
            margin-bottom: 0px;
        }
    }
    
    .nat-featured-notes__footer{
        position: relative;
        margin: 0 -20px;
    }
}