.nat-grid-notes{
    position: relative;
    .container{
        width: 100%;
        max-width: 730px;
        padding: 0;
    }
    &.nat-grid-notes--space {
        margin-bottom: 50px;
        @media only screen and (min-width:992px){
            margin-bottom: 0;
            padding-right: 50px;
        }
    }
    .nat-grid-notes__header{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        @media only screen and (min-width:992px){
            margin-bottom: 54px;
        }
        .title{
            font-weight: 300;
            font-size: 32px;
            line-height: 40px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 0;
            @media only screen and (min-width:992px){
                font-size: 40px;
                line-height: 50px;
                margin-left: 0;
            }
        }
        .link{
            font-weight: bold;
            font-size: 20px;
            line-height: 25px;
            text-decoration-line: underline;
            color: $primary;
            margin-left: auto;
            margin-right: 0;
            display: none;
            @media only screen and (min-width:992px){
                display: block;
            }
        }
    }
    .nat-grid-notes__footer{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        @media only screen and (min-width:992px){
            display: none;
        }
        .link{
            font-weight: bold;
            font-size: 20px;
            line-height: 1.3;
            text-align: center;
            text-decoration-line: underline;
            color: $primary;
        }
    }
    .nat-grid-notes__list{
        margin: 0 -15px;
        @media only screen and (min-width:768px){            
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            grid-gap: 0;
        }
    }
    .nat-grid-notes__item{
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 30px;
        @media only screen and (min-width:768px){
            padding: 0 15px;
            max-width: inherit;
        }
        .card{
            height: 360px;
        }
    }
}
.nat-grid-notes.grid-notes--v2{
    .nat-grid-notes__list{
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
}
.nat-grid-notes.grid-notes--v3{
    .nat-grid-notes__list{
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
    }
    .nat-grid-notes__item{
        &:nth-child(1){
            grid-column: 1/3;
            grid-row: 1;
        }
        &:nth-child(2){
            grid-column: 1;
            grid-row: 2;
        }
        &:nth-child(3){
            grid-column: 2;
            grid-row: 2;
        }
    }
}