.nat-modal-video{
    border-radius: 5px;
    width: 95%;
    max-width: 1107px;
    max-height: 75%;
    .container{
        max-width: 100%;
        padding: 20px;
    }
    .modal-header{
        text-align: right;
        padding: 0;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border: 0;
        .modal-close {
            padding: 0;
            line-height: 1;
            .icon-nat_close {
                font-size: 14px;
                color: $primary;
            }
        }
    }
    .modal-content {
        padding: 0;
    }
}