.nat-note-page {
    position: relative;
    padding-top: 45px;
    padding-bottom: 45px;
    @media only screen and (min-width: 992px) {
        padding-top: 65px;
        padding-bottom: 65px;
    }
    .container {
        @media only screen and (min-width: 992px) {
            max-width: 950px;
        }
    }
    .note-page__title {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.15;
        text-align: center;
        color: $blue-dark;
        margin: 0;
        margin-bottom: 30px;
        @media only screen and (min-width: 992px) {
            font-size: 40px;
            margin-bottom: 60px;
        }
    }
    .note-page__box {
        &.note-page__box--2 {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            .box__image, .box__description {
                position: relative;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
            }
            .box__image {
                @media only screen and (min-width: 992px) {
                    flex: 0 0 58.333333%;
                    max-width: 58.333333%;
                    order: 13;
                }
            }
            .box__description {
                @media only screen and (min-width: 992px) {
                    flex: 0 0 41.666667%;
                    max-width: 41.666667%;
                }
            }
        }
        .box__image {
            display: block;
            .image__media {
                position: relative;
                display: block;
                margin: 0 -15px 30px;
                @media only screen and (min-width: 576px) {
                    margin: 0 auto 30px;
                }
                @media only screen and (min-width: 992px) {
                    border-radius: 15px;
                    overflow: hidden;
                    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
                }
                &.image__media--video {
                    .media__picture {
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            width: 100%;
                            height: 100%;
                            background:  linear-gradient(0deg, rgba(11, 39, 57, 0.3), rgba(11, 39, 57, 0.3));
                            z-index: 1;
                        }
                    }
                }
                .media__picture {
                    img {
                        display: block;
                        width: 100%;
                        max-width: 100%;
                    }
                }
                .media__play {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    background-color: $white;
                    color: $primary;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 2;
                    @media only screen and (min-width:768px){
                        font-size: 24px;
                        width: 54px;
                        height: 54px;
                    }
                    > svg {
                        margin-left: 3px;
                        @media only screen and (min-width:768px){
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        .box__description {
            color: $gray;
            font-size: 16px;
            @media only screen and (min-width: 992px) {
                font-size: 18px;
            }
            h2 {
                font-size: 20px;
                font-weight: 300;
                line-height: 1.3;
                color: $blue-dark;
                margin: 0;
                margin-bottom: 25px;
                @media only screen and (min-width: 992px) {
                    font-size: 24px;
                }
            }
            h3, h4, h5, h6 {
                font-size: 18px;
                font-weight: 300;
                line-height: 1.3;
                color: $blue-dark;
                margin: 0;
                margin-bottom: 20px;
                @media only screen and (min-width: 992px) {
                    font-size: 21px;
                }
            }
            p {
                line-height: 1.5;
            }
            a {
                color: $primary;
                text-decoration: underline;
                &:hover, &:active {
                    color: $primary-hover;
                    text-decoration: none;
                }
            }
            ul {
                list-style: disc;
                padding-left: 20px;
                line-height: 1.5;
                margin: 0;
                margin-bottom: 15px;
                li {
                    line-height: 1.5;
                    list-style: inherit;
                    ul {
                        margin: 10px 0;
                    }
                }
            }
            picture {
                display: block;
                overflow: hidden;
                border-radius: 10px;
                margin-bottom: 20px;
                > img {
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;
                }
            }
            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 20px;
                max-width: 100%;
            }
            .embed--responsive {
                margin-bottom: 20px;
            }
        }
    }
}
.nat-note-gallery {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F5F5F5;
    @media only screen and (min-width: 992px) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .note-gallery__slider {
        &.swiper-container {
            margin-left: -15px;
            margin-right: -15px;
            @media only screen and (min-width: 768px) {
                margin-left: auto;
                margin-right: auto;
            }
        }
        .swiper-button-next, .swiper-button-prev {
            width: 63px;
            height: 63px;
            color: $white;
            background-color: $blue-dark;
            border-radius: 50%;
            display: none;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
            @media only screen and (min-width: 768px) {
                display: flex;
            }
            &::after {
                font-size: 30px;
            }
        }
        .gallery__item {
            width: 60%;
        }
        .slide__image {
            display: block;
            width: 100%;
            position: relative;
            overflow: hidden;
            border-radius: 15px;
            &.slide__image--video {
                .image__source {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        background:  linear-gradient(0deg, rgba(11, 39, 57, 0.3), rgba(11, 39, 57, 0.3));
                        z-index: 1;
                    }
                }
            }
            .image__source {
                display: block;
                margin: auto;
                img {
                    display: block;
                    width: 100%;
                    max-width: 100%;
                }
            }
            .media__play {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 30px;
                height: 30px;
                border-radius: 100%;
                background-color: $white;
                color: $primary;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 2;
                @media only screen and (min-width:768px){
                    font-size: 24px;
                    width: 54px;
                    height: 54px;
                }
                > svg {
                    margin-left: 3px;
                    @media only screen and (min-width:768px){
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}