.nat-page-result{
    position: relative;
    padding: 36px 0 40px;
    @media only screen and (min-width:992px){
        padding: 60px 0 40px;
    }
    .nat-page-result__header{
        margin-bottom: 15px;
        @media only screen and (min-width:600px){
            margin-bottom: 36px;
        }
        .title {
            font-size: 18px;
            font-weight: 300;
            line-height: 1.2;
            margin-bottom: 0;
            @media only screen and (min-width:992px){
                font-size: 27px;
            }
            span{
                font-weight: 700;
                color: $primary;
            }
        }
    }
    .nat-page-result__content{
        .lfr-search-container {
            margin-top: 0;
            overflow: inherit;
        }
        .table {
            border: 0;
            thead {
                tr {
                    th, td {
                        padding: 0;
                        border: 0;
                        border-radius: 0;
                    }
                    &:hover {
                        th, td {
                            background-color: transparent;
                        }
                    }
                }
            }
            tbody {
                tr {
                    th, td {
                        padding: 0;
                        border: 0;
                        border-radius: 0;
                        background-color: transparent;
                    }
                    &:hover {
                        th, td {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
    .nat-page-result__list {
        display: block;
    }
    .nat-page-result__item{
        margin-bottom: 15px;
        @media only screen and (min-width:600px){
            margin-bottom: 30px;
        }
    }
    .nat-page-result__footer{
        .pagination{
            margin: 0;
        }
    }
}