.nat-page-see-more{
    position: relative;
    padding: 30px 0;
    @media only screen and (min-width: 992px){
        padding: 50px 0;
    }
    .container{
        width: 100%;
        max-width: 1150px;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .nat-page-see-more__header{
        margin-bottom: 35px;
        @media only screen and (min-width: 992px){
            margin-bottom: 45px;
        }
        .title{
            font-weight: 300;
            font-size: 32px;
            line-height: 40px;
            color: $blue-dark;
            margin-bottom: 0;
            text-align: center;
            @media only screen and (min-width: 992px){
                font-size: 40px;
                line-height: 50px;
                text-align: left;
            }
        }
    }
    .nat-page-see-more__content{
        position: relative;
    }
    .nat-page-see-more__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: -20px;
        margin-left: -20px;
        @media only screen and (min-width: 768px){
            margin-right: -15px;
            margin-left: -15px;
        }
    }
    .nat-page-see-more__item {
        position: relative;
        width: 100%;
        padding: 15px 20px;
        @media only screen and (min-width: 768px){
            flex: 0 0 50%;
            max-width: 50%;
            padding: 15px;
        }
        @media only screen and (min-width: 992px){
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
    }
    .nat-page-see-more__footer{
        margin-top: 60px;
    }
}