.nat-page-result-error {
    padding: 15px 0 20px;
    @media only screen and (min-width:992px){
        padding: 25px 0 80px;
    }
    .page-result-error__wrapper {
        position: relative;
        z-index: 2;
    }
    .page-result-error__header {
        margin-bottom: 30px;
        @media only screen and (min-width:600px){
            margin-bottom: 60px;
        }
        .title {
            font-size: 18px;
            font-weight: 300;
            line-height: 1.2;
            margin-bottom: 0;
            @media only screen and (min-width:992px){
                font-size: 30px;
            }
            b {
                font-weight: 700;
                color: $primary;
            }
        }
    }
    .page-result-error__content {
        .description {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 0;
            color: $blue-dark;
            @media only screen and (min-width:992px){
                font-size: 18px;
            }
            p {
                margin: 0;
                margin-bottom: 25px;
            }
            ul {
                list-style: disc;
                padding-left: 20px;
                margin: 0;
                margin-bottom: 20px;
                li {
                    list-style: disc;
                    line-height: 1.5;
                }
            }
        }
        .return--home {
            font-size: 18px;
            line-height: 1.3;
            margin: 0;
            margin-top: 30px;
            color: $primary;
            @media only screen and (min-width:992px){
                font-size: 20px;
                margin-top: 60px;
            }
            a {
                color: $primary;
                text-decoration: underline;
            }
            .return--home__icon {
                margin-right: 10px;
            }
        }
    }
    .page-result-error__picture {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        z-index: -1;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: none;
            object-position: bottom right;
        }
    }
}