.nat-planes--section {
    position: relative;
    .container {
        width: 100%;
        @media only screen and (min-width: 1200px) {
            max-width: 1280px;
        }
    }
    .planes--carousel {
        position: relative;
        .swiper-container {
            position: initial;
        }
        .swiper-pagination {
            display: block;
            @media only screen and (min-width: 1200px) {
                display: none;
            }
        }
        .swiper-button-disabled {
            opacity: 0;
            visibility: hidden;
        }
        .swiper-button-prev, .swiper-button-next {
            display: none;
            width: auto;
            height: 26px;
            color: $primary;
            @media only screen and (min-width: 1200px) {
                display: block;
            }
        }
        .swiper-button-prev {
            left: -20px;
            @media only screen and (min-width: 1200px) {
                left: -15px;
            }
        }
        .swiper-button-next {
            right: -20px;
            @media only screen and (min-width: 1200px) {
                right: -15px;
            }
        }
        .swiper-button-prev:after, .swiper-button-next:after {
            font-size: 26px;
            font-weight: bold;
        }
    }
    .planes--item {
        padding: 15px 10px;
        .plan--box.active {
            .box--body {
                .body__beneficios {
                    display: none;
                }
            }
            .box--footer {
                .footer__button {
                    > .button__icon {
                        transform: rotate(-180deg);
                    }
                }
            }
        }
        .plan--box {
            position: relative;
            display: block;
            width: 100%;
            max-width: 290px;
            margin: 0 auto 40px;
            border-radius: 15px;
            box-shadow: 0 6px 15px rgba(55,63,65,.1);
            @media only screen and (min-width: 1200px) {
                margin-bottom: 0px;
            }
            &.plan--box-2 {
                margin-top: 32px;
                .box--header {
                    padding: 40px 20px 25px;
                    .header__button .button__accion {
                        border-radius: 100px;
                    }
                }
            }
            &.plan--box-3 {
                &.plan--box-verde {
                    .box--header {
                        .header__button .button__accion {
                            background-color: $primary;
                            &:hover, &:active {
                                background-color: $primary-hover;
                            }
                        }
                        .header__button .button__accion.button__accion--verde {
                            background-color: $green;
                            &:hover, &:active {
                                background-color: $green2;
                            }
                        }
                    }
                    .box--body {
                        .body__beneficios .beneficios__lista .beneficio__box .box__descripcion {
                            color: $green;
                        }
                    }
                }
                .box--header {
                    padding: 25px 20px 25px;
                    .header__button .button__accion {
                        background-color: $primary;
                        &:hover, &:active {
                            background-color: $primary-hover;
                        }
                    }
                    .header__descripcion {
                        margin-bottom: 5px;
                    }
                }
                .box--body {
                    .body__beneficios .beneficios__lista .beneficio__box .box__descripcion {
                        font-size: 12px;
                        color: $primary;
                    }
                    .body__detalles .detalles__item .beneficio__box .box__info .info__descripcion {
                        font-size: 14px;
                        margin-bottom: 8px;
                    }
                }
            }
            &.plan--box-verde {
                .box--header {
                    .header__titulo, .header__titulo .header__titulo--small,
                    .header__descripcion, .header__ilitimado {
                        color: $green;
                    }
                    .header__button .button__accion {
                        background-color: $green;
                        &:hover, &:active {
                            background-color: $green2;
                        }
                    }
                }
                .box--body {
                    .body__beneficios .beneficios__lista .beneficio__box .box__icon,
                    .body__detalles .detalles__item .beneficio__box .box__icon,
                    .body__detalles .detalles__item .beneficio__box .box__info .info__titulo,
                    .body__detalles .detalles__item .exclusivos__box .box__titulo {
                        color: $green;
                    }
                }
            }
            .box--header {
                position: relative;
                padding: 25px 20px 25px;
                border-bottom: 1px solid #f4f4f3;
                background-color: $white;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                .header__titulo {
                    display: block;
                    font-size: 45px;
                    font-weight: 700;
                    line-height: 1.2;
                    color: $primary;
                    margin: 0;
                    margin-bottom: 10px;
                    .header__titulo--superior {
                        display: block;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 1.2;
                        color: $blue-dark;
                        margin: 0;
                    }
                    .header__titulo--small {
                        display: block;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1.2;
                        color: $primary;
                        margin: 0;
                        margin-top: 5px;
                    }
                }
                .header__subtitulo {
                    display: block;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.2;
                    color: $gray-light2;
                    margin: 0;
                    margin-bottom: 2px;
                }
                .header__descripcion {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.2;
                    color: $primary;
                    margin: 0;
                    margin-bottom: 10px;
                }
                .header__ilitimado {
                    display: flex;
                    align-items: center;
                    color: $primary;
                    margin: 0;
                    .ilitimado__numero {
                        font-size: 40px;
                        font-weight: 700;
                        line-height: 1;
                        margin-right: 7px;                                        
                    }
                    .ilitimado__meses {
                        width: 100%;
                        max-width: 85px;
                        line-height: 1;
                        b {
                            display: block;
                        }
                        b, strong {
                            font-weight: 700;
                        }
                    }
                }
                .header__precio {
                    display: block;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 1.2;
                    color: $blue-dark;
                    margin: 0;
                }
                .header__sticker {
                    position: absolute;
                    top: -30px;
                    right: -8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    flex-direction: column;
                    width: 108px;
                    height: 108px;
                    margin: 0;
                    color: $white;
                    border-radius: 50px;
                    &.header__sticker--azulOscuro {
                        background-color: $blue-dark;
                    }
                    &.header__sticker--rosado {
                        background-color: $pink;
                    }
                    &.header__sticker--verde {
                        background-color: $green;
                    }
                    &.header__sticker--celeste {
                        background-color: $primary;
                    }
                    .sticker__titulo {
                        font-size: 32px;
                        font-weight: 700;
                        line-height: 1.2;
                        color: $white;
                    }
                    .sticker__info {
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 1;
                        text-align: center;
                        color: $white;
                    }
                }
                .header__button {
                    display: block;
                    margin-top: 25px;
                    .button__accion {
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 48px;
                        background-color: $primary;
                        color: $white;
                        border: 0;
                        border-radius: 4px;
                        box-shadow: none;
                        font-size: 18px;
                        font-weight: 400;
                        text-decoration: none;
                        cursor: pointer;
                        margin-bottom: 12px;
                        transition: all ease 300ms;
                        &:hover, &:active {
                            background-color: $primary-hover;
                        }
                        &.button__accion--verde {
                            background-color: $green;
                            &:hover, &:active {
                                background-color: $green2;
                            }
                        }
                    }
                    .button__accion:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .box--body {
                position: relative;
                background-color: $white;
                .body__beneficios {
                    display: block;
                    max-height: 142px;
                    overflow: hidden;
                    padding: 25px 10px;
                    text-align: center;
                    opacity: 1;
                    @media only screen and (min-width: 600px) {
                        padding: 25px 10px;
                    }
                    .beneficios__lista {
                        display: flex;
                        flex-wrap: wrap;
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        > .beneficios__item {
                            position: relative;
                            flex: 1;
                        }
                        .beneficio__box {
                            position: relative;
                            padding: 0 2px;
                            width: 100%;
                            max-width: 96px;
                            margin: auto;
                            .box__icon {
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-wrap: wrap;
                                width: 24px;
                                height: 24px;
                                color: $primary;
                                margin: 0 auto;
                                margin-bottom: 15px;
                                overflow: hidden;
                                &.box__icon--image {
                                    > img {
                                        display: block;
                                        width: auto;
                                        height: auto;
                                        max-width: 100%;
                                        max-height: 100%;
                                    }
                                }
                                &.box__icon--svg {
                                    font-size: 24px;
                                    > svg {
                                        display: inline-block;
                                        font-size: inherit;
                                        height: 1em;
                                        overflow: visible;
                                        vertical-align: -.125em;
                                        
                                        stroke-width: 0;
                                        stroke: currentColor;
                                        fill: currentColor;
                                    }
                                }
                            }
                            .box__descripcion {
                                font-size: 10px;
                                font-weight: 400;
                                color: $gray-light2;
                                line-height: 1.3;
                                margin: 0;
                                b, strong {
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
                .body__detalles {
                    position: relative;
                    background-color: $white;
                    text-align: left;
                    padding: 15px 18px;
                    display: none;
                    margin: 0;
                    list-style: none;
                    .detalles__item {
                        position: relative;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        .beneficio__box {
                            position: relative;
                            display: flex;
                            align-items: flex-start;
                            .box__icon {
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-wrap: wrap;
                                width: 24px;
                                height: 24px;
                                color: $primary;
                                margin: 0 auto;
                                margin-right: 12px;
                                overflow: hidden;
                                &.box__icon--image {
                                    .image__blue, .image__green {
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);

                                        display: block;
                                        width: auto;
                                        height: auto;
                                        max-width: 100%;
                                        max-height: 100%;
                                    }
                                    .image__green {
                                        top: -24px;
                                    }
                                }
                                &.box__icon--svg {
                                    font-size: 24px;
                                    > svg {
                                        display: inline-block;
                                        font-size: inherit;
                                        height: 1em;
                                        overflow: visible;
                                        vertical-align: -.125em;
                                        
                                        stroke-width: 0;
                                        stroke: currentColor;
                                        fill: currentColor;
                                    }
                                }
                            }
                            .box__info {
                                flex: 1;
                                color: $gray-light2;
                                .info__titulo {
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 1.1;
                                    color: $primary;
                                    margin: 0;
                                    margin-bottom: 5px;
                                }
                                .info__descripcion {
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 1.2;
                                    margin: 0;
                                    margin-bottom: 5px;
                                    b, strong {
                                        font-weight: 700;
                                    }
                                    p {
                                        margin: 0;
                                        margin-bottom: 5px;
                                    }
                                    a {
                                        color: $primary;
                                        text-decoration: none;
                                        &:hover, &:active {
                                            color: $primary-hover;
                                            text-decoration: underline;
                                        }
                                        &:focus {
                                            text-decoration: underline;
                                        }
                                    }
                                    ul {
                                        margin: 0;
                                        margin-bottom: 5px;
                                    }
                                }
                                .info__extra {
                                    font-size: 12px;
                                    font-weight: 400;
                                    line-height: 1.2;
                                    margin: 0;
                                    margin-bottom: 5px;
                                    b, strong {
                                        font-weight: 700;
                                    }
                                    .extra__icon {
                                        display: inline-block;
                                        line-height: 0.8;
                                        margin-right: 2px;
                                        > svg {
                                            display: inline-block;
                                            font-size: inherit;
                                            width: 1em;
                                            height: 1em;
                                            overflow: visible;
                                            stroke-width: 0;
                                            stroke: currentColor;
                                            fill: currentColor;
                                        }
                                    }
                                }
                                .info__link {
                                    font-size: 12px;
                                    font-weight: 400;
                                    line-height: 1.2;
                                    color: $primary;
                                    text-decoration: underline;
                                    &:hover, &:active {
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                        .apps__box {
                            position: relative;
                            border: 1px solid #C4C4C4;
                            border-radius: 10px;
                            text-align: center;
                            padding: 10px 12px;
                            margin: 2px 0;
                            .box__titulo {
                                display: block;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 1.2;
                                color: $gray-light2;
                                margin: 0;
                                margin-bottom: 10px;
                            }
                            .box__imagen {
                                display: block;
                                width: auto;
                                max-width: 100%;
                                margin: auto;
                            }
                        }
                        .exclusivos__box {
                            position: relative;
                            text-align: center;
                            margin: 2px 0;
                            .box__titulo {
                                display: block;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 1.2;
                                color: $primary;
                                margin: 0;
                                margin-bottom: 12px;
                            }
                            .box__imagen {
                                display: block;
                                width: auto;
                                max-width: 100%;
                                margin: auto;
                            }
                        }
                    }
                }
            }
            .box--footer {
                position: relative;
                display: block;
                overflow: hidden;
                border-top: 1px solid #f4f4f3;
                background-color: $white;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                .footer__button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 100%;
                    height: 66px;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 1.3;
                    padding: 0 10px;
                    background-color: transparent;
                    border: 0;
                    -ms-user-select: none;
                    user-select: none;
                    cursor: pointer;
                    color: $primary;
                    outline: 0;
                    transition: all ease .4s;
                    &:hover, &:active {
                        background-color: #fbfbfb;
                        color: $primary;
                    }
                    > .button__icon {
                        display: inline-flex;
                        font-size: 20px;
                        transition: all ease 0.4s;
                        transform: rotate(0);
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}