.nat-blog-section {
    position: relative;
    padding: 40px 0;
    @media only screen and (min-width: 992px) {
        padding: 60px 0;
    }
}

.nat-blog-section--full {
    position: relative;
    padding: 40px 0;
    @media only screen and (min-width: 992px) {
        padding: 60px 0;
    }
}