.nat-main--welcome {
    position: relative;
    padding-top: 40px;
    @media only screen and (min-width: 992px) {
        padding-top: 60px;
    }
    .title {
        font-size: 28px;
        font-weight: 300;
        line-height: 1.3;
        text-align: center;
        margin: 0;
        color: $blue-dark;
        @media only screen and (min-width: 992px) {
            font-size: 44px;
        }
    }
    .description {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.3;
        text-align: center;
        margin: 0;
        margin-top: 15px;
        color: $gray-dark;
        @media only screen and (min-width: 992px) {
            font-size: 30px;
        }
    }
}

.nat-featured-notes--header {
    position: relative;
    margin-bottom: 15px;
    .title {
        font-weight: 300;
        font-size: 32px;
        line-height: 1.3;
        color: $blue-dark;
        margin: 0;
        @media only screen and (min-width:992px){
            font-size: 40px;
        }
    }
    .description {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.3;
        text-align: center;
        margin: 0;
        margin-top: 15px;
        color: $blue-dark;
        @media only screen and (min-width: 992px) {
            font-size: 24px;
        }
    }
}

.nat-title--header {
    position: relative;
    &.nat-title--header-space-sm {
        margin-bottom: 20px;
    }
    &.nat-title--header-space-md {
        margin-bottom: 25px;
        @media only screen and (min-width: 992px) {
            margin-bottom: 36px;
        }
    }
    &.nat-title--header-space-lg {
        margin-bottom: 36px;
        @media only screen and (min-width: 992px) {
            margin-bottom: 50px;
        }
    }
    .title {
        font-size: 32px;
        font-weight: 300;
        color: $blue-dark;
        margin: 0;
        @media only screen and (min-width: 992px) {
            font-size: 40px;
        }
    }
    .description {
        font-size: 18px;
        font-weight: 300;
        color: $gray-dark;
        margin: 0;
        margin-top: 10px;
        &.description--small {
            font-size: 18px;
        }
        &.description--normal {
            font-size: 18px;
            @media only screen and (min-width: 992px) {
                font-size: 24px;
            }
        }
        &.description--large {
            font-size: 20px;
            @media only screen and (min-width: 992px) {
                font-size: 30px;
            }
        }
    }
}