.nat-the-most-read {
    position: relative;
    margin: 0 -15px;
    background-color: #F5F5F5;
    overflow: hidden;
    @media only screen and (min-width: 576px) {
        width: 100%;
        margin: 0 auto;
    }
    @media only screen and (min-width: 992px) {
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        max-width: 360px;
    }
    .nat-the-most-read__accordeon {
        &.collapsible {
            border: 0;
            box-shadow: none;
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .item {
            &.active {
                .accordeon__header {
                    .header__arrow {
                        transform: rotate(-180deg);
                    }
                }
            }
            .accordeon__header {
                font-size: 20px;
                font-weight: 300;
                line-height: 1.3;
                color: $blue-dark;
                margin: 0;
                align-items: center;
                @media only screen and (min-width: 992px) {
                    font-size: 32px;
                }
                &.collapsible-header {
                    padding: 20px;
                    background-color: transparent;
                    border: 0;
                    line-height: inherit;
                    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
                    @media only screen and (min-width: 992px) {
                        pointer-events: none;
                        cursor: initial;
                        padding: 25px 10px 10px;
                        box-shadow: inherit;
                    }
                }
                .header__star {
                    position: relative;
                    display: inline-flex;
                    font-size: 20px;
                    color: $blue-dark;
                    margin-right: 14px;
                    @media only screen and (min-width: 992px) {
                        font-size: 24px;
                    }
                }
                .header__arrow {
                    position: absolute;
                    right: 20px;
                    display: inline-flex;
                    font-size: 12px;
                    color: $primary;
                    transition: all ease 300ms;
                    transform: rotate(0);
                    @media only screen and (min-width: 992px) {
                        display: none;
                    }
                }
            }
            .accordeon__notes {
                position: relative;
                &.collapsible-body {
                    padding: 25px 20px;
                    border: 0;
                    display: none;
                    @media only screen and (min-width: 992px) {
                        display: block!important;
                        padding:  30px 20px 40px;
                    }
                }
                .box {
                    position: relative;
                    margin-top: 25px;
                    @media only screen and (min-width: 992px) {
                        margin-top: 30px;
                    }
                    &:nth-child(1) {
                        margin-top: 0;
                    }
                    &.box--note {
                        display: flex;
                        align-items: flex-start;
                        background: $white;
                        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
                        border-radius: 15px;
                        padding: 21px 16px;
                        @media only screen and (min-width: 992px) {
                            display: flex!important;
                        }
                        &.box--note-badge {
                            .box__image {
                                width: 69px;
                                height: 73px;
                            }   
                            .box__info {
                                .info__title {
                                    -webkit-box-orient: vertical;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    width: 100%;
                                    max-height: 36px;
                                }
                            }
                        }
                        &:hover {
                            .box__info .info__title a {
                                color: $primary;
                                background-size: 20px 2px,0 2px,100% 2px;
                                background-position: calc(100% + 20px) 100%,100% 100%,0 100%;
                            }
                        }
                        .box__image {
                            position: relative;
                            overflow: hidden;
                            display: block;
                            width: 54px;
                            height: 54px;
                            border-radius: 8px;
                            margin-right: 15px;
                            .image__media {
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                height: 100%;
                                z-index: 1;
                                img {
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                }
                            }
                        }
                        .box__info {
                            flex: 1;
                            .info__title {
                                -webkit-box-orient: vertical;
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                width: 100%;
                                max-height: 54px;
                                overflow: hidden;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 1.3;
                                color: $gray-dark2;
                                letter-spacing: 0.3px;
                                margin: 0;
                                a {
                                    color: $gray-dark2;
                                    text-decoration: none;
                                    transition: all ease 400ms;
                                    background-image: linear-gradient(transparent,transparent),linear-gradient(transparent,transparent),linear-gradient($primary,$primary);
                                    background-size: 20px 2px,100% 2px,0 2px;
                                    background-position: calc(20px * -1) 100%,100% 100%,0 100%;
                                    background-repeat: no-repeat;
                                    transition: background-size .25s linear,background-position .25s linear,color .25s ease-out;
                                    &:hover, &:active {
                                        color: $primary;
                                        background-size: 20px 2px,0 2px,100% 2px;
                                        background-position: calc(100% + 20px) 100%,100% 100%,0 100%;
                                    }
                                    &:focus {
                                        color: $primary;
                                    }
                                }
                            }
                            .info__badge {
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                height: 26px;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 1.3;
                                color: $white;
                                background: $primary;
                                border-radius: 5px;
                                margin: 0;
                                padding: 0 10px;
                                margin-top: 8px;
                                &:hover, &:active, &:focus {
                                    background: $primary-hover;
                                }
                            }
                        }
                    }
                }
                .button--more {
                    display: block!important;
                    margin: 0 auto;
                    margin-top: 30px;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 700;
                    border: 0;
                    border-radius: 0;
                    background-color: transparent;
                    color: $primary;
                    @media only screen and (min-width: 992px) {
                        display: none!important;
                    }
                }
            }
        }
    }
}