.device-carousel-title{
	font-family: Telefonica;
	font-weight: 300;
	font-size: 32px;
	color: #50535A;
	line-height: 40px;
	text-align: center;
	padding: 0 30px 25px;
	@media #{$large-and-up}{
		font-size: 40px;
		padding-top: 0;
}
}
.device-carousel-container {
	position: relative;
	padding: 10px 0 25px;

	@media #{$large-and-up} {
		width: 85%;
		max-width: 1280px;
		margin: 0 auto;
		padding: 40px 0 40px;
}

}

.device-carousel__see-more {
	margin-top: 15px;
	text-align: center;
	margin-bottom: 15px;

	.btn-flat {
		color: #0098D9;
	}
}

.device-carousel{
	margin-bottom: 0;

	.slick-track{
		display: flex;

		.slick-slide {
			display: flex;
			height: auto;
			align-items: center;
			justify-content: flex-end;
			flex-direction: column;
		}
	}

	.progress-dots {
		justify-content: center;
		margin-top: 10px;

		.slick-active {
			.progress-dots__progress-inner {
				width: 100%;
			}
		}
	}
}

.category-tabs-container .category-tabs.tabs{
	justify-content: center;
}

.category-tabs-container .category-tabs.tabs::-webkit-scrollbar{
	background-color: transparent;
}

.category-tabs {
	margin-bottom: 10px;
}

.device-carousel__arrows {


	width: 100%;
	margin: 0 auto;

	@media #{$large-and-up} {
		width: 85%;
		max-width: 1280px;
}

position: absolute;
height: 48px;
top: 35%;
left: 50%;
transform: translate(-50%,0);
z-index: 1;
pointer-events:none;

.slick-arrow {
	pointer-events:auto;
}

.slick-prev {
	left: -66px;
}

.slick-next {
	right: -66px;
}

.slick-prev,
.slick-next {
	&::before {
		color: #50535A;
		background: transparent;
	}
}
}

.device-carousel {
	white-space: nowrap;
	overflow: hidden;
}

.device-carousel__item {
	&.slick-active {
		.device-carousel__brand,
		.device-carousel__name,
		.device-carousel__price,
		.device-carousel__featured {
			opacity: 1;
		}
	}

}

.device-carousel__item{
	width: 300px;
	padding: 0 25px;
	display: inline-block;

	@media #{$large-and-up}{
		width: auto;
}
}

.device-carousel__img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
	height: 310px;
	@media #{$large-and-up}{
		max-width: 180px;
	}
}





.device-carousel {
	&.owl-carousel {
		.owl-stage {
			display: flex;
			align-items: baseline;
		}

		.owl-dots{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}
}



.device-carousel__title {
	font-size: 30px;
	line-height: 40px;
	color: #50535a;
	font-weight: 300;
	margin: 0 auto 30px;
	text-align: center;
	max-width: 240px;
}

.device-carousel__brand {
	font-size: 18px;
	color: #50535a;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	opacity: 0;

	@media #{$large-and-up}{
		opacity: 1;
}
}

.device-carousel__name {
	font-size: 16px;
	color: #86888C;
	font-weight: normal;
	text-align: center;
	opacity: 0;
	white-space: nowrap;
	transition: .3s;
	height: 20px;
	position: relative;
	display: inline-block;

	@media #{$large-and-up}{
		opacity: 1;
}
}

.device-carousel__price {
	font-weight: 300;
	text-align: center;
	opacity: 0;
	transition: .3s;
	font-size: 32px;
	color: #50535A;
	line-height: 46px;

	@media #{$large-and-up}{
		opacity: 1;
}
}

.device-carousel__featured {
	font-size: 14px;
	color: #fff;
	font-weight: 300;
	text-align: center;
	padding: 1px 15px;
	border-radius: 2px;
	opacity: 0;

	@media #{$large-and-up}{
		opacity: 1;
}
}

.center {
	.device-carousel__name,
	.device-carousel__price {
		opacity: 1;
	}
}

.tabbed-device-slider {
	.row {
		.col {
			padding: 0;
		}
	}
}

.tabbed-device-slider__title {
	font-size: 30px;
	line-height: 40px;
	color: #50535a;
	font-weight: 300;
	margin: 0 auto 30px;
	text-align: center;
	max-width: 240px;



}
.owl-dots{
	display: flex;
}

.owl-theme-default .owl-dots .owl-dot{
	flex: 1;
	text-align: center;
	box-sizing: border-box;
	background: #D3D4D3;
	border-radius: 100px;
	margin: 0 5px;
}

.owl-theme-default .owl-dots .owl-dot span{
	margin: 0;
	background: transparent;
	border-radius: 4px;
	opacity: 0;
	width: 0;
	height: 4px;
}

.owl-theme-default .owl-dots .owl-dot.active span{
	opacity: 1;
	background: #86888C;
}

.device-carousel__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.device-carousel__features {
    margin-left: -8px;
}

.device-carousel-features__img {
    width: 24px;
    height: 24px;
}

.device-carousel-features__text {
    font-size: 9px;
    color: #86888c;
    display: block;
    padding-bottom: 15px;
    width: 40px;
    overflow: hidden;
}


/* Color Variations Theme */
.movistar--green {
	.device-carousel__featured {
		background: $main-green;
	}
}

.movistar--blue {
	.device-carousel__featured {
		background: $main-blue;
	}
}

.js-device-caruosel{
	.slick-track{
		margin:auto;
	}	
}