// Text align
.txt--left {
    text-align: left !important;
}
.txt--center {
    text-align: center !important;
}
.txt--right {
    text-align: right !important;
}

// Alineación de items
.align-items--start {
    align-items: flex-start !important;
}
.align-items--center {
    align-items: center !important;
}
.align-items--end {
    align-items: flex-end !important;
}

// Alineacion horizontal de items
.justify-items--start {
    justify-content: flex-start !important; /* IE11 */
}
.justify-items--center {
    justify-content: center !important; /* IE11 */
}
.justify-items--end {
    justify-content: flex-end !important; /* IE11 */
}