.nat-button {
	display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: $blue-dark;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

// Button color
.button--blue {
    background-color: $skyblue;
    color: $white !important;
    &:hover, &:focus {
        background-color: $skyblue2;
        color: $white;
    }
}

.button--blue-dark {
    background-color: $blue-dark;
    color: $white !important;
    &:hover, &:focus {
        background-color: $blue-dark;
        color: $white;
    }
}

.button--white{
    background-color: $white;
    color: $skyblue !important;
    &:hover, &:focus{
        background-color: $white;
        color: $skyblue;
    }
}

.button--whiteShadow{
	box-shadow: 0px 0px 20px rgba(1, 157, 244, 0.6) !important;
	background-color: $white;
    color: $skyblue !important;
    &:hover, &:focus{
        background-color: $white;
        color: $skyblue;
    }
}

/* General styles for all types of buttons */
.progress-button {
	position: relative;
	display: inline-block;
	padding: 0 60px;
	outline: none;
	border: none;
	background: $skyblue;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1em;
    line-height: 4;
    cursor: pointer;
}

.progress-button[disabled],
.progress-button[disabled].state-loading {
	cursor: default;
}

.progress-button .content {
	position: relative;
	display: block;
}

.progress-button .content small,
.progress-button .content::after  {
	position: absolute;
	right: 20px;
	color: #ffffff;
	opacity: 0;
    transition: opacity 0.3s 0.3s;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.progress-button.state-success .content small,
.progress-button.state-error .content::after {
	opacity: 1;
}

.notransition {
	transition: none !important;
}

.progress-button .progress {

    height: auto;
    position: initial;
    margin: 0;
    display: initial;
    width: auto;
    border-radius: inherit;
}

.progress-button .progress-inner {
	position: absolute;
	left: 0;
	background: $skyblue;
}

.progress-button[data-horizontal] .progress-inner {
	top: 0;
	width: 0;
	height: 100%;
	transition: width 0.3s, opacity 0.3s;
}

.progress-button[data-vertical] .progress-inner {
	bottom: 0;
	width: 100%;
	height: 0;
	transition: height 0.3s, opacity 0.3s;
}

.progress-button[data-perspective] {
	position: relative;
	display: inline-block;
	padding: 0;
	background: transparent;
	perspective: 900px;
}

.progress-button[data-perspective] .content {
	padding: 0 60px;
	background: $skyblue;
}

.progress-button[data-perspective] .progress-wrap {
	display: block;
	transition: transform 0.2s;
	transform-style: preserve-3d;
}

.progress-button[data-perspective] .content,
.progress-button[data-perspective] .progress {
	outline: 1px solid rgba(0,0,0,0); /* Smoothen jagged edges in FF */
}

/* Shrink horizontal */
/* ====================== */

.progress-button[data-style="shrink"] { /* common for horizontal and vertical */
	overflow: hidden;
	transition: all 0.2s;
}

.progress-button[data-style="shrink"][data-horizontal] .content {
	transition: opacity 0.3s, transform 0.3s;
}
.progress-button[data-style="shrink"][data-horizontal] .content small{
    font-size: 17px;
    line-height: 60px;
    color: #ffffff;
}

.progress-button[data-style="shrink"][data-horizontal] .content small svg{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.progress-button[data-style="shrink"][data-horizontal] .content small,
.progress-button[data-style="shrink"][data-horizontal] .content::after {
	top: 100%;
	right: auto;
	left: 50%;
	transition: opacity 0.3s;
	transform: translateX(-50%);
}

.progress-button[data-style="shrink"][data-horizontal].state-loading {
	transform: scaleY(0.3);
}

.progress-button[data-style="shrink"][data-horizontal].state-loading .content {
	opacity: 0;
}

.progress-button[data-style="shrink"][data-horizontal].state-success .content,
.progress-button[data-style="shrink"][data-horizontal].state-error .content {
	transform: translateY(-100%);
}