.cardBox {
    position: relative;
    background: #fff;
    box-shadow: 0 6px 15px rgba(55,63,65,.1);
    border-radius: 15px;
    overflow: hidden;
    margin: 0;
    padding: 20px 15px;
    @media only screen and (min-width:992px){
        padding: 20px;
    }
    &:hover {
        .cardBox__content .cardBox__title .title__link {
            color: $skyblue;
            background-size: 20px 2px, 0 2px, 100% 2px;
            background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
        }
    }
    .cardBox__featured {
        position: relative;
        margin: 0;
        background: #ec624b;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 128px;
        height: 30px;
        color: $white;
        text-transform: uppercase;
        padding: 0 10px;
        border-radius: 8px;
        margin: 0;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 14px;
        line-height: 1;
        @media only screen and (min-width:992px){
            margin-bottom: 15px;
        }
        .featured__star {
            fill: currentColor;
            margin-right: 4px;
        }
    }
    .cardBox__image {
        display: block;
        margin-bottom: 15px;
        .image__media {
            position: relative;
            display: block;
            overflow: hidden;
            border-radius: 15px;
            height: 147px;
            @media (min-width: 992px) {
                box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
            }
            &.image__media--video {
                .media__picture {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        background:  linear-gradient(0deg, rgba(11, 39, 57, 0.3), rgba(11, 39, 57, 0.3));
                        z-index: 1;
                    }
                }
            }
            .media__picture {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 100%;
                z-index: 1;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .media__play {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 30px;
                height: 30px;
                border-radius: 100%;
                background-color: $white;
                color: $skyblue;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 2;
                @media only screen and (min-width:768px){
                    font-size: 24px;
                    width: 54px;
                    height: 54px;
                }
                > svg {
                    margin-left: 3px;
                    @media only screen and (min-width:768px){
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    .cardBox__content {
        display: block;
        padding-bottom: 32px;
        height: 174px;
        .cardBox__title {
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            width: 100%;
            max-height: 46px;
            overflow: hidden;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.3;
            margin-bottom: 12px;
            @media only screen and (min-width:992px){
                font-size: 24px;
                max-height: 62px;
            }
            .title__link {
                color: $blue-dark;
                transition: all 0.25s ease-out;
                text-decoration: none;
                background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(#ffffff, #ffffff), linear-gradient($skyblue, $skyblue);
                background-size: 20px 2px, 100% 2px, 0 2px;
                background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
                background-repeat: no-repeat;
                transition: background-size 0.25s linear, background-position 0.25s linear, color 0.25s ease-out;
                &:hover, &:active {
                    color: $skyblue;
                    background-size: 20px 2px, 0 2px, 100% 2px;
                    background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
                }
                &:focus {
                    color: $skyblue;
                }
                > img {
                    display: none;
                }
            }
        }
        .cardBox__text{
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            max-height: 65px;
            overflow: hidden;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.3;
            color: $gray;
            p {
                font-weight: 300;
                margin-bottom: 5px;
            }
        }
    }
    .cardBox__action {
        padding: 0 0 6px;
        border-top: 0;
        border-bottom: 1px solid #F5F5F5;
        display: flex;
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 20px;
        @media only screen and (min-width:992px){
            left: 20px;
            right: 20px;
        }
        .action__author {
            font-weight: 300;
            font-size: 12px;
            line-height: 1;
            color: $gray-dark;
            padding: 5px 0;
        }     
        .action__category {
            font-weight: 300;
            font-size: 12px;
            line-height: 1;
            text-transform: uppercase;
            padding: 5px 7px;
            background: $skyblue;
            color: #ffffff;
            border-radius: 4px;
            margin-left: auto;
            margin-right: 0;
            position: relative;
            z-index: 2;
            &:hover, &:active {
                background: $skyblue2;
            }
            &:focus {
                background: $skyblue2;
            }
        }
    }
    &.cardBox--horizontal {
        height: 490px;
        @media only screen and (min-width:768px){
            display: flex;
            align-items: flex-start;
            height: 360px;
        }
        .cardBox__image {
            @media only screen and (min-width:768px){
                margin-bottom: 0;
            }
            .image__media {
                @media only screen and (min-width:768px){
                    width: 310px;
                    height: 318px;
                }
                .media__picture {
                    img {
                        @media only screen and (min-width:768px){
                            display: block;
                            margin: auto;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
            }
        }
        .cardBox__content {
            flex: 1;
            @media only screen and (min-width:768px){
                padding-top: 14px;
                margin-left: 30px;
                height: 290px;
            }
            .cardBox__title {
                margin-bottom: 12px;
                @media only screen and (min-width:768px){
                    margin-bottom: 15px;
                }
            }
            .cardBox__text{
                max-height: 128px;
                -webkit-line-clamp: 6;
                @media only screen and (min-width:768px){
                    -webkit-line-clamp: 5;
                    max-height: 120px;
                }
            }
        }
    }
    &.cardBox--result {
        display: flex;
        align-items: flex-start;
        padding: 15px 0;
        height: 90px;
        border-bottom: 1px solid #D3D4D3;
        @media only screen and (min-width:600px){
            padding: 30px;
            height: 200px;
        }
        @media only screen and (min-width:768px){
            border-bottom: 0;
        }
        @media (max-width:600px) {
            box-shadow: inherit;
            border-radius: 0;
        }
        .cardBox__image {
            @media only screen and (min-width:992px){
                margin-bottom: 0;
            }
            .image__media {
                width: 110px;
                height: 60px;
                border-radius: 8px;
                @media only screen and (min-width: 600px){
                    width: 192px;
                    height: 136px;
                }
                @media only screen and (min-width: 992px){
                    width: 285px;
                    border-radius: 15px;
                }
                .media__picture {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    z-index: 1;
                    img {
                        display: block;
                        margin: auto;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
        .cardBox__content{
            flex: 1;
            padding: 0;
            margin-left: 10px;
            height: 60px;
            @media only screen and (min-width:600px){            
                margin-left: 20px;
                height: 138px;
            }
            .cardBox__info {
                display: flex;
                font-size: 10px;
                line-height: 1;
                margin-bottom: 5px;
                @media only screen and (min-width:600px){
                    font-size: 14px;
                    margin-bottom: 15px;
                }
                .info__date {
                    display: inline-flex;
                    font-weight: 400;
                    color: $gray;
                    text-transform: capitalize;
                }
                .info__category {
                    display: inline-flex;
                    font-weight: 700;
                    color: $skyblue;
                    text-transform: uppercase;
                    margin-left: 10px;
                    @media only screen and (min-width:600px){
                        margin-left: 13px;
                    }
                    &:hover, &:active, &:focus {
                        color: $skyblue2;
                    }
                }
            }
            .cardBox__title {
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 0;
                line-height: 1.3;
                max-height: 52px;
                @media only screen and (min-width:600px){
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: 10px;
                }
            }
            .cardBox__text {
                font-size: 18px;
                line-height: 1.3;
                display: none;
                @media only screen and (min-width:600px){
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    max-height: 52px;
                }
            }
        }
        .cardBox__action {
            @media only screen and (min-width: 992px){
                left: 20px;
                right: 20px;
            }
        }
    }
}