.nat-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.nat-col--1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
}
.nat-col--2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
}
.nat-col--3 {
    flex: 0 0 auto;
    width: 25%;
}
.nat-col--4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
}
.nat-col--5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
}
.nat-col--6 {
    flex: 0 0 auto;
    width: 50%;
}
.nat-col--7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
}
.nat-col--8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
}
.nat-col--9 {
    flex: 0 0 auto;
    width: 75%;
}
.nat-col--10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
}
.nat-col--11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
}
.nat-col--12 {
    flex: 0 0 auto;
    width: 100%;
}

@media (min-width: 576px) {
    .nat-col--sm-1 {
        flex: 0 0 auto;
        width: 8.3333333333%;
    }
    .nat-col--sm-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }
    .nat-col--sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .nat-col--sm-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
    .nat-col--sm-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }
    .nat-col--sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .nat-col--sm-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
    }
    .nat-col--sm-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }
    .nat-col--sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .nat-col--sm-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
    }
    .nat-col--sm-11 {
        flex: 0 0 auto;
        width: 91.6666666667%;
    }
    .nat-col--sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .nat-col--md-1 {
        flex: 0 0 auto;
        width: 8.3333333333%;
    }
    .nat-col--md-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }
    .nat-col--md-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .nat-col--md-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
    .nat-col--md-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }
    .nat-col--md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .nat-col--md-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
    }
    .nat-col--md-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }
    .nat-col--md-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .nat-col--md-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
    }
    .nat-col--md-11 {
        flex: 0 0 auto;
        width: 91.6666666667%;
    }
    .nat-col--md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .nat-col--lg-1 {
        flex: 0 0 auto;
        width: 8.3333333333%;
    }
    .nat-col--lg-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }
    .nat-col--lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .nat-col--lg-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
    .nat-col--lg-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }
    .nat-col--lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .nat-col--lg-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
    }
    .nat-col--lg-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }
    .nat-col--lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .nat-col--lg-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
    }
    .nat-col--lg-11 {
        flex: 0 0 auto;
        width: 91.6666666667%;
    }
    .nat-col--lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}