.nat-pagination {
    .pager {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0;
        list-style: none;
        margin-top: .5rem;
        margin-bottom: .5rem;
        li {        
            display: inline-block;
            text-align: center;
            margin: 5px;
            &::marker {
                content: none;
            }
            a {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                font-weight: 700;
                line-height: 1.2;
                text-transform: uppercase;
                color: $white;
                border: 1px solid $skyblue;
                background-color: $skyblue;
                padding: .313rem 1.25rem;
                border-radius: 100px;
                height: 32px;
                @media (min-width: 992px) {
                    font-size: 14px;
                }
                &:hover, &:active {
                    color: $white;
                    border-color: $skyblue2;
                    background-color: $skyblue2;
                }
            }
            &.first, &.last {
                a {
                    color: $skyblue;
                    border-color: $skyblue;
                    background-color: transparent;
                    &:hover, &:active {
                        color: $skyblue3;
                        border-color: $skyblue;
                    }
                }
            }
            &.disabled {
                a {
                    color: $white;
                    border-color: $skyblue;
                    opacity: .5;
                    background-color: $skyblue;
                    cursor: no-drop;
                    display: none;
                    &:hover, &:active {
                        color: $white;
                        border-color: $skyblue;
                    }
                }
                &.first, &.last {
                    a {
                        color: $skyblue;
                        border-color: $skyblue;
                        opacity: .5;
                        background-color: transparent;
                        &:hover, &:active {
                            color: $skyblue3;
                            border-color: $skyblue;
                        }
                    }
                }
            }
        }
    }
}