 <footer class="nat-footer">
        <div class="container">
            <ul class="footer__social">
            <#if !validator.isBlank(socialFacebookUrl)>
                <li class="social__item">
	                <a class="social__link" href="${socialFacebookUrl}" aria-label="Facebook">
	                	<svg class="icon" width="12" height="21" viewBox="0 0 12 21" xmlns="http://www.w3.org/2000/svg">
	                        <title>Facebook</title>
	                        <path d="M7.69471 20.9237V11.8008H10.7569L11.2154 8.2454H7.69471V5.9754C7.69471 4.94606 7.98059 4.24451 9.4568 4.24451L11.3395 4.24364V1.06377C11.0137 1.0206 9.89623 0.923828 8.59609 0.923828C5.88164 0.923828 4.02327 2.58064 4.02327 5.62347V8.24549H0.953125V11.8009H4.02317V20.9238L7.69471 20.9237Z"/>
	                    </svg>
	                </a>
                </li>
            </#if>
            <#if !validator.isBlank(socialTwitterUrl)>
                <li class="social__item">
                	<a class="social__link" href="${socialTwitterUrl}" aria-label="Twitter">
                		<svg class="icon" width="19" height="15" viewBox="0 0 19 15" xmlns="http://www.w3.org/2000/svg">
	                        <title>Twitter</title>
	                        <path d="M16.6562 3.85937C16.6562 4.02344 16.6562 4.1875 16.6562 4.32812C16.6562 9.17969 12.9531 14.7812 6.20312 14.7812C4.11719 14.7812 2.19531 14.1719 0.554688 13.1406C0.835937 13.1641 1.14062 13.1875 1.42187 13.1875C3.13281 13.1875 4.72656 12.6016 5.99219 11.6172C4.375 11.5937 3.01562 10.5156 2.57031 9.0625C2.80469 9.10937 3.01562 9.13281 3.27344 9.13281C3.60156 9.13281 3.92969 9.08594 4.23437 8.99219C2.54687 8.66406 1.28125 7.1875 1.28125 5.40625C1.28125 5.38281 1.28125 5.38281 1.28125 5.35937C1.77344 5.64062 2.33594 5.80469 2.94531 5.82812C1.96094 5.17187 1.30469 4.04687 1.30469 2.75781C1.30469 2.07812 1.49219 1.44531 1.79687 0.90625C3.60156 3.13281 6.32031 4.58594 9.36719 4.75C9.29687 4.49219 9.27344 4.1875 9.27344 3.90625C9.27344 1.86719 10.9141 0.226562 12.9531 0.226562C14.0078 0.226562 14.9687 0.671875 15.625 1.375C16.4687 1.21094 17.2422 0.90625 17.9687 0.484375C17.6875 1.35156 17.1016 2.05469 16.3516 2.52344C17.1016 2.42969 17.8047 2.24219 18.4609 1.9375C17.9922 2.6875 17.3828 3.34375 16.6562 3.85937Z"/>
                        </svg>
                	</a>
                </li>
            </#if>
            <#if !validator.isBlank(socialInstagramUrl)>
                <li class="social__item">
                	<a class="social__link" href="${socialInstagramUrl}" aria-label="Instagram">
                		<svg class="icon" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
	                        <title>Instagram</title>
	                        <path d="M6.78956 10.1016C6.78956 8.37574 8.18824 6.97631 9.91406 6.97631C11.6399 6.97631 13.0393 8.37574 13.0393 10.1016C13.0393 11.8274 11.6399 13.2268 9.91406 13.2268C8.18824 13.2268 6.78956 11.8274 6.78956 10.1016ZM5.10011 10.1016C5.10011 12.7603 7.25531 14.9155 9.91406 14.9155C12.5728 14.9155 14.728 12.7603 14.728 10.1016C14.728 7.44281 12.5728 5.28761 9.91406 5.28761C7.25531 5.28761 5.10011 7.44281 5.10011 10.1016ZM13.7936 5.09674C13.7935 5.31924 13.8594 5.53678 13.9829 5.72183C14.1065 5.90688 14.2821 6.05115 14.4877 6.13638C14.6932 6.22161 14.9194 6.24398 15.1376 6.20066C15.3559 6.15734 15.5564 6.05027 15.7138 5.893C15.8712 5.73573 15.9784 5.53532 16.0219 5.31711C16.0654 5.09889 16.0432 4.87268 15.9581 4.66708C15.8731 4.46148 15.7289 4.28572 15.544 4.16203C15.359 4.03834 15.1415 3.97228 14.919 3.97219H14.9186C14.6203 3.97233 14.3343 4.09084 14.1234 4.30169C13.9125 4.51254 13.7938 4.79849 13.7936 5.09674ZM6.12656 17.7326C5.21254 17.691 4.71574 17.5387 4.38559 17.4101C3.94789 17.2397 3.63559 17.0367 3.30724 16.7088C2.97889 16.3809 2.77564 16.0689 2.60599 15.6312C2.47729 15.3012 2.32504 14.8043 2.28349 13.8903C2.23804 12.9021 2.22896 12.6052 2.22896 10.1016C2.22896 7.59806 2.23879 7.30204 2.28349 6.31301C2.32511 5.39899 2.47849 4.90301 2.60599 4.57204C2.77639 4.13434 2.97934 3.82204 3.30724 3.49369C3.63514 3.16534 3.94714 2.96209 4.38559 2.79244C4.71559 2.66374 5.21254 2.51149 6.12656 2.46994C7.11476 2.42449 7.41161 2.41541 9.91406 2.41541C12.4165 2.41541 12.7137 2.42524 13.7027 2.46994C14.6167 2.51156 15.1127 2.66494 15.4437 2.79244C15.8814 2.96209 16.1937 3.16579 16.522 3.49369C16.8504 3.82159 17.0529 4.13434 17.2233 4.57204C17.352 4.90204 17.5042 5.39899 17.5458 6.31301C17.5912 7.30204 17.6003 7.59806 17.6003 10.1016C17.6003 12.6052 17.5912 12.9012 17.5458 13.8903C17.5041 14.8043 17.3511 15.3011 17.2233 15.6312C17.0529 16.0689 16.8499 16.3812 16.522 16.7088C16.1941 17.0364 15.8814 17.2397 15.4437 17.4101C15.1137 17.5388 14.6167 17.691 13.7027 17.7326C12.7145 17.778 12.4176 17.7871 9.91406 17.7871C7.41049 17.7871 7.11446 17.778 6.12656 17.7326ZM6.04894 0.783337C5.05091 0.828787 4.36894 0.987037 3.77336 1.21879C3.15656 1.45811 2.63441 1.77919 2.11264 2.30014C1.59086 2.82109 1.27061 3.34406 1.03129 3.96086C0.799538 4.55681 0.641288 5.23841 0.595838 6.23644C0.549638 7.23604 0.539062 7.55561 0.539062 10.1016C0.539062 12.6475 0.549638 12.9671 0.595838 13.9667C0.641288 14.9648 0.799538 15.6463 1.03129 16.2423C1.27061 16.8587 1.59094 17.3823 2.11264 17.903C2.63434 18.4237 3.15656 18.7443 3.77336 18.9843C4.37006 19.2161 5.05091 19.3743 6.04894 19.4198C7.04906 19.4652 7.36811 19.4766 9.91406 19.4766C12.46 19.4766 12.7796 19.466 13.7792 19.4198C14.7773 19.3743 15.4588 19.2161 16.0548 18.9843C16.6712 18.7443 17.1937 18.4239 17.7155 17.903C18.2373 17.382 18.5568 16.8587 18.7968 16.2423C19.0286 15.6463 19.1876 14.9647 19.2323 13.9667C19.2777 12.9663 19.2883 12.6475 19.2883 10.1016C19.2883 7.55561 19.2777 7.23604 19.2323 6.23644C19.1868 5.23834 19.0286 4.55644 18.7968 3.96086C18.5568 3.34444 18.2364 2.82191 17.7155 2.30014C17.1945 1.77836 16.6712 1.45811 16.0555 1.21879C15.4588 0.987037 14.7772 0.828038 13.7799 0.783337C12.7803 0.737888 12.4608 0.726562 9.91481 0.726562C7.36886 0.726562 7.04906 0.737138 6.04894 0.783337Z"/>
                        </svg>
                	</a>
                </li>
            </#if>
            <#if !validator.isBlank(socialYoutubeUrl)>
                <li class="social__item">
                	<a class="social__link" href="${socialYoutubeUrl}" aria-label="Youtube">
                		<svg class="icon" width="19" height="15" viewBox="0 0 19 15" xmlns="http://www.w3.org/2000/svg">
	                        <title>YouTube</title>
	                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.8636 1.18012C17.6667 1.40225 18.2999 2.0528 18.5161 2.87788C18.9177 4.38523 18.9023 7.52688 18.9023 7.52688C18.9023 7.52688 18.9023 10.6527 18.5161 12.16C18.2999 12.9851 17.6667 13.6356 16.8636 13.8578C15.3963 14.2544 9.5273 14.2544 9.5273 14.2544C9.5273 14.2544 3.67375 14.2544 2.19105 13.8419C1.38792 13.6198 0.754689 12.9692 0.538462 12.1441C0.152344 10.6527 0.152344 7.51101 0.152344 7.51101C0.152344 7.51101 0.152344 4.38523 0.538462 2.87788C0.754689 2.0528 1.40337 1.38639 2.19105 1.16425C3.6583 0.767578 9.5273 0.767578 9.5273 0.767578C9.5273 0.767578 15.3963 0.767578 16.8636 1.18012ZM12.5407 7.51082L7.66016 10.3986V4.62305L12.5407 7.51082Z"/>
                        </svg>
                	</a>
                </li>
            </#if>
            </ul>
            <#if footerLayout?? && footerLayout.hasChildren()>
            <ul class="footer__list">
            	<#list footerLayout.getChildren() as layout>
                <li class="list__item">
                	<a class="list__link" href="${portalUtil.getLayoutFriendlyURL(layout, themeDisplay)}" title="${layout.getName(locale)}">${layout.getName(locale)}</a>
                </li>
                </#list>
            </ul>
            </#if>
            <div class="footer__logo"><img class="logo__telefonica" src="${images_folder}/movistar/logo-telefonica-corto.svg" alt="Telef&oacute;nica"
                    title="Telef&oacute;nica"></div>
        </div>
    </footer>