$green      : #68cd18;

.aui { 
    .movistar-green {
        .header {
            .nav-wrapper {
                .brand-logo {
                    color: $green;
                }
            }
        }
    }
}