.alert--success{
    color: $alert_succes_text;
    background-color: alert_succes_bg !important;
    border-color: alert_succes_border !important;
}

.alert--danger{
    color: $alert_danger_text;
    background-color: $alert_danger_bg !important;
    border: 1px solid $alert_danger_border !important;
}

.alert--danger-text{
    color: $alert_danger_text;
    padding: 0 10px;
    margin: 5px 0;
    display: block;
}

.alert--warning{
    color: $alert_warning_text;
    background-color: $alert_warning_bg !important;
    border-color: $alert_warning_border !important;
}

.alert--info{
    color: $alert_info_text;
    background-color: $alert_info_text !important;
    border-color: $alert_info_text !important;
}