.nateevo-breadcrumb {
    position: relative;
    background-color: #f8f8f8;
    z-index: 5;
    .breadcrumb--content {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
        @media (min-width: 993px){
            max-width: 1280px;
            padding-right: 15px;
            padding-left: 15px;
        }
        .breadcrumb--list-box {
            display: flex;
            flex-wrap: wrap;
            font-size: 14px;
            padding: 10px 15px;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
            list-style: none;
            color: #bdbdbd;
            max-width: 1280px;
            width: 100%;
            @media (min-width: 992px) {
                padding-left: 0px;
                padding-right: 0px;
                flex-wrap: wrap;
                font-size: 16px;
            }
            .breadcrumb--item {
                display: flex;
                line-height: 1.3;
                margin-right: 15px;
                &:last-child {
                    margin-right: 0px;
                }
                .breadcrumb--link {
                    color: #bdbdbd;
                    text-decoration: none;
                    &:hover, &:active {
                        text-decoration: underline;
                    }
                }
            }
            .breadcrumb--item.active {
                color: #828282;
            }
            .breadcrumb--item + .breadcrumb--item {
                padding-left: 0;
                &:before {
                    content: "";
                    position: relative;
                    background-image: url('../images/peru/icon-arrow-left.svg');
                    background-size: 6px;
                    background-repeat: no-repeat;
                    background-position: center;
                    vertical-align: middle;
                    margin: 0 15px 0 0px;
                    width: 8px;
                    height: 18px;
                    display: inline-block;
                    @media (min-width: 993px) {
                        height: 20px;
                        background-size: 7px;
                    }
                }
            }
        }
    }
}