//Inputs banner evo
input[type="color"].input--field-control, 
input[type="date"].input--field-control, 
input[type="datetime"].input--field-control, 
input[type="datetime-local"].input--field-control, 
input[type="email"].input--field-control, 
input[type="month"].input--field-control, 
input[type="number"].input--field-control, 
input[type="password"].input--field-control, 
input[type="search"].input--field-control, 
input[type="tel"].input--field-control, 
input[type="text"].input--field-control, 
input[type="time"].input--field-control, 
input[type="url"].input--field-control, 
input[type="week"].input--field-control, 
select.input--field-control, 
textarea.input--field-control{
    width: 100%;
    box-sizing: border-box;
    height: 42px;   
    padding: 15px 10px;
    background-color: #E9EAE8;
    border-radius: 4px;
    border: none;
    font-size: 12px;
    @media only screen and (min-width: 600px){
        height: 48px; 
        font-size: 14px;
    }
    &::placeholder{
        font-family: Telefonica;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        color: #86888C;
        @media only screen and (min-width: 600px){
            font-size: 14px;
            line-height: 20px;
        }
    }
    &::-webkit-input-placeholder{
        font-family: Telefonica;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        color: #86888C;
        @media only screen and (min-width: 600px){
            font-size: 14px;
            line-height: 20px;
        }
    }
    &:-ms-input-placeholder{
        font-family: Telefonica;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        color: #86888C;
        @media only screen and (min-width: 600px){
            font-size: 14px;
            line-height: 20px;
        }
    }
    &::-moz-placeholder,
    &:-moz-placeholder{
        font-family: Telefonica;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        color: #303237;
        @media only screen and (min-width: 600px){
            font-size: 14px;
            line-height: 20px;
        }
    }
    &:focus{
        outline: none;
        background-color: #fff;
        transition: background-color .25s ease-in;
    }
    &:disabled{
        opacity: 1;
    }
}
input[type="color"].input--field-control.alert--danger,
input[type="date"].input--field-control.alert--danger,
input[type="datetime"].input--field-control.alert--danger,
input[type="datetime-local"].input--field-control.alert--danger,
input[type="email"].input--field-control.alert--danger,
input[type="month"].input--field-control.alert--danger,
input[type="number"].input--field-control.alert--danger,
input[type="password"].input--field-control.alert--danger,
input[type="search"].input--field-control.alert--danger,
input[type="tel"].input--field-control.alert--danger,
input[type="text"].input--field-control.alert--danger,
input[type="time"].input--field-control.alert--danger,
input[type="url"].input--field-control.alert--danger,
input[type="week"].input--field-control.alert--danger,
select.input--field-control.alert--danger,
textarea.input--field-control.alert--danger{
    &::placeholder{
        color: $alert_danger_text;
    }
    &::-webkit-input-placeholder{
        color: $alert_danger_text;
    }
    &:-ms-input-placeholder{
        color: $alert_danger_text;
    }
    &::-moz-placeholder,
    &:-moz-placeholder{
        color: $alert_danger_text;
    }
}
.input--field-control::-webkit-input-placeholder{/* Edge */
    font-family: Telefonica;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #86888C;
    @media only screen and (min-width: 600px){
        font-size: 14px;
        line-height: 18px;
    }
}
.input--field-control:-ms-input-placeholder{/* Internet Explorer 10-11 */
    font-family: Telefonica;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #86888C;
    @media only screen and (min-width: 600px){
        font-size: 14px;
        line-height: 18px;
    }
}
.input--field{
    select{
        font-family: Telefonica;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        color: #86888C;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-image: url('../images/peru/chevron-down.png');
        background-repeat: no-repeat;
        background-position: 96%;
        @media only screen and (min-width: 600px){
            font-size: 14px;
            line-height: 20px;
        }
        &:focus{
            color: #000;
        }
        &::-ms-expand {
            display: none;
        }
    }
    select.alert--danger{
        color: $alert_danger_text !important;
        background-image: url('../images/peru/chevron-down-warning.png');
    }
}
.input--field-check{     
    input{
        &[type="checkbox"]:not(:checked), 
        &[type="checkbox"]:checked {
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }
        &[type="checkbox"]+span:not(.lever) {
            font-family: Telefonica;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            position: relative;
            padding-left: 25px;
            cursor: pointer;
            display: inline-block;
            white-space: nowrap;
            user-select: none;
            @media only screen and (min-width: 600px){
                font-size: 14px;
                line-height: 20px;
            }
        }
        &[type="checkbox"].filled-in:not(:checked)+span:not(.lever):before {
            width: 0;
            height: 0;
            border: 3px solid transparent;
            left: 6px;
            top: 10px;
            -webkit-transform: rotateZ(37deg);
            transform: rotateZ(37deg);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
        &[type="checkbox"].filled-in.alert--danger:not(:checked)+span:not(.lever):after{
            background-color: $alert_danger_bg !important;
            border: 1px solid $alert_danger_border !important;
        }
        &[type="checkbox"].filled-in.alert--danger:not(:checked)+span,
        &[type="checkbox"].filled-in.alert--danger:not(:checked)+span a{
            color: $alert_danger_text !important;
        }
        &[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
            height: 20px;
            width: 20px;
            background: #E9EAE8;
            border-radius: 4px;
            top: 0px;
            z-index: 0;
        }
        &[type="checkbox"].filled-in+span:not(.lever):after {
            border-radius: 2px;
        }
        &[type="checkbox"].filled-in+span:not(.lever):before, 
        &[type="checkbox"].filled-in+span:not(.lever):after {
            content: '';
            left: 0;
            position: absolute;
            transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
            z-index: 1;
            background: transparent;
        }
        &[type="checkbox"]+span:not(.lever):before, 
        &[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            z-index: 0;
            border: 2px solid #5a5a5a;
            border-radius: 1px;
            margin-top: 3px;
            -webkit-transition: .2s;
            transition: .2s;
        }
        &[type="checkbox"].filled-in:checked+span:not(.lever):before {
            top: 0;
            left: 1px;
            width: 8px;
            height: 13px;
            border-top: 2px solid transparent;
            border-left: 2px solid transparent;
            border-right: 2px solid #000;
            border-bottom: 2px solid #000;
            -webkit-transform: rotateZ(37deg);
            transform: rotateZ(37deg);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
        &[type="checkbox"].filled-in:checked+span:not(.lever):after {
            top: 0;
            width: 20px;
            height: 20px;
            background-color: #fff;
            z-index: 0;
        }
    }
    span{
        a{
            color: #fff;
            text-decoration: underline;
            &:focus{
                outline: inherit;
            }
        }
    }
}