.modal-overlay{
    background: rgba(0, 0, 0, 0.5);
}
.modal{
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
//modal plantilla Nat-Contacto
.contact__modal{
    svg{
        display: inline-block;
        font-size: inherit;
        width: 1em;
        height: 1em;
        overflow: visible;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
    }
    box-shadow: inherit;
    max-width: 360px;
    width: 100%;
    max-height: 82%;
    border-radius: 0;
    background: transparent;
    border-radius: 20px 20px;
    .container{            
        width: 100%;
    }
    .modal__header{
        width: 100%;
        text-align: center;
        padding: 50px 0 14px;        
        background: #FFFFFF;
        .modal__imagen{
            margin: 0 auto 10px;
            width: 140px;
            height: 140px;
            img{
                width: 100%;
                display: block;
            }              
        }
        .icon{                        
            margin-bottom: 21px;
            margin-top: -8px;
            display: inline-block;
            height: 40px;
            span[class^='icon']{
                font-size: 47px;
                color: $color_cian;
            }
        }
        .modal-close{
            position: absolute;
            top: 19px;
            right: 24px;
            .icon{
                font-size: 18px;
                height: auto;
                margin: 0;
                color: $color_cian;
            }
        }
        .modal-action[disabled]{
            pointer-events: none;
        }
        .modal-close[data="return"]{
            height: 18px;
            right: inherit;
            left: 26px;
            display: none;
        }
    }
    .modal__title{
        @include root-tipography;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: $color_texto;
        margin-bottom: 0;
        strong{
            display: block;
            font-size: 32px;
            line-height: 36px;
        }
    }
    .modal__description{
        @include root-tipography-regular;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #50535A;
        margin: 0 0 24px;
    }
    .modal__content{
        width: 100%;
        padding-bottom: 28px;
        padding-left: 23px;
        padding-right: 23px;
        background: #FFFFFF;
        .container{
            width: 80%;
            height: auto;
            display: block;
        }        
        .modal__title{
            @include root-tipography-bold;
            font-size: 24px;
            line-height: 24px;
            text-align: center;
            color: #019BF2;
            margin-bottom: 10px;
        }
        .nat__hash{
            text-align: center;
            margin-bottom: 5px;
            .hash{
                color: $color_cian;
            }
        }
        .modal__subtitle{
            font-size: 16px;
            color: #86888C;
            margin: 0 0 10px;
            text-align: center;
        }
        .modal__list{
            padding-top: 12px;
            margin: -5px 0;
        }
        .modal__item{
            padding: 5px 0;
        }
        .modal__btn{
            @include root-tipography;
            font-size: 18px;
            line-height: 22px;
            width: 100%;
            height: 60px;
            background: #019BF2;
            color: #FFFFFF;
            border-radius: 50px;                
            box-shadow: inherit;
            border: 0;
        }
        .swiper-container{
            width: 100%;
            height: 323px;
            margin-bottom: 12px;
            @media (max-width: 600px){
                height: 260px;
            }
        }
        .swiper-slide{
            height: auto;
            box-sizing: border-box;
            padding: 0 30px;
        }
        .swiper-container-vertical>.swiper-scrollbar{
            width: 10px;
            background: #F5F5F5;
            border-radius: 5px;
        }
        .swiper-scrollbar-drag{
            background: #B6B7B7;
            border-radius: 5px;
        }
    }
    .modal__footer{
        background: $color_azul;
        padding: 26px 0 26px;
        position: relative;
        .container{
            width: 100%;
            padding: 0 35px;
        }
        .row{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
        .col{
            margin: 0 3px;
            padding: 0;
        }
        .icon{            
            position: relative;
            top: 3px;
            span[class^='icon']{
                font-size: 36px;
                color: $color_cian;
            }           
        }
        .description{
            @include root-tipography;
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
            margin: 0;
        }
        .link{
            text-decoration: underline;
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }
        .link[disabled]{
            pointer-events: none;
        }
    }
    .form{
        .form__content{
            border: none;
            padding: 0;
            margin: 0;
        }
        .form__title{
            @include root-tipography;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #86888C;
            margin-bottom: 12px;
        }
        .field__group{
            margin-bottom: 10px;
            position: relative;
            .icon{
                font-size: 16px;
                position: absolute;
                left: 24px;
                top: 22px;
                color: $color_cian;
            }
            .icon--secondary{
                position: absolute;
                font-size: 16px;
                right: 23px;
                top: 22px;
                transition: all .2s linear;
                color: $color_cian;
            }
            .icon--secondary.active{
                transition: all .2s linear;
                transform: rotate(180deg);
                top: 18px;
            }
        }
        .field__group.disabled{
            display: none;
        }
        .field__invalid{
            .field__input{
                border-color: rgba(146, 40, 89, 0.3);
                background: rgba(146, 40, 89, 0.1);
                &:focus{
                    border-color: #922859;
                }
            }
            .icon{
                color: #922859;
            }            
        }
        .field__label{
            opacity: 0;
            visibility: hidden;
            position: absolute;
        }
        .field__input{
            background: rgba(211, 212, 211, 0.15);
            border: 1px solid rgba(211, 212, 211, 0.6);
            box-sizing: border-box;
            border-radius: 30px;
            @include root-tipography;
            font-size: 16px;
            line-height: 60px;
            color: #86888C;
            width: 100%;
            height: 60px;
            padding: 0 48px;
            &::placeholder{
                color: #86888C;
            }
            &:focus{
                outline: none;
                border-color: $color_cian;
            }
        }
        .field__select.select-wrapper{
            display: block;
        }
        .field__select{
            display:none;
            input[type="text"]{
                background: rgba(211, 212, 211, 0.15);
                border: 1px solid rgba(211, 212, 211, 0.6);
                box-sizing: border-box;
                border-radius: 30px;
                @include root-tipography;
                font-size: 16px;
                line-height: 60px;
                color: #86888C;
                width: 100%;
                height: 60px;
                padding: 0 48px;
                margin: 0;
                &::placeholder{
                    color: #86888C;
                }
            }
            input[type="text"].active{
                outline: none;
                border-color: $color_cian;
            }
            .caret{
                display: none;
            }
            .dropdown-content{
                width: 100% !important;
                top: 60px !important;
                background: #F5F5F5;
                border: 1px solid rgba(211, 212, 211, 0.6);
                border-radius: 30.6145px;
                padding: 14px 0;
                .disabled{
                    display: none;
                }
                li{
                    min-height: inherit;
                    span{
                        @include root-tipography;
                        font-size: 16px;
                        line-height: 20px;
                        color: #86888C;
                        padding: 6px 26px;
                    }
                }
            }
        }
        .field__checkbox{
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }
        .label__checkbox{
            @include root-tipography-regular;
            font-size: 14px;
            line-height: 18px;
            color: #86888C;
            padding-left: 32px;
            display: block;
            margin: 25px 0;
            text-align: left;
            cursor: pointer;
            &::before,
            &::after{
                content: '';
                left: 7px;
                position: absolute;
                transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
                z-index: 1;
            }
            &::before{
                width: 0;
                height: 0;
                border: 1px solid transparent;
                left: 6px;
                top: 10px;
                transform: rotateZ(37deg);
                transform-origin: 100% 100%;
            }
            &::after{
                height: 18px;
                width: 18px;
                background-color: transparent;
                border: 1px solid #D3D4D3;
                top: 0;
                z-index: 0;
                border-radius: 100px;
            }
            .modal-action{
                text-decoration: underline;
            }
            .modal-action[disabled]{
                pointer-events: none;
            }
        }
        .field__checkbox:checked+.label__checkbox:before{
            top: 3px;
            left: 10px;
            width: 5px;
            height: 10px;
            border-top: 1px solid transparent;
            border-left: 1px solid transparent;
            border-right: 1px solid #fff;
            border-bottom: 1px solid #fff;
            transform: rotateZ(37deg);
            transform-origin: 100% 100%;
        }
        .field__checkbox:checked+.label__checkbox:after{
            top: 0;
            width: 18px;
            height: 18px;
            border: 2px solid $color_cian;
            background-color: $color_cian;
            border-radius: 100px;
            z-index: 0;
        }
        .progress-button[data-style=shrink][data-horizontal].state-loading{
            transform: scaleY(1);
            height: 26px;
            margin: 17px 0;
            opacity: 1;
        }
        .progress-button .progress-inner{
            background: $color_cian;
        }
        .progress-button[data-style=shrink][data-horizontal] .content::before{
            font-family: "icomoon", "Telefonica";
            font-size: 17px;
            line-height: 60px;
            color: #ffffff;
            content: "Te llamamos \e5ca";
        }
        .field__btn{
            width: 100%;
            background: $color_cian;
            border-radius: 50px;
            border: none;
            height: 60px;
            @include root-tipography;
            font-size: 18px;
            line-height: 60px;
            color: #FFFFFF;
            text-transform: none;
            letter-spacing: inherit;
            padding: 0;
        }
        .field__btn.progress-button.state-success{
            background: $color_cian;
        }
        .field__btn:disabled{
            background: #80cdf9;
            pointer-events: inherit;
        }
        .field__preload{
            display: none;
            text-align: center;
            img{
                width: 58px;
                height: 58px;
                display: inline-block;
            }
        }
    }
}
#protectClause{
    .modal-close[data="return"]{
        display: block;
    }
}
.contact__modal[data-modal="renovacion"] .modal-close[data="return"],
.contact__modal[data-modal="portabilidad"] .modal-close[data="return"],
.contact__modal[data-modal="linea-nueva"] .modal-close[data="return"]{
    display: block;
}