@mixin root-tipography {
    font-family: 'Telefonica';
    font-style: normal;
    font-weight: normal;
}

@mixin root-tipography-regular {
    font-family: 'Telefonica';
    font-style: normal;
    font-weight: 300;
}

@mixin root-tipography-italic {
    font-family: 'Telefonica';
    font-style: italic;
    font-weight: normal;
}

@mixin root-tipography-bold {
    font-family: 'Telefonica';
    font-style: normal;
    font-weight: 700;
}

//Nuevas Fonts
// @mixin ghuten-tipography {
//     font-family: 'Guthen-bloots-basic';
//     font-style: normal;
//     font-weight: normal;
// }

// @mixin kokomo-tipography {
//     font-family: 'kokomo_breezeregular';
//     font-style: normal;
//     font-weight: normal;
// }

// @mixin summerloving-tipography {
//     font-family: 'summer_lovingregular';
//     font-style: normal;
//     font-weight: normal;
// }

//banner evo
.col--pe-titulo{
    @include root-tipography-regular;
    font-size: 25px;
    line-height: 31px;
    @media only screen and (min-width: 992px) {
        font-size: 35px;
        line-height: 44px;
    }        
}
.col--pe-subtitulo{
    @include root-tipography-regular;
    font-size: 18px;     
    line-height: 22px;
    @media only screen and (min-width: 992px) {
        font-size: 24px;
        line-height: 30px;
    }
}
.col--pe-descripcion{
    @include root-tipography-regular;
    font-size: 16px;     
    line-height: 18px;
    @media only screen and (min-width: 992px) {
        font-size: 18px;     
        line-height: 22px;
    }
}

//nuevos encabezados
.nat__title{
    @include root-tipography-regular;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    @media only screen and (min-width: 992px){
        font-size: 40px;
        line-height: 48px;        
    }
}
.nat__text{
    @include root-tipography-regular;
    font-size: 16px;
    line-height: 20px;
    color: $color-texto;
    text-align: center;
    @media only screen and (min-width: 992px){
        font-size: 20px;
        line-height: 25px;
    }
}
// .nat__title--kokomo{
//     @include kokomo-tipography;
//     font-size: 80px;
//     line-height: 60px; 
//     text-align: center;
//     @media only screen and (min-width:992px){
//         font-size: 150px;
//         line-height: 48px;      
//     }
// }
// .nat__title--summerloving{
//     @include summerloving-tipography;
//     font-size: 70px;
//     line-height: 75px;
//     text-align: center;
//     @media only screen and (min-width:992px){
//         font-size: 120px;
//         line-height: 48px;
//     }
// }
// .nat__title--guthen{
//     @include ghuten-tipography;
//     font-size: 58px;
//     line-height: 87px;
//     text-align: center;
//     @media only screen and (min-width:992px){
//         font-size: 100px;
//         line-height: 48px;
//     }
// }
//nuevo badge
.nat__badge{
    line-height: 0;
    text-align: left;
    .badge{
        @include root-tipography-bold;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: left;
        float: none;
        margin: 0;
        padding: 0 5px;
        @media only screen and (min-width: 992px){
            font-size: 12px;
        }
    }
}
//nuevo hash
.nat__hash{
    line-height: 0;
    text-align: left;
    margin: 0 0 5px; 
    .hash{
        @include root-tipography-regular;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        text-align: left;
        float: none;
        margin: 0; 
        padding: 0;
        color: #ffffff;
    }
}

//header icon movistar
.nat__icon{
    line-height: inherit;
    margin: 0 0 10px;
    .icon{
        font-size: 38px;
        display: block;
        line-height: 0;
        svg{
            width: 48px;
            height: 35px;
        }
    }
}