.natListItem{
    padding: 30px 0;
    @media only screen and (min-width: 992px){
        padding: 60px 0;
    }
    .container{
        width: 100%;
        max-width: 600px;
        @media only screen and (min-width: 992px){
            max-width: 1366px;
        }
    }
    .natListItem__header{
        margin-bottom: 25px;
        .title{
            @include tipography-300;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            margin:0;
            @media only screen and (min-width: 992px){
                font-size: 40px;
                line-height: 50px;
            }
        }
    }
    .natListItem__content{
        &.mobile-first {
            .item {
                @media only screen and (max-width: 991px){
                    margin-bottom: 0;
                }
            }
        }
        .list {
            margin-top: 0;
            margin-bottom: 0;
            @media only screen and (min-width: 992px){                
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }       
        }
        .item {
            padding: 0 15px;
            margin-top: 25px;
            margin-bottom: 25px;
            &:last-of-type{
                margin-bottom: 0;
            }
            @media only screen and (min-width: 992px){
                padding: 0 35px;
                margin-bottom: 0;
                margin-left: 0;
            }
        }
        .item.col.l4{
            padding: 0 15px;
            @media only screen and (min-width: 992px){
                padding: 0 60px;
            }
        }
        .item__head{
            text-align: center;
            margin-bottom: 18px;
            img {
                @media only screen and (min-width: 992px){
                    height: 118px;
                }
            }
        }
        .item__content{
            .title{
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                text-align: center;
            }
            .text{
                font-size: 16px;
                line-height: 24px;
                text-align: center;
            }
        }
    }
    .swiper-pagination{
        position: relative;
        margin-top: 10px;
        bottom: 0;
        @media only screen and (min-width: 992px){
            display: none;
        }
        .swiper-pagination-bullet{
            background: $gray-light;
            opacity: 1;
        }
        .swiper-pagination-bullet-active{
            background: $skyblue;
        }
    }
    &.nat-bgc--cian {
        .swiper-pagination{
            .swiper-pagination-bullet{
                background: $white;
                opacity: 1;
            }
            .swiper-pagination-bullet-active{
                background: $blue-dark;
            }
        }
    }
    &.nat-bgc--blue-dark {
        .swiper-pagination{
            .swiper-pagination-bullet{
                background: $white;
                opacity: 1;
            }
            .swiper-pagination-bullet-active{
                background: $skyblue;
            }
        }
    }
    &.natListItem--horizontal{
        &.natListItem--horizontal-interspersed {
            .natListItem__content {
                .item {
                    .col {
                        &.l7 {
                            @media only screen and (min-width: 992px) {
                                margin-left: 8.3333333333%;
                            }
                        }
                    }
                    &:nth-child(2n+0) {
                        .col {
                            &.l4 {
                                @media only screen and (min-width: 992px) {
                                    position: relative;
                                    left: 66.333333%;
                                }
                            }
                            &.l7 {
                                @media only screen and (min-width: 992px) {
                                    position: relative;
                                    right: 33.3333333333%;
                                    margin-left: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
        .container{
            max-width: 600px;
            @media only screen and (min-width: 992px){
                max-width: 1045px;
            }
        }
        .natListItem__content{
            &.mobile-first {
                .item {
                    @media only screen and (max-width: 991px){
                        margin-bottom: 0;
                    }
                }
            }
            .list{
                @media only screen and (min-width: 992px){
                    display: block;
                }
            }
            .item {
                padding: 0;
                margin-bottom: 60px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .item__content{        
            margin-bottom: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @media only screen and (min-width: 992px){
                display: block;
            }
            .title{
                text-align: left;
            }
            .text {
                text-align:left;
            }
        }
        .item__picture{
            text-align: center;
            margin-bottom: 45px;
            @media only screen and (min-width: 992px){
                margin-bottom: 0;
            }
            .picture{
                width: 100%;
                max-width: 285px;
            }
        }
    }
}