.natVideo{
    padding: 30px 0;
    @media only screen and (min-width:992px){
        padding: 60px 0;
    }
     > .container{
        width: 100%;
        max-width: 600px;
        margin:  0 auto;
        padding: 0 10px;
        @media only screen and (min-width:992px){
            max-width: 1170px;
            padding: 0 30px;
        }
    }
    .natVideo__header{
        width: 100%;
        max-width: 920px;
        margin: 0 auto 29px;
        padding: 0 19px;
        @media only screen and (min-width:992px){
            margin: 0 auto 62px;
        }
        .title {
            @include tipography-300;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            margin: 0;
            @media only screen and (min-width:992px){
                font-size: 40px;
                line-height: 48px;
            }
        }
    }
    .natVideo__content{
        width: 100%;
        display:flex;
        flex-wrap: wrap;
        @media only screen and (min-width:992px){
            flex-wrap: nowrap;
        }
        .area__text{
            width: 100%;
            padding: 0 20px;
            @media only screen and (min-width:992px){
                max-width: 494px;
                padding: 0;
                margin-left: auto;
                margin-right: 0;
                font-size: 18px;
            }
            a {
                text-decoration: underline;
                &:hover, &:active {
                    text-decoration: none;
                }
            }
        }
        .area__picture{
            width: 100%;
            margin-bottom: 30px;
            @media only screen and (min-width:992px){
                max-width: 600px;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: auto;
                padding-left: 0;
                padding-right: 30px;
            }
            .picture{
                position: relative;
                border-radius: 4px;
                overflow: hidden;
                .image{
                    width: 100%;
                }
                .btn__play{
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    background: transparent;
                    box-shadow: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0;
                    color: $white;
                }
                .icon-play {
                    font-size: 65px;
                    @media only screen and (min-width:992px){
                        font-size: 85px;
                    }
                }
            }
        }
    }
}
.natVideo-layout--inverted{
    .natVideo__content{
        .area__text{
            @media only screen and (min-width:992px){
                order: 1;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: auto;
            }
            a {
                text-decoration: underline;
                &:hover, &:active {
                    text-decoration: none;
                }
            }
        }
        .area__picture{
            @media only screen and (min-width:992px){
                order: 2;
                margin-bottom: 0;
                margin-left: auto;
                margin-right: 0;
                padding-left: 30px;
                padding-right: 0;
            }
        }
    }
}

.natVideo-layout--full{
     > .container{
        @media only screen and (min-width:992px){
            max-width: 930px;
            padding: initial;
        }
    }
    .natVideo__content{
        width: 100%;
        display:flex;
        flex-wrap: wrap !important;
        .area__text{
            width: 100%;
            max-width: inherit !important;
            padding: 0 20px;
            @media only screen and (min-width:992px){
                padding: 0;
            }
            a {
                text-decoration: underline;
                &:hover, &:active {
                    text-decoration: none;
                }
            }
        }
        .area__picture{
            width: 100%;
            margin-bottom: 29px;
            padding: 0 !important;
            @media only screen and (min-width:992px){
                max-width: 929px;
                margin-bottom: 65px;
                margin-left: auto;
                margin-right: 0;
            }
        }
    }
}
.natVideo-details{
    .natVideo__header {
        @media only screen and (min-width:992px){
            display: none;
        }
    }
    .natVideo__content{
        .area__text{
            @media only screen and (min-width:992px){
                max-width: 552px;
                margin-bottom: 0;
                margin-left: auto;
                margin-right: 0;
            }
            .title{
                @include tipography-300;
                font-size:32px;
                line-height:40px;
                margin-bottom: 30px;
                display: none;
                @media only screen and (min-width:992px){
                    font-size:40px;
                    display: block;
                }
            }
            a {
                text-decoration: underline;
                &:hover, &:active {
                    text-decoration: none;
                }
            }
        }
        .area__picture{
            @media only screen and (min-width:992px){
                max-width: 512px;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: auto;
                padding-right: 30px;
            }
        }
    }
}
.natVideo-details--reverse{
    .natVideo__content{
        .area__text{
            @media only screen and (min-width:992px){
                max-width: 552px;
                order: 1;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: auto;
            }
            a {
                text-decoration: underline;
                &:hover, &:active {
                    text-decoration: none;
                }
            }
        }
        .area__picture{
            @media only screen and (min-width:992px){
                max-width: 512px;
                order: 2;
                margin-bottom: 0;
                margin-left: auto;
                margin-right: 0;
                padding-left: 30px;
                padding-right: 0;
            }
        }
    }
}