.c-tab-nested-v2-container .natQuestions,
.natQuestions{
    padding: 30px 0;
    @media only screen and (min-width: 992px){
        padding: 60px 0;
    }
    .container{
        max-width: 1033px;
        padding: 0;
    }
    .natQuestions__header{
        margin-bottom: 30px;
        @media only screen and (min-width: 992px){
            margin-bottom: 60px;
        }
        .title{
            @include tipography-300;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            margin: 0;
            @media only screen and (min-width: 992px){
                font-size: 40px;
            }
        }
    }
    .collapsible{
        margin: 0;
        border: 0;
        box-shadow: inherit;
    }
    .collapsible-header{
        position: relative;
        background: transparent;
        padding: 18px 50px 18px 16px;
        @media only screen and (min-width: 992px){
            padding: 52px 75px 52px 40px;
        }
        &::before {
            content: none!important;
        }
        .title{
            @include tipography-300;
            font-size: 18px;
            line-height: 22px;
            margin: 0;
        }
        .icon--arrowDown{
            color: $skyblue;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translate(0, -50%);
            font-size: 14px;
            @media only screen and (min-width: 992px){
                right: 45px;
                font-size: 16px;
            }
        }
        &:focus{
            outline: none
        }
    }
    .collapsible-body{
        border: 0;
        background: $white;
        .text{
            @include tipography-300;
            font-size: 16px;
            line-height: 20px;
            @media only screen and (min-width: 992px){
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
    .collapsible__item.active{
        .icon--arrowDown {
            transform: translate(0, -50%) rotate(180deg);
        }
        .collapsible-header{
            background: $white;
        }
    }
}