body{
    color: $color_texto;
}
h1,h2,h3,h4,h5,h6,p,span,use,img,svg,div,a,button{
    &:focus{
        outline: inherit;
    }
}
// p a{
//     text-decoration: underline;
// }


//alineacion vertical contenidos banner evo
.align-items--start{
    align-items: flex-start !important; /* IE11 */
}
.align-items--center{
    align-items: center !important; /* IE11 */
}
.align-items--end{
    align-items: flex-end !important; /* IE11 */
}

//alineacion horizontal contenidos
.justify-items--start{
    justify-content: flex-start !important; /* IE11 */
}
.justify-items--center{
    justify-content: center !important; /* IE11 */
}
.justify-items--end{
    justify-content: flex-end !important; /* IE11 */
}

//Casos de color de fondos badge banner evo
.color--cian-bg{
    background: $color_cian !important;
    color: #fff !important;
}
.color--rosado-bg{
    background: $color_rosado !important;
    color: #fff !important;
}
.color--amarillo-bg{
    background: $color_amarillo !important;
    color: #fff !important;
}
.color--morado-bg{
    background: $color_morado !important;
    color: #fff !important;
}
.color--verde-bg{
    background: $color_verde !important;
    color: #fff !important;
}

//colores de acuerdo al tema por defecto banner evo
.movistar--green .banner-hero .slick-dots li.slick-active button{
    background: $color_verde;
}
.movistar--blue .banner-hero .slick-dots li.slick-active button{
    background: $color_cian;
}
.movistar--green .banner-hero .badge{
    background: $color_verde;
    color: #fff;
}
.movistar--blue .banner-hero .badge{
    background: $color_cian;
    color: #fff;
}

.movistar--blue{
    .plans .plan__header .price,
    .plans .plan__header .save,
    .plans .plan__header .amount--network,
    .plans .plan__header .amount--time,
    .plans .plan__body .title,
    .plans .plan__body span[class^=icon],
    .plans .plan__body .exclusive__title,
    .plans .plan__footer .btn-flat{
        color: $color_cian;
    }
    .plans .plan__header .btn{
        background-color: $color_cian;
    }

    .plans .plan__item--recommend .plan__header .price,
    .plans .plan__item--recommend .plan__header .save,
    .plans .plan__item--recommend .plan__header .amount--network,
    .plans .plan__item--recommend .plan__header .amount--time,
    .plans .plan__item--recommend .plan__body .title,
    .plans .plan__item--recommend .plan__body span[class^=icon],
    .plans .plan__item--recommend .plan__body .exclusive__title,
    .plans .plan__item--recommend .plan__footer .btn-flat{
        color: $color_verde;
    }
    .plans .plan__item--recommend .plan__header .btn{
        background-color: $color_verde;
    }
}

.movistar--green{
    .plans .plan__header .price,
    .plans .plan__header .save,
    .plans .plan__header .amount--network,
    .plans .plan__header .amount--time,
    .plans .plan__body .title,
    .plans .plan__body span[class^=icon],
    .plans .plan__body .exclusive__title,
    .plans .plan__footer .btn-flat{
        color: $color_verde;
    }
    .plans .plans__list .plan__header .btn{
        background-color: $color_verde;
    }
    .plans .plan__item--recommend .plan__header .price,
    .plans .plan__item--recommend .plan__header .save,
    .plans .plan__item--recommend .plan__header .amount--network,
    .plans .plan__item--recommend .plan__header .amount--time,
    .plans .plan__item--recommend .plan__body .title,
    .plans .plan__item--recommend .plan__body span[class^=icon],
    .plans .plan__item--recommend .plan__body .exclusive__title,
    .plans .plan__item--recommend .plan__footer .btn-flat{
        color: $color_cian;
    }
    .plans .plan__item--recommend .plan__header .btn{
        background-color: $color_cian;
    }
}

.movistar--green .modal .icon{
    color: $color_verde;
}

.movistar--blue .modal .icon{
    color: $color_cian;
}

//velo para fondos
.shadow__background{
    &:before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0,0,0,.25);
        z-index: 0;
    }
}

//clases de colores 
.color--azul{
    color: $color_azul !important;
}
.color--cian{
    color: $color_cian !important;
}
.color--blanco{
    color: #ffffff !important;
}
.color--gris{
    color: $color_texto !important;
}
.color--lila{
    color: $color_lila !important;
}

//clase de colores dark
.color--cian-dark{
    color: $color_cian-dark !important;
}
.color--verde-dark{
    color: $color_verde-dark !important;
}
.color--morado-dark{
    color: $color_morado-dark !important;
}
.color--lila-dark{
    color: $color_lila-dark !important;
}
.color--naranja-dark{
    color: $color_naranja-dark !important;
}
.color--amarillo-dark{
    color: $color_amarillo-dark !important;
}

//Casos de color de fondos secciones
.bg--contraste{
    h1,h2,h3,h4,h5,h6,p,span,strong,b,small,em,mark,i,u,s,cite,sub,sup,q,dfn,abbr,time,legend{
        color: #ffffff;
    }
    a{
        color: #ffffff !important;
    }
}
.bg--cian{
    background: $color_cian !important;
    h1,h2,h3,h4,h5,h6,p,span,strong,b,small,a,em,mark,i,u,s,cite,sub,sup,q,dfn,abbr,time,legend{
        color: #ffffff;
    }
    .natTabs .tab__item .item{
        color: #ffffff !important;
    }
}
.bg--azul{
    background-color: $color_azul !important;
    h1,h2,h3,h4,h5,h6,p,span,strong,b,small,a,em,mark,i,u,s,cite,sub,sup,q,dfn,abbr,time,legend{
        color: #ffffff;
    }
    .steps__item .number span{
        color: #019BF2;
    }
    .natTabs .tab__item .item{
        color: #ffffff !important;
    }
}
.bg--gris{
    background: #f4f4f3 !important;
    .steps__item .number span{
        color: #B6B7B7;
    }
    .collapsible-header{
        &:hover{
            background-color: #fff !important;
        }
    }
}

//nuevos colores de fondo
.bg--verde{
    background: $color_verde!important;
    h1,h2,h3,h4,h5,h6,p,span,strong,b,small,a,em,mark,i,u,s,cite,sub,sup,q,dfn,abbr,time,legend{
        color: #ffffff;
    }
}
.bg--naranja{
    background: $color_naranja !important;
    h1,h2,h3,h4,h5,h6,p,span,strong,b,small,a,em,mark,i,u,s,cite,sub,sup,q,dfn,abbr,time,legend{
        color: #ffffff;
    }
}
.bg--morado{
    background: $color_morado !important;
    h1,h2,h3,h4,h5,h6,p,span,strong,b,small,a,em,mark,i,u,s,cite,sub,sup,q,dfn,abbr,time,legend{
        color: #ffffff;
    }
}
.bg--lila{
    background: $color_lila !important;
    h1,h2,h3,h4,h5,h6,p,span,strong,b,small,a,em,mark,i,u,s,cite,sub,sup,q,dfn,abbr,time,legend{
        color: #ffffff;
    }
}
.bg--amarillo{
    background: $color_amarillo !important;
    h1,h2,h3,h4,h5,h6,p,span,strong,b,small,a,em,mark,i,u,s,cite,sub,sup,q,dfn,abbr,time,legend{
        color: #ffffff;
    }
}

//nuevos colores de fondo light
.bg--gris-light{
    background: $color_gris-light;
}
.bg--verde-light{
    background: $color_verde-light;
}
.bg--morado-light{
    background: $color_morado-light;
}
.bg--lila-light{
    background: $color_lila-light;
}
.bg--naranja-light{
    background: $color_naranja-light;
}
.bg--amarillo-light{
    background: $color_amarillo-light;
}

//Colores paginador Slider
.dots__cian{
    .slick-dots li.slick-active button{
        background: $color_cian !important;
    }
    .slick-dots li button{
        background: #ffffff !important;
    }
}
.dots__cian--gris{
    .slick-dots li.slick-active button{
        background: $color_cian !important;
    }
    .slick-dots li button{
        background: #C4C4C4 !important;
    }
}
.dots__azul{
    .slick-dots li.slick-active button{
        background: $color_azul !important;
    }
    .slick-dots li button{
        background: #ffffff !important;
    }
}

//Colores navegadores slider
.arrows__blanco{
    .slick-next:before,
    .slick-prev:before{
        color: #ffffff !important;
    }
}

.arrows__cian--aria{
    .slick-next:before,
    .slick-prev:before{
        color: $color_cian !important;
    }    
}

//Variante background indicador tabs
.indicator--azul{
    .indicator{
        background-color: $color_azul !important;
    }
}
.indicator--blanco{
    .indicator{
        background: #ffffff !important;
    }
}

// Elementos flotantes
.pull-right{
	float: right;
}

//Nuevos estilos Arrows & Dots natSliders
@mixin root-arrows{
    width: 40px;
    height: 40px;
    top: 50%;
    display: none !important;
    @media only screen and (min-width: 992px){
        display: inline-block !important;
    }
    &:before{
        background: 0 0;
        font-size: 40px;
        padding: 0;
        color: $color_texto;
    }
}

@mixin root-dots {
    line-height: 0;
        li{
            width: 10px;
            height: 10px;
            button{
                border-radius: 100px;
                padding: 0;
                width: 100%;
                height: 100%;
                background: #B6B7B7;              
                &:before{
                    display: none;
                }
            }
            button[aria-label="1 of 1"]{
                display: none;
            }
        }
        .slick-active{
            button{
                background: $color_texto;    
            }
        }
}

//Arrows variacion color
@mixin root-arrows-cian {
    .slick-prev,
    .slick-next{
        &:before{
            color: $color_cian;
        }
    }  
}

@mixin root-arrows-azul {
    .slick-prev,
    .slick-next{
        &:before{
            color: $color_azul;
        }
    }
}

@mixin root-arrows-blanco {
    .slick-prev,
    .slick-next{
        &:before{
            color: #ffffff;
        }
    } 
}

//Dots variacion color
@mixin root-dots-gris-cian {    
    li{
        button{
            background: #B6B7B7 !important;
        }
    }
    .slick-active{
        button{
            background: $color-cian !important;
        }
    }
}
@mixin root-dots-gris-blanco {    
    li{
        button{
            background: #B6B7B7 !important;
        }
    }
    .slick-active{
        button{
            background: #ffffff !important;
        }
    }
}

@mixin root-dots-blanco-cian{    
    li{
        button{
            background: #ffffff !important;
        }
    }
    .slick-active{
        button{
            background: $color_cian !important;
        }
    }
}

.natSlick_navigation{
    .slick-next,
    .slick-prev{
        @include root-arrows;        
    }
    .slick-next{
        right: 0;
    }
    .slick-prev{
        left: 0;
    }
    .slick-dots {
        @include root-dots;
    }
}

//atributos variacones de color navigation
[arrw-cian]{
    @include root-arrows-cian;
}
[arrw-azul]{
    @include root-arrows-azul;
}
[arrw-blanco]{
    @include root-arrows-blanco;
}
[dts-gris-cian]{
    @include root-dots-gris-cian;
}
[dts-gris-blanco]{
    @include root-dots-gris-blanco;
}
[dts-blanco-cian]{
    @include root-dots-blanco-cian;
}

//Picture image nueva linea
.picture__image{
    object-fit: cover;
    object-position: center top;
    height: 100%;
    max-width: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

//blur effect
.item__blur{
    backdrop-filter: blur(15px); 
    background: rgba(255,255,255,.1);
}