//colores principales
$color_azul: #0B2739;
$color_cian: #019BF2;
$color_verde: #5bc500;
$color_texto: #50535A;

//colores secundarios
$color_morado: #954B97;
$color_rosado: #FB5382;
$color_lila: #E63780;
$color_naranja: #EC624B;
$color_amarillo: #F28D15;

//colores light
$color_gris-light: #F5F5F5;
$color_verde-light: #BDE4A4;
$color_morado-light: #DEBCE4;
$color_lila-light: #FBC7DE;
$color_naranja-light: #F8CCCC;
$color_amarillo-light: #F8D2B3;

//colores dark
$color_cian-dark: #019BF4;
$color_verde-dark: #3C7521;
$color_morado-dark: #642A72;
$color_lila-dark: #922859;
$color_naranja-dark: #983230;
$color_amarillo-dark: #9F591F;

//colores alertas
$alert_succes_text: #155724;
$alert_succes_bg: #d4edda;
$alert_succes_border: #c3e6cb;

$alert_danger_text: #E9426D;
$alert_danger_bg: #FDEDF0;
$alert_danger_border: #E9426D;

$alert_warning_text: #856404;
$alert_warning_bg: #fff3cd;
$alert_warning_border: #ffeeba;

$alert_info_text: #0c5460;
$alert_info_bg: #d1ecf1;
$alert_info_border: #bee5eb;