$at-green: #53bf02;
$at-grey: rgb(80, 83, 90);
$at-backgrey : #f4f4f3;


.acceso{
	background-color: white;
	position: relative;
	overflow: hidden;	
}

.acceso__title {
	font-weight: 300;
	font-size: 40px;
	color: #52555c;
}

.acceso__item{
	position: relative;
	
	a{
		padding:0;
		text-align:left;
		
		&:hover{
			background:transparent;
		}
	}
}
.acceso__center{
	padding: 1em 0;
}
.reclamos__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .reclamos .quick-links:before{
    	opacity: 1;
    }
    .reclamos:nth-child(even){
    	.quick-links{
    		&:before{
    			background: $at-green;
    		}
    		.quick-links__icon{
    			color: $at-green;
    		}
    	}
    }
    @media #{$medium-and-down} {
		padding:1em;
		.quick-links{
			margin:1em;
		}
	}
}
.layout_grey {
	.seccion__title, .seccion__description{
		color: $at-grey !important;
	}
}
.seccion__title{
	max-width: 90%;
    margin-left: auto;
    margin-bottom: .5em;
    margin-right: auto;
    color: #fff;
}
a.nofloat{
	margin-top:.5em;
	float:none !important;
}
.at-shap{
	color: $at-grey;
}
.at-shap__title{
	margin-bottom: .5em;
	line-height: 48px;
    font-size: 40px;
}
.at-shap__description{
	font-size: 20px;
    line-height: 28px;
}
.at-shap__rowtitle{
	font-size:17px;
	font-weight: 600;
	text-align:left;
}

.at-container{
	margin-top: 5em;
}
.at-row {
    margin-bottom: 3em;
    display:flex;
    flex-wrap:wrap;
}
.at-row__item.col{
	margin-left:0;
	position:relative;
	padding: 0 2.5em;
}
.at-row .at-row__item:last-child:after{
	background:transparent;
}
.at-row__item:after{
	content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    background: $at-grey;
    opacity:.5;
    height: 60%;
    transform: translateY(-50%);
    
    @media #{$medium-and-down} {
	    top: auto;
	    bottom: 0;
	    width: 100%;
	    opacity:.3;
	    height: 1px;
	    transform: translateY(0);
		
	}
}
.at-canal{
	font-size: 18px;
    line-height: 24px;
    color: $at-grey;
    
    @media #{$small-and-down} {
    	.left-align{
    		text-align:center;
    	}
		
	}
}
.at-canal__title{
	font-weight: 600;
	margin-bottom:0;
}
.at-canal__list{
	margin:0;
}
.at-canal__folder img{
	height: 72px;
	width:auto;
}

.at-color__grey{
	color: $at-grey;
}
.at-nomargin{
	margin:0;
}
.at-ligas{
	margin-top:4em;
	/*font-weight: 600;*/
}

ul.at-ligas__list{
	padding-left: 40px;
	list-style-type: disc;
}
ul.at-ligas__list li{
	text-align:left;
	list-style-type: disc;
}
.at-folder__gallery{
    margin-top:3em;
    margin-bottom:3em;
}
.at-folder__gallery img {
    max-width: 5.5em;
}
.at-folder {
    display: flex;
    flex-wrap: wrap;
}
.at-folder .row{
    width:100%;
}
.at-order-1{
	order: 1;
}
.at-equipos{
	.at-equipos__item:nth-child(even){
		
		@media #{$medium-and-up} {
			.at-equipos__text{
				order:1;
			}
		}
	}
}
.at-equipos__item{
	margin-top:4em;
	margin-bottom:4em;
	flex-wrap:wrap;
}
.at-equipos__title{
	text-align:left;
	padding-left:0;
	padding-right:0;
	padding-bottom:5px;
}
.at-equipos__description{
	font-size:18px;
}
.at-equipos__image{
	display:block;
	width:100%;
	height:auto;
}
.at-international {
    max-width: 850px;
}
.at-international__content{
	margin:3em 0;
	
	.at-international__item:last-child:after{
		display:none;
	}
}
.at-international__item{
	position:relative;
	
	@media #{$small-and-down} {
		padding:2em 0;
	}
}
.at-international__message {
    background: #f4f4f3;
    padding: 1.5em;
    text-align: center;
    border-radius: 4em;
}
.at-international__item:after{
	content: "\e145";
    font-family: 'icomoon'!important;
    position: absolute;
    font-size: 1.5em;
    font-weight: 600;
    top: 50%;
    right: 0;
    transform: translate(50%,-50%);
    
    @media #{$small-and-down} {
		
		top:auto;
		bottom:0;
		left:50%;
		right:auto;
		transform: translate(-50%,50%);
	}
}
.at-international__circle{
	width: 6em;
	height:6em;
	background : $at-backgrey;
	border-radius:50%;
	margin: 0 auto;
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
	padding:.5em;
}