.footer-large-wrapper-links{

}
.footer-large-links.collapsible {
	border: 0;
	box-shadow: none;
}
.footer-large-links-block{
	border-bottom: solid 1px #D8D8D8;
}
.footer-large-links-block.active {
	border-bottom: 0;
}

.footer-large-links-block {
	&.active {
		.collapsible-body {
			display: block;
		}
	}
}
.footer-large-links-block .collapsible-header{
	border-bottom: 0;
}
.footer-large__icon {
	position: absolute;
	right: 16px;
	font-size: 18px;
	padding-top: 5px;
	color: #B6B7B7;
}
.active .footer-large__icon{
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
}
.footer-large-links-block.active .collapsible-body{
	display: block;
}
.footer-large-links-block .collapsible-body{
	border: 0;
	padding: 13px 16px 0;
}
.footer-large__container{
	padding-top: 17px;
}
.footer-large__logo{
	padding-bottom: 23px;
}
.footer-large__logo-img{
	width: 100%;
	max-width: 223px;
}
.footer-large-links-block{
	padding-bottom: 18px;
}
.footer-large__title{
	font-family: Telefonica;
	font-weight: normal;
	font-size: 16px;
	color: #50535A;
	letter-spacing: 0.18px;
	line-height: 24px;
	padding-top: 14px;
}
.footer-large__url{
	font-family: Telefonica;
	font-weight: normal;
	font-size: 14px;
	color: #86888C;
	letter-spacing: 0.16px;
	line-height: 32px;

	&:hover {
		color: #0299d8;
	}
}
.footer-large-wrapper-logo{
	background: #F2F4FF;
}


@media #{$large-and-up}{

	.footer-large-links-block .collapsible-header{
		padding: 0;
		cursor: text;
	}

	.footer-large__container{
		padding-top: 0;
	}
	.footer-large-wrapper-logo{
		position: relative;
	}
	.footer-large-wrapper-logo:after{
		content: '';
		width: 100%;
		height: 4px;
		background: #F4F4F3;
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0px;
	}
	.footer-large-wrapper-logo:before{
		content: '';
		width: 100%;
		height: 4px;
		background: #F4F4F3;
		position: absolute;
		z-index: 0;
		bottom: 0;
		left: 0px;
	}
	.footer-large__logo{
		width: 100%;
		padding: 48px 0 33px 0;
		position: relative;
	}
	.footer-large__logo-img{
		max-width: 318px;
	}

	.footer-large-links{
		display: table;
		width: 100%;
		height: 100%;
	}
	.footer-large-links-block{
		display: table-cell;
		border-bottom: 0;
	}
	.footer-large__title{
		font-family: Telefonica;
		font-weight: bold;
		font-size: 18px;
		letter-spacing: 0;
		padding: 22px 16px 17px 0;
	}
	.footer-large-links-block .footer-large__icon{
		display: none;
	}
	.footer-large-links-block .collapsible-body{
		display: block;
		padding-left: 0;
	}
	.footer-large__url{
		font-size: 16px;
		letter-spacing: 0;
		line-height: 24px;
	}
	.footer-large__url-title{
		display: block;
		margin-bottom: 16px;
	}

}
