$main-green: #5bc500;
$main-blue: #00a9e0;

$secondary-purple: #954b97;
$secondary-magenta: #e9426d;
$secondary-orange: #ec6839;
$secondary-yellow: #f59c00;


$grey-0: #f4f4f3;
$grey-1: #e9e5e8;
//$grey-2: #d3d4d3; // not for digital use
$grey-3: #b6b7b7;
$grey-4: #86888c;
$grey-5: #50535a;

//rgba($main-green, .8);

@mixin title($color) {
  color: $color;
  font-family: 'Telefonica', sans-serif;
  font-weight: normal;
  @media #{$large-and-up} {
    font-weight: 100;
  }
}

@mixin title-h2($color: $grey-5) {
  @include title($color);
  font-size: 56px;
  line-height: 70px;

  @media #{$large-and-up} {
    font-size: 64px;
    line-height: 72px;
  }
}

@mixin title-h3($color: $grey-5) {
  @include title($color);
  font-size: 40px;
  line-height: 48px;

  @media #{$large-and-up} {
    font-size: 56px;
    line-height: 70px;
  }
}

@mixin title-h4($color: $grey-5) {
  @include title($color);
  font-size: 32px;
  line-height: 40px;

  @media #{$large-and-up} {
    font-size: 40px;
    line-height: 48px;
  }
}

@mixin title-h5($color: $grey-5) {
  @include title($color);
  font-size: 24px;
  line-height: 28px;

  @media #{$large-and-up} {
    font-size: 32px;
    line-height: 40px;
  }
}

@mixin title-h6($color: $grey-5) {
  @include title($color);
  font-size: 24px;
  line-height: 28px;
}


@mixin body-copy($color) {
  color: $color;
  font-family: 'Telefonica', sans-serif;
  font-weight: 300;
}

@mixin body-copy-1($color: $grey-5) {
  @include body-copy($color);
  font-size: 18px;
  line-height: 24px;
}

@mixin body-copy-2($color: $grey-5) {
  @include body-copy($color);
  font-size: 16px;
  line-height: 24px;
}


@mixin body-copy-3($color: $grey-5) {
  @include body-copy($color);
  font-size: 14px;
  line-height: 20px;
}

@mixin kickers($color: $grey-5) {
  color: $color;
  font-family: 'Telefonica', sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

