



.button-group--pills {
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
	margin: 0 auto;
	white-space: nowrap;
	height: 40px;
	text-align: center;
	justify-content: center;

	.pill {
		display: inline-block;
		line-height: 40px;
		height: 40px;
		flex-grow: 0;


		a {
			display: block;
			width: 100%;
			padding: 0 24px;
			text-overflow: ellipsis;
			overflow: hidden;
			transition: all .28s ease;
			font-size: 18px;
			color: #86888C;
			font-weight: normal;
			border-radius: 0px;
			text-transform: none;
			height: 40px;
			line-height: 40px;
			position: relative;
			z-index: 2;
			min-width: 144px;

			&::hover {
				color: #0299D8;
			}

			&.active{
				color: #fff;
			}
		}
	}

	.indicator {
		position: absolute;
		bottom: 0;
		will-change: left, right;
		height: 40px;
		line-height: 40px;
		border-radius: 40px;
		background-color: #0299D8;
		z-index: 1;
	}
}