$easeOutQuart : cubic-bezier(0.165, 0.840, 0.440, 1.000);

.c-plan-container{
	position: relative;
}

/* commented tabs - Mobile */
/*.c-plan-container .tabs{
	display: none;
	@media #{$large-and-up}{
		display: block;
	}
}*/
.tab__title-mobile{
	display: none;
	/*font-size: 30px;
	width: 100%;
	text-align: center;

	@media #{$large-and-up}{
		display: none;
	}*/
}
.c-plan {
	font-weight: normal;
	font-size: 16px;
	color: #50535A;
	line-height: 24px;
	border-bottom: 1px solid #D3D4D3;
	background: #fff;
	width: 100%;

	@media #{$large-and-up}{
		margin: 0 20px;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
		border-radius: 4px;
		margin-bottom: 20px;

		&.stairs{
			&:nth-of-type(2){
				margin-top: 10px;
				.c-plan__header{
					height: 140px;
				}
			}
			&:nth-of-type(3){
				margin-top: 20px;
				.c-plan__header{
					height: 130px;
				}
			}
			&:nth-of-type(4){
				margin-top: 30px;
				.c-plan__header{
					height: 120px;
				}
			}
			&:nth-of-type(5){
				margin-top: 40px;
				.c-plan__header{
					height: 110px;
				}
			}
			&:nth-of-type(6){
				margin-top: 50px;
				.c-plan__header{
					height: 100px;
					h3{
						margin-bottom: 5px;
					}
				}
			}
			&:nth-of-type(7){
				margin-top: 60px;
				.c-plan__header{
					height: 90px;
					h3{
						margin-bottom: 10px;
					}
				}
			}
			&:nth-of-type(8){
				margin-top: 70px;
				.c-plan__header{
					height: 80px;
					h3{
						margin-bottom: 15px;
					}
				}
			}
			&:nth-of-type(9){
				margin-top: 80px;
				.c-plan__header{
					height: 70px;
					h3{
						margin-bottom: 20px;
					}
				}
			}
			&:nth-of-type(10){
				margin-top: 90px;
				.c-plan__header{
					height: 60px;
					h3{
						margin-bottom: 25px;
					}
				}
			}
			&:nth-of-type(n+11){
				display: none;
			}
		}
	}
}

.c-plan__header{
	padding: 20px 15px;
	display: flex;
	position: relative;
	flex-wrap: wrap;
	//transition: background .3s $easeOutQuart;
	@media #{$large-and-up}{
		padding: 0;
		//background: #0098D9;
		color: #fff;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		height: 150px;
		align-content: center;
	}
}

.c-plan__caret {
	position: absolute;
	right: 15px;
	bottom: 7px;
	line-height: 1;
	@media #{$large-and-up}{
		display: none;
	}
	span {
		display: block;
	}
}

.c-plan__detail-container{
	order:1;
	min-width: 50%;
	@media #{$large-and-up}{
		order:2;
		flex-grow: 1;
		width: 100%;
	}
}

.c-plan__detail{
	font-weight: 300;
	font-size: 56px;
	letter-spacing: -2px;
	line-height: 45px;
	margin: 0;
	min-width: 50%;

	.header-price{
		color: #50535A;
	} 
	.header-old-price{
		font-size: 17px;
		text-decoration: line-through;
		color: #cbcbcb;
		font-weight: normal;
		float: left;
		padding-right: 5px;
		letter-spacing: 0px;
	}
	.header-text{
	    letter-spacing: 0;
	    font-size: 17px;
	    color: #cbcbcb;
	    font-weight: normal;
	}

	@media #{$large-and-up}{
		text-align: center;
		.header-price{
			color: $white;
		}
		.header-old-price{
			font-size: 35px;
			float: none;
			color: $white;
		}
		.header-text{
		    font-size: 18px;
		    color: $white;
		    line-height: 20px;
		}
	}

}

.c-plan__detail-text {
	position: relative;
	top: 5px;
	@media #{$large-and-up}{
		display: none;
	}
}

.c-plan__featured-container {
	order:2;
	flex-grow: 1;
	width: 100%;
	@media #{$large-and-up}{
		order:1;
		height: 20px;
		text-align: center;
		margin-top: -10px;
		margin-bottom: 10px;
	}
}
.c-plan-rrss__icon {
	padding: 5px 4px 5px 0;
	display: inline-block;
	font-size: 19px;

	@media #{$large-and-up}{
		font-size: 25px;
	}
}
.c-plan__featured{
	//background: #55AF07;
	border-radius: 2px;
	padding: 2px 5px;
	margin-top: 12px;
	font-size: 13px;
	color: #FFFFFF;
	line-height: 17px;
	display: inline-block;
	@media #{$large-and-up}{
		background: transparent;
		display: inline;
		text-transform: uppercase;
		letter-spacing: 0;
	}
}

.c-plan__price-container{
	//color: #55AF07;
	margin-left: auto;
	order:1;
	text-align: right;

	@media #{$large-and-up}{
		display: none;
	}
}

.c-plan__old-price-mobile {
	color: #cbcbcb;
	font-size: 26px;
	text-decoration: line-through;
	@media #{$large-and-up}{
		display: none;
	}
}
.c-plan__old-price-desktop {
	display: none;
	color: #cbcbcb;
	font-size: 17px;
	text-decoration: line-through;
	margin: 0px 0 -25px;

	@media #{$large-and-up}{
		display: block;
	}
}
.c-plan__price {
	font-size: 26px;
}

.c-plan__price-text{
	font-size: 13px;
	line-height: 17px;
}

.pricing-accordion--isOpen {
	.c-plan__detail-container{
		min-width: 50%;
	}
	.c-plan__detail {
		font-size: 26px;
		line-height: 24px;
		letter-spacing: 0;
 
		.header-old-price{
			font-size: 15px;
			text-decoration: line-through;
			color: #cbcbcb;
			font-weight: normal;
			float: left;
			padding-right: 5px;
			@media #{$large-and-up}{
				color: $white;
				padding-right: 0;
				font-size: 35px;
				float: none;
			}	
		}
		.header-text{
		    letter-spacing: 0;
		    font-size: 15px;
		    color: #cbcbcb;
		    font-weight: normal;
	   		@media #{$large-and-up}{
				color: $white;
				font-size: 20px;
		    } 
		}

		@media #{$large-and-up}{
			font-size: 56px;
			letter-spacing: -5px;
			line-height: 45px;
		}
	}

	.c-plan__detail-text,
	.c-plan__price-text {
		display: none;
	}

	.c-plan--isActive {
		.c-plan__detail {
			font-size: 56px;
			letter-spacing: -5px;
			line-height: 45px;


			.header-old-price{
				font-size: 15px;
				text-decoration: line-through;
				color: #cbcbcb;
				font-weight: normal;
				float: left;
				padding-right: 5px;
				letter-spacing: 0;
				@media #{$large-and-up}{
					color: $white;
					padding-right: 0;
					font-size: 35px;
    				float: none;
				}	
			}
			.header-text{
			    letter-spacing: 0;
			    font-size: 15px;
			    color: #cbcbcb;
			    font-weight: normal;
			    @media #{$large-and-up}{
					color: $white;
					font-size: 20px;
			    }	
			}
		}

			.c-plan__detail-text,
			.c-plan__price-text {
				display: block;
				@media #{$large-and-up}{
					display: none;
				}
			}

	}
}

.c-plan--isActive{
	.c-plan__header {
		background: #F4F4F3;

		@media #{$large-and-up}{
			background: #0098D9;
		}
	}

	.c-plan__caret {
		transform:rotate(180deg);
		bottom: 7px;
	}

	.c-plan__body-container {
		display: block;
	}
}

.c-plan--featured{
	.c-plan__header {
		@media #{$large-and-up}{
			//background: #53bf02;
		}
	}

	.c-plan__get{
		//background: #53bf02;
	}
}

.c-plan__body-container {
	display: none;
	background: linear-gradient(-180deg, #F4F4F3 0%, #E9EAE8 100%);
	padding: 8px 8px 24px;

	@media #{$large-and-up}{
		display: block;
		background:#fff;
		padding: 0;
	}
}

.c-plan__body {
	background: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
	border-radius: 4px;
	padding: 24px 13px;
	text-align: center;

	@media #{$large-and-up}{
		box-shadow: none;
		padding: 15px 20px;
	}
}

.c-plan__list {
	margin: 0;
}

.c-plan__list-item {
	border-bottom: 1px solid #D8D8D8;
	padding: 15px 0;
	text-align: center;
	height: 58px;
	
	&.c-plan__featured-content{
		display: flex;
	    align-items: center;
	    justify-content: center;
		padding: 7px 0;
		position: relative;
		height: auto;
	}

	&.borderless{
		border-bottom: 0;
	}

	&:first-child {
		padding-top: 10px;
	}

	&:last-child {
		border-bottom: 0;
	}
	&.c-plan__rrss{
		display: none;
		@media #{$large-and-up}{
			display: block;
			padding: 10px 0px;
			height: 58px;
		}
	}
}

.c-plan__featured-image {
    max-width: 100%;
    height: 100%;
}

.c-plan__featured-flags {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.featured-flags__text {
    position: absolute;
    top: 0;
}

.featured-flags__item{
    height: 25px;
    width: 40px;
    display: inline-block;
    padding-right: 5px;
}

.featured-flags__item img{
	max-width: 100%;
	height: 100%;
}

.c-plan__list-item--previous-price {
	font-weight: normal;
	color: $grey-4;
	font-size: 14px;
	text-decoration: line-through;
	/*&::after {
		content: ' / mes'
	}*/
  @media #{$large-and-up}{
	font-size: 18px;
  }
}

.c-plan__list-item--price {
	display: none;
	font-weight: normal;
	font-size: 24px;
	color: #50535A;
	letter-spacing: 0;
	line-height: 33px;

	.c-plan__text{
		line-height: 33px;
	}
	/*&::after {
		content: '/ mes'
	}*/

	@media #{$large-and-up}{
		height: 78px;
		margin-top: 17px;
		vertical-align: middle;
		display: list-item;
		padding: 0;
		font-size: 21px;
		letter-spacing: -1px;
	}
	.c-plan__text {
		margin-top: 15px;
	}	
}

.c-plan__title {
	font-weight: bold;
	font-size: 16px;
	margin: 4px 0;
}

.c-plan__text {
	display: inline-block;

	@media #{$large-and-up}{
		line-height: 17px;
	}
}

.c-plan__view-detail{
	color: #0299D8;
	height: 48px;
	line-height: 48px;
	text-decoration: underline;
	width: 100%;
}

.c-plan__get{
	height: 48px;
	line-height: 48px;
	width: 100%;
	@media #{$large-and-up}{
		//background: #0098D9;
	}
}


.c-pricing {
	@media #{$large-and-up}{
		display: flex;

		.c-plan {
			flex-grow: 1;
		}
	}
}

.c-pricing-slider__title{
	font-family: Telefonica;
	font-weight: 300;
	font-size: 32px;
	color: #50535A;
	line-height: 40px;
	text-align: center;
	padding: 0 10px 32px;
	margin: 0;
	@media #{$large-and-up}{
		font-size: 40px;
		/*padding-top: 5px;
		padding-bottom: 47px;
		padding: 5px 18% 47px;*/
		padding-top: 40px;
		padding-bottom: 20px;
		width: 70%;
		max-width: 1280px;
		line-height: 60px;
		margin: 0 auto;
	}
	/*@media #{$extra-large-and-up}{
		padding: 5px 25% 47px;
	}*/
}

.c-pricing-slider .slick-track {
	margin: 0 auto;
}

.c-pricing__arrows {
	max-width: 1280px;
	margin: 0 auto;
	width: 85%;
	position: absolute;
	height: 48px;
	top: 40%;
	left: 50%;
	transform: translate(-50%,0);
	z-index: 1;
	pointer-events:none;

	.slick-arrow {
		pointer-events:auto;
	}

	.slick-prev {
		left: -66px;
	}

	.slick-next {
		right: -66px;
	}

	.slick-prev,
	.slick-next {
		&::before {
			color: #50535A;
			background: transparent;
		}
	}
}

.c-pricing__see-more {
	margin: 15px 0;
	text-align: center;

	.btn-flat {
		color: #0098D9;
	}
}

.c-plan__filter-accept {
	width: 100%;
	margin-bottom: 10px;
}

.c-plan__filter-close {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}


/* Color Variations Theme */
.movistar--green {
	.c-plan__featured{
		background: $main-green;
	}
	.c-plan__price-container{
		color: $main-green;
	}
	.c-plan__get{
		background: $main-green;
	}
	@media #{$large-and-up}{
		.c-plan--featured{
			.c-plan__header {
				background: $main-blue;
			}
			.c-plan__get{
				background: $main-blue;
			}
			.c-plan__list-item--price {
   				color: $main-blue;
			}
		}
		.c-plan__featured{
			background: $main-blue;
		}
		.c-plan__header {
			background: $main-green;
		}
		.c-plan__get{
			background: $main-green;
		}
	}
}

.movistar--blue {
	.c-plan__featured{
		background: $main-green;
	}
	.c-plan__price-container{
		color: $main-blue;
	}
	.c-plan__get{
		background: $main-blue;
	}
	@media #{$large-and-up}{
		.c-plan--featured{
			.c-plan__header {
				background: $main-green;
			}
			.c-plan__get{
				background: $main-green;
			}
			.c-plan__list-item--price {
   				color: $main-green;
			}
		}
		.c-plan__header {
			background: $main-blue;
		}
		.c-plan__get{
			background: $main-blue;
		}
	}
}
