#smartbanner {
	background: #fff;
    position: fixed!important;	
}

#smartbanner.android {
	border-top: none;
	border-color: transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background: #fff;
}

#smartbanner .sb-button{
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	border-radius: 5px;
}

#smartbanner.android .sb-button {
    padding: 15px;
    color: #fff;
    border-radius: 5px;
}

#smartbanner .sb-button span {
	font-weight: normal;
	text-transform: none;
}

#smartbanner.android .sb-button span {
	background-color: transparent;
    background-image: none;
    padding: 0;
    color: #fff;
}

#smartbanner.android .sb-info strong {
	color: #6a6a6a;
}

#smartbanner.android .sb-info {
	text-shadow: none;
	display: block;
    color: #6a6a6a;
}

#smartbanner .sb-close {
	border: none;
}

#smartbanner.android .sb-close {
	color: #fff;
	width: 14px;
    height: 14px;
    line-height: 15px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

/* Color Variations Theme */
.movistar--green {
	#smartbanner {
		.sb-button{
			background: $main-green;
		}	
	}
}	

.movistar--blue {
	#smartbanner {
		.sb-button {
			background: $main-blue;
		}	
	}
}	