.come-movistar-banner{
	max-height: 168px;
	display: block;
	position: relative;
	overflow: hidden;
}
.come-movistar-banner-container{
	position: absolute;
	padding-left: 16px;
	width: 100%;
	bottom: 37px;
	z-index: 2;
}
.come-movistar-banner__title{
	font-family: Telefonica;
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 0.6px;
	line-height: 24px;
	display: block;
	text-transform: uppercase;
	padding-bottom: 3px;
	margin: 0;
}
.come-movistar-banner__subtitle{
	font-family: Telefonica;
	font-weight: 300;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 24px;
	display: block;
	margin: 0;
}
.come-movistar-banner__icon{
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 0.04px;
	line-height: 24px;
	position: absolute;
	right: 16px;
}
.come-movistar-banner__overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.16) 50%, rgba(0,0,0,0.2) 100%);
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.16) 50%,rgba(0,0,0,0.2) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.16) 50%,rgba(0,0,0,0.2) 100%);
	z-index: 1;
	top: 0;
	left: 0;
}
.come-movistar-banner__img{
	max-width: 100%;
	z-index: 0;
}


@media #{$large-and-up}{

	.come-movistar-banner-wrapper{
		height: 100%;
	}
	.come-movistar-banner{
		max-height: 100%;
		height: 100%;
		position: relative;
	}
	.come-movistar-banner-container{
		position: relative;
		bottom: auto;
		height: 100%;
		min-height: 450px;
		padding: 30px;
	}
	.come-movistar-banner__title{
		font-size: 20px;
		letter-spacing: 1px;
		padding-bottom: 9px;
	}
	.come-movistar-banner__subtitle{
		font-size: 40px;
		letter-spacing: 0;
		line-height: normal;
		margin-top: 10px;
	}
	.come-movistar-banner__icon{
		font-size: 40px;
		color: #FFFFFF;
		line-height: normal;
		bottom: 30px;
	}
	.come-movistar-banner__img{
		background: #727272;
		min-width: 100%;
		min-height: 100%;
		max-width: none;
		position: absolute;
		left: 0px;
		top: 0;
	}

}

//VARIANT

.layout_col_1 {
	@media #{$large-and-up}{
		.come-movistar-banner-container {
			width: 85%;
			max-width: 1280px;
			margin: 0 auto;
			padding: 60px 0;
		}

		.come-movistar-banner__icon {
			bottom: 60px;
		}
	}
}