.contact-us{
	padding: 15px;

	@media #{$large-and-up}{
		height: 100%;
		padding: 16% 8% 18%;
	}

	@media #{$extra-large-and-up}{
		padding: 50px 80px;
	}
}

.contact-us__title {
	font-weight: 300;
	font-size: 30px;
	color: #50535A;
	line-height: 40px;
	text-align: center;
	margin: 0 0 25px;

	a{
		color: #50535A;
	}
	strong {
		font-weight: bold;
		white-space: nowrap;
	}

	@media #{$large-and-up}{
		font-size: 40px;
		line-height: 48px;
		text-align: left;
		max-width: 470px;
	}
}
.contact-us__title--desktop {
	display: none;

	@media #{$medium-and-up}{
		display: block;
	}
}
.contact-us__title--mobile {
	@media #{$medium-and-up}{
		display: none;
	}
}

.contact-us__desktop-text{
	display: none;
	@media #{$large-and-up}{
		display: inline;
	}
}

.contact-us__social-list{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	@media #{$large-and-up}{
		justify-content: flex-start;
	}
}

.contact-us__social-item{

}

.contact-us__social-link{
	display: inline-block;
	padding: 0 5px;
	img{
		width: 48px;
		height: auto;
		@media #{$large-and-up}{
			width: 64px;
		}
	}


}


.contact-us__button-container{
	padding-top: 10px;
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

.contact-us__call{
	height: 48px;
	line-height: 48px;
	width: 100%;

	.icon-phone{
		font-size: 22px;
		margin-right: 5px;
	}

	@media #{$large-and-up}{
		display: none;
	}
}

.contact-us__chat{
	height: 48px;
	line-height: 48px;
	width: 100%;
	margin-top:8px;
	//color: #86888C;
	color: #fff;
	border-radius: 4px;
	text-align: center;

	.icon-question_answer{
		font-size: 22px;
		margin-right: 5px;

		@media #{$large-and-up}{
			margin-right: 15px;
		}
	}

	@media #{$large-and-up}{
		color: #fff;
		width: 290px;
		font-weight: 300;

		@media #{$extra-large-and-up}{
			font-size: 17px;
			width: 45%;
		}
	}
}

.contact-us__places-container{
	padding-top: 10px;
	border-top: 1px solid #D8D8D8;
	margin-left: -15px;
	margin-right: -15px;

	@media #{$large-and-up}{
		/* float: left;
		width: 60%; */
		width: 340px;
		border-top: 0;
		/* margin: 8px 0 0;
		padding: 0; */
	}
	@media #{$extra-large-and-up}{
		float: right;
		width: 55%;
	}
}

.contact-us__places{
	color: #0299D8;
	width: 100%;
	text-align: center;

	@media #{$large-and-up}{
		height: 48px;
		line-height: 48px;
		padding: 0 10px;
	}

	@media #{$extra-large-and-up}{
		font-size: 17px;
	}
}



//VARIANT

.layout_col_1 {

	.contact-us {
		@media #{$large-and-up}{
			background-image: url(../images/contacta-bg.png);
			background-repeat: no-repeat;
			background-position: 330% bottom;
			background-size: contain;
		}

		@media #{$extra-large-and-up}{
			background-position: right bottom;
		}
	}

	.contact-us__places-container,
	.contact-us__chat {
		 @media #{$large-and-up}{
			float: left;
		}
	}
}

/* Color Variations Theme */
.movistar--green {
	.contact-us__chat {
		//@media #{$large-and-up}{
			background: $main-green;
		//}
	}
	.contact-us__call {
		background: $main-green;
	}
}

.movistar--blue {
	.contact-us__chat {
		@media #{$large-and-up}{
			background: $main-blue;
		}
	}
	.contact-us__call {
		background: $main-blue;
	}
}

