.customization-banner-wrapper{
	height: 100%;
	overflow: hidden;
}
.customization-banner{
	display: table;
	min-height: 168px;
	width: 100%;
	height: 100%;
	padding: 35px 16px;
	background: #ffffff;
	position: relative;
	overflow: hidden;
}
.customization-banner-container{
	position: relative;
	display: table-cell;
	vertical-align: middle;
	z-index: 2;
}
.customization-banner__title{
	font-family: Telefonica;
	font-weight: bold;
	font-size: 13px;
	color: #50535A;
	letter-spacing: 0.5px;
	line-height: 24px;
	text-transform: uppercase;
	padding-bottom: 3px;
	display: block;
	margin: 0;
}
.customization-banner__text{
	font-family: Telefonica;
	font-weight: 300;
	font-size: 24px;
	color: #50535A;
	letter-spacing: 0;
	line-height: 24px;
	display: block;
	padding-right: 130px;
	position: relative;
	margin: 0;
}
.customization-banner__icon{
	font-size: 24px;
	color: #ffffff;
	letter-spacing: 0.04px;
	line-height: 24px;
	position: absolute;
	bottom: 0;
	right: 0;

}
.customization-banner__star{
	position: absolute;
	right: 27px;
	top: -70px;
	width: 140px;
	z-index: 1;
}
.customization-banner__heart{
	position: absolute;
	bottom: -40px;
	right: -23px;
	width: 120px;
	z-index: 1;
}


@media #{$large-and-up}{

	.customization-banner{
		//display: block;
		min-height: 440px;
		padding: 32px 16px 43px;
	}
	.customization-banner-container{
		display: block;
		height: 100%;
	}
	.customization-banner__title{
		font-size: 14px;
		color: #EB6A3C;
		letter-spacing: 0.7px;
	}
	.customization-banner__text{
		font-size: 40px;
		letter-spacing: -0.3px;
		line-height: 50px;
		padding: 30px 150px 140px 0;

	}
	.customization-banner__info{
		font-family: Telefonica;
		font-weight: normal;
		font-size: 18px;
		color: #86888C;
		letter-spacing: 0;
		line-height: 24px;
		padding-right: 172px;
		display: block;
	}
	.customization-banner__star{
		width: 205px;
		top: -105px;
	}
	.customization-banner__heart{
		width: 310px;
		right: -130px;
		bottom: -150px;
	}

}

@media #{$extra-large-and-up}{

	.customization-banner__text{
	    padding: 0;
		max-width: 250px;
	}
	.customization-banner__info{
		padding-right: 300px;
		position: absolute;
		bottom: 0;
		left: 0;

	}
	.customization-banner__star{
		width: 270px;
		top: -135px;
	}
	.customization-banner__heart{
		width: 410px;
		right: -160px;
		bottom: -260px;
	}

}


//VARIANT

.layout_col_1 {

	@media #{$large-and-up}{
		.customization-banner-container {
				width: 85%;
				max-width: 1280px;
				margin: 0 auto;
				height: 100%;
		}

		.customization-banner__text {
				max-width: 470px;
		}

		.customization-banner__star {
			left: 50%;
		}
	}
}
