.device-showcase {

}



&.scrolling--down {
	.device-showcase__filter-text {
		max-width: 0;
		@media #{$large-and-up} {
			max-width: 100%;
		}
	}

	.device-showcase__filters {
		/*max-width: 140px;*/
		@media #{$large-and-up} {
			max-width: 100%;
		}
	}
}

.device-showcase__filters {
	text-align: center;
	position: fixed;
	max-width: 100%;
	width: 100%;
	bottom: 20px;
	right: 0;
	padding: 0 15px;
	transition: .2s ease-out;
	z-index: 2;

	@media #{$large-and-up} {
		position: relative;
		right: auto;
		bottom: auto;
		margin-bottom: 30px;
	}
}



.device-showcase__filter-button {
	text-decoration: none;
	color: #fff;
	background-color: #0098d8;
	text-align: center;
	letter-spacing: .5px;
	padding: 0 1rem;
	transition: .2s ease-out;
	cursor: pointer;
	border: none;
	border-radius: 20px;
	display: inline-block;
	height: 36px;
	line-height: 30px;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	margin-left: 15px;

	&:first-child {
		margin-left: 0;
	}
}

.device-showcase__filter-icon {
	font-size: 18px;
	vertical-align: middle;
}

.device-showcase__filter-text {
	vertical-align: middle;
	max-width: 80px;
	display: inline-block;
	overflow: hidden;
	transition: .2s ease-out;
}


$gridGutter: 7px;

.device-showcase__grid {
	@media #{$large-and-up}{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -$gridGutter;
	}
}

.device-showcase__item {

	@media #{$large-and-up}{
		width: 50%;
		padding: $gridGutter;
	}

	@media #{$extra-large-and-up}{
		width: 33%;
	}
}


.device-showcase__item-inner {
	border-bottom: solid 1px #D8D8D8;
	display: flex;
	padding:25px 25px 40px;
	background-color:#fff;
	@media #{$large-and-up}{
		height: 100%;
	}
}

.device-showcase-item__device {
	flex-basis: 90px;
	flex-grow: 0;
	flex-shrink: 0;
}

.device-showcase-item__image {
	max-width: 100%;
	height: auto;
}

.device-showcase-item__device-info {
	flex-grow: 1;
	padding-left: 25px;
}

.device-showcase-item__featured {
	//background: #53bf02;
	border-radius: 2px;
	padding: 0 5px;
	font-size: 14px;
	color: #fff;
	display: inline-block;
}

.device-showcase-item__name {
	font-size: 24px;
	font-weight: 300;
	color:#50535A;
	margin: 10px 0 0 0;
}

.device-showcase-item__price-text {
	color: #53bf02;
	font-size: 16px;
}

.device-showcase-item__price {
	font-size: 24px;
	font-weight: 300;
	color: #53bf02;
}


/* Color Variations Theme */
.movistar--green {
	.device-showcase-item__featured {
		background-color: $main-green;
	}
}

.movistar--blue {
	.device-showcase-item__featured {
		background-color: $main-blue;
	}
}

