//**************************** FICHA EQUIPO
//***************** Paso 1
.device-step-1{
	overflow: hidden;
	border-bottom: 1px solid #dcdcdc;
	@media #{$medium-and-up}{
		border-bottom: 0;
	}
}
.device-step-2{
	@media #{$medium-and-up}{
		display: none;
	}
}
.device-title-block{
	float: left;
	width: 100%;
	@media #{$medium-and-up}{
		width: 50%;
		float: right;
	}
}
.device-name-title {
	font-size: 30px;
	font-weight: 300;
	color: #50535A;
	margin: 10px 0;
	text-align: center;
	@media #{$medium-and-up}{
		text-align: left;
		font-size: 35px;
	}
	@media #{$large-and-up}{
		font-size: 50px;
	}
}
.device-chosen-data{
	display: none;
	float: left;
	font-size: 16px;
	width: auto;
	color: #9c9c9c;
}
#color-pref{
	padding-left: 10px;
}
#gb-pref{
	padding: 0 25px 0 5px;
}
.device-price-subtitle{
	color: #53bf02;
	font-size: 16px;
	text-align: center;

	@media #{$medium-and-up}{
		text-align: left;
		font-weight: 300;
		font-size: 25px;
	}
	@media #{$large-and-up}{
		font-size: 30px;
	}
	.big-price{
		font-size: 25px;
		font-weight: 300;

		@media #{$medium-and-up}{
			font-size: 30px;
		}
		@media #{$large-and-up}{
			font-size: 35px;
		}
	}
}
.device-multimedia-wrapper{
	width: 100%;
	height: 400px;
	@media #{$medium-and-up}{
		width: 45%;
		margin-left: 5%;
		float: left;
	}
}
.category-tabs-container .tabs--pills{
	height: auto;
	@media #{$large-and-up}{
		height: 41px;
	}
}
.category-tabs-container .category-tabs.tabs{
	justify-content: flex-start;
	margin: 10px -10.5px;
	@media (min-width: 530px){
		justify-content: center;
	}
}
.category-tabs-container .tabs--pills a{
	min-width: 160px;
}
.category-tabs-container.view-btn-block{
	float: left;
	width: 17%;
	padding: 10px;
	height: 200px;
	margin-top: 75px;

	.tabs{
		display: block;
		margin: 10px;
		overflow: visible;

		li{
			display: block;
			clear: left;
			width: 45px;
			height: 45px;
			margin-bottom: 10px;
			color: grey;

			a{
				color: grey;
				padding: 10px 0;
				font-size: 24px;

				&.active{
					color: grey;
					background: #ebebeb;
					border-radius: 5px;
				}
			}
		}
		.indicator{
			display: none;
		}
	}
}

.device-tab-panel{
	float: left;
	height: 400px;
	overflow: hidden;
	width: 77%;

	.slick-track{
		height: 350px;
		padding: 25px 0 15px;
	}
	.image-block{
		width: 100%;
	}
	img{
		height: 100%;
	}
}
.device-goToNextStep{
	display: none;
	width: 50%;
	float: right;
	padding: 20px 0;

	@media #{$medium-and-up}{
		display: block;
	}
	.btn{
		width: 120px;
	}
}
.device-preferences{
	float: right;
	width: 50%;
	display: none;
}
.color-choose-wrapper{
	width: 100%;
	float: left;
	text-align: center;
	padding: 10px;
	@media #{$medium-and-up}{
		width: 50%;
		text-align: left;
		padding: 10px 0;
	}
}
.color-choice {
	display: inline-block;
	border-radius: 30px;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	transition-duration: .2s;
	cursor: pointer;
	text-indent: -999px;
	overflow: hidden;

	@media #{$medium-and-up}{
		margin-right: 10px;
		margin-left: 0;
	}
}
.color-choice--active {
	width: 65px;
}
.color-choice--Negro {
	background-color: #000;
}
.color-choice--Plata {
	background-color: #d4d1d0;
}
.color-choice--Oro {
	background-color: #fae3c4;
}
.color-choice--Rosa {
	background-color: #fdd6cb;
}

.gb-choose-wrapper{
	width: 100%;
	float: left;
	text-align: center;
	margin: auto;
	padding: 10px;

	@media #{$medium-and-up}{
		width: 50%;
		text-align: left;
		padding: 10px 0;
	}
}
.gb-choice{
	text-align: center;
	display: inline-block;
	border-radius: 40px;
	width: 100px;
	max-width: 33%;
	height: 40px;
	padding: 8px 15px;
	font-size: 17px;
	transition-duration: .2s;
	cursor: pointer;
}
.gb-choice--active{
		background-color: #0099D6;
		color: #fff;
}

//***************** Paso 2

.device-plan-wrapper {
	width: 100%;
	float: left;

	label{
		color: #666;
	}
}
.devices-plan__input-container {
	display: flex;
	flex-flow: row wrap;
}
.plan-item{
	float: left;
	width: 100%;

	@media #{$medium-and-up}{
		width: 21%;
		margin: 10px 2%;
		display: flex;
	}
}
.plan-title{
	width: 100%;
	font-size: 28px;
	text-align: center;
	padding: 20px 15px;

	@media #{$medium-and-up}{
		  display: none;
	  }
}
.plan-option{
	width: 100%;
	border-bottom: 1px solid #dcdcdc;
	padding: 20px 10px;

	@media #{$medium-and-up}{
		padding: 10px;
	}
}
.plan-option__title {
	font-size: 48px;
	line-height: 45px;
	letter-spacing: -3px;
	@media #{$medium-and-up}{
		font-weight: 300;
		font-size: 42px;
	}
}
.plan-option__subtitle{
	font-size: 16px;
	padding-left: 5px;
	min-height: 15px;
	display: block;

	@media #{$medium-and-up}{
		  font-size: 14px;
	  }
}
.device-radio[type="radio"] + label.plan-nodesktop{
	@media #{$medium-and-up}{
		display: none;
	}
}
.device-cancel-button{
	display: none;
	width: 100%;
	float: left;
	padding: 100px 15px 0;

	.btn{
		font-size: 16px;
		color: #9a9a9a;
		background: none;
		padding: 0;
		box-shadow: none;
	}
	@media #{$medium-and-up}{
		display: block;
	}
}
.plan-or-free-radios{
	display: none;
	@media #{$medium-and-up}{
		display: block;
	}
}

// *********** DEVICES Radios **************

// Remove default Radio Buttons
.device-radio[type="radio"]:not(:checked),
.device-radio[type="radio"]:checked {
	position: absolute;
	left: -9999px;
	opacity: 0;
}

.device-radio[type="radio"]:not(:checked) + label,
.device-radio[type="radio"]:checked + label {
	position: relative;

	cursor: pointer;
	display: inline-block;
	width: 100%;
	transition: .28s ease;

	-khtml-user-select: none;
	user-select: none;

	@media #{$medium-and-up}{
		float: left;
		width: 100%;
		border: 2px solid $grey-1;
	}
}
.device-radio[type="radio"]:not(:checked) + label.plan-nodesktop,
.device-radio[type="radio"]:checked + label.plan-nodesktop {
	@media #{$medium-and-up}{
		display: none;
	}
}

.device-radio[type="radio"] + label:before,
.device-radio[type="radio"] + label:after {
	content: '';
	position: absolute;
	right: 20px;
	top: 40%;
	width: 20px;
	height: 20px;
	z-index: 0;
	transition: .28s ease;
	@media #{$medium-and-up}{
		opacity: 0;

	}
}
.device-radio.plan-mode[type="radio"]:not(:checked) + label,
.device-radio.plan-mode[type="radio"]:checked + label {
	@media #{$medium-and-up}{
		width: auto;
		float: left;
		margin: 0;
		border: 0;
		padding-right: 60px;
		margin-right: 20px;

		.plan-option__title{
			font-size: 18px;
			letter-spacing: 0;
			padding: 0 5px;
		}
	}
}
.device-radio.plan-mode[type="radio"] + label:before,
.device-radio.plan-mode[type="radio"] + label:after {
	content: '';
	position: absolute;
	right: 20px;
	top: 40%;
	width: 20px;
	height: 20px;
	z-index: 0;
	transition: .28s ease;

	@media #{$medium-and-up}{
		opacity: 1;
		width: 17px;
		height: 17px;
	}
}

// Unchecked styles
.device-radio[type="radio"]:not(:checked) + label:before,
.device-radio[type="radio"]:not(:checked) + label:after,
.device-radio[type="radio"]:checked + label:before,
.device-radio[type="radio"]:checked + label:after{
	border-radius: 50%;
}

.device-radio[type="radio"]:not(:checked) + label:before,
.device-radio[type="radio"]:not(:checked) + label:after {
	border: 2px solid $grey-3;


}

.device-radio[type="radio"]:not(:checked) + label:after {
	transform: scale(0);
}

// Checked styles
.device-radio[type="radio"]:checked + label{
	background-color: $grey-0;
	@media #{$medium-and-up}{
		background-color: transparent;
		border: 2px solid #7ed3f9;
	}
}

.device-radio[type="radio"]:checked + label:before {
	border: 2px solid $grey-5;
	@media #{$medium-and-up}{
		border: 2px solid #039be5;
	}
}

.device-radio[type="radio"]:checked + label:after {
	border: 2px solid $grey-5;
	background-color: $grey-5;
	transform: scale(.5);
	@media #{$medium-and-up}{
		border: 2px solid #039be5;
		background-color: #039be5;

	}
}

// Focused styles
.device-radio[type="radio"].tabbed:focus + label:before {
	box-shadow: 0 0 0 10px rgba(0,0,0,.1);
}

// Disabled style
.device-radio[type="radio"]:disabled:not(:checked) + label:before,
.device-radio[type="radio"]:disabled:checked + label:before {
	background-color: transparent;
	border-color: $grey-3;
}

.device-radio[type="radio"]:disabled + label {
	color: $grey-3;
}

.device-radio[type="radio"]:disabled:not(:checked) + label:before {
	border-color: $grey-3;
}

.device-radio[type="radio"]:disabled:checked + label:after {
	background-color: $grey-3;
	border-color: $grey-3;
}

//********************************************** Control Paso 2

.device-toggler-container{
	&.next-step{
		@media #{$medium-and-up}{
			.device-step-1{
				width: 100%;
				border-bottom: 1px solid #ececec;

				@media #{$medium-only}{
					padding: 5px 0;
				}
			}
			.device-step-2{
				display: block;
			}
			.device-title-block{
				float: left;
				width: auto;
				margin: 0 15px;
			}
			.device-name-title {
				margin: 4px 0;
				color: #666;
				font-size: 16px;
				font-weight: bold;
			}
			.chosen-data{
				display: block;
			}
			.device-price-subtitle{
				display: none;
			}
			.device-multimedia-wrapper{
				display: none;
			}
			.device-chosen-data{
				display: block;
			}
			.device-goToNextStep {
				display: none;
			}
			.color-choose-wrapper{
				width: auto;
				padding: 0;
				float: left;
				margin: -2px 15px;
			}
			.color-choice{
				display: none;
			}
			.color-choice--active{
				display: inline-block;
			}
			.gb-choose-wrapper{
				padding: 0;
				width: auto;
				float: left;
				margin: -2px 0 0 15px;
			}
			.gb-choice{
				font-size: 16px;
				height: 30px;
				width: 80px;
				padding: 3px 15px;
			}
		}
	}
}



/* Color Variations Theme */
.movistar--green {
	.device-goToNextStep .btn {
		background-color: $main-green;
	}
}

.movistar--blue {
	.device-goToNextStep .btn {
		background-color: $main-blue;
	}
}
