.container-full-devices{
	width: 100%;
	margin: 0;
}
.container-full-devices .col{
	@media #{$large-and-up}{
		padding: 0;
	}
}
.device-detail__title-device{
	display: none;
	@media #{$extra-large-and-up}{
		display: block;
		font-family: Telefonica;
		font-weight: bold;
		font-size: 16px;
		color: #86888C;
		flex: 1;
		text-align: left;
	}
}
.device-detail-tabs{
	@media #{$large-and-up}{
		text-align: right;
		border-bottom: 1px solid #ddd;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 0 5%;
	}
}
.device-details-container__tabs{
	display: inline-flex;
	.tab{
		float: left;
	}
}
.tab__title{
	font-family: Telefonica;
	font-weight: normal;
	font-size: 16px;
	color: #86888C;
	line-height: 40px;
	padding-right: 25px;
	@media #{$extra-large-and-up}{
		padding-right: 35px;
	}
}
.tab.active .tab__title{
	font-weight: bold;
}
.device-details__button {
	width: 90%;
	margin: 5%;
	@media #{$large-and-up}{
		width: auto;
		margin: 0;
		padding: 0 25px;
	}
}
.device-detail-collapse{
	@media #{$large-and-up}{
		display: block;
		padding: 0 5%;
	}
}
.device-details-container__collapsible{
	margin: 0;
	border: none;
	box-shadow: none;
}
.device-details-item{
	.collapsible-body {
		display: none;
	}
	&.active {
		.collapsible-body {
			display: block;
			width: 100%;
			@media #{$large-and-up}{
				padding: 30px 0;
			}
		}
	}
}
.device-details-item .collapsible-header{
	margin: 0 -10px;
	@media #{$large-and-up}{
		display: none;
	}
}
.device-details-item .collapsible-body{
	padding: 0px 10px 30px;
	@media #{$large-and-up}{
		border-bottom: none;
	}
}
.device-details-header__title {
	position: relative;
	font-family: Telefonica;
	font-weight: normal;
	font-size: 18px;
	color: #86888C;
	letter-spacing: 0.2px;
	line-height: 3rem;
	padding: 8px 0px;
}
.device-details-header__icon {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
	padding-top: 5px;
	color: #0098D9;
}
.active .device-details-header__icon {
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	top: 25%;
}
.device-details-characteristics{
	@media #{$large-and-up}{
		display: flow-root;
		padding-bottom: 35px;
	}
}
.device-details-characteristics:nth-child(even){
	@media #{$large-and-up}{
		.device-details-body-container-text{
			float: right;
			padding-right: 0;
			padding-left: 40px;
		}
		.device-details-body-container-img{
			float: right;

			.device-details-body__img{
				background-position-x: left;
			}
		}
	}
}

.device-details-body-container-text{
	@media #{$large-and-up}{
		width: 35%;
		padding-right: 40px;
		float: left;
	}
}
.device-details-body__title{
	font-family: Telefonica;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
	padding-top: 30px;
	@media #{$large-and-up}{
		font-weight: 300;
		font-size: 65px;
		line-height: 80px;
	}
}
.device-details-body__text{
	font-family: Telefonica;
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
	padding-bottom: 10px;
	@media #{$large-and-up}{
		font-weight: 300;
		font-size: 24px;
		line-height: 33px;
	}
}
.device-details-body__img{
	-ms-display: flex;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 160px;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: right;

	@media #{$medium-and-up}{
		background-position-y: bottom;
	}
	@media #{$large-and-up}{
		min-height: 300px;
		background-color: transparent;
	}
	@media #{$extra-large-and-up}{
		min-height: 400px;
	}
}
.device-details-body-container{
	color: #50535A;
}
.device-details-body-container-img{
	@media #{$large-and-up}{
		width: 65%;
		float: left;
	}
}
.device-details-specifications-header{
	padding-top: 20px;
	color: #50535A;
	border-bottom: 1px solid #cdd1da;
	@media #{$large-and-up}{
		display: flex;
		justify-content: space-between;
		padding: 20px 0;
	}
}
.device-details-specifications-header__title{
	font-family: 'Telefonica';
	font-weight: bold;
	font-size: 16px;
	display: block;
	position: relative;
	padding-left: 35px;
	padding-bottom: 20px;
	@media #{$large-and-up}{
		font-size: 18px;
	}
}
.device-details-specifications-header__icon{
	position: absolute;
	font-size: 25px;
	left: 0;
	top: 0;
	color: #50535A;
	@media #{$large-and-up}{
		font-size: 28px;
	}
}
.device-details-specifications {
	padding: 24px 0;
	border-bottom: 1px solid #cdd1da;
	&:last-child{
		border-bottom: none;
	}
}
.device-details-specifications__title{
	font-family: 'Telefonica';
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 12px;
	display: block;
	@media #{$large-and-up}{
		font-size: 18px;
	}
}
.device-details-specifications__item{
	font-family: 'Telefonica';
	font-weight: normal;
	font-size: 16px;
	position: relative;
	padding-left: 20px;
	@media #{$large-and-up}{
		font-weight: 300;
		font-size: 18px;
	}
}
.device-details-specifications__icon {
	position: absolute;
	color: #50535A;
	font-size: 8px;
	left: 0;
	top: 8px;
}
.device-details-contentBox, .device-details-terms {
	margin-left: -5px;
}
.device-details-contentBox__item, .device-details-terms__item {
	position: relative;
	padding: 15px 0 15px 25px;
	font-family: 'Telefonica';
	font-weight: normal;
	font-size: 16px;
	@media #{$large-and-up}{
		font-weight: 300;
		font-size: 18px;
	}
}
.device-details-contentBox__item{
	@media #{$large-and-up}{
		display: inline-block;
		width: 49%;
	}
}
.device-details-contentBox__icon {
	position: absolute;
	color: #1697D8;
	font-size: 22px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.device-details-terms__item {
	@media #{$large-and-up}{
		display: block;
		width: 100%;
	}
}
.device-details-terms__icon {
	position: absolute;
	color: #1697D8;
	font-size: 15px;
	left: 0;
	top: 20px;
}





.device-details-specifications-header__title{
	font-family: 'Telefonica';
	font-weight: bold;
	font-size: 16px;
	display: block;
	position: relative;
	padding-left: 35px;
	padding-bottom: 20px;
	@media #{$large-and-up}{
		font-size: 18px;
	}
}
.device-details-specifications-header__icon{
	position: absolute;
	font-size: 25px;
	left: 0;
	top: 0;
	color: #50535A;
	@media #{$large-and-up}{
		font-size: 28px;
	}
}
.device-details-legal {
	padding: 24px 0;
	border-bottom: 1px solid #cdd1da;
	&:last-child{
		border-bottom: none;
	}
}
.device-details-legal__title{
	font-family: 'Telefonica';
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 12px;
	display: block;
	@media #{$large-and-up}{
		font-size: 18px;
	}
}
.device-details-legal__item{
	font-family: 'Telefonica';
	font-weight: normal;
	font-size: 16px;
	position: relative;
	padding-left: 20px;
	@media #{$large-and-up}{
		font-weight: 300;
		font-size: 18px;
	}
}
.device-details-legal__icon {
	position: absolute;
	color: #50535A;
	font-size: 8px;
	left: 0;
	top: 8px;
}


/* Color Variations Theme */
.movistar--green {
	.device-details__button {
		background-color: $main-green;
	}
}

.movistar--blue {
	.device-details__button {
		background-color: $main-blue;
	}
}

