.entertainment-grid-wrapper{
	padding: 0 8px;
}
.entertainment-grid__search-container{
	padding: 30px 0 0 0;

	@media #{$medium-and-up}{
		padding: 30px 0 10px 0;
	}
	@media #{$large-and-up}{
		padding: 30px 0 30px 0;
	}
}
.entertainment-grid-block {
	margin-left: -4px;
	margin-right: -4px;
	padding: 15px 0 11px;

	@media #{$large-and-up}{
		margin-left: -8px;
		margin-right: -8px;
		padding-top: 30px;
	}

	&::before,
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

.entertainment-grid-block-item {
	margin-bottom: 8px;
	padding-right: 4px;
	padding-left: 4px;

	@media #{$large-and-up}{
		width: 50%;
		float: left;
		margin-bottom: 16px;
		padding-right: 8px;
		padding-left: 8px;
	}
}

.entertainment-grid-block-item--shrink{
	width: 50%;
	float: left;

	@media #{$large-and-up}{
		width: 25%;
		float: left;
	}
}

.entertainment-grid-block-item--shrink:last-child{
	margin-right: 0;
}
.entertainment-grid{
	position: relative;
	display: block;
	width: 100%;
	height: 150px;
	overflow: hidden;
	border-radius: 5px;
	background-size: cover;
	background-repeat: no-repeat;

	@media #{$large-and-up}{
		height: 200px;
		border-top: none;
	}
}
.entertainment-grid__container{
	position: absolute;
	padding-left: 16px;
	bottom: 35px;
	width: 100%;
	z-index: 2;
	@media #{$large-and-up}{
		padding-left: 39px;
	}
}
.entertainment-grid__title{
	font-family: Telefonica;
	font-weight: bold;
	font-size: 13px;
	color: #FFFFFF;
	letter-spacing: 0.5px;
	line-height: 16px;
	text-transform: uppercase;
	display: block;
	margin: 0;
}
.entertainment-grid__subtitle{
	font-family: Telefonica;
	font-weight: 300;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 28px;
	display: block;
	margin: 0;
	margin-top: 6px;
	padding-right: 40px;

	@media #{$large-and-up}{
		line-height: 48px;
		font-size: 40px;
		margin-top: 22px;
	}
}
.entertainment-grid__icon{
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 0.05px;
	line-height: 24px;
	position: absolute;
	right: 7px;
	bottom: 2px;
	@media #{$large-and-up}{
		right: 26px;
	}

}
.entertainment-grid__overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.16) 50%, rgba(0,0,0,0.2) 100%);
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.16) 50%,rgba(0,0,0,0.2) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.16) 50%,rgba(0,0,0,0.2) 100%);
	z-index: 1;
}
