.faqs-links{
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.18px;
	margin: 0;
	@media #{$large-and-up}{
		display: flex;
		flex-wrap: wrap;
		font-size: 24px;
		letter-spacing: 0;
	}
}

.faqs-links__item{
	position: relative;
	border-bottom: 1px solid #D3D4D3;
	@media #{$large-and-up}{
    	width: 48%;
		margin-bottom: 16px;

		&:nth-child(odd) {
			margin-left: 0;
			margin-right: 1%;
		}

		&:nth-child(even) {
			margin-right: 0;
			margin-left: 1%;
		}
    }

    @media #{$extra-large-and-up}{
        &:nth-child(odd) {
			margin-right: 20px;
		}

		&:nth-child(even) {
			margin-left: 20px;
		}
    }
}

.faqs-links__index{
	font-size: 18px;
	color: #0299D8;
	line-height: 24px;
	position: absolute;
	top: 16px;
    left: 26px;
    @media #{$large-and-up}{
    	font-size: 24px;
    	top: 20px;
    	left: 23px;
    }
}

.faqs-links__link {
	display: block;
	color: #50535A;
	line-height: 24px;
    padding: 14px 48px 18px 48px;
    @media #{$large-and-up}{
    	line-height: 32px;
    }
}

.faqs-links__icon{
	font-size: 18px;
	color: #0299D8;
	position: absolute;
	top: 16px;
    right: 26px;
    @media #{$large-and-up}{
    	font-size: 24px;
    	position: relative;
    	top: 2px;
    	right: auto;
    }
}

.faqs-links__button-container{
	text-align: center;
	margin: 32px 0 36px;
}

.faqs-links__faq-button {
	font-size: 16px;
	color: #0299D8;
	letter-spacing: 0;
}
