.faqs-accordion{
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.18px;
	margin: 0;
	&.collapsible{
		box-shadow: none;
		border: 0;
	}
	@media #{$large-and-up}{
		text-align: center;
	}
}

.faqs-accordion-title{
	font-family: Telefonica;
	font-weight: 300;
	font-size: 32px;
	color: #50535A;
	line-height: 40px;
	text-align: center;
	padding: 32px 16px;
	margin: 0;
	@media #{$large-and-up}{
		font-size: 40px;
		padding-top: 5px;
		padding-bottom: 47px;
	}
}

.faqs-accordion__item{
	position: relative;
	border-bottom: 1px solid #D3D4D3;
	padding: 0 16px;
    transition: all .2s;
	@media #{$large-and-up}{
		//width: 70%;
	    margin: 0 auto;
	    padding: 0;
	    max-width: 1060px;
	}

	&.active {
		background-color: #fff;
	}

}

.faqs-accordion__index{
	display: none;
	@media #{$large-and-up}{
		display: none;
		font-size: 24px;
		top: 20px;
		left: 23px;
		color: #0299D8;
		line-height: 24px;
		position: absolute;
	}
}

.faqs-accordion__question {
	display: block;
	font-family: Telefonica;
	font-weight: normal;
	font-size: 18px;
	color: #50535A;
	letter-spacing: 0.2px;
	line-height: 24px;
	padding: 13px 48px 22px 0;
	position: relative;
	margin: 0;
	&.collapsible-header{
		background-color: transparent;
		border: none;
	}
	@media #{$large-and-up}{
		line-height: 32px;
	    padding: 26px 46px 26px 16px;
    	text-align: left;
	}

	&:hover {
		background-color: #fff;
	}
}

.faqs-accordion__answer{
	font-family: Telefonica;
	font-weight: normal;
	font-size: 16px;
	color: #50535A;
	letter-spacing: 0;
	line-height: 24px;
	&.collapsible-body{
		border: 0;
		padding: 0;
		padding-right: 32px;
		padding-bottom: 34px;
		@media #{$large-and-up}{
			padding-left: 32px;
			padding-top: 15px;
		}
	}
}

.faqs-accordion__answer--bullets {
    text-align: justify;
    padding: 15px;
}

.faqs-accordion__answer--bullets li {
    list-style-type: disc;
    padding: 5px 0;
}

.faqs-accordion__icon{
	font-size: 18px;
	color: #0299D8;
	position: absolute;
	top: 16px;
	right: 16px;
	@media #{$large-and-up}{
		font-size: 24px;
	    top: 50%;
    	transform: translate(0,-50%);
	}
}
.active .faqs-accordion__icon{
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	position: absolute;
	top: 16px;
	@media #{$large-and-up}{
		font-size: 24px;
		top: inherit;
	}
}

.faqs-accordion__button-container{
	text-align: center;
	padding: 38px 0 42px;
	@media #{$large-and-up}{
		padding: 19px 21px
	}
}

.faqs-accordion__faq-button {
	font-family: Telefonica;
	font-weight: normal;
	font-size: 16px;
	color: #0299D8;
	letter-spacing: 0;
}

/*** Incidencia hover faqs ***/

.layout_transparent{
	.faqs-accordion__question.collapsible-header{
		&:hover{
			background-color:#E9EAE8;
		}
	}
	.faqs-accordion__item{
		&.active{
			background-color:#e9eaeb;
		}
	}
}