.featured-links-container{

}
.full-col{
	padding: 0;
}
.featured-links{
	display: block;
	position: relative;
	padding: 29px 52px 18px;
	border-top: 1px solid #D3D4D3;
	border-bottom: 1px solid #D3D4D3;
}
.featured-links__title{
	font-family: Telefonica;
	font-weight: normal;
	font-size: 18px;
	color: #50535A;
	letter-spacing: 0.2px;
	line-height: 24px;
}
.featured-links__icon{
	font-size: 24px;
	color: #0299D8;
	letter-spacing: 0;
	left: 16px;
	position: absolute;
	width: 22px;
}
.featured-links__icon-next{
	font-size: 18px;
	color: #0098D9;
	letter-spacing: 0.03px;
	line-height: 24px;
	right: 16px;
	position: absolute;
}
.featured-links__text{
	font-family: Telefonica;
	font-weight: normal;
	font-size: 16px;
	color: #50535A;
	letter-spacing: 0;
	line-height: 24px;
	display: block;
}


@media #{$large-and-up}{

	.featured-links-container{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.full-col{
		padding: 0 0.75rem;
	}
	.featured-links{
		height: 100%;
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		padding-bottom: 31px;
	}
	.featured-links__title{
		font-size: 24px;
		color: #0299D8;
		line-height: 40px;
	}
	.featured-links__icon{
		display: none;
	}
	.featured-links__icon-next{
		font-size: 32px;
		letter-spacing: 0.07px;
		padding-top: 8px;
	}
	.featured-links__text{
		font-size: 20px;
		line-height: 32px;
		padding-top: 38px;
	}

}
