.featured-content__container {
	width: 100%;
	background-color: #fff;

	@media #{$large-and-up} {
		width: 85%;
		height: 504px;
		max-width: 1280px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 0 auto;
		padding-left: 0.75rem;
		padding-right: 0.75rem;
		background-color: transparent;
	}
}

.featured__featured {
	@media #{$large-and-up} {
		width: 67%;
		margin-right: auto;
		height: 100%;
	}
}

.featured__list {
	@media #{$large-and-up} {
		width:31%;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}


.featured-content-img{
	position: relative;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
}
.featured-content-img__text{
	position: absolute;
	padding: 16px 16px 18px 16px;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.featured-content-img__title{
	font-family: Telefonica;
	font-weight: 300;
	font-size: 32px;
	color: #50535A;
	letter-spacing: 0.04px;
	display: block;
	margin: 0;
}
.featured-content-img__subtitle{
	font-family: Telefonica;
	font-weight: normal;
	font-size: 16px;
	color: #50535A;
	letter-spacing: 0;
	line-height: 24px;
	display: block;
	padding-top: 6px;
	padding-right: 100px;
	margin: 0;
}
.featured-content-img__info{
	display: block;
	bottom: 18px;
	position: absolute;
	font-family: Telefonica;
	font-weight: normal;
	font-size: 16px;
	color: #0098D9;
	letter-spacing: 0.02px;
	line-height: 24px;
}
.featured-content-img__icon{
	right: 16px;
	position: absolute;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 21px;
	bottom: 18px;
}
.featured-content-img__overlay{
	width: 80%;
	height: 100%;
	position: absolute;
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 34%, rgba(255,255,255,0.61) 60%, rgba(255,255,255,0.6) 61%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 34%,rgba(255,255,255,0.61) 60%,rgba(255,255,255,0.6) 61%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 34%,rgba(255,255,255,0.61) 60%,rgba(255,255,255,0.6) 61%,rgba(255,255,255,0) 100%);
	z-index: 1;
}
.featured-content-img__image{
	max-width: 100%;
	z-index: 0;
}
.featured-content-links{
	margin: 15px 0;
	display: block;
	border-bottom: 1px solid #D3D4D3;
	padding: 0 15px 10px;
	position: relative;
}
.featured-content-links__title{
	font-family: Telefonica;
	font-weight: normal;
	font-size: 18px;
	color: #50535A;
	letter-spacing: 0;
	margin: 0;
}
.featured-content__icon{
	font-size: 18px;
	color: #023F00;
	letter-spacing: 0;
	line-height: 21px;
	color: #0299D8;
	position: absolute;
	right: 15px;
	bottom: 10px;
}


@media #{$large-and-up}{
	.featured-content-wrapper{
		padding-bottom: 40px;
	}
	.featured-content-img{
		overflow: hidden;
		border-radius: 4px;
		height: 100%;
	}
	.featured-content-img__text{
		bottom: 0;
		height: auto;
		padding: 48px 43px;
	}
	.featured-content-img__title{
		font-family: Telefonica;
		font-weight: bold;
		font-size: 20px;
		color: #FFFFFF;
		letter-spacing: 1px;
		line-height: 24px;
		text-transform: uppercase;
	}
	.featured-content-img__subtitle{
		font-family: Telefonica;
		font-weight: 300;
		font-size: 40px;
		color: #FFFFFF;
		line-height: 48px;
	}
	.featured-content-img__icon{
		font-size: 40px;
		bottom: 55px;
		right: 35px;
	}
	.featured-content-img__overlay{
		width: 100%;
		height: 100%;
		position: absolute;
		background: -moz-linear-gradient(left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.16) 50%, rgba(0,0,0,0.2) 100%);
		background: -webkit-linear-gradient(left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.16) 50%,rgba(0,0,0,0.2) 100%);
		background: linear-gradient(to right, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.16) 50%,rgba(0,0,0,0.2) 100%);
		z-index: 1;
	}
	.featured-content-img__image{
		background: #727272;
		min-width: 100%;
		max-width: none;
		position: absolute;
		right: 0;
		top: 0;
	}
	.featured-content-links{
		width: 100%;
		background: #ffffff;
		padding: 19px 10px 10px 19px;
		margin: 0;
		height: 100%;
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
	.featured-content-links__title{
		font-family: Telefonica;
		font-weight: 300;
		font-size: 32px;
		color: #50535A;
		line-height: 40px;
		display: block;
	}
	.featured-content-links__description{
		font-family: Telefonica;
		font-weight: 300;
		font-size: 18px;
		color: #50535A;
		line-height: 40px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		padding-right: 25px;
		margin: 0;
	}
	.featured-content__icon{
		right: 20px;
		bottom: 20px;
	}
}
