.filter-fixed-action-btn {
	display: none;
	/*position: fixed;
	bottom: 25px;
	z-index: 997;
	left: 50%;
	transform: translateX(-50%);
	padding: 0;
	@media #{$large-and-up} {
		display: none;
	}*/
}

.filter-action-btn {
	background-color: #0299D8;
	width: 110px;
	height: 40px;
	line-height: 40px;
	margin: 0;
	border-radius: 40px;
}

.filter-action-icon {
	font-size: 24px;
	position: relative;
	top: -2px;
	margin-right: 5px;
}

.filter-panels-wrapper{
	@media #{$large-and-up} {
		display: flex;
	}
}
.filter-panel {
	border-bottom: 1px solid #D3D4D3;
	padding: 20px 0 5px;

	&:first-of-type{
		padding-top: 0;
	}

	@media #{$large-and-up} {
		width: 33%;
		border-bottom: 0;
		border-right: 1px solid #D3D4D3;
		display: flex;
		flex-flow: column nowrap;
		padding: 0 30px;

		&:last-of-type{
			border: 0;
		}
	}
}

.filter-panel__title {
	font-weight: bold;
	font-size: 14px;
	color: #50535A;
	text-transform: uppercase;
}

.filter-panel__container {
	.md[type="checkbox"]:checked + label:after{
		border: 2px solid #0098d8;
		background-color: #0098d8;
	}
}

.filter-panel__container {
	.md[type="radio"]:checked + label{
		&:after{
			border: 2px solid #0098d8;
			background-color: #0098d8;
		}
		&:before{
			border: 2px solid #0098d8;
		}
	}
}
#modalFilter{
	.modal-footer{
		a{
			color: #0098d8;
		}
	}
}
