.footer-wrapper{
	padding: 15px 0 10px 0;
}
.footer__logo{
	padding-bottom: 37px;
}
.footer__logo-img{
	width: 100%;
	max-width: 223px;
}
.footer__links{
	display: table-cell;
}
.footer__links-block{
	float: left;
}
.footer__url{

}
.footer__url-title{
	font-family: Telefonica;
	font-weight: normal;
	font-size: 14px;
	color: #86888C;
	letter-spacing: 0.1px;
	line-height: 32px;
	padding-right: 15px;
}


@media #{$large-and-up}{

	.footer-wrapper{
		position: relative;
		padding: 48px 0;
	}
	.footer-wrapper:after{
		content: '';
		width: 100%;
		height: 4px;
		background: #F4F4F3;
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0px;
	}
	.footer__logo{
		padding-bottom: 0;
	}
	.footer__logo-img{
		max-width: 318px;
	}
	.footer__links{
		float: right;
		margin: 0;
	}
	.footer__url-title{
		font-size: 18px;
		letter-spacing: 0;
	}

}
