.img-links-wrapper{
}
.img-links{
	display: block;
	height: 168px;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	margin-bottom: 8px;
}
.img-links__link {
	display: block;
	width: 100%;
}
.img-links__text{
	position: absolute;
	font-family: Telefonica;
	font-weight: 300;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 24px;
	width: 100%;
	padding: 0 35px 37px 15px;
	text-align: left;
	bottom: 0;
	z-index: 2;
}
.img-links__icon{
	right: 16px;
	position: absolute;
	font-size: 24px;
}
.img-links__overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
	background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
	background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
	z-index: 1;
}
.img-links__img{
	z-index: 0;
}
.img-links img{
	width: 100%;
}


@media ( min-width : 993px ) {
	.img-links{
		height: 200px;
	}
	.img-links__text{
		font-size: 32px;
		line-height: 32px;
		padding: 0 50px 38px 30px;
	}
	.img-links__icon{
		right: initial;
		padding-top: 8px;
	}
}
