.lightbox-modal{
	background: #fff;
	border-radius: 0;
	overflow-x: hidden;

	@media #{$medium-and-up}{
		border-radius: 5px;
		width: 360px;
	}
}
.lightbox-modal-close{
	display: block;
	float: right;
	width: 50px;
	height: 50px;

	&:after{
		color: #888;
		font-family: 'icomoon';
		content: "\e5cd";
		position: absolute;
		right: 0;
		top: 0;
		font-size: 25px;
		height: 50px;
		width: 50px;
		text-align: center;
		padding: 7px;
	}
}
.lightbox-modal-content{
	padding: 15px;

	@media #{$medium-and-up}{
		padding: 15px 30px;
	}
}
.lightbox-modal__logo{
	width: 100%;
	text-align: center;
	padding: 10px 30%;
}
#lightbox-modal-login{
	.lightbox-modal__logo {
		padding: 5px 30%;
	}
}
.lightbox-modal__logo--svg {
	fill: currentColor;
	color: #53bf02;
	width: 45px;
	height: 50px;
}
.lightbox-modal__title {
	font-weight: 300;
	font-size: 30px;
	color: #50535A;
	width: 100%;
	line-height: 30px;
	text-align: center;
	padding-bottom: 15px;
}
.lightbox-modal__subtitle {
	text-align: center;
	padding-bottom: 25px;
}
.lightbox-modal__form{
	.button-group--pills{
		margin-bottom: 25px;
		overflow-x: visible;
		overflow-y: visible;

		.pill{
			width: 50%;

			a{
				font-size: 16px;
			}
		}
		.indicator{
			max-width: 50%;
		}
	}
}
span.prefix.lightbox-prefix {
	left: 18px;
	top: 14px;
	font-size: 20px;
}
.lightbox-modal input[type=text]:not(.browser-default).md{
	font-size: 16px;
	height: 48px;
}
.lightbox-modal__check.process[type="checkbox"] + label{
	padding: 13px 15px 13px 45px;
	color: #9e9e9e;
	font-size: 16px;
	top: 0;
	left: 0;

	a{
		color: #9e9e9e;
		text-decoration: underline;
	}
	&:after{
		left: 15px;

		@media #{$medium-and-up}{
			left: 30px;
		}
	}
	&:before{
		left: 21px;

		@media #{$medium-and-up}{
			left: 36px;
		}
	}
	@media #{$medium-and-up}{
		text-align: center;
		padding: 13px 15px 13px 35px;
	}
}
.lightbox-modal__check.process[type="checkbox"]:checked + label{
	background-color: transparent;
}
.lightbox-modal-button{
	padding: 5px 30px;
	text-align: center;
	display: block;
	margin: 15px auto 20px;
	height: auto;
	width: 100%;
}
.lightbox-modal-button[disabled]{
	background-color: #97df76 !important;
	color: #FFFFFF !important;
}

.lightbox-reset-password{
	color: #86888C;
	text-align: right;
	display: block;
	text-decoration: underline;
}
.lightbox-modal .tabs{
	margin-bottom: 25px;
	overflow-x: visible;
	overflow-y: visible;
}
.lightbox-modal .tabs.tabs--pills{
	.indicator{
		max-width: 50%;
	}
	.tab{
		width: 50%;
		float: left;

		a{
			padding: 0;
		}
	}
}
.lightbox-create-account{
	display: block;
	width: 100%;
	color: #86888C;
	text-align: center;
	margin-bottom: 10px;
}
.lightbox-create-account__link{
	color: #86888C;
	text-decoration: underline;
}
.lightbox-rrss{
	.contact-us__social-list{
		justify-content: center;
		margin-bottom: 0;
	}
	.contact-us__social-link{
		img{
			width: 50px;
		}
	}
}
.lightbox-rrss__text{
	display: block;
	width: calc(100% + 30px);
	margin-left: -15px;
	border-bottom: 1px solid #ECECEC;
	padding: 0 15px 15px;
	text-align: center;

	@media #{$medium-and-up}{
		width: calc(100% + 60px);
		margin-left: -30px;
	}
}

// #lightbox-modal-buy{
// 	background-color: rgba(236,236,235,0.7);
// 	@media #{$medium-and-up}{
// 		background-color: transparent;
// 		box-shadow: none;
// 	}
// }
// #lightbox-modal-buy button {
//     box-shadow: 1px 1px 20px 0 lightgrey;
// }
.lightbox-buy-buttons-container{
	margin-top: 85px;
	width: 100%;

	@media #{$medium-and-up}{
		margin-top: 40px;
	}
}
.white-btn {
	background: #fff;
	color: #555;
	box-shadow: none;
	font-size: 17px;
	border-radius: 5px;
}

.grey-btn, .grey-btn[disabled]{
	background: #ebeae6 !important;
	color: #555 !important;
}
