.list-links-wrapper{
	padding-top: 15px;
}
.list-links-container{
	padding: 15px 0;
}

.list-links-title{
	font-family: Telefonica;
	font-weight: 300;
	font-size: 32px;
	color: #50535A;
	line-height: 40px;
	text-align: center;
	padding-bottom: 32px;
	margin: 0; 
}
.list-links{
	display: block;
	width: 100%;
	border-bottom: 1px solid #D3D4D3;
	padding: 30px 0 10px;
}
.list-links__text{
	font-family: Telefonica;
	font-weight: normal;
	font-size: 18px;
	color: #50535A;
	letter-spacing: 0;
	display: block;
	position: relative;
	margin: 0; 
}
.list-links__icon{
	font-size: 18px;
	color: #0098D9;
	letter-spacing: 0;
	line-height: 21px;
	right: 0;
	position: absolute;
}

@media #{$large-and-up}{

	.list-links-container{
		padding: 0px 10%;
	}
	.list-links-title{
		font-size: 40px;
		padding-top: 5px;
		padding-bottom: 47px;
	}
	.list-links{
		border-bottom: 0;
		padding: 36px 40px;
		background: white;
		margin-bottom: 16px;
	}
	.list-links__text{
		font-family: Telefonica;
		font-weight: 300;
		font-size: 24px;
		line-height: 32px
	}
	.list-links__icon{
		font-size: 24px;
		color: #0299D8;
		letter-spacing: 0.04px;
		line-height: 24px;
		top: 3px;
	}

}
