.how-to-contract-wraper {
	padding-top: 30px;

	@media #{$large-and-up}{
		padding-top: 0;
		padding-bottom: 40px;
	}
}


.how-to-contract {
	padding-left: 50px;
	margin-bottom: 0;
	@media #{$large-and-up}{
		display: flex;
		padding-left: 0;
		justify-content: space-between;
	}
}

.how-to-contract-title {
	font-family: Telefonica;
	font-weight: 300;
	font-size: 32px;
	color: #50535A;
	line-height: 40px;
	text-align: center;
	padding: 0 15px 15px;
	margin: 0;
	@media #{$large-and-up}{
		font-size: 40px;
		padding-top: 5px;
		padding-bottom: 50px;
	}
}
.how-to-contract-title__boldText{
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	line-height: 43px;
}

.how-to-contract__item {
	position: relative;

	&::before {
		content: '';
		display: block;
		width: 1px;
		background: #0098D9;
		position: absolute;
		top: 35px;
		left: -27px;
		bottom: -3px;
		@media #{$large-and-up}{
			content: none;
		}
	}

	&:last-child {
		&::before {
			content: none;
		}
	}



	.collapsible-header {
		background: transparent;
	}

	&.active {
		.collapsible-body {
			display: block;
		}
	}

	@media #{$large-and-up}{
		.collapsible-header {
			border-bottom: 0;
			cursor: auto;
		}

		.collapsible-body {
			display: block;
			border-bottom: 0;
			padding: 0 15px;
			text-align: center;
			font-size: 18px;
			font-weight: 300;
			max-width: 280px;
		}

	}
}

.how-to-contract__title {
	position: relative;
	@media #{$large-and-up}{
		text-align: center;
		font-weight: bold;
		font-size: 18px;
	}
}

.how-to-contract__arrow {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	font-size: 18px;
	padding-top: 5px;
	color: #B6B7B7;

	@media #{$large-and-up}{
		display: none;
	}
}

.how-to-contract__icon {
	font-size: 22px;
	position: absolute;
	left: -50px;
	top: 50%;
	transform:translateY(-50%);

	@media #{$large-and-up}{
		position: relative;
		display: block;
		text-align: center;
		left: auto;
		top: auto;
		transform:translateY(0);
		font-size: 44px;
		margin-bottom: 50px;
	}
}

//Component variation
.how-to-contract__no-line{
	padding-left: 0;
	.how-to-contract__item{
		padding-left: 50px;
		border-bottom: 1px solid #ddd;
		@media #{$large-and-up}{
			border-bottom: none;
			padding-left: 0;
		}
	}
	.how-to-contract__item:before{
		content: none;
	}
	.collapsible-header{
		border-bottom: none;
	}
	.collapsible-body{
		border-bottom: none;
	}
	.how-to-contract__icon{
		@media #{$large-and-up}{
			font-size: 70px;
			margin-bottom: 5px;
		}
	}
}


/* Color Variations Theme */
.movistar--green {
	.how-to-contract__icon {
		color: $main-green;
	}
}

.movistar--blue {
	.how-to-contract__icon {
		color: $main-blue;
	}
}
