.m-product-card {

}

.m-product-card__inner {
	@media #{$large-and-up}{
		border: 2px solid #E9EAE8;
		border-radius: 4px;
	}
}


.m-product-card__header {
	color: #fff;
	@media #{$large-and-up}{
		background-image: none;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
	}
}

.m-product-card__advertise {
	box-shadow: 0 1px 0 0 rgba(255,255,255,0.50);
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 0.5px;
	line-height: 16px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 15px;
}

.m-product-card__advertise-type {
	display: block;
	@media #{$large-and-up}{
		display: inline;
	}
}

.m-product-card__sale {
	font-size: 32px;
	line-height: 40px;
	font-weight: 300;
	margin: 0;
	/*padding: 40px 15px 100px;*/
	padding: 40px 15px 45px;
	text-align: center;
	@media #{$large-and-up}{
		padding: 70px 15px 70px;
	}
}

.m-product-card__sale-item {
	display: block;
	@media #{$large-and-up}{
		display: inline;
	}
}

.m-product-card__body {
	padding-bottom: 15px;
}

.m-product-card__navigation {
	display: flex;
	align-items: center;
	padding: 30px 15px;
	@media #{$large-and-up}{
		padding: 15px 15%;
	}
}

.m-product-card__prev,
.m-product-card__next {
	border: 0;
	background: transparent;
	width: 40px;
	height: 40px;
	font-size: 30px;
}

.m-product-card__prev .icon-navigate_before,
.m-product-card__next .icon-navigate_next {
	color: #4e5255;
}

.m-product-card__prev {
	margin-right: auto;
}

.m-product-card__next {
	margin-left: auto;
}

.m-product-card__title {
	font-weight: bold;
	font-size: 19px;
	margin: 0 auto;
	text-align: center;
	color: #4e5255;
}

.m-product-card__list-features-wraper {
	padding: 30px 0 0;
	@media #{$large-and-up}{
		padding: 0 15%;
	}
}

.m-product-card__list-features {
	border-top: 1px solid #D3D4D3;
	@media #{$large-and-up}{
		display: flex;
		flex-wrap: wrap;
	}
}

.m-product-card__feature {
	border-bottom: 1px solid #D3D4D3;
	padding: 0 15px;
	width: 100%;

	@media #{$large-and-up}{
		&.width50{
			width: 50%;
		}
	}
}


.m-product-card__feature-title {
	font-weight: bold;
	font-size: 15px;
	color: #555;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 15px 0 0 0;
}

.m-product-card__list{
	margin-top: 5px;
	@media #{$large-and-up}{
		margin-top: 15px;
	}
}

.m-product-card__list-item {
	font-size: 16px;
	color: #50535A;
	line-height: 24px;
}

.m-product-card__rate-wraper {
	@media #{$large-and-up}{
		padding: 15px 15%;
	}
}
.m-product-icons{
	width: 100%;
}
.m-product__icon{
	margin: 0 10px 15px 0;
	width: 45px;
	height: 45px;
}
.m-product-card__rate-inner {
	background-color: #f5f4f2;
	padding: 15px 35px 0;
	display: inline-block;
	margin: 0;
	border: 0;

	@media #{$large-and-up}{
		margin: 10px 0;
	}
}

.m-product-card__rate-title {
	text-align: center;
	font-size: 16px;
	color: #50535A;
	line-height: 24px;
	margin-bottom: 30px;
}

.m-product-card__rate {
	display: flex;
	text-align: center;
	justify-content: space-between;
	img {
		max-width: 26px;
	}
}

/* Color Variations Theme */
.movistar--green {
	.m-product-card__header {
		background: $main-green;
	}
}

.movistar--blue {
	.m-product-card__header {
		background: $main-blue;
	}
}
