.m-price {

}

.m-price__inner {
	@media #{$large-and-up}{
		border: 2px solid #E9EAE8;
	}
}

.m-price__title {
	font-size: 32px;
	font-weight: 300;
	color: #50535A;
	margin: 20px 0 30px;
	padding: 0 15px;
	text-align: center;
	@media #{$large-and-up}{
		display: none;
	}
}

.m-price__checkbox-container {
	margin: 10px 0 15px;
	@media #{$large-and-up}{
		margin: 24px 0 15px;
	}
}

.m-price__item {
	text-align: right;
	padding: 0;
}

.m-price__item-container{
	padding: 15px 35px;
	border-bottom: 1px solid #dedede;
	&:last-child {
		border-bottom: 0;
	}
}

.m-price__item-name {
	font-weight: bold;
	font-size: 12px;
	color: #55AF07;
	letter-spacing: 0.6px;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 40px;
	text-align: left;
	@media #{$large-and-up}{
		text-align: right;
	}
	&.m-price__item-only-price{
		font-size: 16px;
		text-align: left;
	}
}

.m-price__item-price {
	font-size: 40px;
	color: #50535A;
	letter-spacing: -1px;
	line-height: 40px;
}

.m-price__item-price--line-through {
	text-decoration: line-through;
	font-size: 32px;
	color: #B6B7B7;
	line-height: 40px;
	letter-spacing: 0;
	font-weight: 300;
	margin-bottom: 15px;
}

.m-price__item-desc {
	font-size: 16px;
	color: #50535A;
	line-height: 24px;
}

.m-price__item .m-price__item-detail-link {
	display: none;
	@media #{$large-and-up}{
		display: block;
		color: #0098D9;
		font-size: 16px;
		text-align:right;
		text-align:right;
		margin: 10px 0;
	}
}

.m-price__item-detail-link span{
	vertical-align: middle;
}

.m-price__call-to-action {
	padding: 5px 15px 20px;

	@media #{$large-and-up}{
		padding: 5px 35px  30px;
	}

	.btn {
		width: 100%;
		height: 48px;
		line-height: 48px;
	}
	.m-price__item-detail-link{
		display: block;
		text-align: center;
		padding: 20px;
		@media #{$large-and-up}{
			display: none;
		}
	}
}

.m-price__call-us {
	font-size: 18px;
	color: #50535A;
	text-align: center;
	background: #E9EAE8;
	padding: 7px 0;
	/*display: none;
	@media #{$large-and-up}{
		display: block;
	}*/
}

.m-price__phone {
	font-weight: bold;
}

.m-price__desktop {
	display: none;
	@media #{$large-and-up}{
		display: block;
	}	
}

.m-price__mobile {
	display: block;
	@media #{$large-and-up}{
		display: none;
	}
}


/* Color Variations Theme */
.movistar--green {
	.device-carousel__featured .btn {
		background: $main-green;
	}
	.m-price__call-to-action .btn{
		background: $main-green;
	}
}

.movistar--blue {
	.device-carousel__featured .btn {
		background: $main-blue;
	}
	.m-price__call-to-action .btn{
		background: $main-blue;
	}
}
