.m-third-party-card {
	.services-links-container {
		width: auto;
	}

	//OVERRIDE SERVICE LINK GRID FOR THIS MODULE
	@media #{$medium-and-up} {

		.services-links-grid--2-col {
			.services-links {
				width: 50%;
			}
		}

		.services-links-grid--3-col {
			.services-links {
				width: 50%;
			}
		}

		.services-links-grid--4-col {
			.services-links {
				width: 50%;
			}
		}

		/*.services-links {
			padding: 20px 0;
		}*/

		.services-links__img img{
			max-height: 60px;
			max-width: 60px;
		}

		.services-links__title {
			font-size:16px;
			padding-top: 0;
		}

		.services-links__text {
			font-size:16px;
			line-height: 24px;
			max-width: 270px;
			margin: 0 auto;
		}

		.services-links__link {
			font-size: 16px;
			padding-top: 20px;
		}
	}
}

.m-third-party-card__header {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
	position: relative;
	/*padding-bottom: 110px;*/
	padding-bottom: 45px;
	@media #{$medium-and-up} {
		padding-bottom: 0;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		overflow: hidden;
	}
}

.m-third-party-card__navigation {
	position: relative;
	z-index: 3;

	@media #{$medium-and-up} {
		display: flex;
		align-items: center;
		height: 220px;
		padding: 0 15px;
	}
}

.m-third-party-card__shape {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	/*background-image: url(../images/third-party-shape.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: contain;*/
	@media #{$medium-and-up} {
		display: none;
	}
}
.m-third-party-card__overlay {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: .6;
	background: #000;
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 );

	@media #{$medium-and-up} {
		background: #000;
		filter: none;
		opacity: .4;
	}
}

.m-third-party-card__prev,
.m-third-party-card__next {
	display: none;
	border: 0;
	background: transparent;
	width: 40px;
	height: 40px;
	font-size: 30px;

	@media #{$medium-and-up} {
		display: block;
	}
}

.m-third-party-card__prev .icon-navigate_before,
.m-third-party-card__next .icon-navigate_next{
	color: #fff;
}

@media #{$medium-and-up} {
	.m-third-party-card__prev {
		margin-right: auto;
	}

	.m-third-party-card__next {
		margin-left: auto;
	}
}



.m-third-party-card__content {
	text-align: center;
	padding: 20px;
}

.m-third-party-card__logo {
	text-indent: -9999999px;
    background-repeat: no-repeat;
    background-size: auto 35px;
    background-position: center;
    margin: 10px 0 0 0;

	@media #{$medium-and-up} {
    	margin: 0;
    	background-size: auto 55px;
	}
}

.m-third-party-card__title {
	display: block;
	font-size: 32px;
	line-height: 40px;
	font-weight: 300;
	margin: 1.78rem 0 1.424rem 0;
	color: #fff;
	@media #{$medium-and-up} {
		display: none;
	}
}

.m-third-party-card__title-desktop {
	display: none;
	@media #{$medium-and-up} {
		font-size: 22px;
		line-height: normal;
		margin: 20px auto 0;
		display: block;
		margin-left: 7px;
		color: #fff;
	}
}

.m-third-party-card__call-to-action-top {
	padding: 0 15px;
	text-align: center;

	@media #{$medium-and-up} {
		display: none;
	}

	.btn {
		width: 177px;
		height: 48px;
		line-height: 48px;
		margin: auto;
	}
}

.m-third-party-card__body {
	@media #{$medium-and-up} {
		padding: 40px 0;
	}
}

.m-third-party-card__inner {
	@media #{$medium-and-up} {
		border: 2px solid #E9EAE8;
		border-radius: 4px;
	}
}
