.not-client{
	display: none;
	height: 100%;
	@media #{$large-and-up}{
		display: block;
	}
}
.mimovistar-api {
	background-color: $main-blue;
	padding: 15px;
	text-align: center;
	@media #{$medium-and-up}{
		height: 100%;
		//padding: 16% 8% 18%;
		padding: 6% 8% 6%;
	}

	@media #{$extra-large-and-up}{
		padding: 50px 80px;
	}
}

.mimovistar-api__body{
	&::after {
		content: '';
		display: table;
		clear: both;
	}

	@media #{$large-and-up}{
		display: flex;
	}

}

.mimovistar-api__img-container {
	margin-bottom: 10px;
	@media #{$large-and-up}{
		margin-right: 40px;
}
}

.mimovistar-api__img{
	width: 60px;
	height: auto;
	@media #{$large-and-up}{
		width: 160px;
	}
}

.mimovistar-api__text-container {
	@media #{$large-and-up}{
		text-align: left;
	}
}

.mimovistar-api__title{
	font-weight: 300;
	font-size: 25px;
	color: #FFFFFF;
	line-height: 30px;
	max-width: 205px;
	margin: 0 auto;
	@media #{$large-and-up}{
		margin: 15px 0 30px;
		line-height: 48px;
		font-size: 40px;
		max-width: 310px;
	}
}

.mimovistar-api__subtitle {
	font-weight: 300;
	color: #FFFFFF;
	max-width: 205px;
	margin: 15px auto 0;
	font-size: 14px;
	line-height: 1.5;
	@media #{$large-and-up}{
		font-size: 24px;
		line-height: 32px;
		max-width: none;
		margin: auto;
	}
}

.mimovistar-api__button-container{
	margin-top: 25px;
	@media #{$large-and-up}{
		text-align: left;
		margin-top: 45px;
	}
}

.mimovistar-api__app-store,
.mimovistar-api__google {
	img {
		width: 160px;
		max-width: 100%;
		height: auto;
		@media #{$large-and-up}{
			width: 200px;
	}
}

@media #{$large-and-up}{
	width: 40%;
}

@media #{$extra-large-and-up}{
	width: 213px;
}
}

.mimovistar-api__app-store{
	display: none;

	@media #{$large-and-up}{
		display: inline-block;
		margin-right: 10px;
}

}

.mimovistar-api__google {
	display: inline-block;
}


//Lifera detects the mobile brand
&.ios {
	.mimovistar-api__app-store{
		display: inline-block;
	}

	.mimovistar-api__google{
		display: none;
		@media #{$large-and-up}{
			display: inline-block;
		}
	}
}



//VARIANT

.layout_col_1 {

	.mimovistar-api {
		@media #{$large-and-up}{
			background-image: url(../images/movistar-api-bg.png);
			background-repeat: no-repeat;
			background-position: 140% bottom;
			background-size: contain;
		}

		@media #{$extra-large-and-up}{
			background-position: right bottom;
				padding: 50px 0;
		}
	}

	.mimovistar-api__inner {
		@media #{$extra-large-and-up}{
			width: 85%;
			max-width: 1280px;
			margin: 0 auto;
		}
	}

	.mimovistar-api__body {
		@media #{$large-and-up}{
			width: 75%;
		}
		@media #{$extra-large-and-up}{
			width: 50%;
		}
	}

	.mimovistar-api__button-container {
		@media #{$large-and-up}{
			width: 75%;
		}
		@media #{$extra-large-and-up}{
			width: 50%;
		}
	}
}


/* Color Variations Theme - Customizable color theme */
.movistar--green {
	.mimovistar-api {
		background-color: $main-green;
		&.mimovistar-api__blue{
			background-color: $main-blue;
		}
		&.mimovistar-api__green{	
			background-color: $main-green;
		}
	}	
}

.movistar--blue {
	.mimovistar-api {
		background-color: $main-blue;
		&.mimovistar-api__blue{
			background-color: $main-blue;
		}
		&.mimovistar-api__green{	
			background-color: $main-green;
		}
	}
}
