&.scrolling--down {
	.vitrina-equipos{

		.filter-equipos,.order-equipos {
  			left: -112px;
    		position: absolute;
		}
		.order-action-btn{
			left: 50px;
			position:relative;
		}
		.filter-action-btn{
			left: 60px;
    		position: relative;
		}
		.order-action-btn,.filter-action-btn{
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			-o-transition: all 1s ease;
			-ms-transition: all 1s ease;
			transition: all 1s ease;
		}
	}
}


.vitrina-equipos{
	.container{
		margin:0;
		padding:0;
		width:100%;
		max-width:auto;
		@media #{$medium-and-up}{
			    margin: 0 auto;
			    max-width: 1280px;
			    width: 90%;	
		}
	}
}
.filter-fixed-action-btn{
	text-align: center;
	width:90%;
}
.order-action-btn,
.filter-action-btn{
	display:inline-block;
	margin:0 10px;
	width:auto;
	padding:0 20px;
	overflow:hidden;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	left:0;
}
.filter-equipos,.order-equipos {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
.slide-vitrina-right {
    -webkit-animation: to_right 300ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform: translateX(0);
}
@-webkit-keyframes to_right {
	to {
	    -webkit-transform: translateX(70%);
	}
}

.order-action-btn{
	background-color: $main-blue;
    height: 40px;
    line-height: 40px;
    margin: 0;
    border-radius: 40px;
    position:relative;
}

.border-grey{
	border-top:1px solid #D3D4D3;
	padding-top:15px;
	margin-top:10px;
}
.modal-header__subtitle{
	font-family: Telefonica;
	font-weight: bold;
	font-size:13px;
	color:#50535A;
	text-transform: uppercase;
}
.modal .modal-footer {
    padding: 0px 24px;
    .btn,.btn-flat{
		display:block;
		float:none;
		text-align:center;
	}
}
	.filtrar,.ordenar{
		display:none;
		}
		@media #{$medium-and-up}{
			.filtrar,.ordenar{
				font-family:Telefonica;
				font-size:16px;
				display:inline-block;
				position:relative;
				&:before {
						content: "\e313";
						font-family: 'icomoon' !important;
						position:absolute;
						right:5px;
						top:0px;
						color:#0098D9;
						font-size:18px;
				}
			}
			.filtrar{
				margin-left:18%;
			}
		}
	
	.device-mobile-container{
		display: flex;
	    justify-content: space-between;
	    flex-wrap: wrap;
		.device__mobile--item{
			width:100%;
			@media #{$medium-and-up}{
				&.device__mobile--item--lg{
					width:33.3%;
				}
			}
			.wrapper-device{
				padding:6% 1%;
				margin:0.6%;
				background-color:white;
			
				.device__figure{
					display:inline-block;
					margin:10px 10px 1em 10px;
					max-width:38%;
					overflow:hidden;
					.device__img{
						width:88px;
						height: 177.3px;
					}
				}

				.device__body{
					display:inline-block;
					vertical-align: top;
					max-width: 60%;
					span{
						display:block;
						&.device__title{
							font-family:Telefonica;
							font-size:24px;
							color:#50535A;
							font-weight:300;
							margin-top:5px;
						}
						&.device__price--text{
							font-family:Telefonica;
							font-size:13px;
							color:#55AF07;
							font-weight:normal;
						}
						&.device__price--value{
							font-family:Telefonica;
							font-size:24px;
							color:#55AF07;
							font-weight:300;
						}
					}
					.device__list--item{
						display:inline-block;
						.device__list--link{
							display:block;
							width:24px;
							height:24px;
							border-radius: 100%;
							&.black{
								background-color:black;
							}
							&.grey-dark{
								background-color:#434549;
							}
							&.grey-light{
								background-color:#EEEFF0;
							}
							&.pink-light{
								background-color:#F8E3CA;
							}
							&.pink{
								background-color:#FCD7D1;
							}
						}
					}
				}
			}
		}		
	}
	.device-mobile__link{
    	display: block;
	    font-family: Telefonica;
	    font-weight: normal;
	    font-size: 16px;
	    color: #0299D8;
	    letter-spacing: 0;
	    line-height: 24px;
	    text-align:center;
	    padding: 20px 0;
    	background-color: white;
    	border-bottom: 2px solid #f4f4f3;
	    @media #{$medium-and-up}{
			    font-size: 20px;
			    padding-top: 40px;
			    padding-bottom: 20px;
			    background-color:#f4f4f3;
			    border-bottom:0;
		}
    }

