.personalizacion-advantages-wrapper{
	background-color: #e9eae8;
	position: relative;
	overflow: hidden;
}

.personalizacion-advantages-wrapper .container-full {
	width: 100%;
	max-width: 100%;
}

.personalizacion-advantages{
	padding: 30px 0 0;
	position: relative;
	z-index: 1;
	@media (min-width: 767px){
		padding: 30px 0 60px;
	}	
}

.personalizacion-advantages__title {
	font-weight: 300;
	font-size: 40px;
	color: #52555c;
	text-align: center;
	margin-bottom: 40px;
	margin: 0;
}

.personalizacion-advantages-container {
	height: auto;
	&::after {
		content: '';
		display: table;
		clear: both;
	}
	.slick-track {
		margin: auto;
	}
}

.personalizacion-advantages__item{
	position: relative;
	float: left;
	width: 33%;
	text-align: center;
	@media (min-width: 767px){
		padding: 0 25px;
	}
}

.personalizacion-advantages__text-container{
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 90%;
	max-width: 250px;
}

.personalizacion-advantages__subtitle{
	font-family: Telefonica;
	font-weight: bold;
	font-size: 24px;
	color: #50535A;
	letter-spacing: 0;
	line-height: 24px;
	padding-top: 40px;
}

.personalizacion-advantages__text {
	color: #63666d;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	transition: .3s;
	position: relative;
	display: inline-block;
	@media #{$large-and-up}{
		font-size: 17px;
		font-weight: normal;
		line-height: 24px;
	}
	@media #{$extra-large-and-up}{
		font-size: 19px;
	}	
}

.personalizacion-advantages__number-container {
	position: relative;
	z-index: 1;
}

.personalizacion-advantages__number {
	color: #c8c8c8;
	font-size: 200px;
	line-height: 200px;
	font-weight: normal;
}

/*.personalizacion-advantages-container .hero__dots {
	@media (min-width: 767px){
		display: none;
	}	
}*/

.personalizacion-advantages-container .progress-dots {
	justify-content: center;
}


// component variation
.personalizacion-advantages--large{
	width: 25%;
	.personalizacion-advantages__text-container{
		max-width: 100%;
	}
}

