.quick-links-wrapper{
	height: 100%;
}
.quick-links__title{
	display: block;
	font-family: Telefonica;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0.7px;
	line-height: 24px;
	text-transform: uppercase;
	margin: 0;
}
.quick-links__subtitle{
	display: block;
	font-size: 32px;
	font-family: Telefonica;
	font-weight: 300;
	color: #FFFFFF;
	line-height: 40px;
	padding: 48px 15px 0;
	text-align: center;
	margin: 0;
}
.quick-links-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 48px 16px 25px;
}

.quick-links-col{
	width: 50%;
	padding: 2%;

	&.three-items:first-of-type{
		width: 100%;
	}
	@media #{$large-and-up}{
		padding: 1%;
	}
}
.quick-links{
	display: flex;
	flex-direction: column;
	height: 100%;
	background: #FFFFFF;
	padding: 15px 15px;
	position: relative;
	&:before{
		content: '';
		width: 100%;
		height: 8px;
		opacity: 0.5;
		position: absolute;
		z-index: 0;
		top: 0;
		right: 0;
	}
}
.quick-links__icon{
	display: block;
	font-size: 30px;
	height: 41px;
	letter-spacing: 0;
	margin-bottom: 20px;
	@media #{$large-and-up}{
		margin-bottom: 30px;
	}
}
.quick-links__text-container{
	margin-top: auto;
}

.quick-links__text{
	font-family: Telefonica;
	font-weight: normal;
	font-size: 17px;
	color: #50535A;
	letter-spacing: 0.03px;
	line-height: 24px;
	margin: 0;
}


@media #{$large-and-up}{

	.quick-links-wrapper{
		padding: 32px 16px 0px;
		min-height: 440px;
	}

	.quick-links__title{
		padding-left: 16px;
	}

	.quick-links__subtitle{
		text-align: left;
		padding-left: 16px;
		padding-top: 13px;
		font-size: 40px;
	}

	.quick-links-container{
		padding-top: 36px;
	}

}

//only 4 elements
.layout_same_height .quick-links-container .quick-links-col:nth-child(n+5) {
	display: none;
}

//Layout component variation
.layout_col_1 {
	.quick-links-wrapper {
		float: left;
		width: 100%;
	}
	.mobile-scroll-adapter{
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		height: 240px;
		.quick-links-container {
			display: flex;
			justify-content: space-between;
			flex-flow: row nowrap;
			padding: 38px 16px 25px;
			width: auto;
			/*height: 200px;*/
			height: 100%;
		}
		.quick-links-col {
			height: 170px;
			padding: 12px 12px 12px 0;
			/*padding: 12px;
			margin-right: 10px;*/

		}
		.quick-links{
			width: 135px;
		}
	}
	@media #{$medium-and-up}{
		.mobile-scroll-adapter{
			height: auto;
			overflow: hidden;

			.quick-links-container {
				display: block;
				height: auto;

			}
			.quick-links-wrapper{
				padding: 20px 0 40px;
				@media #{$large-and-up}{
					padding: 50px 0 40px;
				}
			}
			.quick-links-container {
				display: block;
				max-width: 1280px;
				margin: 0 auto;
				padding: 63px 0 20px;
				width: 100%;
				text-align: center;
			}
			.quick-links-col {
				width: 25%;
				text-align: left;
				height: 180px;
				float: none;
				margin: auto;

				@media #{$large-and-up}{
					height: 160px;
				}
				&.three-items{
					width: 33%;
				}
				&.quick-links--large{
					width: 33%;
					height: 180px;
					display: inline-block;
					margin: auto;
					@media #{$large-and-up}{
						height: 160px;
					}
				}
				&.maxColumns{
					width: 24%;

					&:nth-child(n+9){
						display: none;
					}
				}
			}
			.quick-links{
				width: 100%;
			}
		}
		.quick-links-container {
			display: block;
			height: auto;

		}
		.quick-links-wrapper{
			padding: 20px 0 40px;
			@media #{$large-and-up}{
				padding: 50px 0 40px;
			}
		}
		.quick-links-container {
			display: block;
			max-width: 1280px;
			margin: 0 auto;
			padding: 63px 0 20px;
			width: 100%;
			text-align: center;
		}
		.quick-links-col {
			width: 25%;
			text-align: left;
			height: 180px;
			float: left;
			margin: auto;

			@media #{$large-and-up}{
				height: 160px;
			}
			&.three-items{
				width: 33%;
			}
		}
		.quick-links{
			width: 100%;
		}
		.quick-links__title{
			display: none;
		}
		.quick-links__subtitle{
			text-align: center;
		}
		.quick-links__icon{
			font-size: 44px;
		}
		.quick-links--large{
			width: 33%;
			height: 160px;
			display: inline-block;
			margin: auto;
		}
		.maxColumns{
			width: 25%;
		}
	}
}


/* Color Variations Theme */
.movistar--green {
	.quick-links-wrapper {
		background: $main-green;
	}
	.quick-links:before{
		background: $main-green;
	}
	.quick-links__icon{
		color: $main-green;
	}
}

.movistar--blue {
	.quick-links-wrapper {
		background: $main-blue;
	}
	.quick-links:before{
		background: $main-blue;
	}
	.quick-links__icon{
		color: $main-blue;
	}
}
