.quick-links-header-wrapper {
    position: absolute;
    z-index: 10;
    height: 50px;
    line-height: 28px;
    overflow: hidden;
    width: 100%;
    left: 0;
    background: white;
    opacity: 0.9;
    top: $nav-height-mobile;
    @media #{$large-and-up}{
        opacity: 1;
        padding:0 55px;
        padding-top: 10px;
        height: 60px;
        top:($nav-sec)+($nav-height)-(10px);
    }    
}

.quick-links-header-container {
    height: 100%;  
}

.quick-links-header-container{
    .slick-track{
        height: 100%;
    }
    .slick-list{
        height: 100%;
        &.draggable{
            @media #{$large-and-up}{
                width: 100%;
            }  
        }
    }
}

.quick-links-header-container .slick-prev {
    @media #{$large-and-up}{
        left: -45px;
        &:before {
            background: $white;
            color: #63666d;
            opacity: 0.8;
        }
    }
}

.quick-links-header-container .slick-next {
    @media #{$large-and-up}{
        right: -45px;
        &:before {
            background: $white;
            color: #63666d;
            opacity: 0.8;
        }
    }      
}

.quick-links-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    border-right: 0.5px solid rgba(134, 136, 140, 0.4);
    padding: 0 15px;
    &:last-child{
        border-right: none;
    } 
}

.quick-links-item__icon {
    color: #5bc500;
    margin-right: 15px;
    width: 22px;
    height: 22px;
    background-color: transparent;
}

.quick-links-item__text {
    text-align: left;
    color: #86888c;
    @media #{$large-and-up}{
        font-weight: normal;
        font-size: 16px;
        color: #63666d;
        &:hover{
            color: #d7d7d7;
        } 
    }       
}