.section-title-wrapper{

}
.section-title{
	font-family: Telefonica;
	font-weight: 300;
	font-size: 32px;
	color: #50535A;
	line-height: 40px;
	text-align: center;
}

@media #{$large-and-up}{

	.section-title{
		font-size: 40px;
	}

}
