.services-links-wrapper{
	padding: 56px 0 26px 0;
}

.services-links-container{
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
}


@media #{$medium-and-up} {
	.services-links-grid {
		display:flex;
		flex-wrap: wrap;
	}
}

.services-links-title{
	font-family: Telefonica;
	font-weight: 300;
	font-size: 32px;
	color: #50535A;
	line-height: 40px;
	text-align: center;
	padding: 0 15px 20px;
	margin: 0;

}
.services-links-description{
	font-family: Telefonica;
	font-weight: normal;
	font-size: 18px;
	color: #50535A;
	line-height: 28px;
	text-align: center;
	padding: 0 15px 32px;
	margin: 0;

	@media #{$large-and-up}{
		font-size: 20px;
	}
}
.services-links{
	display: block;
	text-align: center;
	padding: 20px;
	margin: 0 auto;
}
.services-links__img{
	height: 64px;
	max-width: 140px;
	margin: auto;
}
.services-links img{
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
}
.services-links__title{
	display: block;
	font-family: Telefonica;
	font-weight: bold;
	font-size: 16px;
	color: #50535A;
	letter-spacing: 0;
	line-height: 24px;
	padding-top: 12px;
	margin: 0;

}
.services-links__text{
	display: block;
	font-family: Telefonica;
	font-weight: normal;
	font-size: 16px;
	color: #50535A;
	letter-spacing: 0;
	line-height: 24px;
	padding-bottom: 8px;

}
.services-links__link{
	display: block;
	font-family: Telefonica;
	font-weight: normal;
	font-size: 16px;
	color: #0299D8;
	letter-spacing: 0;
	line-height: 24px;
}
.services-links__icon{
	position: absolute;
	padding-top: 5px;
}


@media #{$large-and-up} {
	.services-links-grid {
		display:flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.services-links-grid--2-col {
		.services-links {
			width: 50%;
			&:first-child{
				padding-left:15%;
			}
			&:last-child{
				padding-right:15%;
			}	
		}
	}

	.services-links-grid--3-col {
		.services-links {
			width: 33.33%;
		}
	}

	.services-links-grid--4-col {
		.services-links {
			width: 25%;
		}
	}

	.services-links{
		position: relative;
		padding: 25px 25px 50px 25px;
	}
	.services-links__title {
		height: 75px;
	}
	.services-links__link {
		position: absolute;
	    bottom: 25px;
	    right: 0;
    	left: 0;
	}	
}

@media #{$extra-large-and-up}{
	.services-links-wrapper{
		padding: 0;
	}
	.services-links-title{
		font-size: 40px;
		padding-top: 5px;
		padding-bottom: 25px;
	}
	.services-links__img-container{
		display: table;
		width: 100%;
	}
	.services-links__img{
		height: 80px;
		display: table-cell;
		vertical-align: middle;
	}
	.services-links__title{
		padding-top: 20px;
		padding-bottom: 5px;
		font-size: 18px;
	}
	.services-links__text{
		overflow: hidden;
		font-size: 18px;
		line-height: 24px;
		max-width: 320px;
		margin: 0 auto;
		height: max-content;
	}
	.services-links__link{
		font-size: 20px;
		padding-top: 15px;
	}
}

//Layout component variation
.layout_full_width_blue {
	//background: #1697D8;
	.services-links-title, .services-links__title, .services-links__text, .services-links-description {
		color: #fff;
	}
	.services-links{
		@media #{$large-and-up}{
			padding: 25px 40px;
		}
	}
}


/* Color Variations Theme */
.movistar--green {
	.layout_full_width_blue  {
		background-color: $main-green;
	}
}

.movistar--blue {
	.layout_full_width_blue  {
		background-color: $main-blue;
	}
}

