.services-links-boxes-wrapper{
	padding: 56px 0 26px 0;
}
.services-links-boxes-title{
	font-family: Telefonica;
	font-weight: 300;
	font-size: 32px;
	color: #50535A;
	line-height: 40px;
	text-align: center;
	padding: 0 30px 25px;
}
.services-links-boxes{
	display: block;
	text-align: center;
	padding: 25px 30px;
}
.services-links-boxes__img{
	height: 64px;
	max-width: 70px;
	margin: auto;
}
.services-links-boxes img{
	max-height: 100%;
	max-width: 100%;
}
.services-links-boxes__title{
	display: block;
	font-family: Telefonica;
	font-weight: bold;
	font-size: 16px;
	color: #50535A;
	letter-spacing: 0;
	line-height: 24px;
	padding-top: 18px;
	text-transform: uppercase;
}
.services-links-boxes__text{
	display: block;
	font-family: Telefonica;
	font-weight: normal;
	font-size: 16px;
	color: #50535A;
	letter-spacing: 0;
	line-height: 24px;
	padding-bottom: 8px;

}
.services-links-boxes__link{
	display: block;
	font-family: Telefonica;
	font-weight: normal;
	font-size: 16px;
	color: #0299D8;
	letter-spacing: 0;
	line-height: 24px;
}
.services-links-boxes__icon{
	position: absolute;
	padding-top: 5px;
}


@media #{$large-and-up}{
	.services-links-boxes-wrapper{
		padding: 0;
		padding-bottom: 25px;
	}
	.services-links-boxes-title{
		font-size: 48px;
		padding-top: 5px;
		padding-bottom: 45px;
	}
	.services-links-boxes{
		font-size: 40px;
		padding-top: 5px;
		padding-bottom: 47px;
	}
	.services-links-boxes{
		padding: 20px 45px;
		border: 1px solid #D3D4D3;
		border-radius: 4px;
		margin-bottom: 35px;
		margin-right: 15px;
	}
	.services-links-boxes:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.20);
	}
	.services-links-boxes__img-container{
		display: table;
		width: 100%;
	}
	.services-links-boxes__img{
		height: 106px;
		display: table-cell;
		vertical-align: middle;
	}
	.services-links-boxes img{
		max-height: 80px;
		max-width: 80px;
	}
	.services-links-boxes__title{
		padding-top: 10px;
		padding-bottom: 5px;
		font-size: 24px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-transform: none;
	}
	.services-links-boxes__text{
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		font-size: 20px;
		line-height: 32px;
		max-height: 64px;
		text-overflow: ellipsis;
	}
	.services-links-boxes__link{
		font-size: 20px;
		padding-top: 20px;
		&:hover{
			text-decoration: underline;
		}
	}
}
