.slider-shows-wrapper {
	padding: 15px 0 25px;
	@media #{$large-and-up}{
		padding: 67px 0 99px;
	}
}

.slider-shows-container {
	color: #50535A;
	padding-left: 16px;
	max-width: 1280px;

	@media #{$medium-and-up} {
		width: 85%;
		margin: 0 auto;
		padding-left: 0;
	}
}


.slider-shows__title {
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	margin: 0;
	margin-bottom: 15px;
	text-align: center;

	@media #{$large-and-up}{
		font-size: 40px;
		line-height: 48px;
	    margin-bottom: 47px;
	}
}


.slider-shows__carousel {
	.slick-list{
	    /* @media #{$medium-and-up} {
	    	margin-right: -32px;
		} */
	}

	.slick-prev {
		@media #{$medium-and-up} {
	    	left: -66px;
		}
	}

	.slick-next {
		@media #{$medium-and-up} {
	    	right: -66px;
		}
	}

	.slick-prev,
	.slick-next {

		&::before {
			color: #50535A;
			background: transparent;
		}
	}
}

.slider-shows__container-image {
	height: 185px;
	position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
	@media #{$medium-and-up} {
		height: 320px;
	}
}

img.slider-shows__image {
	max-width: 100%;
	height: 100%;
	width: 100%;
	border-radius: 4px;
}

.slider-shows__item{
	padding-right: 15px;
	text-align: left;
	color: #50535A;
	@media #{$medium-and-up} {
		padding: 0 20px;
	}
}

.slider-shows__name {
	margin: 0;
	margin-top: 6px;
	font-size:16px;
	@media #{$large-and-up}{
		font-size: 18px;
		line-height: 24px;
		margin-top: 21px;
	}
}

/* .slider-shows-container{
	padding: 24px 0px 38px;
}
.slider-shows__title{
	font-family: Telefonica;
	font-weight: bold;
	font-size: 12px;
	color: #50535A;
	letter-spacing: 0.6px;
	line-height: 24px;
	padding-left: 16px;
}
.slider-shows__text{
	font-family: Telefonica;
	font-weight: 300;
	font-size: 24px;
	color: #50535A;
	letter-spacing: 0;
	line-height: 24px;
	display: block;
	padding-bottom: 21px;
	padding-right: 110px;
	padding-left: 16px;
}
.slider-shows__carousel .slick-track{
	left: 10px;
}
.slider-shows__carousel .slick-slide{
	text-align: left;
}
.slider-shows__carousel .slick-slide img{
	margin-left: 10px;
}
.slider-shows__image{
	height: 168px;
	border-radius: 4px;
}
.slider-shows__name{
	font-family: Telefonica;
	font-weight: normal;
	font-size: 16px;
	color: #50535A;
	letter-spacing: 0;
	line-height: 16px;
	display: block;
	text-align: left;
	padding: 10px 0 0 10px;
}

@media ( min-width : 768px ){
	.slider-shows__carousel .slick-track{
		left: 0px;
	}
	.slider-shows__name{
		padding: 10px 0 0 20px;
	}
	.slider-shows__carousel .slick-slide img{
		margin-left: 20px;
	}
}

@media #{$large-and-up}{

	.slider-shows-container{
		padding: 59px 0px 97px;
	}
	.slider-shows__title{
		font-size: 16px;
		letter-spacing: 0.8px;
		line-height: 48px;
		padding-left: 190px;
	}
	.slider-shows__text{
		font-size: 40px;
		line-height: 48px;
		padding-left: 190px;
		padding-bottom: 46px;
	}
	.slider-shows__carousel .slick-track{
		left: 165px;
	}
	.slider-shows__carousel .slick-slide img{
		margin-left: 27px;
	}
	.slider-shows__image{
		height: 252px;
		&:hover {
			opacity: .5;
		}
	}
	.slider-shows__name{
		font-size: 20px;
		line-height: 24px;
		padding: 10px 0 0 27px;
	}

}
 */







/*.slider-shows-container{
padding: 24px 0px 38px;
}
.slider-shows__title{
font-family: Telefonica;
font-weight: bold;
font-size: 12px;
color: #50535A;
letter-spacing: 0.6px;
line-height: 24px;
padding-left: 16px;
}
.slider-shows__text{
font-family: Telefonica;
font-weight: 300;
font-size: 24px;
color: #50535A;
letter-spacing: 0;
line-height: 24px;
display: block;
padding-bottom: 21px;
padding-right: 110px;
padding-left: 16px;
}
.slider-shows__carousel.owl-carousel .owl-item img{
margin: 0 16px;
}
.slider-shows__item{
display: block;
max-width: 135px;
}
.slider-shows__image{
height: 168px;
border-radius: 4px;
}
.slider-shows__name{
font-family: Telefonica;
font-weight: normal;
font-size: 16px;
color: #50535A;
letter-spacing: 0;
line-height: 16px;
display: block;
text-align: left;
padding: 10px 0 0 16px;
}


@media #{$large-and-up}{

.slider-shows-container{
padding: 59px 0px 97px;
}
.slider-shows__title{
font-size: 16px;
letter-spacing: 0.8px;
line-height: 48px;
padding-left: 190px;
}
.slider-shows__text{
font-size: 40px;
line-height: 48px;
padding-left: 190px;
padding-bottom: 46px;
}
.slider-shows__item{
max-width: 205px;
}
.slider-shows__image{
height: 252px;
}
.slider-shows__name{
font-size: 20px;
line-height: 24px;
}

}*/
