.slider-videos-wrapper{
	padding: 30px 0;
    @media #{$large-and-up}{
        padding: 30px 0 50px;
    }
}
.slider-videos-section{
	font-family: Telefonica;
	font-weight: bold;
	font-size: 12px;
	color: #50535A;
	letter-spacing: 0.6px;
	line-height: 24px;
	text-transform: uppercase;
}

.slider-videos-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 15px;
    text-align: center;

    @media #{$large-and-up}{
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 47px;
    }
}


.play-button {

    text-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-size: 60px;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    opacity: .8;

}


.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	background-color: #000;
	border-radius: 4px;
	cursor: pointer;

	@media #{$large-and-up} {
		&.active {
	    	cursor: auto;
	    	opacity: .5;
    	}
	}	
}

.embed-container iframe,
.embed-container object,
.embed-container embed,
.embed-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.embed-container img {
    opacity: .8;
}

.video-scroll {
	height: 230px;
	position: relative;
	@media #{$large-and-up}{
    	//height: 440px;
		height: 100%;
		max-height: 100%;
		position: absolute;
		top: 0;
		left: 0;
        width: 100%;
		//width: 280px;
    }
}

.video-list {
	display: inline-block;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
	font-size: 0;
	position: relative;
	@media #{$large-and-up}{
    	width: 100%;
    }
}

.video-list__item {
    display: inline-block;
    height: 210px;
    width: 270px;
    padding: 0px 8px;
    text-align: center;
    @media #{$large-and-up} {
    	display: block;
    	height: auto;
    	width: 100%;
    	margin-bottom: 15px;
    	padding: 0;
    }
}

.video-list__title{
	font-family: Telefonica;
	font-weight: normal;
	font-size: 16px;
	color: #50535A;
	letter-spacing: 0;
	line-height: 24px;
	text-align: left;
	padding-top: 11px;
	display: block;
	white-space: normal;

}

.video-grid {
	@media #{$large-and-up}{
    	display: flex;
    }
}

.video-grid__featured {
	display: none;
	@media #{$large-and-up}{
		display: block;
		padding-right: 15px;
		flex-grow: 1;
    }
}

.video-grid__list {
	position: relative;
    padding-bottom: 20px;
	@media #{$large-and-up}{
		width: 295px;
		padding-right: 15px;
		padding-bottom: 40px;
    }
}

.grid-oneElement {
    @media #{$large-and-up}{
        width: 80%;
        margin: 0 auto;
    } 
}

.list-oneElement {
    .video-list__item {
        width: 100%;
        padding: 0;
    }
    .video-grid__list-inner{
        display: flex;
        justify-content: center;
    }
    @media #{$large-and-up} {
        display: none;
    }    
}

.video-grid__list-inner {
	width:100%;
	height: 100%;
	position: relative;
}

.video-featured__img {
	max-width: 100%;
	height: auto;
	width: 100%;
	border-radius: 4px;
}

/*************** SCROLLBAR BASE CSS ***************/
 
.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}
 
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
 
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}

/******************* EXTERNAL SCROLLBAR *******************/
 
.video-scroll_x,
.video-scroll_y {
    display: none;
    position: absolute;
}
 
.video-scroll_x.scroll-scrollx_visible {
    display: block;
    height: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
}
 
.video-scroll_y.scroll-scrolly_visible {
    display: block;
    height: 100%;
    right: -15px;
    top: 0;
    width: 10px;
}
 
.video-scroll_x div,
.video-scroll_y div
{
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
}
 
.video-scroll_x .scroll-bar,
.video-scroll_y .scroll-bar {
    background-color: #c2c2c2;
    border-radius: 8px;
    z-index: 12;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.video-scroll_x .scroll-element_track,
.video-scroll_y .scroll-element_track{
	background-color: #e0e0e0;
    border-radius: 8px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.video-scroll_x,
.video-scroll_y {
	&:hover {
		.scroll-bar {
			background: #919191;
		}
	}
}
 
/* .video-scroll_x .scroll-bar {
    width: 100px;
}
.video-scroll_y .scroll-bar {
    height: 100px;
} */