.support-links-title{
	font-weight: 300;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	padding: 30px 15px 40px 15px;
	@media #{$large-and-up} {
		padding-top: 0;
		padding-bottom: 30px;
	}
}




.support-grid-container {
	padding: 0 16px;
	&::after {
		content: '';
		display: table;
		clear: both;
	}
	@media #{$large-and-up} {
		width: 85%;
		margin: 0 auto;
		max-width: 880px;
	}
}

.support-grid {
	@media #{$large-and-up} {
		margin-left: -20px;
		margin-right: -20px;
	}
}

.support-grid__item{
	margin-bottom: 8px;
	@media #{$large-and-up} {
		padding: 5px 5px 5px;
		margin-bottom: 0;
		width: 50%;
		float: left;
	}
}


.support__link{
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	color: #fff;
	display: block;
	position: relative;
	height: 150px;
	border-radius: 4px;
	overflow: hidden;
	@media #{$large-and-up} {
		font-size: 40px;
    	line-height: 48px;
	    height: 200px;
	}
}

.support-links__text{
	z-index: 2;
	position: absolute;
	bottom: 31px;
	left: 0;
	padding: 0 50px 0 15px;
	width: 100%;
	margin: 0;
	font-size: 25px;
    line-height: 25px;
	@media #{$large-and-up} {
		bottom: 39px;
		padding: 0 76px 0 32px;
	    line-height: 30px;
	    font-size: 30px;
	}
}

.support-links__icon{
	position: absolute;
    bottom: 0;
    right: 6px;
    @media #{$large-and-up} {
    	right: 32px;
    }
}

.support-links__overlay{
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
	background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
	background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
	background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
	
}

.support-links__img{
	z-index: 0;
	width: 100%;
	border-radius: 4px;
}