@import 'font-telefonica';
@import 'font-material-icons';
@import 'typography';
@import 'slick/slick';
@import 'slick/slick-theme';


@mixin list-unstyled {
	padding-left: 0;
	list-style: none;
}

$animtaion-time: 0.3s;

@-webkit-keyframes outToLeft {
	to {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes outToLeft {
	to {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

@-webkit-keyframes outToRight {
	to {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
}

@keyframes outToRight {
	to {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
}

@-webkit-keyframes inFromLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes inFromLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes inFromRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes inFromRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes primary-translate {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  20% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
            animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  59.15% {
    -webkit-animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
            animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@keyframes primary-translate {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  20% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
            animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  59.15% {
    -webkit-animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
            animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@-webkit-keyframes primary-scale {
  0% {
    -webkit-transform: scaleX(0.08);
            transform: scaleX(0.08);
  }
  36.65% {
    -webkit-animation-timing-function: cubic-bezier(0.334731, 0.12482, 0.785844, 1);
            animation-timing-function: cubic-bezier(0.334731, 0.12482, 0.785844, 1);
    -webkit-transform: scaleX(0.08);
            transform: scaleX(0.08);
  }
  69.15% {
    -webkit-animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
            animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
    -webkit-transform: scaleX(0.66);
            transform: scaleX(0.66);
  }
  100% {
    -webkit-transform: scaleX(0.08);
            transform: scaleX(0.08);
  }
}
@keyframes primary-scale {
  0% {
    -webkit-transform: scaleX(0.08);
            transform: scaleX(0.08);
  }
  36.65% {
    -webkit-animation-timing-function: cubic-bezier(0.334731, 0.12482, 0.785844, 1);
            animation-timing-function: cubic-bezier(0.334731, 0.12482, 0.785844, 1);
    -webkit-transform: scaleX(0.08);
            transform: scaleX(0.08);
  }
  69.15% {
    -webkit-animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
            animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
    -webkit-transform: scaleX(0.66);
            transform: scaleX(0.66);
  }
  100% {
    -webkit-transform: scaleX(0.08);
            transform: scaleX(0.08);
  }
}
@-webkit-keyframes secondary-translate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.515058, 0.409685);
            animation-timing-function: cubic-bezier(0.15, 0, 0.515058, 0.409685);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  25% {
    -webkit-animation-timing-function: cubic-bezier(0.31033, 0.284058, 0.8, 0.733712);
            animation-timing-function: cubic-bezier(0.31033, 0.284058, 0.8, 0.733712);
    -webkit-transform: translateX(38%);
            transform: translateX(38%);
  }
  48.35% {
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.627035, 0.6, 0.902026);
            animation-timing-function: cubic-bezier(0.4, 0.627035, 0.6, 0.902026);
    -webkit-transform: translateX(84%);
            transform: translateX(84%);
  }
  100% {
    -webkit-transform: translateX(160%);
            transform: translateX(160%);
  }
}
@keyframes secondary-translate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.515058, 0.409685);
            animation-timing-function: cubic-bezier(0.15, 0, 0.515058, 0.409685);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  25% {
    -webkit-animation-timing-function: cubic-bezier(0.31033, 0.284058, 0.8, 0.733712);
            animation-timing-function: cubic-bezier(0.31033, 0.284058, 0.8, 0.733712);
    -webkit-transform: translateX(38%);
            transform: translateX(38%);
  }
  48.35% {
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.627035, 0.6, 0.902026);
            animation-timing-function: cubic-bezier(0.4, 0.627035, 0.6, 0.902026);
    -webkit-transform: translateX(84%);
            transform: translateX(84%);
  }
  100% {
    -webkit-transform: translateX(160%);
            transform: translateX(160%);
  }
}
@-webkit-keyframes secondary-scale {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.515058, 0.409685);
            animation-timing-function: cubic-bezier(0.15, 0, 0.515058, 0.409685);
    -webkit-transform: scaleX(0.08);
            transform: scaleX(0.08);
  }
  19.15% {
    -webkit-animation-timing-function: cubic-bezier(0.31033, 0.284058, 0.8, 0.733712);
            animation-timing-function: cubic-bezier(0.31033, 0.284058, 0.8, 0.733712);
    -webkit-transform: scaleX(0.45);
            transform: scaleX(0.45);
  }
  44.15% {
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.627035, 0.6, 0.902026);
            animation-timing-function: cubic-bezier(0.4, 0.627035, 0.6, 0.902026);
    -webkit-transform: scaleX(0.7);
            transform: scaleX(0.7);
  }
  100% {
    -webkit-transform: scaleX(0.08);
            transform: scaleX(0.08);
  }
}
@keyframes secondary-scale {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.515058, 0.409685);
            animation-timing-function: cubic-bezier(0.15, 0, 0.515058, 0.409685);
    -webkit-transform: scaleX(0.08);
            transform: scaleX(0.08);
  }
  19.15% {
    -webkit-animation-timing-function: cubic-bezier(0.31033, 0.284058, 0.8, 0.733712);
            animation-timing-function: cubic-bezier(0.31033, 0.284058, 0.8, 0.733712);
    -webkit-transform: scaleX(0.45);
            transform: scaleX(0.45);
  }
  44.15% {
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.627035, 0.6, 0.902026);
            animation-timing-function: cubic-bezier(0.4, 0.627035, 0.6, 0.902026);
    -webkit-transform: scaleX(0.7);
            transform: scaleX(0.7);
  }
  100% {
    -webkit-transform: scaleX(0.08);
            transform: scaleX(0.08);
  }
}

.aui {
	body {
		margin: 0;
		font-family: 'Telefonica', sans-serif;
		font-weight: normal;
	
		&.mlnavigation--padding{
			padding-top: 64px;
	
			@media #{$large-and-up}{
				padding-top: 120px;
			}
		}
	
		.portlet-nested-portlets {
			padding: 0;
		}
		.portlet-column-only {
			padding: 0;
		}
	
		.portlet-layout {
			&::after {
				content: '';
				display: table;
				clear: both;
			}
		}
	
		.portlet-borderless-container {
			min-height: 2.5em;
			position: relative;
		}
	
		.journal-content-article {
			height: 100%;
		}
		.layout_full_width .layout_same_height__col {
			padding: 0;
			/*@media (min-width: 993px){
				padding: 0 0.75rem;
			}*/
		}
		.layout_full_width.layout_no-padding .layout_same_height__col {
			@media (min-width: 993px){
				padding: 0;
			}
		}

	}


.portlet-layout {
	&.row-fluid {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
	}
}

@media (max-width: 979px){
	.btn {
		padding: initial;
		font-size: initial;
	}
}

&.ios input {//liferay forms fix
	@media (max-width: 979px) {
		max-width: none!important;
	}
}

.layout_full_width {
	.portlet-column{
		padding: 0;
	}
}

.layout_full_width {
	.portlet-column{
		padding: 0;
	}

	.portlet-layout.row {
		> .col {
			padding: 0;
		}
	}
}

.layout_full_width_grey {
	background-color: $grey-0;
	.portlet-column{
		padding: 0;
	}
}

.layout_full_width_blue {
	.portlet-column{
		padding: 0;
	}
	@media #{$large-and-up}{
		//background-color: #1697D8;
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

.layout_grey{
	background-color: $grey-0;
	@media #{$large-and-up}{
		padding-top: 45px;
		padding-bottom: 45px;
	}
}

.layout_transparent{
	@media #{$large-and-up}{
		padding-top: 35px;
		padding-bottom: 35px;
	}
}

.layout_same_height__row{
	@media #{$large-and-up}{
		display: flex;
	}
}

.layout_same_height__col {
	.portlet-column-content,
	.portlet-boundary,
	.portlet-borderless-container,
	.portlet-body{
		@media #{$large-and-up}{
			height: 100%;
	}
}
}

@media #{$large-and-up}{
	.layout_no-padding{
		padding: 0;
		.layout_same_height__col{
			padding: 0;
		}
	}
}

.demo-title {
	color: #fff;
	background: #4e5255;
	padding: 1.78rem 0 1.424rem 0;
	margin: 0;
}

.demo-dummy {
	display: none;
	max-width: 100%;
	height: auto;
	@media #{$large-and-up}{
		display: block;
	}
}

.responsively-lazy:not(img){
	position:relative;
	height:0;
}

.responsively-lazy:not(img) > img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

img.responsively-lazy{
	width:100%;
}

@import 'navigation/navigation';

@import 'portlets/navigation-personalization-menu';

@import 'portlets/login-portlet';

@import 'portlets/one-click-activation-portlet';

//@import 'hero/hero';

@import 'hero/hero-home-curve';

@import 'carousels/device-carousel';

//@import 'recharge-process/recharge-process';

@import 'recharge-process/recharge-process-cam';

@import 'support-links';

@import 'services-links';

@import 'quick-links';

@import 'contact-us';

@import 'mimovistar-api';

@import 'featured-content';

@import 'customization-banner';

@import 'footer';

@import 'footer-large';

@import 'section-title';

@import 'come-movistar-banner';

@import 'list-links';

@import 'services-links-boxes';

@import 'faqs-links';

@import 'featured-links';

@import 'slider-shows';

@import 'c-plan';

@import 'm-price';

@import 'm-product-card';

@import 'm-third-party-card';

@import 'm-how-to-contract';

@import 'fixed-filters';

@import 'faqs-accordion';

@import 'slider-videos';

@import 'entertainment-grid';

@import 'button-group';

@import 'device-showcase';

@import 'lightbox-modal';

@import 'build-your-pack/build-your-pack';

@import 'personalizacion-advantages';

@import 'device';

@import 'device-details';

@import 'quick-links-header';

@import 'col-smartbanner';

@import 'theme-main-latam';

}
