/************************
   Formulario
 ************************/
 /*Funcion Icono*/
 
 
$star-textError: #EC6839;
$star-textWhite: #ffffff;
$star-fondoWhite: #ffffff;
$star-bordeWhite: #ffffff;
 
@mixin icon-list {
	font-family: 'icomoon' !important;
	position: absolute;
	float: left;
	margin: 0 6px 0 0;
	z-index: 1;
}
@mixin icon-card {
	content:'';
    top: 13px;
    right: 11px;
    position: absolute;
    z-index: 1;
    width: 29px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: 50%;
}
/* Inicio  General */
 .aui{	 
	 .starError{
		font-size:12px;
		color: $star-textError;
		padding-top: 8px;
		display: none;
	}
	.starIconError{
		&:before{
			color: $star-textError!important;
		}
		input{
			color: $star-textError!important;
		}
	}	
	.starPaddContWhite {
	    width: 70%;
	    margin: 0 auto;
	    background: $star-fondoWhite;
	    padding: 40px 2px 27px 2px;
	    border-radius: 20px;
	    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
	    margin-top: 50px;
		margin-bottom: 50px;
	}
	.client-sup__icon{
		&:before {
		    color: #55af07;
		}
	}
	.contGridGen{
		 a{
		 	&:hover{
		 		.client-sup__icon{
		 			&:before {
					    color: $star-textWhite;
					}
		 		}
		 	}
		 }
	}
 	/*Modal - PopUp VCC*/
 	.starInfoVcc{
 		&.modal{
			max-width: 400px;
 			.modal-content {
			    padding:0px;
			}
 		}
 	}	
 	.imgICard{
		text-align:center;
		&.imgInfoCard1{
			margin-bottom:30px;
		}
	}
	.starInfoVccBody{
		padding:50px 30px 40px 30px;
		background-color:$star-fondoWhite;
	}
	.starInfoVccTexto{
		font-size:16px;
		color: #50535A;
		line-height: 20px;
		text-align: center;
		margin-bottom: 20px;
		.respuesta {
		    color: #757575;
		}
	}
	.md{
		&.col-form-pe{
			.btn_container{
				&.btnModal {
				    max-width: 50%;
				    margin-top: 30px;
				}
			}
		}
	}
	.starConfirmar{
		.ucm__button-cancel{
			&.starCloseModal{
				span {
				    font-size: 14px;
				}
			}
		}
	}
	.starInfoVccBody{
		&.starModalBody{
			img {
			    width: 100%;
			    max-width: 165px;
			    padding-bottom: 23px!important;
			    &.mobile{
			    	max-width: 270px;
			    }
			}
		}
	}
	.starInfoVccTitle{
		font-size:18px;
		color: #50535A;
		text-align: center;
		margin-bottom: 20px;
	}
	/*TerminosyCond*/
	.startyc{
		padding:33px 24px;
		p{
			text-align: justify;
			&.starConTitle{
				text-align: center;
			}
		}		
	}
	.starTerminosCond {
		max-width: 500px;
		.ucm__button-cancel {
			color: #50535A;
			font-weight: 600 !important;
			font-size: 18px;
			padding:0px 5px;
		}
	}
	/*DISABLED*/ 
	.starBoxShadow{
		-webkit-box-shadow: 0px 4px 35px  rgba(0,0,0,0.15)!important;
		-moz-box-shadow: 0px 4px 35px  rgba(0,0,0,0.15)!important;
		box-shadow: 0px 4px 35px  rgba(0,0,0,0.15)!important;
	}
	.starShowColmnDL{		
		background: #fbfbfb!important;
		a {
		    pointer-events: none;
		}
		label,.btn, p, img{			
			filter: opacity(0.7);
			 -webkit-filter:opacity(0.7);
			filter: alpha(opacity=70);
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
			-moz-opacity: 0.70;
			 -khtml-opacity: 0.7;
			 opacity:0.7;
		}
		.input-text-wrapper{
			&:before{
				filter: opacity(0.1);
				 -webkit-filter:opacity(0.1);
				filter: alpha(opacity=10);
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
				-moz-opacity: 0.10;
				 -khtml-opacity: 0.1;
				 opacity:0.1;
			}
			img,input{				
				filter: opacity(0.5);
				 -webkit-filter:opacity(0.5);
				filter: alpha(opacity=50);
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
				-moz-opacity: 0.50;
				 -khtml-opacity: 0.5;
				 opacity:0.5;
			}
		}
	}
	.starRowBtn{
		.btn[disabled]{
		    background-color: #53bf02!important;
		    color: $star-textWhite!important;
		}
		.btn_container{
			max-width:100%!important;
			.btn{
				max-width:100%!important;
			}
		}
		&.starBtnDisabled{
			.btn{				
				filter: opacity(0.7);
				 -webkit-filter:opacity(0.7);
				filter: alpha(opacity=70);
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
				-moz-opacity: 0.70;
				 -khtml-opacity: 0.7;
				 opacity:0.7;
			}
		}
	}
 	/*Vista Recarga*/
	.starConTarjNumero{
		max-width:100%!important;
		input{
		    font-size:15px!important;
		}
	}
	.ucm__button-cancel{
		&.starIconCloseBanner{
			padding: 0px 5px;
			font-size: 15px;
			top: 0px;
			right: 22px;
		}
	}
	.starShowBtn{
		label{			
			filter: opacity(0.7);
			 -webkit-filter:opacity(0.7);
			filter: alpha(opacity=70);
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
			-moz-opacity: 0.70;
			 -khtml-opacity: 0.7;
			 opacity:0.7;
		}
	}
	.starRowMonto_Radio {/*Botones Monto*/
		div { 
			padding:0;
			position:relative;
			display:inline-block;
		}
		label{
			position:relative!important;
			background:transparent!important;
			padding: 0!important;
			height: auto!important;
			margin-right: 22px;
			&.last{
				margin:0px;
			}
		}
		li {
		  list-style:none;
		  display:inline-block;
		}
		span {
		  color: #86888C;
		  cursor:pointer;
		  transition:all .2s ease;
		  width: 100px;
		  height: 100px;
		  font-weight: 300;
		  font-size: 26px;
		  margin-right: 0;
		  border: 0px;
		  vertical-align: middle;
		  text-align: center;
		  display: table-cell;
		}
		input {
		  display:none;  
		}
		input+ span {
			background-image: url(/canalonline-peru-theme/images/peru/starMontoFondoDisableSombra.png);
			background-image: url(/canalonline-peru-theme/images/peru/starMontoFondoDisableSombra.svg);
			background-repeat: no-repeat;
			background-size: cover;
			background-color: transparent;
			
		}
		input:checked + span {
			background-image: url(/canalonline-peru-theme/images/peru/starMontoFondoActive.png);
			background-image: url(/canalonline-peru-theme/images/peru/starMontoFondoActive.svg);
			color: $star-textWhite;

		}
	}
	.starModal{/*Vcc_Mob*/
		display:none;
	}
	.starToolTip{/*Vcc_Des*/
		display:block;
	}
	#starToolView{/*Vcc-Tool*/
		display:none;
		width: 322px;
		height: 477px;
		position: absolute;
		top: -121px;
		right: 30px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		z-index: 3;
		&:before{
			content: "";
			display: block;
			width: 0;
			height: 0;
			border-top: 12px solid transparent;
			border-bottom: 12px solid transparent;
			border-left: 12px solid $star-bordeWhite;
			position: absolute;
			top: 24%;
			right: -12px;
		}
	}
	.starToolTip{
		&:hover{
			#starToolView{
				display: block;
			}
		}
	}
	
 	.starViewRecargas{
 		width: 100%;
	    max-width: 1280px;
	    margin: 0 auto;
	    float: none;
	    padding-top: 25px;
 		.modal {
 			top: 10%!important;
		    width: 90%;
		    height: auto;
		    max-height: 90%;    
		    margin: 0 auto;
		    bottom: auto!important;  
 		}
 	} 
 	.starImgTarjetas{
 		padding:13px 10px;
 	}
 	.starRowPosition{
		position:relative;
		height:48px;
	}	
 	.starRowBtn{
		.btn{
			font-size:20px!important;
		}
 		.btn_container{
 			margin:0px!important;
 			a{
				padding-top: 10px;
			}
 		}
 	}
	.btn-form{
		&.last{
			margin-right: 0px;
		}
	}
 	.starMontBtn{
		margin-bottom:56px;
		.btn-form{
			border: 0px;
			margin-right: 22px;
			width: 100px;
			height: 100px;
			font-weight: 300;
			font-size: 26px;
			background-image: url('/canalonline-peru-theme/images/peru/starMontoFondoDisableSombra.png');
			background-image: url('/canalonline-peru-theme/images/peru/starMontoFondoDisableSombra.svg');  
			background-repeat: no-repeat;
			background-size: cover;  
			background-color:transparent;
			color: #86888C;
			padding:0px!important;
			&:focus{
				outline: none;
			}
			&.btnFondoMont{
				background-image: url('/canalonline-peru-theme/images/peru/starMontoFondoActive.png');    
				background-image: url('/canalonline-peru-theme/images/peru/starMontoFondoActive.svg');    
				color: $star-textWhite;   	
			}
			&:disabled {/*Disabled Boton - Monto*/				
				filter: opacity(0.5);
				 -webkit-filter:opacity(0.5);
				filter: alpha(opacity=50);
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
				-moz-opacity: 0.50;
				 -khtml-opacity: 0.5;
				 opacity:0.5;
			}
		}
 		
 	}
	.starRowCheck {
		.process[type="checkbox"]:checked+label:after {
			border: 1px solid #50535a;
			background-color: #fff;
		}
		.process[type="checkbox"]+label:before {
			top: 3px;
			left: 6px;
		}
	}
 	.starTxtDatMob{
	  	display:none;
	}
	.starTxtDatDesk{
	  	display:block;
	}
	.starTxtMontMob{
		display:none;
	}
	.starTxtMontDesk{
	  	display:block;
	}
	.starRowTarjMail {
		margin-bottom: 30px;
	}
	.starConfirMonto{
		max-width: 273px;
    	margin-top: 10px;
	}
	.starRowTarjRec{
	 	.input_container--docId{
			margin:0px!important;
		}
	}
	.starRowCheck{
	 	.lightbox-modal__check.process[type="checkbox"]+label:after{
			left: 0px;
			top: 4px;
		    border-radius: 20%;
		}
		.process[type="checkbox"]:checked+label:before{
			border-right: 2px solid #5BC500;
		    border-bottom: 2px solid #5BC500;
		}
		.process[type="checkbox"]:not(:checked)+label:after{
			border: 1px solid #e9eae8;
			background-color: #e9eae8;
		}
	}
	.starFont16{
		font-size:16px;	
		color: #50535A;
		a{
			color: #50535A;
		}
	 }
	 .starRowCImg{
		max-width:156px;
		text-align: center;
		background: #e9eae8;
		border-radius: 4px;
		max-height: 48px;
		img{/*Imagen de Captcha*/
			max-width: 156px;
			border-radius: 4px;
			max-height: 48px;
		}
	}
	.starChangeImg{
		cursor: pointer;
	}
	.starRowCText{/*Caj Captcha*/
		max-width:156px;
		margin-left: 4px; 
	}
	/*Titulo Principal*/
	.col_title_pe {
	    margin: 0 0 40px 0 !important;
	    text-align: center;
	    color: #50535a;
	    font-size: 64px!important;
	    padding-top: 40px;
	}
		
	.starForm {
		.starPhone{
			&.input_container--docId {
				margin: 0px !important;
			}
			.starRowPhone {
				margin-bottom:30px;
			}
		}
		.starRowBanner{
			margin-bottom:30px;
			position:relative;
		} 
		.col{
			&.s1,&.s2,&.s3,&.s4,&.s5,&.s6,&.s7,&.s8,&.s9,&.s10,&.s11,&.s12{
				padding:0px;
			}
		}
		p{
			margin-top:0px;
			margin-bottom:20px;
			color: #50535a;
		}
		input[type="tel"],input[type="text"]{
			width: 100%;       
			outline: 0;
			border-radius: 4px;
			height: 48px;
			font-size: 18px;    
			padding: 15px;
			margin: 0 auto;
			&.widthVcto{
				max-width: 182px;   
				padding: 10px 15px 10px 35px !important;
			}
			&.greyInp{
				color: #63666d;
				border: 1px solid #50535A;
				background: transparent;
				border-radius: 6px;
			}
			&.whiteInp{
				color: #63666d;
				border: 1px solid transparent;
				background-color: $star-fondoWhite;
				box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
				&.widthPhone{
					max-width: 361px;    
					padding: 10px 15px 10px 35px !important;
				}
				&.widthMonto{
					max-width: 271px; 
					padding: 10px 15px 10px 35px !important;
				}
			}
			&.starCard{
				padding: 10px 15px 10px 35px !important;
			}
			&.starVcc{
				padding: 10px 15px 10px 35px !important;
			}
			&.starMail{
				padding: 10px 15px 10px 35px !important;
			}
		}
		label{
			&.whiteInp{
				background-color: $star-fondoWhite!important;
				&.widthPhone{
					max-width: 361px;
					padding: 10px 15px 10px 35px !important;
				}
				&.widthMonto{
					max-width: 271px;	
					padding: 10px 15px 10px 35px !important;
				}
			}
			&.starCard{
				max-width: 361px;
				padding: 10px 15px 10px 35px !important;
			}
			&.widthVcto{
				max-width: 182px;	
				padding: 10px 15px 10px 35px !important;
			}
			&.starVcc{		
				padding: 10px 15px 10px 35px !important;
			}
			&.starMail{
				padding: 10px 15px 10px 35px !important;
			}
		}
		
	}
	.starColmnBM{
		max-width: 731px;
		p{
			&.title{
				font-size:20px;
			}
		}
		.starPhone{
			max-width:100%!important;
		}
	}
	.starRowLog2 {
		border-top: 0.5px solid #D3D4D3;
		margin-top: 15px;
	}
	.starRowLogos{
		background: #F4F4F3;
		border-radius: 4px;
		padding: 20px;
		text-align: center;
		margin-bottom: 20px;
		p{
			text-align: center;
			color: #50535A;
			margin-bottom: 10px;
			font-size: 16px;
		}
	}
	.starContMail{
		&:before {
			content: "\ea9b";
			color: #5BC500;
			font-size: 14px;
			top:13px;
			left:11px;
			@include icon-list;
		}
		label{
			&.starMail{
				&:before{
					content: "\ea9b";
					color: #86888c;
					font-size: 14px;
					top:11px;
					left:11px;
					@include icon-list;
				}
			}
		}
	}
	.starVccContent{
		&:before {
			content: "\ea99";
			color: #5BC500;
			font-size: 17px;
			top:11px;
			left:11px;
			@include icon-list;
		}
		label{
			&.starVcc{
				&:before{
					content: "\ea99";
					color: #86888c;
					font-size: 17px;					
					top:9px;
					left:11px;
					@include icon-list;
				}
			}
		}
	}
	.starContVcto{
		&:before {
			content: "\ea9a";
			color: #5BC500;			
			font-size: 17px;			
			top:11px;
			left:11px;
			@include icon-list;
		}
		label{
			&.widthVcto{
				&:before{
					content: "\ea9a";
					color: #86888c;
					font-size: 17px;
					top:9px;
					left:11px;
					@include icon-list;
				}
			}
		}
	}
	.starContMonto{
		&:before {
			content: "\ea97";
			color: #5BC500;
			font-size: 16px;			
			top:12px;
			left:11px;
			@include icon-list;
		}
		label{
			&.widthMonto{
				&:before{
					content: "\ea97";
					color: #86888c;
					font-size: 16px;					
					top:10px;
					left:11px;
					@include icon-list;
				}
			}
		}
	}
	.starContPhone{
		&:before {
			content: "\ea96";
			color: #5BC500;
			font-size: 23px;			
			top:8px;
			left:11px;
			@include icon-list;
		}
		label{
			&.widthPhone{
				&:before{
					content: "\ea96";
					color: #86888c;
					font-size: 23px;					
					top:5px;
					left:11px;
					@include icon-list;
				}
			}
		}
	}
	.starContCard{
		&:before {
			content: "\ea98";
			color: #5BC500;			
			font-size: 14px;			
			top:13px;
			left:11px;
			@include icon-list;
		}
		&.starVisa{
			&:after{
				background-image: url('/canalonline-peru-theme/images/peru/starVisa.svg');  
				@include icon-card;				
			}
		}
		&.starMastercard{
			&:after{
				background-image: url('/canalonline-peru-theme/images/peru/starMastercard.svg');
				@include icon-card;				
			}
		}
		&.starDiners{
			&:after{
				background-image: url('/canalonline-peru-theme/images/peru/starDiners.svg');
				@include icon-card;				
			}
		}
		&.starAmerican{
			&:after{
				background-image: url('/canalonline-peru-theme/images/peru/starAmerican.svg');
				@include icon-card;				
			}
		}
		label{
			&.starCard{
				&:before{
					content: "\ea98";
					color: #86888c;
					font-size: 14px;					
					top:11px;
					left:11px;
					@include icon-list;
				}
			}
		}
	}
	.starColmnDL {
		background:$star-fondoWhite;
		padding:40px 38px 40px 40px;
		border: 2px solid #E9EAE8;
		margin:0px!important;
		float: right;
		p{
			&.title{
				font-size:18px;
			}
		}
		.input-text-wrapper-content{
			margin-bottom:8px;
		}
		.starRowTarDat{
			.col{
				&.s7{
					padding:0;
				}
				&.s5{
					padding:0 0 0 2px;
				}
			}
		}
	}
	.starQ{
		position: absolute;
		bottom: 9px;
		right: 6px;
	}
	.starImgCul{
		padding:0px 8px;
	}	
	.client-sup{/* Fondo exito de recarga*/	
		&.starViewContExit{
			background-color: #5BC500;
			padding-top: 80px;
		    padding-bottom: 50px;
		}
	}
	.starFormExitosaView {
	    margin: 0 auto;
	    max-width: 400px;
	}	
	.starEBdCard, .starEBdMon, .starEBdPhone, .starEBdMail  {   
	    position: relative;
	}
	.starEBdCard{
		&:before{
			content: "\ea98";
			color: #50535A;
			font-size: 15px;
			top:13px;
			left: 13px;
			 @include icon-list;
		}
	}  
	.starEBdMon{
		&:before{
			content: "\ea97";
			color: #50535A;
			font-size: 15px;
			top:13px;
			left: 13px;
			@include icon-list;
		}
	}
	.starEBdPhone{
		&:before{
			content: "\ea96";
			color: #50535A;
			font-size: 20px;
			top: 9px;
			left: 13px;
			@include icon-list;
		}
	}
	.starEBdMail{
		&:before{
			content: "\ea9b";
			color: #50535A;
			font-size: 15px;
			top:13px;
			left: 13px;
			@include icon-list;
		}
	}
	.starMsnID{
		text-align: center;
		font-size: 18px;
		line-height: 24px;
		color: #50535A;
		margin-bottom:30px;
		.starMsnIDNum{
			color:#00A9E0;
		}
	}
	.starMsnConf{
		align-items: center;
		text-align: center;
		color: #50535A;
		font-size:16px;
		margin-bottom:22px;
	}
	.starPremioSecc2{
		font-size: 16px;
		line-height: 24px;
		color: $star-textWhite;
	}
	.starPremioSecc1{
		margin-bottom:10px;
		img{
			margin: 0 9px;
		}
	}
	.starPTitle{
		font-size: 24px;
		line-height: 24px;
		color: $star-textWhite;
		font-weight: 300;	
	}
	.starPremio{
		background-color: #00A9E0;
		border-radius: 4px;
		padding: 16px 5px;
	    text-align: center;
	    margin-bottom: 30px;
	}
	.starEBRowConten{
		margin-top:9px;
	}
	.starEBConten{
		float:right;
		text-align: right;
		color: #5BC500;
		font-size: 18px;
		line-height: 22px;
	}
	.starEBNombre{
		color: #50535A;
		font-size: 16px;
		line-height: 20px;
	}
	.starExtbody{
		background: $star-fondoWhite;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
		border-radius: 4px;
		margin-bottom:30px;
		.starEBdRow{
			padding: 12px 18px  16px 48px;	
			margin:0px;
		}
		.starEBdLine{
			border-bottom: 1px solid #F4F4F3;
		}
	}
	.starExtImg{
		text-align: center;
		margin-bottom:30px;
	}
	.starExtTitle{
		font-size: 36px;
		align-items: center;
		text-align: center;
		color: #50535A;
		font-weight: 300;
		margin-bottom:20px;
	}
	.starExitosa{
		padding:40px;
		background:$star-fondoWhite;
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
	}
	.starMsnButton {
	    text-align: center;
	}
	/*Modal Confirmar*/	
	.starConfirmar{
		.ucm__button-cancel{
			padding: 3px 5px;
			.icon-close-ca {
			    color:#50535A;
			    font-weight: 600 !important;
			    font-size: 18px;
			}
		}
		&.modal{
			border-radius: 10px!important;
			max-width: 500px;
			.modal-content{
				padding: 0px!important;    
			}
		}
	}
	.starVolver{
		text-align:center;
	}
	.starCambiar {
	    position: absolute;
	    bottom: 12px;
	    right: 13px;
	}
	.starFramePhone{
		margin:0px!important;
	}
	.starConTarjNumero{
		input{		
			background-repeat: no-repeat!important;
		    background-position: 9px 50%!important; 
		    padding: 10px 15px 10px 45px !important;
		    background-color: #E9EAE8 !important;
		    border-color: #E9EAE8 !important; 
		    &.starVisa{
				background-image: url(/canalonline-peru-theme/images/peru/starVisa.png)!important;
				background-image: url(/canalonline-peru-theme/images/peru/starVisa.svg)!important;			
			}
			&.starMastercard{
				background-image: url(/canalonline-peru-theme/images/peru/starMastercard.png)!important;
				background-image: url(/canalonline-peru-theme/images/peru/starMastercard.svg)!important;				
			}
			&.starDiners{
				background-image: url(/canalonline-peru-theme/images/peru/starDiners.png)!important;
				background-image: url(/canalonline-peru-theme/images/peru/starDiners.svg)!important;				
			}
			&.starAmerican{
				background-image: url(/canalonline-peru-theme/images/peru/starAmerican.png)!important;
				background-image: url(/canalonline-peru-theme/images/peru/starAmerican.svg)!important;				
			}
		}		
	}
	.starConFrameTexto{
		font-size: 18px !important;
		color: #50535A;
		font-weight: 300;
		border:0px !important;
		padding:0px !important;
	}
	.starConFrameTitle{
		font-size: 14px;
		line-height: 148%;
		color: #86888C;	
	}
	.starConFrame{
		border:1px solid;
		border: 1px solid #D3D4D3;
		box-sizing: border-box;
		border-radius: 4px;
		padding:16px;
	}
	.starConTitle{
		font-size:32px;
		color: #50535A;
		text-align: center;
		font-weight: 300;
		margin-bottom:40px;
	}
	.starConBody{
		padding:72px 40px 21px 40px;
		background-color:$star-fondoWhite;
	}
	/*Form General*/
	
}
 /* Fin  General */
 
  /* Inicio Theme MAX 320px */
 @media (max-width: 320px){
 	.aui{
 		.starBtnSeleccion {
 			.btn{
		    	background: $star-fondoWhite;
			    border-radius: 0;
			    font-size:16px;
			    text-align: left;
			    color: #50535A;
			    padding-left: 10px;
			    padding-right: 20px;
			    box-shadow: inset 0px -1px 0px #E9EAE8;	   
			    &:after{
			    	content:"\e315";
			    	font-family: 'icomoon'!important;
			    	font-size: 16px;    	
				    top: 8px;
				    right: 2px;
				    color: #00A9E0;
				    position:absolute;
			    } 
		    }
		    .contBtnGen{
		    	margin: 0px auto;
		    	position:relative;
		    } 
 		}
 		.starNotas{
	        padding:8px 10px;
	        margin-bottom: 0px;
	    }
 		.starGeneralFrm{
	        width:100%;
	        .s12{
		        padding:0px;
		    }
	     }
 		.starSmall{
	        max-width:100%;
	    }
 		.starPaddCont{
	        padding:0px 15px 10px 15px;
	    }
 		.starAtras{
 			padding: 9px 0px 0px 0px;
 			span{
				display:none;
			}
			i{
				font-size: 30px;
			}
 		}
 		.starFndBack{
 			.starPaddCont{
				padding: 43px 15px 43px 15px;
			}
			.starTiPrinGen{
				margin-bottom: 60px;
				color:$star-textWhite;
			}
			.starAtras {
				display:none;
			}
 		}
 		.client-sup{
 			&.starFndBack{
 				background-image: url(/canalonline-peru-theme/images/peru/starFndBack.svg);
				background-position: top;
			    background-size: auto;
			    background-color: transparent;
 				.starTiGen {
				    color: $star-textWhite;
				    font-size: 27px;
				    margin-top: 0;
				    margin-bottom: 42px;
				}
 			}
 		}
 	}
 	
 }
 /* Fin Theme MAX 320px */
 
 /* Incio Theme MAX 392px */ 
 @media (max-width: 392px){	
	.aui{
		.starConfirMonto{
	        max-width:100%!important;
	    }
		.starMontBtn {
			.btn-form{
				height: 68px;
				width: 68px;
				margin-right: 12px;
				margin-left: 12px;
				margin-bottom: 30px;
				padding: 0;
			}
		}
		.starConBody{
			padding: 65px 16px;
		}
		.starExitosa{
			padding: 30px 16px;
		}
		.starInfoVccBody{
			padding: 30px 16px;
		}
		.starInfoVccTitle{
			font-size: 32px;
			font-weight: 300;
			line-height: 40px;
		}
		.starInfoVccTexto{
			font-weight: 300;
		}
		.starForm{
			label{
				&.whiteInp{
					&.widthPhone{
						max-width: 95% !important;
					}
				}
			}
			input[type="tel"],input[type="text"]{
				&.whiteInp{
					&.widthMonto{
						max-width: 95%;
					}
					&.widthPhone{
						max-width: 95%!important; 
					}
				}
			}
			.starPhone{
				.starRowPhone{
					margin-bottom: 20px;
				}
			}
			.starColmnBM{
				p{
					&.title{
						font-size: 18px;
					}
				}
			}
		}
		.starTxtPhone{
			display:none;
		}
		.starTxtMontMob{
			display:block;
		}
		.starTxtMontDesk{
			display:none;
		}  
		.starTxtDatMob{
			display:block;
		}
		.starTxtDatDesk{
			display:none;
		}
		.starMontBtn{
			margin:5px;
		}
		.starRowMonto{
			margin-bottom:35px;
		}
		.col_title_pe{
			font-size: 32px!important;
			margin: 0px!important;
			padding-top: 30px;
			padding-bottom: 20px;
		}
		.client-sup{
			&.starViewContExit {
				background-color: $star-fondoWhite;
				padding-top: 0px;
				padding-bottom: 0px;
			}
		}
	}
 }
 /* Fin Theme MAX 392px */
 
 /* Incio Theme MAX 500px */
 @media (max-width: 500px){
 	.aui{
 		.starFndPint{
	         background:none;
	     }
	     .starGeneralFrm{
	        width:95%;
	     }
	     .starSubGenlFrm{
	        width:100%;
	     }
 	}
 }
 /* Fin Theme MAX 500px */
 
 /* Incio Theme MAX 600px */
 @media (max-width: 600px){
 	.aui{
 		.starImgCenter{
 			img{
				width: 55px;
			}
 		}
 	}
 }
 /* Fin Theme MAX 600px */
 
 /* Inicio Theme MAX 723px */
@media (max-width: 723px) {
	.aui{
		.starPaddContWhite {
	        width: 93%!important;
	        margin: 0 auto!important;
	        padding: 20px 2px 10px 2px!important;
	    }	    
	}    
}
/* Fin Theme MAX 723px */
 
 /* Inicio Theme MAX 725px */
@media (max-width: 725px){
	.aui{
		.starConfirMonto{
			display:block!important; 
			margin-right: 15px;
			margin-top:15px;  
		}
		.starToolTip{
			display:none!important;
		}
		.starModal{
			display:block!important;
		}
		.starRowBtn{
			.btn_container{
				max-width:100%!important;
			}
		}
		.starColmnDL{
			border:0px;
			max-width:100%!important;
			padding: 25px 16px;
		}
		.starRowCIT{
			.col{
				&.s6{
					width:50%;
					max-width: 156px;
				}
			}
		}
		.starForm{
			label{
				&.starCard{
					max-width:100%!important;
				}
				&.widthVcto{
					max-width:100%!important;
				}
			}
			input[type="tel"], input[type="text"]{
				&.widthVcto{
					max-width:100%!important;
				}
			}
		}
	}
}
/* Fin Theme MAX 725px */

/* Inicio Theme MAX 725px - MIN 601px */
@media (max-width: 725px) and (min-width: 601px){
	.aui{
		#starColmnLeft{
			width: 100%;
		}
		#starColmnRight{
			width: 100%;
		}
	}
}
/* Fin Theme MAX 725px - MIN 601px */
 
/* Inicio Theme MAX 749px and MIN 501px */
@media (max-width: 749px) and (min-width: 501px){
	.aui{
		.starGeneralFrm{
			width:95%;
		}
		.starSubGenlFrm{
	        width:70%;
	    }
	    .starFndPint{
	         background:none;
	    }
	}
}
/* Inicio Theme MAX 749px and MIN 501px*/

/* Inicio Theme MAX 800px */
@media (max-width: 800px){
	.aui{
		.col_title_pe {
			font-size: 32px!important;
			margin: 0px!important;
			padding-top: 30px;
			padding-bottom: 20px;
		}
		.starMontBtn{
			margin: 5px;
			.btn-form {
				height: 68px;
				width: 68px;
				margin-right: 12px;
				margin-left: 12px;
				margin-bottom: 30px;
				padding: 0;
			}
		}
		.starRowMonto {
			margin-bottom: 35px;
		}
	}
}
/* Fin Theme MAX 800px */
 
/* Inicio Theme MAX 824px - MIN 724px */
@media (max-width: 824px) and (min-width: 724px){
	.aui{
		#starColmnLeft {
			width: 50%;
		}
		#starColmnRight{
			min-width:350px;
			float:right;
		}
	}
}
/* Inicio Theme MAX 824px - MIN 724px */

/* Inicio Theme MAX 940px - MIN 724px */
@media (max-width: 940px) and (min-width: 724px){
    .aui {
    	.starPaddContWhite {
	        width: 90%!important;
	    }
    }
}
/* Fin Theme MAX 940px - MIN 724px */

/* Inicio Theme MAX 1127px - MIN 823px */
@media (max-width: 1127px) and (min-width: 823px){
	.aui{
		#starColmnLeft {
			width: 50%;
		}  
		#starColmnRight{
			min-width:400px;
			float:right;
		}
	}
}
/* Fin Theme MAX 1127px - MIN 823px */

/* Inicio Theme MAX 1290px */
@media (max-width: 1290px) {
	.aui {
		.starRowPM{
			padding-left:15px;
			clear: both;

		}
	}
}
/* Fin Theme MAX 1290px */
 
/* Incio Theme MAX All-MIN 601px */
@media only screen and (min-width: 601px){
	.aui{
		.starRowCheck{
			.lightbox-modal__check.process[type="checkbox"]+label:after{
				left: 0px;
				top: 4px;
				border-radius: 20%;
			}
			.process[type="checkbox"]:checked+label:after{
				border: 1px solid #50535A;
			    background-color: $star-fondoWhite;
			}
			.process[type="checkbox"]+label:before{
			    top: 3px;   
			    left: 6px;
			}
			.starRowCheck .process[type="checkbox"]+label:before{
			    top: 3px;   
			    left: 6px;
			}
		}
	}
}
/* Fin Theme MAX All-MIN 601px */












.aui .starPaddContWhite {
    width: 70%;
    margin: 0 auto;
    background: $star-fondoWhite;
    padding: 40px 2px 27px 2px;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    margin-top: 50px;
	margin-bottom: 50px;
}

i.icon-M-isotipo-masa.iconMovTall {
    font-size: 60px;
    color: #53bf02;
}

.aui .starMLA .starSubTiPrinGen{
    margin: 1rem 0 20px 0;
}
.aui .starMLA .starSubTiGen{
    margin:1rem 0 20px 0;
}
.aui  i.icon-M-isotipo-masa.iconMovTall {
    font-size: 60px;
    color: #53bf02;
}
.aui .center.starChap {
    display: table;
}
.aui .center.starChap .col6{
    display: table-column;
}
.aui .starModalMax ul li{
    margin-left:10px;
}
.aui .contSelect.iconStarUser input{
    padding-left:30px;
}
.aui .contSelect.iconStarUser:before {    
    content: "\e7fd";
    color: #86888c;
    font-size: 17px;
    top: 11px;
    left: 8px;
    font-family: 'icomoon'!important;
    position: absolute;
    float: left;
    margin: 0 6px 0 0;
    z-index: 1;
}
.aui .contSelect.iconStarDate input{
    padding-left:30px;
}
.aui .contSelect.iconStarDate:before {    
    content: "\ea9a";
    color: #86888c;
    font-size: 17px;
    top: 11px;
    left: 8px;
    font-family: 'icomoon'!important;
    position: absolute;
    float: left;
    margin: 0 6px 0 0;
    z-index: 1;
}
.aui .starModalMax .starSubTiPrinGen {margin-bottom: 23px;}
.aui .starModalMax ul li{
        list-style-type:disc;
}
@media only screen and (max-width: 768px)
{
    .aui body #wrapper #content {
    padding-top: 0px;
    }
}
.aui .starConfirmar .ucm__button-cancel .icon-close-ca {
    color: #50535a;
    font-weight: 600!important;
    font-size: 18px;
}
.aui .starConfirmar .ucm__button-cancel .icon-close-ca {
    color: #50535a;
    font-weight: 600!important;
    font-size: 18px;
}
.aui .starConfirmar .ucm__button-cancel {
    padding: 3px 5px;
}
.aui .starConfirmar.modal {
    border-radius: 10px!important;
    max-width: 500px;
}
.aui .starModalMax{
	top: 10%!important;
    width: 90%;
    height: auto;
    max-height: 90%;
    margin: 0 auto;
    bottom: auto!important;
}
.row.starChap .s6 {
    float:left;
    max-width:160px;
    padding:0px;    
}
.row.starChap .s6 img{width:95%;}
.row.starChap .s6 p img{width:auto;}
.row.starChap .starFont16{
    font-size:14px;
    margin:0px;
}
.aui .row.starRowCenter {
    display: block;
}
.aui .row.starRowCenter .contGridGen2 { 
	display: block;
}
.aui .contRadio.contInputRd .contInput {
    display: none;
    margin-left:35px;
    max-width:400px;
}

.aui .contRadio.contInputRd .md[type="radio"]:checked+label+.contInput {
    display: block!important;
}
.aui .starPaddCont {
    padding: 50px 0 90px 0;
}
.aui .starImgCenter{
	text-align: center;
}
.aui .starFndPint {

    color: #50535a;
    background-image: url(/canalonline-peru-theme/images/peru/starFdReclamos.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: $star-fondoWhite;
    background-position: top right;
    
}
.aui .starSubGenlFrm{
	margin:0 auto;width:50%;
}
.aui .starNotas {
    padding: 17px 30px;
    background: #F4F4F3;
    color: #50535A;
    margin-bottom: 50px;
}
.aui .starConBor .starSubTiPrinGen{
	text-align:left;
	margin: 0 0 20px 0;
	padding: 0 .75rem;
}
.aui .starGeneralFrm hr{
	height: 1px;
    background-color: #d4d5d8;
    border: none;
}
.aui .row.starConBor {
    padding-top: 15px;
    padding-bottom: 30px;
}
.aui .starMedium{
	max-width:450px;
}
.aui .starSmall{
	max-width:200px;
}
.aui .starXSmall{
	max-width:130px;
}
	.aui .starGeneralFrm{
		margin:0 auto;width:80%;
	}
	.aui .contGridGen a:hover {
    background-color: #55af07;
}
.aui .contGridGen a:hover .client-sup__icon{
    color:#fff;
}
.aui .contGridGen a:hover .client-sup__grid-title{
    color:#fff;
}
.aui .contGridGen2 a:hover {
    background-color: #55af07;
}
.aui .contGridGen2 a:hover .client-sup__icon{
    color:#fff;
}
.aui .contGridGen2 a:hover .client-sup__grid-title{
    color:#fff;
}
.aui .contGridGen2 a:hover p{
    color:#fff;
}
	
	.aui .starAtras{
		padding: 20px 40px 18px 0px;		
	}
	.aui .starAtras a{
		color:#50535A;
	}
	.aui .starAtras a:hover{
		    color: #87888c;
	}
	.aui .starAtras i{
		margin-right:10px;
	}
	.aui .contGridGen {
	    float: none;
	    width:100%!important;
	    text-align: center;
	}
.aui .contBtnGen {
    width: 100%;
    margin: 20px auto;
}
.aui .contBtnGen .btn{
    width: 100%;    
    margin: 0 auto;
    height: 50px;
    box-shadow: none;
    border-radius: 4px;
    font-size: 18px;
}
.aui .contSelect{
	position:relative;
}
.aui .contCheck{
	position:relative;
}
.aui .contRadio{
	position:relative;
	margin: 5px 0;
}
.aui .contRadio label{
	top:0px!important;
}
.aui .contInput {
    position: relative;
}
.aui .contInput label.active {
    display: none;
}
.aui .contInput label {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    color: #87888c;
    height: 48px;
    line-height: 1.75;
    font-size: 16px;
    background: #e9eae8;
    border-radius: 4px;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px 15px;
    text-align: left;
}
.aui .contInput input{
    width: 100%;
    padding: 10px 15px;
    text-align: left;
    border-radius: 4px;
    border: 1px solid #c6c6c3;
    margin-bottom: 16px;
    color: #63666d;
    height: 48px;
} 
.aui .contInput.error .message, .aui .contTextarea.error .message{
	margin-top: 0px;
	margin-bottom: 10px;
	color:$star-textError;
	font-size:12px;
	padding-left:8px;
}
.aui .error .message {
    margin-top: 0px;
    margin-bottom: 10px;
    color:$star-textError;
    font-size:12px;
    padding-left:8px;
}

.aui .error.contSelect input{
    margin-bottom: 0px;
}
.aui .contInput.error input, .aui .contTextarea.error textarea.md{
	margin-bottom: 0px;
	border-color:$star-textError;
}
.aui .contInputIcon {
    position: relative;
}
.aui .contInputIcon label.active {
    display: none;
}
.aui .contInputIcon label {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    color: #87888c;
    height: 48px;
    line-height: 1.75;
    font-size: 16px;
    background: #e9eae8;
    border-radius: 4px;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px 15px 10px 32px;
    text-align: left;
}
.aui .contInputIcon input{
    width: 100%;
    padding: 10px 15px 10px 32px;
    text-align: left;
    border-radius: 4px;
    border: 1px solid #c6c6c3;
    margin-bottom: 16px;
    color: #63666d;
    height: 48px;
} 
.aui .contSelect .caret {
    right: 15px;
    top: -4px;
    z-index: 1;
    border-right: 1px solid #88898d;
    border-bottom: 1px solid #88898d;
    transform: rotate(45deg);
    width: 7px;
    height: 7px;
    color: transparent;
}
.aui .contRadio .md[type="radio"]:not(:checked)+label, 
.aui .contRadio .md[type="radio"]:checked+label{
    display:table;
    margin-bottom:16px;
    font-size: 16px;
}
.aui .contCheck .md[type="checkbox"]+label{
    display:table;
    margin-bottom:16px;
    font-size: 16px;
}
.aui .contCheck .md[type="checkbox"]:checked+label:after{
    border: 2px solid #00A9E0;
    background-color: #00A9E0;
}
.aui .contRadio .md[type="radio"]:checked+label:before{
    border: 2px solid #00A9E0;
    top: 1px;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid $star-bordeWhite;
    border-bottom: 2px solid $star-bordeWhite;
    transform: rotateZ(37deg);
    transform-origin: 100% 100%;
    z-index: 1;
    border-radius: 0;
}

.aui .contRadio .md[type="radio"]:checked+label:after, 
.aui .contRadio .md[type="radio"].with-gap:checked+label:after{
    background-color: #00A9E0;
    border: 2px solid #00A9E0;
    transform: scale(1);
}

.aui .contInputIcon.iconStarUser:before {
	content: "\e7fd";
}
.aui .contInputIcon:before {
    content: "\ea9a";
    color: #5bc500;
    font-size: 17px;
    top: 11px;
    left: 8px;
    font-family: 'icomoon'!important;
    position: absolute;
    float: left;
    margin: 0 6px 0 0;
    z-index: 1;
}
.aui .contSelect input{
    background: #e9eae8;
    color: #87888c;
    height: 48px;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px 15px;
    text-align: left;
    border-radius: 4px;
    border:0px;
    margin-bottom: 16px;
}
.aui .contSelect input.starSelect{
    border: 1px solid #c6c6c3;
    background: $star-fondoWhite;
    color: #63666d;
}
.aui .contInputIcon.iconStarUser label:before {
	content: "\e7fd";
}
.aui .contInputIcon label:before {
    content: "\ea9a";
    color: #86888c;
    font-size: 17px;
    top: 9px;
    left: 8px;
    font-family: 'icomoon'!important;
    position: absolute;
    float: left;
    margin: 0 6px 0 0;
    z-index: 1;
}
.aui .contInputCheck input[type="checkbox"]:not(:checked), .aui .contInputCheck input[type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.aui .contInputCheck input[type="checkbox"]+label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    transition: .28s ease;
    -khtml-user-select: none;
    user-select: none;
}
.aui .contInputCheck input[type="checkbox"]+label:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 6px;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid transparent;
    border-radius: 1px;
    margin-top: 2px;
    transform: rotateZ(37deg);
    transition: .28s ease;
    z-index: 1;
}
.aui .contInputCheck input[type="checkbox"]:checked+label:after {
    width: 20px;
    height: 20px;
    border: 2px solid #50535a;
    background-color: #50535a;
    z-index: 0;
}
.aui .contInputCheck input[type="checkbox"]+label:after {
    left: 0;
    top: 4px;
    border-radius: 20%;
}
.aui .contInputCheck input[type="checkbox"]:checked+label:before {
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.aui .contInputCheck input[type="checkbox"]+label:after {
    content: '';
    right: 7px;
    top: 15px;
    position: absolute;
    transition: border .25s,background-color .25s,width .20s .1s,height .20s .1s,top .20s .1s,left .20s .1s;
    z-index: 1;
}
.aui .contInputCheck input[type="checkbox"]:not(:checked)+label:after {
    border: 1px solid #e9eae8;
    background-color: #e9eae8;
}
.aui .contInputCheck input[type="checkbox"]+label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    transition: .28s ease;
    -khtml-user-select: none;
    user-select: none;
}
.aui .contSelect .select-wrapper+label {
    top: 0;
}
.aui .starTiGen{
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	color: #50535A;
	margin: 1rem 0 9px 0;
	font-weight: 300;
}
.aui .starTiGen2{
	font-size: 26px;
	line-height: 40px;
	text-align: center;
	color: #50535A;
	margin: 1rem 0 9px 0;
	font-weight: 300;
}
.aui .starTiPrinGen{
	font-size: 32px;
	line-height: 48px;
	text-align: center;
	color: #50535A;
	margin: 1rem 0 9px 0;	
	font-weight: 300;
	
}
.aui .starSubTiGen{
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #50535A;
	margin: 1rem 0 40px 0;
}
.aui .starNotaGen{
	font-size: 12px;
	line-height: 22px;
	text-align: center;
	color: #50535A;
	margin: 1rem 0 10px 0;
}
.aui .starSubTiPrinGen{
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	color: #50535A;
	margin: 1rem 0 60px 0;
}
.aui .starDescrGen{
	font-size: 16px;
	line-height: 20px;
	color: #50535A;
}
.aui .starTextGen{
	font-size: 16px;
	line-height: 20px;
	color: #50535A;
	margin: 0 0 20px 0;
}
.aui .contTextarea{
	position:relative;
}
.aui .contTextarea  label.active {
	display: none;
}
.aui .contTextarea  label {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    color: #87888c;
    height: 48px;
    line-height: 1.75;
    font-size: 16px;
    background: #e9eae8;
    border-radius: 4px;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px 15px;
    text-align: left;    
}
.aui .contTextarea textarea.materialize-textarea.md{
 	background-color:$star-fondoWhite;
 	width: 100%;
    padding: 10px 15px;
    text-align: left;
    border-radius: 4px;
    border: 1px solid #c6c6c3;
    margin-bottom: 16px;
    color: #63666d;
    resize: none;
 }
 .aui .contTextarea label,  .aui .contTextarea textarea{
 	min-height:142px;
 	font-size: 18px;
 }
 .aui .contFileCont .btn {
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    display: block;
    color: #86888c;
    background-color: #e9eae8;
    border: 1px dashed #d3d4d3;
    border-radius: 4px;
    box-shadow:none;
    float: none;
}
.aui .contFileCont .starTextFile i{
    color:#0399D8;
}
.aui .contFileCont .starTextFile span{
    text-decoration-line: underline;
}
.aui .contFileCont .starTextFile{
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #86888C;
}
.aui .contFileCont .file-field input.file-path{
    border:0px;
    background:transparent;
    font-size: 14px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
	color: #b3b3b3;
}
.aui .contEnlace i{
   position:absolute;
   top: 39%;
   right:2px;
   color:#00A9E0;
}
.aui .contFileCont{
position:relative;
}
.aui .contEnlace {
	position:relative;
}
.aui .contEnlace .starEnlGen{
    padding:16px 25px 16px 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #50535A;
    cursor: pointer;
    box-shadow: inset 0px -1px 0px #E9EAE8;
    
}
.aui .contEnlace a.active:before{
	display:none;
}
.aui .contGridGen2 {
    float: none;
    max-width: 100%;
    width: 100%!important;
    text-align:center;
}
.aui .contGridGen2  .client-sup__icon{
    color: #50535a;
    margin-bottom:5px;
}
.aui .contGridGen2 .client-sup__grid-title{
    color: #86888c;
}
.aui .contGridGen2 p{
    padding-bottom:5px;
    margin: 0;
    color: #86888c;
}

.aui .row.starConBor .starDescrGen{margin-right: 0%;}
@media (max-width: 1157px) and (min-width: 992px){
	
	.aui .contGridGen2 {
		margin: 0 0px 16px 0px!important;
	}
}
@media only screen and (min-width: 993px){
	
	.aui .row.starRowCenter {
	    display: table;
	    width: 100%;
	}
	.aui .row.starRowCenter .contGridGen2 { 
		display: table-column;
		margin: 0;
	}
	.aui .row.starConBor .starDescrGen{margin-right: 30%;}
	.aui .contGridGen2 .client-sup__grid-link{
		max-width: 288px;
		margin: 0 auto;
	}
	.aui .contGridGen2 {	    
	    width:33%!important;
	    margin: 0 8px 16px 8px;
	    float: left;
	    text-align: left;	    
	}
	.aui .contGridGen2  .client-sup__icon {
	    position: absolute;
	    bottom: 0;
	    right: 20px;
	    font-size: 30px;
	    margin-bottom: 16px;   
	}
	.aui .contGridGen2 .client-sup__grid-title {
	   margin-top: 14px;
	    font-size: 18px;
	    line-height: 1;
	    color: #86888c;
	}
	.aui .contGridGen2 p {
	    line-height: 1;
	    margin: 6px 0 0 0;
	    font-size: 18px;
	    color: #86888c;
	}
	.aui .contGridGen {
	    float: left;
	    width:33%!important;
	    text-align: left;
	}
	.aui .contEnlace a.active:before {
	    content:"";
	    border: 2px solid #00A9E0;
	    top: 21px;
	    left: 5px;
	    width: 8px;
	    height: 13px;
	    border-top: 2px solid transparent;
	    border-left: 2px solid transparent;
	    border-right: 2px solid $star-bordeWhite;
	    border-bottom: 2px solid $star-bordeWhite;
	    transform: rotateZ(37deg);
	    transform-origin: 100% 100%;
	    z-index: 1;
	    border-radius: 0;
	    position: absolute;
	    display:block;
	}
	.aui .contEnlace a.active:after{
	    background: #00A9E0;
	    border: 2px solid #00A9E0;
	}
	.aui .contEnlace i{
	    display:none;
	}
	.aui .contEnlace .starEnlGen{	
		box-shadow: none;    
	    font-size: 16px;
	    color: #9e9e9e;
	    position: relative;
	    padding-left: 35px;
	    cursor: pointer;
	}
	.aui .contEnlace a:after{
	    height: 20px;
	    width: 20px;
	    background-color: transparent;
	    border: 2px solid #b6b7b7;
	    top: 19px;
	    z-index: 0;
	    content: '';
	    left: 4px;
	    position: absolute;
	    border-radius: 100%;
	}
	.aui .starTiGen{
		font-size: 40px;
		line-height: 48px;
		text-align: center;
		color: #50535A;
		margin: 1rem 0 40px 0;		
	}
	.aui .starTiGen2{
		font-size: 32px;
		line-height: 48px;
		text-align: center;
		color: #50535A;
		margin: 1rem 0 40px 0;		
	}
	.aui .starTiPrinGen{
		font-size: 64px;
		line-height: 48px;
		text-align: center;
		color: #50535A;
		margin: 1rem 0 20px 0;	
	}
	.aui .starSubTiGen{
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #50535A;
		margin: 1rem 0 40px 0;
	}
	.aui .starSubTiPrinGen{
		font-size: 24px;
		line-height: 24px;
		text-align: center;
		color: #50535A;
		margin: 1rem 0 80px 0;
	}
}
@media (max-width: 990px) and (min-width: 750px){
    .aui .starGeneralFrm{
        width:90%;
    }
}
/*@media (max-width: 749px) and (min-width: 501px){
    .aui .starGeneralFrm{
        width:95%;
    }
    .aui .starSubGenlFrm{
        width:70%;
     }
     .aui .starFndPint{
         background:none;
     }
}
@media (max-width: 600px){
	
	.aui .starImgCenter img{
		width: 55px;
	}

}
@media (max-width: 500px){
    .aui .starFndPint{
         background:none;
     }
     .aui .starGeneralFrm{
        width:95%;
     }
     .aui .starSubGenlFrm{
        width:100%;
     }
}*/
/*
@media (max-width: 320px){
	.aui .starMLA .starSubTiPrinGen {	   
	    margin-bottom: 28px;
	}
	.aui .starMLA .starTiGen {
	    font-size: 27px;
	    line-height: normal;
	    margin-bottom: 28px;
	}
	.aui .starMLA .starSubTiGen {
	    font-size: 16px;
	}
	.aui .client-sup.starFndBack .starTiGen {
	    color: $star-textWhite;
	    font-size: 27px;
	    margin-top: 0;
	    margin-bottom: 42px;
	}
	.aui .client-sup.starFndBack{
		background-image: url(/canalonline-peru-theme/images/peru/starFndBack.svg);
		background-position: top;
	    background-size: auto;
	    background-color: transparent;
	}
	.aui .starFndBack .starPaddCont{
		padding: 43px 15px 43px 15px;
	}
	.aui .starFndBack .starTiPrinGen{
		margin-bottom: 60px;
		color:$star-textWhite;
	}
	.aui .starFndBack .starAtras {
		display:none;
	}
	.aui .starAtras span{
		display:none;
	}
	.aui .starAtras i{
		font-size: 30px;
	}
	.aui .starAtras{
		padding: 9px 0px 0px 0px;
	}
    .aui .starPaddCont{
        padding:0px 15px 10px 15px;
    }
    .aui .starSmall{
        max-width:100%;
    }
    .aui .starGeneralFrm{
        width:100%;
     }
    .aui .starGeneralFrm .s12{
        padding:0px;
    }
    .aui .starNotas{
        padding:8px 10px;
        margin-bottom: 0px;
    }
    .aui .starBtnSeleccion .btn{
    	background: $star-fondoWhite;
	    border-radius: 0;
	    font-size:16px;
	    text-align: left;
	    color: #50535A;
	    padding-left: 10px;
	    padding-right: 20px;
	    box-shadow: inset 0px -1px 0px #E9EAE8;
	    
    }
    .aui .starBtnSeleccion .contBtnGen{
    	margin: 0px auto;
    	position:relative;
    } 
    .aui .starBtnSeleccion .btn:after{
    	content:"\e315";
    	font-family: 'icomoon'!important;
    	font-size: 16px;    	
	    top: 8px;
	    right: 2px;
	    color: #00A9E0;
	    position:absolute;
    }
}
.aui .client-sup__icon:before {
    color: #55af07;
}
.aui .contGridGen a:hover  .client-sup__icon:before {
    color: $star-textWhite;
}*/




