.c-tab-nested-v2-container{
	.collapsible{
		font-size: 16px;
	   	font-weight: 300;
	   	letter-spacing: .18px;
	   	margin: 0;
	   	border:none;
	   	box-shadow:none;
	   	li{
			position: relative;
		   	border-bottom: 1px solid #d3d4d3;
		   	padding: 0 16px;
		   	transition: all .2s;
		   	margin: 0 auto;
		   	padding: 0;
		   	max-width: 1060px;
		   	.collapsible-header{
		   		display: block;
				font-weight: normal;
				font-size: 18px;
				color: #50535a;
				letter-spacing: .2px;
				line-height: 24px;
				padding: 13px 48px 22px 0;
				position: relative;
				margin: 0;
				line-height: 32px;
				padding: 26px 46px 26px 16px;
				text-align: left;
				&:before{
					content: "\e313";
					font-family: 'icomoon'!important;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					position: absolute;
					right: 16px;
					font-size: 24px;
					top: 50%;
					transform: translate(0,-50%);
					color: #0299D8;
				}
				&.active{
					&:before{
						transform: rotate(-180deg) translate(0,55%);
						-webkit-transform: rotate(-180deg);
					}
				}
				&.faqs-accordion__question{
					&:before{
						content:"";
					}
					&.active{
						&:before{
							content:"";
						}
					}
				}
		   	}
		   	.collapsible-body{
		   		padding:2rem 0.75rem;
		   	}
	   	}
	}
	.category-tabs-container{
		> .row{
			.col{
				padding: 0 .75rem;
			}
			> .col{
				padding: 0;
				&.s12{
					padding: 0;
				}
			}
		}
		.category-tabs{
			&.tabs{
				&.tab--pills{
					
				}
				&.tabs-hidden-movil{
					border-bottom: 1px solid #e8e8e6;
    				padding-bottom: 44px;height: 40px;margin: 2px 0 0 0;
    				.tab{
						height: 40px;
						line-height: 40px;
						a{
							color:#50535a;
							font-size:16px;
							height: 40px;
							line-height: 40px;
							&.active{
								color:#50535a;
								font-size:16px;
								font-weight:600;
							}
						}
					}
					.indicator{
						display: none;
					}
				}
			}
		}
		.tab-panel{
			.container-full{
				width: 100%;
				max-width:1280px;
				padding: 0;
			}
			&.active{
				> .container-full{
					max-width: 100%;
				}
			}
		}
		/*PRIMER NIVEL*/
		.seleccionar {
			width: 92%;
		    margin: 15px auto;
		    border-radius: 5px;
		    height:initial;
			& > li.seleccion {
				display: block;
				width: 100%;
				height: auto;
				position: relative;
				border-radius: 5px;
				float: left;
				color: #323232;
				padding: 5px 10px;
				line-height: 2rem;
				cursor: pointer;
				border: 1px solid #757575;
				&:after{
					background-color:transparent;
				}
				&:before {
				    content: "\e313";
				    position: absolute;
				    width: 30px;
				    height: 30px;
				    top: 1px;
				    left: auto;
				    right: 9px;
				    bottom: 0;
				    margin: auto;
				    z-index: 2;
				    font-family: icomoon;
				    color: #00a9e0;
				    font-size: 30px;
				    border:0;
				    padding-top:15px;
				}
				span.texto {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					height: 100%;
					width: 100%;
					padding: 0 5px;
					height: 30px;
					font-size:16px;
					color:#757575;
				}
				ul {
				    position: absolute;
					z-index: 10;
					display: none;
					width: 101%;
					top: -1px;
					left: -1px;
					border: 1px solid #00a9e0;
					border-radius: 5px;
					background: #ffffff;
					li {
						display: block;
					    cursor: pointer;
					    width: 101%;
					    min-height: 42px;
					    margin: 0;
					    padding-left: 10px;
					    transition: all .4s;
					    font-size: 16px;
					    padding: 6px 15px;
					    border-radius: 5px;
					    background-color:transparent;
						&:hover {
							background-color: #eee;
						}
					}
				}
			}
		}
	}
}
.tabs-hidden-movil{
	display: block;
}
.tabs-show-movil{
	display: none !important;
}
@media only screen and (min-width: 993px){
	.aui{
		.c-tab-nested-v2-container{
			.collapsible{
			   	text-align:center;
			   	li{
				   	width: 85%;
		    		max-width: 1280px;
			   	}
			}
		}
	}	
}

@media (max-width: 480px) {
	.tabs-hidden-movil{
		display: none !important;
	}
	.tabs-show-movil{
		display: block !important;
	}
	.over-hidden {
		overflow: hidden;
	}
}