.footer {
    &.footer--nav {
        position: relative;   
        .container{
            width: 100%;
            max-width: 1280px;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .footer__brand{
            background: #f2f4ff;
            padding: 25px 0;
            border-top: 1px solid #f4f4f3;
            border-bottom: 1px solid #F4F4F3;
            @media only screen and (min-width:992px){
                padding: 30px 0;
                border-top: 4px solid #f4f4f3;
                border-bottom: 4px solid #F4F4F3;
            }
            .footer__logo{
                color: $gray;
                font-size: 27px;
                line-height: 1;
                @media only screen and (min-width:992px){
                    font-size: 38.46px;
                }
            }
        }
        .footer__nav{
            padding: 0px 0 10px;
            @media only screen and (min-width:992px){
                padding: 40px 0 80px;
            }
            .container{
                padding: 0;
            }
            .collapsible{
                list-style: none;
                border: 0;
                margin: 0;
                padding: 0;
                box-shadow: inherit;
                @media only screen and (min-width:992px){
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                }
                .collapsible--item{
                    @media only screen and (min-width:992px){
                        padding: 0 15px;
                    }
                    .collapsible-header{
                        position: relative;
                        padding: 25px 15px;
                        border-bottom: 1px solid #F4F4F3;
                        @media only screen and (min-width:992px){
                            border: 0;
                            padding: 0;
                            margin-bottom: 33px;
                            pointer-events: none;
                            cursor: initial;
                        }
                        .list--title {
                            font-size: 16px;
                            line-height: 1.2;
                            color: $gray-dark;
                            margin: 0;
                            @media only screen and (min-width:992px){
                                font-size: 18px;
                                font-weight: bold;
                            }
                        }
                        .icon-keyboard_arrow_down{
                            position: absolute;
                            right: 15px;
                            top: 50%;
                            transform: translate(0, -50%) rotate(0);
                            @media only screen and (min-width:992px){
                                display: none;
                            }
                        }
                        &:focus{
                            background: $white;
                        }
                    }
                    .collapsible-body{
                        display: none;
                        padding: 0;
                        border: 0;
                        @media only screen and (min-width:992px){
                            display: block !important;
                        }
                        .nav{
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            border-bottom: 1px solid #F4F4F3;
                            @media only screen and (min-width:992px){
                                margin: -10px 0;
                                border-bottom: none;
                            }
                            .nav__item{
                                padding: 15px;
                                @media only screen and (min-width:992px){
                                    padding: 10px 0;
                                }
                            }
                            .nav__link{
                                font-size: 16px;
                                color: $gray;
                                display: block;
                                transition: color 0.25s ease-out;
                                &:hover, &:active {
                                    color: $gray-light;
                                    background-color: transparent;
                                    transition: color 0.25s ease-in;
                                }
                                &:focus {
                                    color: $gray-light;
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                    &.active{
                        .collapsible-header{
                            .icon-keyboard_arrow_down{
                                transform: translate(0, -50%) rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
        .footer__claims{
            padding: 10px 0 30px;
            @media only screen and (min-width:992px){
                padding: 20px 0 70px;
            }
            .container{
                max-width: 1230px;
                @media only screen and (min-width:992px){
                    display: flex;
                    justify-content: space-between;
                }
            }
            .nav{
                margin: 0;            
            }
            .nav--claims{
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                @media only screen and (min-width:992px){
                    flex-wrap: inherit;
                    align-items: center;
                }
                .nav__item{
                    padding: 10px 0;
                    width: 100%;
                    @media only screen and (min-width:992px){
                        padding: 0 21px;
                        width: auto;
                    }
                    &:nth-child(1){
                        order: 2;
                        @media only screen and (min-width:992px){
                            order: inherit;
                        }
                    }
                    &:nth-child(2){
                        order: 3;
                        @media only screen and (min-width:992px){
                            order: inherit;
                        }
                    }
                    &:nth-child(3){
                        order: 4;
                        @media only screen and (min-width:992px){
                            order: inherit;
                        }
                    }
                    &:nth-child(4){
                        order: 1;
                        .nav__link{
                            font-weight: bold;
                            img{
                                position: relative;
                                bottom: 3px;
                                height: 15px;
                                margin-right: 3px;
                            }
                        }
                        @media only screen and (min-width:992px){
                            order: inherit;
                        }
                    }
                    
                }
                .nav__link{
                    font-weight: normal;
                    font-size: 16px;
                    color: $gray;
                    display: block;
                    transition: color 0.25s ease-out;
                    &:hover, &:active {
                        color: $gray-light;
                        background-color: transparent;
                        transition: color 0.25s ease-in;
                    }
                    &:focus {
                        color: $gray-light;
                        background-color: transparent;
                    }
                    .svg--libro-reclamacion {
                        font-size: 26px;
                        margin-right: 8px;
                        @media (min-width: 992px) {
                            font-size: 16px;
                            margin-right: 2px;
                        }
                    }
                }
            }
            .nav--rrss{
                display: flex;
                padding-top: 15px;
                @media only screen and (min-width:992px){
                    padding-top: 0;
                    align-items: center;
                }
                .nav__item{
                    padding: 0 5px;
                    text-align: center;
                    
                }
                .nav__link{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 28px;
                    height: 28px;
                    font-size: 16px;
                    font-weight: normal;
                    color: $white;
                    text-decoration: none;
                    background-color: $gray-dark;
                    border-radius: 50%;
                    .link__icon {
                        transform: rotate(0);
                        fill: currentColor;
                        transition: all ease .5s;
                    }
                    @media only screen and (min-width:992px){
                        &:hover, &:active {
                            .link__icon {
                                transform: rotate(360deg);
                            }
                        }
                    }
                }
            }
        }
    }
}