body {
    &.nat-navbar--active {
        overflow: hidden;
        .nat-header--overlay {
            width: 100%;
            opacity: .3;
        }
        .nat-header.nat-header--nav {
            .navbar__menu {
                .navbar__scroll {
                    right: 0;
                }
                .navbar__hamburger {
                    &.button--elastic {
                        .button__inner {
                            transition-delay: 75ms;
                            transform: translate3d(0,10px,0) rotate(135deg);
                            &::before {
                                transition-delay: 0s;
                                opacity: 0;
                            }
                            &::after {
                                transition-delay: 75ms;
                                transform: translate3d(0,-20px,0) rotate(-270deg);
                            }
                        }
                    }
                }
            }
        }
    }
}
.nat-header--overlay {
    position: fixed;
    height: 100%;
    width: 0;
    z-index: 97;
    top: 0;
    left: 0;
    background-color: $black;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity .3s;
}
.nat-header {
    .container {
        width: 100%;
        @media (min-width: 576px) {
            max-width: 540px;
        }
        @media (min-width: 768px) {
            max-width: 720px;
        }
        @media (min-width: 992px) {
            max-width: 1140px;
        }
    }
    &.nat-header--nav {
        position: sticky;
        top: 0;
        z-index: 999;
        background-color: $white;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 0;
            background-color: $primary;
            transition: all ease 200ms;
        }
        &.nav--search-open {
            &::before {
                height: 100%;
            }
            .navbar__menu {
                .navbar__brand {
                    color: $white;
                    @media (max-width: 991px) {
                        display: none;
                    }
                    .brand--letters {
                        fill: $white;
                    }
                }
                .navbar__nav--menu, .navbar__nav--socials {
                    @media (min-width: 992px) {
                        display: none;
                    }
                }
                .navbar__hamburger {
                    display: none;
                }
                .navbar__search {
                    width: 100%;
                    .search--content {
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;

                        flex-flow: row nowrap;
                        justify-content: flex-start;
                        flex-direction: row;
                    }
                    .search--form {
                        display: block;
                        .search--group {
                            &::after {
                                content: "";
                                border-bottom: 1px solid $white;
                                left: 0;
                                bottom: -1px;
                            }
                        }
                    }
                }
                .button {
                    &.button--navbar {
                        &.active {
                            .button__inner, .button__inner::after, .button__inner::before {
                                background-color: $white;
                            }
                        }
                        .button__inner, .button__inner::after, .button__inner::before {
                            background-color: $white;
                        }
                    }
                    &.button--search {
                        display: none;
                    }
                    &.button--return {
                        position: relative;
                        overflow: inherit;
                        clip: inherit;
                        width: 30px;
                        height: 30px;
                        .button__inner {
                            &::before {
                                top: 0;
                                transition: top .1s ease,transform .1s cubic-bezier(.895,.03,.685,.22) .1s;
                                transform: translate3d(8px,-7px,0) rotate(45deg) scaleX(.7);
                            }
                            &::after {
                                bottom: 0;
                                transition: bottom .1s ease,transform .1s cubic-bezier(.895,.03,.685,.22) .1s;
                                transform: translate3d(8px,7px,0) rotate(-45deg) scaleX(.7);
                            }
                        }
                    }
                }
            }
        }
        .navbar__menu {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: justify;
            justify-content: space-between;

            background: transparent;
            height: 64px;
            line-height: inherit;
            box-shadow: inherit;
            color: $gray;
            @media (min-width: 992px) {
                -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
                -ms-flex-pack: start;
                justify-content: flex-start;

                flex-direction: row;
                height: 79px;
            }
            .navbar__brand {
                display: inline-block;
                margin-right: 1rem;
                line-height: 1;
                white-space: nowrap;
                color: $primary;
                font-size: 45px;
                @media (min-width: 992px) {
                    margin-right: 4.5rem;
                    font-size: 52px;
                }
                .brand--letters {
                    fill: #737372;
                }
            }
            .navbar__hamburger {
                position: relative;
                display: inline-flex;
                width: 30px;
                height: 30px;
                padding: 0;
                border: 0;
                background-color: transparent;
                cursor: pointer;
                @media (min-width: 992px) {
                    display: none;
                }
                &.active {
                    .button__inner, .button__inner::after, .button__inner::before {
                        background-color: $primary;
                    }
                }
                &.button--elastic {
                    .button__inner {
                        top: 50%;
                        display: block;
                        margin-top: -2px;
                        &::after, &::before {
                            display: block;
                            content: "";
                        }
                        &::before {
                            top: -10px;
                        }
                        &::after {
                            bottom: -10px;
                        }
                    }
                    .button__inner, .button__inner::after, .button__inner::before {
                        position: absolute;
                        width: 30px;
                        height: 2px;
                        transition-timing-function: ease;
                        transition-duration: .15s;
                        transition-property: transform;
                        border-radius: 4px;
                        background-color: $primary;
                    }
                }
                &.button--elastic {
                    &.active {
                        .button__inner {
                            transition-delay: 75ms;
                            transform: translate3d(0,10px,0) rotate(135deg);
                            &::before {
                                transition-delay: 0s;
                                opacity: 0;
                            }
                            &::after {
                                transition-delay: 75ms;
                                transform: translate3d(0,-20px,0) rotate(-270deg);
                            }
                        }
                    }
                    .button__inner {
                        top: 6px;
                        transition-timing-function: cubic-bezier(.68,-.55,.265,1.55);
                        transition-duration: .275s;
                        &::before {
                            top: 10px;
                            transition: opacity .125s ease .275s;
                        }
                        &::after {
                            top: 20px;
                            transition: transform .275s cubic-bezier(.68,-.55,.265,1.55);
                        }
                    }
                }
            }
            .navbar__scroll {
                -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
                -ms-flex-positive: 1;
                flex-grow: 1;
                -ms-flex-align: center;
                align-items: center;
                @media (min-width: 992px) {
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-preferred-size: auto;
                    flex-basis: auto;
                    height: 100%;
                }
                @media (max-width: 991px) {
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    top: 64px;
                    right: -999px;
                    z-index: 998;
                    height: calc(100vh - 64px);
                    background-color: $primary;
                    border-top: 1px solid #4a93e3;
                    overflow-x: hidden;
                    overflow-y: auto;
                    padding-bottom: 40px;
                    transition: all .3s ease;
                }
                .navbar__nav {
                    @media (min-width: 992px) {
                        background-color: transparent;
                        margin: 0;
                        padding: 0;
                        height: 100%;
                    }
                }
            }
            .navbar__nav {
                display: flex;
                flex-direction: column;
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
                margin: 0;
                @media (min-width: 992px) {
                    flex-direction: row;
                }
                &.navbar__nav--center {
                    align-items: center;
                }
                &.navbar__nav--hidden-desktop {
                    @media (min-width: 992px) {
                        display: none;
                    }
                }
                &.navbar__nav--hidden-mobile {
                    @media (max-width: 991px) {
                        display: none;
                    }
                }
                &.navbar__nav--menu {
                    .nav__item {
                        @media (min-width: 992px) {
                            height: 100%;
                            margin: 0 5px;
                        }
                        @media (min-width: 1110px) {
                            margin: 0 10px;
                        }
                        @media (max-width: 991px) {
                            border-bottom: 1px solid #4a93e3;
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                        > .nav__link {
                            display: flex;
                            align-items: center;
                            font-size: 28px;
                            font-weight: 300;
                            padding: 0 1.563rem;
                            height: 88px;
                            @media (min-width: 992px) {
                                font-size: 16px;
                                font-weight: 400;
                                height: 100%;
                                padding: 0 1rem;
                            }
                            @media (min-width: 1110px) {
                                padding: 0 1.15rem;
                            }
                            @media (max-width: 991px) {
                                justify-content: center;
                                overflow: hidden;
                            }
                        }
                        &:hover, &:active, &:focus {
                            .nav__submenu-wrapper {
                                @media (min-width: 992px) {
                                    display: flex;
                                }
                            }
                        }
                        .nav__submenu-wrapper {
                            position: fixed;
                            left: 0;
                            display: none;
                            top: 78px;
                            margin-top: 0;
                            padding-top: 25px;
                            padding-bottom: 25px;
                            width: 100%;
                            background: $white;
                            border-top: 1px solid $gray-light;
                            box-shadow: rgba(0,0,0,0.14) 0 2px 2px 0;
                            z-index: 10;
                            .submenu__content {
                                width: 100%;
                                padding-right: 15px;
                                padding-left: 15px;
                                margin-right: auto;
                                margin-left: auto;
                                @media (min-width: 992px) {
                                    max-width: 960px;
                                }
                                @media (min-width: 1200px) {
                                    max-width: 1140px;
                                }
                            }
                            .submenu__list {
                                display: flex;
                                flex-wrap: wrap;
                                margin: 0;
                                margin-right: -15px;
                                margin-left: -15px;
                                list-style: none;
                                padding: 0;
                                .submenu__item {
                                    position: relative;
                                    width: 100%;
                                    padding-right: 15px;
                                    padding-left: 15px;
                                    float: none;
                                    @media (min-width: 992px) {
                                        flex: 0 0 25%;
                                        max-width: 25%;
                                    }
                                    > .nav__link {
                                        display: block;
                                        font-size: 16px;
                                        padding: .5rem 0;
                                        color: $white;
                                        transition: all ease 300ms;
                                        @media (min-width: 992px) {
                                            color: $gray;
                                        }
                                        @media (min-width: 1200px) {
                                            padding: .5rem 0;
                                        }
                                        &:hover, &:active, &:focus {
                                            color: $white;
                                            background-color: transparent;
                                            @media (min-width: 992px) {
                                                color: $primary;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.navbar__nav--socials {
                    @media (max-width: 991px) {
                        justify-content: center;
                        flex-direction: row;
                        margin-top: 60px;
                    }
                    .nav__item {
                        margin: 0 10px;
                        @media (min-width: 992px) {
                            padding: 0.313rem .3rem;
                            margin: 0 5px;
                        }
                        @media (min-width: 1110px) {
                            margin: 0 10px;
                        }
                        &:nth-child(1) {
                            @media (min-width: 992px) {
                                padding-left: 1.875rem;
                                border-left: 1px solid $gray;
                            }
                        }
                        > .nav__link {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 20px;
                            color: $primary;
                            width: 30px;
                            height: 30px;
                            padding: 0;
                            background-color: $white;
                            border-radius: 50%;
                            &:hover, &:active, &:focus {
                                color: $primary-hover;
                                background-color: $white;
                            }
                        }
                    }
                }
                .nav__item {
                    float: inherit;
                    list-style: none;
                    &:last-child {
                        border-bottom: 0;
                    }
                    &.active {
                        background-color: transparent;
                        > .nav__link {
                            font-weight: 700;
                        }
                    }
                    > .nav__link {
                        font-size: 16px;
                        font-weight: 400;
                        padding: 0 1rem;
                        width: 100%;
                        color: $white;
                        transition: all ease 300ms;
                        @media (min-width: 992px) {                            
                            color: $gray;
                            width: auto;
                            padding: 0 .5rem;
                        }
                        &:hover, &:active, &:focus {
                            color: $white;
                            background-color: transparent;
                            @media (min-width: 992px) {
                                color: $gray-light;
                            }
                        }
                        .icon-keyboard_arrow_down {
                            transform: rotate(0);
                            transition: all ease 300ms;
                        }
                    }
                    &:hover, &:active, &:focus {
                        > .nav__link {
                            .icon-keyboard_arrow_down {
                                color: $primary;
                                transform: rotate(-180deg);
                            }
                        }
                    }
                }
            }
            .navbar__nav-mobile {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                list-style: none;
                margin: 0;
                transition: all ease 300ms;
                @media (min-width: 992px) {
                    display: none;
                }
                &.open {
                    left: -100%;
                }
                .nav__item {
                    display: flex;
                    align-items: center;
                    float: inherit;
                    list-style: none;
                    &:last-child {
                        border-bottom: 0;
                    }
                    &.active {
                        background-color: transparent;
                        > .nav__link {
                            font-weight: 700;
                        }
                    }
                    > .nav__link {
                        position: relative;
                        display: flex;
                        align-items: center;
                        font-size: 20px;
                        font-weight: 300;
                        padding: 0 1.563rem;
                        width: 100%;
                        height: 65px;
                        color: $white;
                        transition: all ease 300ms;
                        &:hover, &:active, &:focus {
                            color: $white;
                            background-color: transparent;
                        }
                        .icon-navigate_next {
                            position: absolute;
                            font-size: 20px;
                            right: 15px;
                        }
                    }
                }
            }
            .navbar__submenu-mobile {
                position: absolute;
                top: 0;
                left: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
                margin: 0;
                transition: all ease 300ms;
                @media (min-width: 992px) {
                    display: none;
                }
                &.submenu--open {
                    left: 0;
                }
                &.submenu--hidden {
                    left: -100%;
                }
                .nav__item {
                    display: flex;
                    align-items: center;
                    float: inherit;
                    list-style: none;
                    &:last-child {
                        border-bottom: 0;
                    }
                    &.active {
                        background-color: $primary-hover;
                    }
                    > .submenu__link {
                        position: relative;
                        display: flex;
                        align-items: center;
                        font-size: 20px;
                        font-weight: 300;
                        padding: 0 1.563rem;
                        width: 100%;
                        height: 65px;
                        color: $white;
                        transition: all ease 300ms;
                        &:hover, &:active, &:focus {
                            color: $white;
                            background-color: transparent;
                        }
                        &.nav__link-return, &.nav__link-return-2 {
                            font-size: 16px;
                            font-weight: 400;
                            justify-content: center;
                            .icon-navigate_before {
                                position: absolute;
                                font-size: 20px;
                                left: 15px;
                            }
                        }
                    }
                }
            }
            .navbar__search {
                position: relative;
                margin-left: auto;
                .portlet-boundary_customsearch_WAR_movistarblogssearchportlet_ {
                    position: absolute;
                    top: -24px;
                    right: 0;
                    width: 100%;
                }
                .search--form {
                    display: none;
                    width: 100%;
                    margin: 0;
                    .search--group {
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: stretch;
                        width: 100%;
                        &::after {
                            content: none;
                            position: absolute;
                            width: 100%;
                            bottom: 0;
                        }
                        .search__input {
                            position: relative;
                            flex: 1 1 auto;
                            width: 1%;
                            min-width: 0;
            
                            display: block;
                            padding: .375rem 0;
                            margin: 0;
                            font-family: $font;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 1.5;
                            color: $white;
                            height: 32px;
                            background-color: transparent;
                            background-clip: padding-box;
                            box-sizing: border-box;
                            box-shadow: none;
                            border: 0;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            border-radius: 0;
                            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                            &::placeholder {
                                color: $white;
                            }
                            &:focus {
                                box-shadow: none;
                            }
                            &:-webkit-autofill,
                            &:-webkit-autofill:hover, 
                            &:-webkit-autofill:focus {
                                border: 0;
                                background-color: transparent;
                                -webkit-text-fill-color: $white;
                                -webkit-box-shadow: 0 0 0px 1000px transparent inset;
                                transition: background-color 5000s ease-in-out 0s;
                            }
                        }
                        .search__button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 32px;
                            height: 32px;
                            color: $white;
                            white-space: nowrap;
                            border-radius: .25rem;
                            background-color: transparent;
                            border: 0;
                            padding: 0;
                            cursor: pointer;
                            svg {
                                stroke: currentColor;
                            }
                        }
                    }
                }
            }
            .button {
                padding: 0;
                border: 0;
                background-color: transparent;
                cursor: pointer;
                &.button--search {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;
                    color: $primary;
                    background-color: transparent;
                    border: 0;
                    padding: 0;
                    margin-right: 25px;
                    cursor: pointer;
                    @media(min-width: 992px) {
                        margin-right: 20px;
                    }
                    @media (min-width: 1110px) {
                        margin-right: 50px;
                    }
                    svg {
                        stroke: currentColor;
                    }
                }
                &.button--arrow {
                    .button__inner {
                        top: 50%;
                        display: block;
                        margin-top: -2px;
                        &::after, &::before {
                            display: block;
                            content: "";
                        }
                        &::before {
                            top: -10px;
                        }
                        &::after {
                            bottom: -10px;
                        }
                    }
                    .button__inner, .button__inner::after, .button__inner::before {
                        position: absolute;
                        width: 30px;
                        height: 2px;
                        transition-timing-function: ease;
                        transition-duration: .15s;
                        transition-property: transform;
                        border-radius: 4px;
                        background-color: $primary;
                    }
                }
                &.button--arrow {
                    .button__inner {
                        margin-top: -1px;
                        &::before {
                            transition: top .1s ease .1s,transform .1s cubic-bezier(.165,.84,.44,1);
                        }
                        &::after {
                            transition: bottom .1s ease .1s,transform .1s cubic-bezier(.165,.84,.44,1);
                        }
                    }
                }
                &.button--return {
                    clip: rect(1px,1px,1px,1px);
                    height: 1px;
                    overflow: hidden;
                    position: absolute;
                    white-space: nowrap;
                    width: 1px;
                    margin-left: 25px;
                    @media (min-width: 992px) {
                        margin-left: 50px;
                    }
                }
            }
        }
    }
}