//color de fondo
.nat-bgc--white {
    background: $white;
}
.nat-bgc--gray {
    background: $gray-white;
}
.nat-bgc--cian {
    background: $color_cian;
    h1,h2,h3,h4,h5,h6,p,span,strong,b,small,a,em,mark,i,u,s,cite,sub,sup,q,dfn,abbr,time,legend {
        color: $white;
    }
}
.nat-bgc--blue {
    background: $skyblue;
    h1,h2,h3,h4,h5,h6,p,span,strong,b,small,a,em,mark,i,u,s,cite,sub,sup,q,dfn,abbr,time,legend {
        color: $white;
    }
}
.nat-bgc--blue-dark {
    background: $blue-dark;
    h1,h2,h3,h4,h5,h6,p,span,strong,b,small,a,em,mark,i,u,s,cite,sub,sup,q,dfn,abbr,time,legend {
        color: $white;
    }
}
.nat-bgc--azul {
    background-color: $color_azul-dark;
    h1,h2,h3,h4,h5,h6,p,span,strong,b,small,a,em,mark,i,u,s,cite,sub,sup,q,dfn,abbr,time,legend {
        color: $white;
    }
}
.nat-bgc--gris {
    background: #f4f4f3;
}
.nat-bgc--verde {
    background: $color_verde;
    h1,h2,h3,h4,h5,h6,p,span,strong,b,small,a,em,mark,i,u,s,cite,sub,sup,q,dfn,abbr,time,legend {
        color: $white;
    }
}
.nat-bgc--naranja {
    background: $color_naranja;
    h1,h2,h3,h4,h5,h6,p,span,strong,b,small,a,em,mark,i,u,s,cite,sub,sup,q,dfn,abbr,time,legend {
        color: $white;
    }
}
.nat-bgc--morado {
    background: $color_morado;
    h1,h2,h3,h4,h5,h6,p,span,strong,b,small,a,em,mark,i,u,s,cite,sub,sup,q,dfn,abbr,time,legend {
        color: $white;
    }
}
.nat-bgc--lila {
    background: $color_lila;
    h1,h2,h3,h4,h5,h6,p,span,strong,b,small,a,em,mark,i,u,s,cite,sub,sup,q,dfn,abbr,time,legend {
        color: $white;
    }
}
.nat-bgc--amarillo {
    background: $color_amarillo;
    h1,h2,h3,h4,h5,h6,p,span,strong,b,small,a,em,mark,i,u,s,cite,sub,sup,q,dfn,abbr,time,legend {
        color: $white;
    }
}

// Colores de fondo light
.nat-bgc--gris-light{
    background: $color_gris-light;
}
.nat-bgc--verde-light{
    background: $color_verde-light;
}
.nat-bgc--morado-light{
    background: $color_morado-light;
}
.nat-bgc--lila-light{
    background: $color_lila-light;
}
.nat-bgc--naranja-light{
    background: $color_naranja-light;
}
.nat-bgc--amarillo-light{
    background: $color_amarillo-light;
}

//color de fondo banner c2c
.nat-banner-c2c--white {
    background: $white;
    * {
        color: $gray-dark2;
    }
}
.nat-banner-c2c--gray{
    background: $gray-white;
    * {
        color: $gray-dark2;
    }
}
.nat-banner-c2c--blue{
    background: $skyblue;
    * {
        color: $white;
    }
}
.nat-banner-c2c--blue-dark{
    background: $blue-dark;
    * {
        color: $white;
    }
}

// Color de texto
.txt-color-gray {
    color: $gray !important;
}
.txt-color-white {
    color: $white !important;
}
.txt-color-blue {
    color: $blue-dark !important;
}
.txt-color-skyblue {
    color: $skyblue !important;
}
// Clase color
.color--azul {
    color: $color_azul-dark !important;
}
.color--verde {
    color: $color_verde !important;
}
.color--cian {
    color: $color_cian !important;
}
.color--lila {
    color: $color_lila !important;
}

// Clase color - Dark
.color--cian-dark{
    color: $color_cian-dark !important;
}
.color--verde-dark{
    color: $color_verde-dark !important;
}
.color--morado-dark{
    color: $color_morado-dark !important;
}
.color--lila-dark{
    color: $color_lila-dark !important;
}
.color--naranja-dark{
    color: $color_naranja-dark !important;
}
.color--amarillo-dark{
    color: $color_amarillo-dark !important;
}