// Fonts
@mixin font-face($font-family, $font-style, $font-weight, $font-local, $eot, $woff, $truetype, $svg) {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    src: local($font-local),
        url($eot) format('embedded-opentype'),
        url($woff) format('woff'),
        url($truetype) format('truetype'),
        url($svg) format('svg');
}

@font-face {
    @include font-face('Telefonica', normal, 200, 'Telefonica Extra Light',
            '../fonts/telefonica/Telefonica-ExtraLight.eot#iefix',
            '../fonts/telefonica/Telefonica-ExtraLight.woff',
            '../fonts/telefonica/Telefonica-ExtraLight.ttf',
            '../fonts/telefonica/Telefonica-ExtraLight.svg#Telefonica-ExtraLight');
}

@font-face {
    @include font-face('Telefonica', normal, 300, 'Telefonica Light',
            '../fonts/telefonica/Telefonica-Light.eot#iefix',
            '../fonts/telefonica/Telefonica-Light.woff',
            '../fonts/telefonica/Telefonica-Light.ttf',
            '../fonts/telefonica/Telefonica-Light.svg#Telefonica-Light');
}

@font-face {
    @include font-face('Telefonica', normal, 400, 'Telefonica Regular',
            '../fonts/telefonica/Telefonica-Regular.eot#iefix',
            '../fonts/telefonica/Telefonica-Regular.woff',
            '../fonts/telefonica/Telefonica-Regular.ttf',
            '../fonts/telefonica/Telefonica-Regular.svg#Telefonica-Regular');
}

@font-face {
    @include font-face('Telefonica', italic, 400, 'Telefonica Italic',
            '../fonts/telefonica/Telefonica-RegularItalic.eot#iefix',
            '../fonts/telefonica/Telefonica-RegularItalic.woff',
            '../fonts/telefonica/Telefonica-RegularItalic.ttf',
            '../fonts/telefonica/Telefonica-RegularItalic.svg#Telefonica-RegularItalic');
}

@font-face {
    @include font-face('Telefonica', normal, 700, 'Telefonica Bold',
            '../fonts/telefonica/Telefonica-Bold.eot#iefix',
            '../fonts/telefonica/Telefonica-Bold.woff',
            '../fonts/telefonica/Telefonica-Bold.ttf',
            '../fonts/telefonica/Telefonica-Bold.svg#Telefonica-Bold');
}

@font-face {
    @include font-face('Telefonica Hand', normal, 400, 'Telefonica Hand',
            '../fonts/telefonica/Telefonica-Hand.eot#iefix',
            '../fonts/telefonica/Telefonica-Hand.woff',
            '../fonts/telefonica/Telefonica-Hand.ttf',
            '../fonts/telefonica/Telefonica-Hand.svg#Telefonica-Hand');
}

// Font Icomoon
@font-face {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    src:  url('../fonts/material-icons/icomoon.eot');
    src:  url('../fonts/material-icons/icomoon.eot#iefix') format('embedded-opentype'),
        url('../fonts/material-icons/icomoon.ttf') format('truetype'),
        url('../fonts/material-icons/icomoon.woff') format('woff'),
        url('../fonts/material-icons/icomoon.svg#icomoon') format('svg');
}