<nav class="header__nav" id="navigation" role="navigation">
    <div class="nav-wrapper--top">
    	<ul class="list">
    		<li class="item">
    			<a class="active link" href="https://www.movistar.com.pe/personas" target="_blank" rel="noopener noreferrer" tabindex="0">Personas</a>
    		</li>
    		<li class="item">
    			<a class="link" href="https://www.movistar.com.pe/negocios" target="_blank" rel="noopener noreferrer" tabindex="0">Negocios</a>
    		</li>
    	</ul>
    </div>
    <div class="nav-wrapper">
		<a class="brand-logo ${logo_css_class}" id="urlHomeLink" href="${homeUrlLogo}" aria-label="<@liferay.language_format arguments="${site_name}" key="go-to-x" />" tabindex="0">
			<svg  class="brand-logo__svg svg--inline" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg">
			<title>Marca Empleadora</title>
			<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="65" y="8" width="135" height="23">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M199.766 30.9838V8.24414L65.0957 8.24414V30.9838H199.766Z" fill="white"/>
			</mask>
			<g class="logo__letters" mask="url(#mask0)">
			<path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M139.157 11.9648H135.942C135.674 11.9648 135.547 12.0682 135.547 12.3294L135.55 30.278C135.55 30.5378 135.677 30.6425 135.945 30.6425H139.158C139.427 30.6425 139.555 30.5378 139.555 30.278L139.552 12.3294C139.552 12.0682 139.426 11.9648 139.157 11.9648ZM109.353 24.0187C109.042 27.0475 107.506 27.5218 105.039 27.5218H104.936C102.469 27.5218 100.932 27.0475 100.626 24.0187C100.528 23.1039 100.453 22.3476 100.453 21.2942C100.453 20.2387 100.528 19.4831 100.626 18.5683C100.932 15.5395 102.469 15.0659 104.936 15.0659H105.039C107.506 15.0659 109.042 15.5395 109.353 18.5683C109.449 19.4831 109.524 20.2387 109.524 21.2942C109.524 22.3476 109.449 23.1039 109.353 24.0187ZM112.964 26.4462C113.351 25.1754 113.566 23.7138 113.566 21.2942C113.566 18.8754 113.351 17.4087 112.964 16.1408C111.988 12.8961 109.413 11.606 105.238 11.606H104.74C100.565 11.606 97.9898 12.8961 97.0086 16.1408C96.6257 17.4087 96.4094 18.8754 96.4094 21.2942C96.4094 23.7138 96.6257 25.1754 97.0086 26.4462C97.9898 29.6902 100.565 30.9839 104.74 30.9839H105.238C109.413 30.9839 111.988 29.6902 112.964 26.4462ZM85.6434 11.6058H84.6729C81.8812 11.6058 80.0276 12.3442 79.1292 13.4392H79.1076C78.2092 12.3442 76.2402 11.6058 73.4477 11.6058H72.4506C69.3034 11.6058 66.7237 12.6951 65.6876 14.9273C65.2413 15.8889 65.0957 17.1783 65.0957 18.571V30.2146C65.0957 30.4708 65.2457 30.6423 65.5088 30.6423H68.6783C68.9393 30.6423 69.0893 30.4708 69.0893 30.2146L69.0958 20.5163C69.0958 19.1286 69.129 18.1197 69.1996 17.4983C69.382 15.8709 70.5955 15.0809 72.9092 15.0809H73.1738C75.486 15.0809 76.7571 15.8709 76.9381 17.4983C77.0087 18.1197 77.0426 19.1286 77.0426 20.5163V30.2182C77.0426 30.4744 77.1998 30.6423 77.4615 30.6423H80.639C80.9 30.6423 81.0485 30.4407 81.0485 30.1845L81.0528 20.5163C81.0528 19.1286 81.086 18.1197 81.1566 17.4983C81.3383 15.8709 82.6066 15.0809 84.921 15.0809H85.1863C87.5 15.0809 88.7112 15.8709 88.8944 17.4983C88.9629 18.1197 88.9953 19.1286 88.9953 20.5163V30.2182C88.9953 30.483 89.1503 30.6423 89.4121 30.6423H92.5895C92.8505 30.6423 92.9983 30.4407 92.9983 30.1845V18.571C92.9983 17.1783 92.8498 15.8889 92.4049 14.9273C91.371 12.6951 88.7884 11.6058 85.6434 11.6058ZM167.904 30.6423C168.178 30.6423 168.329 30.4945 168.329 30.2534V27.5891C168.329 27.3495 168.178 27.2002 167.904 27.2002H167.477C166.201 27.2002 165.417 26.8938 164.938 26.3916C164.303 25.7264 164.172 24.6465 164.172 23.3671V15.2732H167.708C167.975 15.2732 168.108 15.1706 168.108 14.9101V12.3241C168.108 12.0643 167.975 11.9625 167.708 11.9625H164.172V8.60937C164.172 8.3489 164.039 8.24414 163.771 8.24414H160.557C160.289 8.24414 160.166 8.3489 160.166 8.60937V23.5838C160.166 26.1899 160.686 27.8532 161.838 28.9912C162.919 30.0582 164.606 30.6423 167.052 30.6423H167.904ZM148.12 22.2651C148.987 22.5851 149.707 22.8484 150.566 23.152C152.404 23.8028 153.191 24.318 153.191 25.4366C153.191 26.8839 151.965 27.6524 149.192 27.6524H149.092C147.527 27.6524 145.734 27.346 144.159 26.8444C143.834 26.7404 143.655 26.8631 143.655 27.1896V29.5754C143.655 29.8746 143.706 30.0569 144.043 30.1731C145.547 30.689 147.622 30.9789 149.316 30.9789H149.445C154.371 30.9789 157.042 28.7997 157.042 25.2723L157.042 25.2206C157.042 23.8602 156.592 22.6289 155.754 21.8087C154.933 21.0051 153.685 20.3815 151.758 19.6683C150.73 19.288 149.932 18.9952 149.221 18.7355C147.619 18.1535 147.17 17.6068 147.17 16.7873C147.17 15.4326 148.504 14.9031 150.651 14.9031L150.814 14.9038C152.053 14.9038 153.553 15.081 155.373 15.4097C155.71 15.4706 155.9 15.3975 155.9 15.0509V12.6012C155.9 12.2783 155.813 12.1886 155.478 12.1168C154.295 11.8671 152.149 11.606 150.944 11.606H150.654C148.141 11.606 146.276 12.0702 145.033 13.1487C144.023 14.0241 143.348 15.3479 143.348 16.9301L143.347 17.0435C143.347 18.5094 143.858 19.692 144.734 20.497C145.551 21.249 146.653 21.724 148.12 22.2651ZM122.269 30.6424H125.75C126.05 30.6424 126.181 30.5456 126.305 30.316C128.559 26.0925 132.009 18.8761 132.244 12.3321C132.252 12.0717 132.143 11.9604 131.803 11.9604L128.559 11.9612C128.182 11.9612 128.078 12.0817 128.057 12.4168C127.907 14.8012 127.399 17.5695 126.661 20.0422C125.898 22.5995 124.929 25.0341 124 26.8445C123.07 25.0341 122.1 22.5995 121.339 20.0422C120.596 17.5537 120.084 14.7653 119.939 12.3702C119.917 12.0293 119.734 11.9612 119.401 11.9612H116.136C115.79 11.9612 115.694 12.1212 115.72 12.4699C116.178 18.8819 118.181 23.8624 121.657 30.3303C121.779 30.5578 121.964 30.6424 122.269 30.6424ZM199.356 11.6045H197.203C194.111 11.6045 191.697 12.67 190.662 14.9023C190.215 15.8646 190.076 17.1533 190.076 18.5446V30.2779C190.076 30.5376 190.203 30.6424 190.471 30.6424H193.685C193.953 30.6424 194.073 30.5376 194.073 30.2779V20.4633C194.073 19.077 194.102 18.0667 194.173 17.4439C194.355 15.8179 195.347 15.0509 197.659 15.0509H199.37C199.646 15.0509 199.766 14.9102 199.766 14.6447V12.0092C199.766 11.738 199.634 11.6045 199.356 11.6045ZM182.645 23.9349C182.645 25.3363 182.599 26.16 182.088 26.7441C181.546 27.3633 180.585 27.6575 179.284 27.6575H178.651C176.249 27.6575 174.852 26.6975 174.852 24.857C174.852 24.0153 175.185 23.2647 175.702 22.8206C176.312 22.2989 177.204 22.0435 178.733 22.0435H179.072C180.23 22.0435 181.551 22.159 182.645 22.4453V23.9349ZM182.98 12.3701C181.909 11.9123 180.282 11.606 178.176 11.606H177.92C176.636 11.606 174.889 11.7617 173.206 12.0645C172.922 12.1147 172.811 12.2604 172.811 12.5854V14.9755C172.811 15.274 172.966 15.3774 173.305 15.3271C174.782 15.1061 176.305 14.9526 177.475 14.9526H177.641C179.299 14.9526 180.638 15.104 181.444 15.6443C182.246 16.1824 182.645 16.9832 182.645 18.724V19.2377C181.429 18.9823 179.964 18.8144 178.621 18.8137H178.264C176.026 18.8137 173.925 19.3518 172.584 20.5968C171.555 21.554 170.877 22.9955 170.877 24.8353V24.9932C170.877 28.6964 173.447 30.9796 178.667 30.9796H179.596C181.648 30.9796 183.597 30.3719 184.771 29.4068C186.12 28.2967 186.644 26.6536 186.644 24.0259V18.6745C186.644 15.0172 185.209 13.3252 182.98 12.3701Z"/>
			</g>
			<path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M10.4307 4.86258C8.00814 4.90061 3.53724 6.08958 1.49465 14.3901C0.60494 18.0073 0.261024 21.7773 1.0224 26.2648C1.72465 30.4036 2.96909 33.9762 3.80761 35.9444C4.09673 36.6232 4.54447 37.3307 4.89055 37.7656C5.88553 39.0177 7.54238 38.938 8.23814 38.5965C8.99735 38.2248 9.86976 37.3272 9.55396 35.2778C9.40111 34.2876 8.9613 32.8389 8.714 32.0338C7.95335 29.5626 6.94179 26.5812 6.85383 24.458C6.73558 21.6165 7.86106 21.2456 8.60874 21.0812C9.86543 20.8064 10.9195 22.1798 11.9203 23.9012C13.115 25.9555 15.1626 29.5963 16.8324 32.3761C18.3408 34.8868 21.1231 37.574 25.5918 37.3896C30.1478 37.2016 33.5055 35.4716 35.2352 30.0261C36.5294 25.9512 37.4119 22.9067 38.8322 19.7889C40.4646 16.2034 42.6427 14.2847 44.4762 14.8702C46.1792 15.4148 46.6039 17.0709 46.6248 19.5055C46.6428 21.6596 46.3926 24.0339 46.1979 25.7783C46.1273 26.4112 45.999 27.6841 46.0516 28.3916C46.154 29.7815 46.7589 31.1692 48.3314 31.3916C50.007 31.6277 51.3509 30.2959 51.8873 28.6858C52.0986 28.05 52.2796 27.0792 52.3769 26.3896C52.8693 22.9095 52.9977 20.5703 52.7749 17.0092C52.5153 12.8453 51.697 9.04801 50.268 5.76238C48.9017 2.61953 46.7062 0.605387 43.8915 0.427436C40.7753 0.230829 37.1992 2.28875 35.3231 6.28045C33.5942 9.96001 32.2106 13.7379 31.3713 15.6659C30.5206 17.6212 29.2696 18.826 27.3467 19.0276C24.9956 19.2737 22.9696 17.5753 21.4858 15.1529C20.1916 13.0411 17.6277 9.02147 16.2564 7.67105C14.9672 6.40243 13.4949 4.8145 10.4307 4.86258Z"/>
			</svg>
		</a>
        <div class="hamburger">
            <div class="layer top"></div>
            <div class="layer mid"></div>
            <div class="layer bottom"></div>
        </div>
        <ul class="list" id="nav-mobile" aria-label="<@liferay.language key="site-pages" />" role="menubar">
			<#list nav_items as nav_item>
				<#assign nav_item_css_class = "" />

				<#if nav_item.isSelected()>
					<#assign nav_item_css_class = "current-item" />
				</#if>
				<#if nav_item.hasChildren()>
				<li class="item ${nav_item_css_class}" id="layout_${nav_item.getLayoutId()}" role="presentation">
					<a class="link nav-dropdown-trigger" href="${nav_item.getURL()}" ${nav_item.getTarget()} aria-labelledby="layout_${nav_item.getLayoutId()}" data-target="${nav_item.getName()}" tabindex="0" role="menuitem">
						${nav_item.getName()}
						<svg class="icon svg--inline" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 10">
						<title>Dropdown</title>
						<path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M.253 1.514c0-.235.105-.459.285-.617a.928.928 0 011.257.048l6.518 6.651L14.705.95a.928.928 0 011.257-.055c.355.3.392.82.08 1.163l-.019.02L8.977 9.4a.905.905 0 01-.653.274.913.913 0 01-.658-.268L.49 2.082a.803.803 0 01-.237-.568z"/>
						</svg>
					</a>
					<ul class="dropdown-content" id="${nav_item.getName()}">
						<#list nav_item.getChildren() as layoutChildren>
						<li class="dropdown-item">
							<a href="${layoutChildren.getURL()}" ${layoutChildren.getTarget()}>${layoutChildren.getName()}</a>
						</li>
						</#list>
					</ul>
				</li>
				<#else>
				<li class="item ${nav_item_css_class}" id="layout_${nav_item.getLayoutId()}" role="presentation">
					<a class="link" href="${nav_item.getURL()}" ${nav_item.getTarget()} aria-labelledby="layout_${nav_item.getLayoutId()}" tabindex="0" role="menuitem">${nav_item.getName()}</a>
				</li>
				</#if>
			</#list>
        </ul>
    </div>
</nav>