//tipography

@mixin tipography-normal {
    font-family: $font;
    font-style: normal;
    font-weight: normal;
}

@mixin tipography-300 {
    font-family: $font;
    font-style: normal;
    font-weight: 300;
}

@mixin tipography-bold {
    font-family: $font;
    font-style: normal;
    font-weight: bold;
}