.aui { 
    .movistar--blue {
        .nat-header.nat-header--nav {
            .navbar__menu{
                .navbar__brand {
                    color: #019DF4;
                }
                .navbar__scroll {
                    @media (max-width: 991px) {
                        border-top: 1px solid #019DF4;
                        background-color: #019DF4;
                    }
                }
                .navbar__nav {
                    &.navbar__nav--menu {
                        .nav__item {
                            @media (max-width: 991px) {
                                border-bottom: 1px solid #4a93e3;
                            }
                        }
                    }
                    &.navbar__nav--socials {
                        .nav__item > .nav__link {
                            color: #019DF4;
                        }
                    }
                }
            }
        }
    }
}